Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


fix(prom-agent): install envsubst in Prometheus image for template expansion
  monitoring/prod-agent/Dockerfile
Due: none

fix(prom-agent): render config with awk (no envsubst/apt-get required)
  monitoring/prod-agent/Dockerfile
Due: none

fix(prom-agent): remove invalid boolean flag (--web.enable-lifecycle=false)
  monitoring/prod-agent/Dockerfile
Due: none

chore(prom-agent): log envs and effective config on startup; enable debug logs
  monitoring/prod-agent/Dockerfile
Due: none

fix(prom-agent): support HTTPS scrape + stop printing secrets in logs
  monitoring/prod-agent/Dockerfile
  monitoring/prod-agent/prometheus.yml.tmpl
Due: none

chore(prom-agent): TEMP faster scrape + explicit scheme + startup banner for debug
  monitoring/prod-agent/Dockerfile
  monitoring/prod-agent/prometheus.yml.tmpl
Due: none

feat(onboarding): unify progress bar logic across steps; fix Step 1 completeness detection
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/payment-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/app/(shared)/login/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/app/globals.css
  frontend/components/UserProfileDropdown.tsx
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/components/instructor/ProgressSteps.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
  frontend/components/ui/GlobalBackground.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(metrics): protect /metrics with Basic Auth in preview/prod; prom-agent uses authenticated scrape
  backend/app/core/config.py
  backend/app/main.py
  docs/runbooks/metrics-to-grafana-cloud.md
  metrics_history.json
  monitoring/prod-agent/Dockerfile
  monitoring/prod-agent/prometheus.yml.tmpl
Due: check-repository-pattern

chore(fix): removed dead code
  frontend/components/instructor/ProgressSteps.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(prom-agent): remove package install; use busybox awk for safe env templating in ENTRYPOINT
  backend/scripts/render_deploy_api.sh
  monitoring/prod-agent/Dockerfile
Due: none

chore(prom-agent): template Basic Auth creds into Prom scrape config
  monitoring/prod-agent/Dockerfile
Due: none

chore(prom-agent): mask/verify metrics auth envs at startup, optional /metrics smoke, and template METRICS_BASIC_AUTH_USER/PASS into prometheus.yml
  monitoring/prod-agent/Dockerfile
Due: none

chore(prom-agent): add startup recon (rendered config redacted, auth smoke with wget, debug logging) to diagnose basic_auth scrape issues
  monitoring/prod-agent/Dockerfile
  monitoring/prod-agent/prometheus.yml.tmpl
Due: none

chore(prom-agent): fix sh entrypoint (no funcs), redact config echo, 15s scrape, optional SMOKE_AUTH probe
  monitoring/prod-agent/Dockerfile
  monitoring/prod-agent/prometheus.yml.tmpl
Due: none

chore(fix): increase intervals back to 60s
  monitoring/prod-agent/prometheus.yml.tmpl
Due: none

chore(prod-agent): remove entrypoint debug/logging; keep strict env check + render and start Prometheus
  monitoring/prod-agent/Dockerfile
Due: none

feat(observability): harden metrics exposure
  backend/app/core/config.py
  backend/app/core/metrics.py
  backend/app/main.py
  backend/app/middleware/rate_limiter_asgi.py
  backend/tests/ratelimit/test_metrics_pr8.py
  monitoring/prod-agent/prometheus.yml.tmpl
  monitoring/prometheus/prometheus.yml
Due: check-repository-pattern

feat(metrics): harden Prometheus exposition at /internal/metrics; deprecate /metrics
  backend/app/main.py
  backend/app/middleware/prometheus_middleware.py
  backend/app/middleware/rate_limiter.py
  backend/app/middleware/rate_limiter_asgi.py
  backend/app/middleware/timing.py
  backend/app/middleware/timing_asgi.py
  backend/app/routes/metrics.py
  backend/tests/performance/test_performance.sh
  docs/engineering/guardrails_runbook.md
  docs/runbooks/metrics-to-grafana-cloud.md
  metrics_history.json
Due: api-contracts, check-timezone-usage

docs+monitoring+admin: add Day-2 Ops runbook, expand BGC dashboard, clarify dispute copy, annotate prom-agent
  docs/runbooks/day2-ops.md
  frontend/app/(admin)/admin/bgc-review/page.tsx
  monitoring/grafana/dashboards/bgc-overview.json
  monitoring/prod-agent/prometheus.yml.tmpl
Due: frontend-eslint, frontend-public-env, frontend-no-console

test: align bgc dispute tooltip expectation with updated copy
  frontend/app/(admin)/admin/bgc-review/__tests__/page.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

config(checkr): allow sandbox in prod/beta when FakeCheckr or explicit override is set
  backend/app/core/config.py
  backend/app/main.py
  backend/typings/fastapi/__init__.pyi
Due: check-repository-pattern

fix(dashboard/mobile): improve first card layout
  frontend/app/(auth)/instructor/dashboard/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(auth/local-beta): force proxy mode on http beta-local host to preserve cookie auth
  frontend/lib/apiBase.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

Revert "fix(auth/local-beta): force proxy mode on http beta-local host to preserve cookie auth"
  frontend/lib/apiBase.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(dev): remote-safe API base resolver + credentials + login bg; build/SSR hardening
  docs/DEVELOPMENT.md
  frontend/__tests__/fetch_credentials.test.ts
  frontend/__tests__/lib/apiBase.test.ts
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/app/(shared)/login/page.tsx
  frontend/features/shared/api/client.ts
  frontend/lib/analyticsApi.ts
  frontend/lib/api.ts
  frontend/lib/apiBase.ts
  frontend/lib/databaseApi.ts
  frontend/lib/redisApi.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(scripts): prod-safe seeding + Render cache clear; unify env-tag logging; tests/docs
  backend/app/core/config.py
  backend/app/core/database_config.py
  backend/app/utils/env_logging.py
  backend/run_backend.py
  backend/scripts/clear_cache.py
  backend/scripts/export_boundaries.py
  backend/scripts/logging_utils.py
  backend/scripts/prep_db.py
  backend/scripts/reset_schema.py
  backend/scripts/seed_data.py
  backend/tests/scripts/test_clear_cache_stg.py
  backend/tests/scripts/test_logging_utils.py
  backend/tests/scripts/test_prep_db_cli.py
  backend/tests/scripts/test_render_cache_clear.py
  backend/tests/scripts/test_seed_admin_user.py
  docs/DEVELOPMENT.md
  metrics_history.json
Due: check-repository-pattern

feat(seeding): grant beta_access to mock instructors during prod --seed-all-prod (idempotent)
  backend/scripts/prep_db.py
  backend/scripts/seed_data.py
  backend/tests/scripts/test_prep_db_cli.py
  backend/tests/scripts/test_seed_beta_access.py
  docs/DEVELOPMENT.md
Due: none

fix(scripts): simulate_checkr_webhook env mapping, remote URL, and signature; add debug/format opts; server log; docs/tests
  backend/app/routes/webhooks_checkr.py
  backend/scripts/simulate_checkr_webhook.py
  backend/tests/scripts/test_simulate_checkr_webhook.py
  docs/DEVELOPMENT.md
  metrics_history.json
Due: api-contracts, check-timezone-usage

fix(ci-db-safety): force safe test DB name in CI regardless of DATABASE_URL; align alembic to settings; tests/logs
  backend/app/core/database_config.py
  backend/tests/test_database_safety_fixed.py
  docs/DEVELOPMENT.md
Due: check-repository-pattern

fix(ci-db): preserve provided test DB names; create coerced instainstru_test if missing; tests/logs
  backend/app/core/database_config.py
  backend/tests/test_database_safety_fixed.py
Due: check-repository-pattern

fix(ci-db): auto-create coerced instainstru_test with AUTOCOMMIT; correct SQL params; preserve provided *test* DB names; tidy logs; tests
  backend/app/core/database_config.py
  backend/tests/test_database_safety_fixed.py
  docs/DEVELOPMENT.md
Due: check-repository-pattern

docs: session handoff and metrics history
  docs/session-handoffs/session-handoff-v112.md
  metrics_history.json
Due: none

chore(pricing): create feature/pricing-v1 branch and TODO skeleton
  docs/pricing-v1/TODO.md
Due: none

fix(pricing): remove FE fee math; fix Celery application_fee scaling; add tests
  backend/app/tasks/payment_tasks.py
  backend/tests/tasks/test_payment_tasks.py
  frontend/app/(public)/book/[id]/page.tsx
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/booking/CheckoutFlow.tsx
  frontend/features/shared/types/booking.ts
  frontend/features/shared/utils/paymentCalculations.ts
  frontend/features/student/booking/components/BookingModal.tsx
  frontend/features/student/booking/components/BookingModalWithPayment.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/utils/paymentCalculations.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(pricing): add platform_config, instructor tier cols, and indexes (edited existing migrations)
  backend/alembic/versions/002_instructor_system.py
  backend/alembic/versions/004_booking_system.py
  backend/alembic/versions/006_final_constraints.py
  backend/app/models/__init__.py
  backend/app/models/booking.py
  backend/app/models/config.py
  backend/app/models/instructor.py
  backend/tests/unit/test_bgc_dispute_resume.py
Due: none

feat(pricing): DB-backed pricing config with admin GET/PATCH and admin UI shell
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/platform_config.py
  backend/app/openapi_app.py
  backend/app/repositories/factory.py
  backend/app/repositories/platform_config_repository.py
  backend/app/routes/admin_config.py
  backend/app/schemas/pricing_config.py
  backend/app/services/config_service.py
  backend/app/utils/env_logging.py
  frontend/app/(admin)/admin/AdminSidebar.tsx
  frontend/app/(admin)/admin/settings/pricing/page.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(pricing): add PricingService and read-only pricing preview endpoint
  backend/app/api/dependencies/__init__.py
  backend/app/api/dependencies/services.py
  backend/app/main.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/pricing_preview.py
  backend/app/schemas/pricing_preview.py
  backend/app/services/pricing_service.py
  backend/tests/routes/test_pricing_preview.py
  backend/tests/services/test_pricing_service.py
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(pricing): add ChargeContext builder and helper to read applied credits
  backend/app/repositories/payment_repository.py
  backend/app/services/stripe_service.py
  backend/tests/services/test_stripe_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(pricing): wire PaymentIntent creation to ChargeContext and attach pricing metadata
  backend/app/routes/payments.py
  backend/app/routes/reviews.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/stripe_service.py
  backend/tests/integration/test_payment_flow.py
  backend/tests/services/test_stripe_service.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(pricing): issue idempotent top-up Transfer post-capture when credits exceed platform share
  backend/app/services/stripe_service.py
  backend/tests/services/test_stripe_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics
