Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


feat(payments): implement Phase 5 authorization timing per v2.1.1
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/booking.py
  backend/app/routes/v1/bookings.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/payment_tasks.py
  backend/openapi/openapi.json
  backend/tests/integration/routes/test_booking_payment_routes.py
  backend/tests/routes/test_bookings.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/services/test_booking_payment_service.py
  backend/tests/services/test_stripe_service.py
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/unit/tasks/test_auth_retry_deadline.py
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
  frontend/src/api/generated/bookings-v1/bookings-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(payments): complete Phase 6 verification & close compliance gaps
  backend/app/routes/v1/bookings.py
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
Due: api-contracts, check-timezone-usage

fix(scripts): resolve seeding errors and test compatibility
  backend/scripts/calculate_service_analytics.py
  backend/scripts/generate_service_embeddings.py
  backend/scripts/seed_chat_fixture.py
  backend/scripts/seed_data.py
  backend/tests/services/test_stripe_service.py
Due: none

feat(payments): implement Phase 7 frontend alignment & payment status hardening
  backend/app/services/booking_service.py
  backend/tests/integration/test_no_show_handling.py
  docs/stripe/instainstru-payment-policy-v2.1.1.md
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
  frontend/app/(admin)/admin/badges/pending/page.tsx
  frontend/app/(admin)/admin/payments/components/BookingFilters.tsx
  frontend/app/(admin)/admin/payments/components/BookingsTable.tsx
  frontend/app/(admin)/admin/payments/hooks/useAdminBookings.ts
  frontend/app/(auth)/student/booking/confirm/page.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/e2e/tests/booking-scheduled-payment.spec.ts
  frontend/features/shared/types/booking.ts
  frontend/features/shared/types/paymentStatus.ts
  frontend/features/student/booking/components/BookingModal.tsx
  frontend/features/student/booking/components/BookingModalWithPayment.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/auto-credit-apply.spec.tsx
  frontend/features/student/payment/components/__tests__/confirm-date-change-optimistic.spec.tsx
  frontend/features/student/payment/components/__tests__/conflict-check.spec.tsx
  frontend/features/student/payment/components/__tests__/credits-accordion-expanded.spec.tsx
  frontend/features/student/payment/components/__tests__/credits-accordion.spec.tsx
  frontend/features/student/payment/components/__tests__/credits-slider-commit.spec.tsx
  frontend/features/student/payment/components/__tests__/lesson-location-toggle.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-floor-validation.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-pricing-preview.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-section.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-summary-preview.spec.tsx
  frontend/features/student/payment/hooks/usePaymentFlow.ts
  frontend/features/student/payment/types/index.ts
  frontend/features/student/payment/utils/__tests__/buildCreateBookingPayload.spec.ts
  frontend/services/api/payments.ts
  frontend/types/api/checkout.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(payments): implement Phase 8 full compliance closure
  backend/alembic/versions/001_core_foundation.py
  backend/alembic/versions/003_availability_booking.py
  backend/alembic/versions/006_platform_features.py
  backend/app/models/booking.py
  backend/app/models/payment.py
  backend/app/models/user.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/payment_repository.py
  backend/app/services/booking_service.py
  backend/app/services/credit_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment_tasks.py
  backend/tests/factories/booking_builders.py
  backend/tests/integration/routes/test_booking_payment_routes.py
  backend/tests/integration/test_auth_failure_notifications.py
  backend/tests/integration/test_credit_expiration_rules.py
  backend/tests/integration/test_dispute_resolution.py
  backend/tests/integration/test_immediate_auth_gating.py
  backend/tests/integration/test_locked_cancellation_credit_only.py
  backend/tests/integration/test_negative_balance.py
  backend/tests/integration/test_payment_boundaries_utc.py
  backend/tests/integration/test_reschedule_enforcement.py
  backend/tests/integration/test_stripe_id_persistence.py
  backend/tests/routes/admin/test_admin_bookings.py
  backend/tests/routes/test_booking_payment_method_update.py
  backend/tests/routes/test_bookings.py
  backend/tests/services/test_admin_booking_service.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/services/test_booking_immediate_auth.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/tasks/test_payment_tasks.py
  docs/stripe/instainstru-payment-policy-v2.1.1.md
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
  frontend/e2e/calendar.spec.ts
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/tests/booking-scheduled-payment.spec.ts
  frontend/playwright.global-setup.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

docs(payments): document on_behalf_of decision as platform merchant of record
  docs/stripe/instainstru-payment-policy-v2.1.1.md
Due: none

fix(payments): Phase 9 audit remediation - 4 critical fixes
  backend/app/repositories/credit_repository.py
  backend/app/repositories/payment_repository.py
  backend/app/routes/v1/bookings.py
  backend/app/services/booking_service.py
  backend/app/services/credit_service.py
  backend/tests/integration/test_complete_mutex.py
  backend/tests/integration/test_credit_fifo_expiration.py
  backend/tests/integration/test_lock_mechanism.py
  backend/tests/integration/test_lock_scheduled_booking.py
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
  frontend/app/(admin)/admin/payments/components/BookingsTable.tsx
  frontend/features/shared/types/paymentStatus.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(payments): Phase 10 - fix checkout race condition
  backend/app/core/exceptions.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/payments.py
  backend/app/services/stripe_service.py
  backend/tests/integration/test_checkout_race_condition.py
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(e2e): stabilize scheduled booking CTA selection
  frontend/e2e/tests/booking-scheduled-payment.spec.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(payments): Phase 11 - final audit remediation
  backend/alembic/versions/003_availability_booking.py
  backend/app/core/booking_lock.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/repositories/credit_repository.py
  backend/app/services/credit_service.py
  backend/tests/integration/test_credit_double_spend.py
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
  frontend/types/api/checkout.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(payments): Phase 12 - critical audit fixes
  backend/app/repositories/payment_repository.py
  backend/app/routes/v1/admin/refunds.py
  backend/app/services/admin_booking_service.py
  backend/app/services/booking_service.py
  backend/app/services/credit_service.py
  backend/tests/integration/test_admin_refund_idempotency.py
  backend/tests/integration/test_lock_resolution_concurrency.py
  backend/tests/integration/test_negative_balance.py
  backend/tests/integration/test_payment_boundaries_utc.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/services/test_stripe_service.py
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore(deps): security fix + consolidate dependency updates
  .github/workflows/backend-ci.yml
  .github/workflows/build-ci-database.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/contract-audit.yml
  .github/workflows/daily-analytics.yml.disabled
  .github/workflows/db-smoke.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/env-contract.yml
  .github/workflows/frontend-lint-build.yml
  .github/workflows/lhci.yml
  .github/workflows/load-test.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/monitoring-lint.yml
  .github/workflows/nightly-schemathesis.yml
  .github/workflows/owasp-zap.yml
  .github/workflows/pre-commit.yml
  .github/workflows/privacy-audit.yml
  .github/workflows/privacy-db-image-bump.yml
  .github/workflows/schemathesis.yml
  .github/workflows/test-analytics.yml
  .github/workflows/typing-strict-experimental.yml
  .github/workflows/workflow-lint.yml
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

docs(session-handoff): v123
  docs/session-handoffs/session-handoff-v123.md
  metrics_history.json
Due: none

feat(referrals): add instructor referral payout schema - Phase 1
  backend/alembic/versions/006_platform_features.py
  backend/app/models/__init__.py
  backend/app/models/referrals.py
  backend/app/repositories/referral_config_repository.py
  backend/app/services/referrals_config_service.py
  backend/scripts/seed_data.py
  backend/tests/conftest.py
  backend/tests/services/test_referrals_config_service.py
  backend/tests/unit/models/test_instructor_referral_payout.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(referrals): wire up instructor referral payout logic - Phase 2
  backend/app/repositories/booking_repository.py
  backend/app/repositories/referral_repository.py
  backend/app/services/booking_service.py
  backend/app/services/referral_service.py
  backend/app/tasks/payment_tasks.py
  backend/tests/referrals/test_services.py
  backend/tests/unit/services/test_instructor_referral_logic.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(referrals): add Stripe cash payout for instructor referrals - Phase 3
  backend/app/repositories/referral_repository.py
  backend/app/services/referral_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/all_tasks.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/referral_tasks.py
  backend/tests/unit/services/test_stripe_referral_transfer.py
  backend/tests/unit/tasks/test_referral_tasks.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(referrals): add instructor referral API endpoints - Phase 4
  backend/app/main.py
  backend/app/repositories/referral_repository.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/instructor_referrals.py
  backend/app/services/referral_service.py
  backend/app/services/referrals_config_service.py
  backend/tests/routes/v1/test_instructor_referrals_routes.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(referrals): add instructor referrals page - Phase 5
  frontend/__tests__/features/instructor/referrals.test.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/referrals/page.tsx
  frontend/hooks/queries/useInstructorReferrals.ts
  frontend/services/api/instructorReferrals.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(referrals): add one-time referral popup for instructors - Phase 6
  frontend/__tests__/components/instructor/InstructorReferralPopup.test.tsx
  frontend/app/(auth)/instructor/layout.tsx
  frontend/components/instructor/InstructorReferralPopup.tsx
  frontend/hooks/queries/useInstructorReferrals.ts
  frontend/lib/clientStorage.ts
  frontend/services/api/instructorReferrals.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(referrals): add popup + fix referrals page layout - Phase 6
  frontend/__tests__/features/instructor/referrals.test.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/referrals/embedded.tsx
  frontend/app/(auth)/instructor/referrals/page.tsx
  frontend/components/instructor/InstructorReferralPopup.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(referrals): add integration and E2E tests - Phase 7
  backend/tests/integration/test_instructor_referral_flow.py
  frontend/app/layout.tsx
  frontend/contexts/BetaContext.tsx
  frontend/e2e/instructor-referrals.spec.ts
  frontend/lib/beta-config.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(referrals): address audit findings
  backend/app/repositories/referral_repository.py
  backend/app/services/referral_service.py
  backend/app/tasks/referral_tasks.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

docs(session-handoff): v124
  docs/session-handoffs/session-handoff-v124.md
Due: none

feat: add Instantly.ai visitor tracking pixel to instructor pages
  frontend/app/(public)/instructor/apply/page.tsx
  frontend/app/(public)/instructor/join/page.tsx
  frontend/app/(public)/instructor/welcome/page.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(deps): consolidate January 2026 dependency updates
  .github/workflows/build-ci-database.yml
  backend/requirements-celery.txt
  backend/requirements-dev.txt
  backend/requirements-flower.txt
  backend/requirements.txt
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/staff-login/page.tsx
  frontend/components/BookingDetailsModal.tsx
  frontend/components/PrivacySettings.tsx
  frontend/components/chat/ChatModal.tsx
  frontend/components/errors/QueryErrorBoundary.tsx
  frontend/components/lessons/modals/CancelWarningModal.tsx
  frontend/components/lessons/modals/CancellationConfirmationModal.tsx
  frontend/components/lessons/modals/CancellationReasonModal.tsx
  frontend/components/lessons/modals/RescheduleModal.tsx
  frontend/components/messaging/ReactionTrigger.tsx
  frontend/components/messaging/SystemMessage.tsx
  frontend/components/user/UserAvatar.tsx
  frontend/e2e/env-contract.spec.ts
  frontend/features/shared/api/client.ts
  frontend/features/shared/hooks/useAuth.tsx
  frontend/features/student/payment/components/PaymentProcessing.tsx
  frontend/features/student/payment/components/PaymentSuccess.tsx
  frontend/lib/beta-config.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/proxy.ts
  frontend/scripts/contract-audit.mjs
  frontend/scripts/precommit_no_raw_api.sh
  frontend/ts-prune-allowlist.txt
  frontend/tsconfig.json
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(build): update size-limit config for Next.js 16 Turbopack
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

fix: address mypy referral typing and update lint:ci
  backend/app/routes/v1/instructor_referrals.py
  frontend/package.json
Due: frontend-public-env, api-contracts, check-timezone-usage

chore(deps): Consolidate January 2026 dependency updates (#195)
  .github/workflows/build-ci-database.yml
  backend/app/routes/v1/instructor_referrals.py
  backend/requirements-celery.txt
  backend/requirements-dev.txt
  backend/requirements-flower.txt
  backend/requirements.txt
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/staff-login/page.tsx
  frontend/components/BookingDetailsModal.tsx
  frontend/components/PrivacySettings.tsx
  frontend/components/chat/ChatModal.tsx
  frontend/components/errors/QueryErrorBoundary.tsx
  frontend/components/lessons/modals/CancelWarningModal.tsx
  frontend/components/lessons/modals/CancellationConfirmationModal.tsx
  frontend/components/lessons/modals/CancellationReasonModal.tsx
  frontend/components/lessons/modals/RescheduleModal.tsx
  frontend/components/messaging/ReactionTrigger.tsx
  frontend/components/messaging/SystemMessage.tsx
  frontend/components/user/UserAvatar.tsx
  frontend/e2e/env-contract.spec.ts
  frontend/features/shared/api/client.ts
  frontend/features/shared/hooks/useAuth.tsx
  frontend/features/student/payment/components/PaymentProcessing.tsx
  frontend/features/student/payment/components/PaymentSuccess.tsx
  frontend/lib/beta-config.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/proxy.ts
  frontend/scripts/contract-audit.mjs
  frontend/scripts/precommit_no_raw_api.sh
  frontend/ts-prune-allowlist.txt
  frontend/tsconfig.json
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix: multiple dev servers support + profile icon consistency
  frontend/.gitignore
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PreferredLocationsCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/ServiceAreasCard.tsx
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/tsconfig.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix: sync profile picture cache between header and form
  frontend/components/user/ProfilePictureUpload.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix: force header avatar refresh after profile picture upload
  frontend/components/user/ProfilePictureUpload.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat: Add database backup infrastructure and production roles
  .github/workflows/backup-verification.yml
  .github/workflows/database-backup.yml
  backend/alembic/versions/006_platform_features.py
  frontend/package-lock.json
  metrics_history.json
Due: frontend-public-env

fix: Remove safeupdate config (not available on Supabase managed instances)
  backend/alembic/versions/006_platform_features.py
Due: none

fix: Use Supabase pooler username format for backup workflow
  .github/workflows/database-backup.yml
Due: none

fix: Handle filename mismatch in backup checksum verification
  .github/workflows/backup-verification.yml
Due: none
