Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


fix(messaging): send NOTIFY via session pooler instead of DB trigger
  backend/app/routes/v1/messages.py
  backend/app/services/message_notification_service.py
  backend/app/services/message_service.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

ui(messaging): move read timestamp below bubble + live timestamp updates
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/messaging/MessageBubble.tsx
  frontend/components/messaging/hooks/index.ts
  frontend/components/messaging/hooks/useLiveTimestamp.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(messaging): add real-time SSE handler for message edits
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/hooks/useUserMessageStream.ts
  frontend/types/messaging.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(messaging): add threading-based watchdog for event loop freeze detection
  backend/app/services/message_notification_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(messaging): add per-user-pair conversation architecture (Phase 1)
  backend/alembic/versions/006_final_constraints.py
  backend/app/models/__init__.py
  backend/app/models/conversation.py
  backend/app/models/message.py
  backend/app/repositories/__init__.py
  backend/app/repositories/conversation_repository.py
  backend/app/repositories/factory.py
  backend/scripts/migrate_messages_to_conversations.py
  backend/tests/conftest.py
  backend/tests/repositories/test_conversation_repository.py
  frontend/hooks/useUserMessageStream.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(messaging): implement Phase 2 REST API for per-user-pair conversations
  backend/alembic/versions/006_final_constraints.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/conversation_repository.py
  backend/app/repositories/message_repository.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/conversations.py
  backend/app/schemas/__init__.py
  backend/app/schemas/conversation.py
  backend/app/services/conversation_service.py
  backend/app/services/messaging/sse_stream.py
  backend/tests/routes/test_conversations.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(messaging): add system messages for booking lifecycle events (Phase 3)
  backend/alembic/versions/006_final_constraints.py
  backend/app/models/message.py
  backend/app/repositories/message_repository.py
  backend/app/services/booking_service.py
  backend/app/services/system_message_service.py
  backend/tests/integration/services/test_booking_system_messages.py
  backend/tests/unit/services/test_system_message_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(tests): allow past dates in test_booking_independence availability test
  backend/tests/integration/availability/test_booking_independence.py
  metrics_history.json
Due: none

feat(messaging): migrate conversation list to per-user-pair API (Phase 4)
  frontend/components/instructor/messages/hooks/__tests__/useConversations.test.tsx
  frontend/components/instructor/messages/hooks/useConversations.ts
  frontend/components/instructor/messages/types.ts
  frontend/src/api/services/conversations.ts
  frontend/types/conversation.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(messaging): add conversation-based message fetching and system messages (Phase 5)
  frontend/components/instructor/messages/components/ChatHeader.tsx
  frontend/components/instructor/messages/hooks/index.ts
  frontend/components/instructor/messages/hooks/useConversationMessages.ts
  frontend/components/messaging/SystemMessage.tsx
  frontend/components/messaging/index.ts
  frontend/components/messaging/normalizers.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(messaging): add pre-booking messaging with MessageInstructorButton
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/instructor/MessageInstructorButton.tsx
  frontend/components/instructor/__tests__/MessageInstructorButton.test.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/hooks/useCreateConversation.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(messaging): resolve SSE event routing for conversation-based architecture
  backend/app/repositories/message_repository.py
  backend/app/routes/v1/conversations.py
  backend/app/routes/v1/messages.py
  backend/app/services/messaging/events.py
  backend/app/services/messaging/publisher.py
  backend/app/services/messaging/sse_stream.py
  backend/tests/unit/services/messaging/test_events.py
  backend/tests/unit/services/messaging/test_publisher.py
  backend/tests/unit/services/messaging/test_sse_stream.py
  frontend/hooks/useUserMessageStream.ts
  frontend/types/messaging.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(messaging): migrate SSE subscription from booking_id to conversation_id
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/conversations.py
  backend/app/services/conversation_service.py
  backend/app/services/messaging/events.py
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/hooks/useUserMessageStream.ts
  frontend/types/messaging.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(messaging): complete Phase 7 migration from booking_id to conversation_id
  backend/app/routes/v1/messages.py
  backend/app/services/system_message_service.py
  frontend/__tests__/hooks/useMessageThread.test.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/components/instructor/messages/hooks/useMessageThread.ts
  frontend/src/api/queryKeys.ts
  frontend/src/api/services/messages.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(messaging): complete conversation_id migration and system overhaul
  backend/alembic/versions/006_final_constraints.py
  backend/app/models/conversation_user_state.py
  backend/app/models/message.py
  backend/app/repositories/conversation_repository.py
  backend/app/repositories/conversation_state_repository.py
  backend/app/repositories/message_repository.py
  backend/app/routes/v1/conversations.py
  backend/app/routes/v1/messages.py
  backend/app/schemas/conversation.py
  backend/app/services/conversation_service.py
  backend/app/services/message_service.py
  backend/app/services/messaging/events.py
  backend/app/services/messaging/publisher.py
  backend/app/services/messaging/sse_stream.py
  backend/app/services/system_message_service.py
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/components/instructor/messages/hooks/useMessageThread.ts
  frontend/src/api/services/conversations.ts
  frontend/src/api/services/messages.ts
  frontend/types/conversation.ts
  frontend/types/messaging.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(messaging): complete conversation_id migration, remove all legacy code
  backend/app/repositories/message_repository.py
  backend/app/routes/messages.py
  backend/app/routes/v1/conversations.py
  backend/app/routes/v1/messages.py
  backend/app/schemas/conversation.py
  backend/app/schemas/message_requests.py
  backend/app/schemas/message_responses.py
  backend/app/services/conversation_service.py
  backend/app/services/message_service.py
  backend/app/services/messaging/events.py
  backend/app/services/messaging/publisher.py
  backend/app/services/messaging/sse_stream.py
  backend/tests/conftest.py
  backend/tests/integration/api/test_message_conversation_state.py
  backend/tests/integration/routes/test_messages_strict.py
  backend/tests/integration/test_chat_system.py
  backend/tests/integration/test_messaging_api.py
  backend/tests/test_routes_invariants.py
  frontend/__tests__/hooks/useMessageThread.test.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/components/instructor/messages/hooks/useMessageThread.ts
  frontend/src/api/queryKeys.ts
  frontend/src/api/services/messages.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

chore(messaging): remove legacy booking-based code and dead endpoints
  backend/app/routes/messages.py
  backend/app/schemas/message_requests.py
  frontend/components/instructor/messages/hooks/__tests__/useConversations.test.tsx
  frontend/components/instructor/messages/hooks/useConversations.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix(messaging): instructor conversation list + dashboard badge polling
  backend/app/ratelimit/config.py
  backend/app/services/conversation_service.py
  backend/tests/integration/api/test_message_conversation_state.py
  frontend/__tests__/hooks/useInboxState.test.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/instructor/messages/hooks/__tests__/useConversations.test.tsx
  frontend/components/instructor/messages/hooks/useConversations.ts
  frontend/components/instructor/messages/hooks/useMessageThread.ts
  frontend/hooks/useInboxState.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(tests): assert soft-deleted service by id, not name
  backend/tests/integration/db/test_edge_cases_circular_and_soft_delete.py
Due: none

chore(messaging): Phase 8 cleanup - enforce constraints and delete legacy code
  backend/alembic/versions/006_final_constraints.py
  backend/app/models/__init__.py
  backend/app/models/booking.py
  backend/app/models/conversation_state.py
  backend/app/models/conversation_user_state.py
  backend/app/models/message.py
  backend/app/repositories/conversation_repository.py
  backend/app/repositories/conversation_state_repository.py
  backend/app/repositories/message_repository.py
  backend/app/routes/v1/conversations.py
  backend/app/routes/v1/messages.py
  backend/app/schemas/message_responses.py
  backend/app/services/conversation_service.py
  backend/app/services/message_service.py
  backend/scripts/backfill_conversation_state.py
  backend/tests/integration/api/test_message_conversation_state.py
  backend/tests/integration/messaging/test_sse_reconnection.py
  backend/tests/integration/test_chat_system.py
  backend/tests/integration/test_messaging_api.py
  backend/tests/repositories/test_message_repository.py
  backend/tests/test_routes_invariants.py
  backend/tests/unit/services/messaging/test_sse_stream.py
  backend/tests/unit/services/test_message_service.py
  frontend/__tests__/utils/messages.test.ts
  frontend/app/(auth)/instructor/messages/__tests__/message-fetching.test.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/ChatModal.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/components/lessons/modals/RescheduleModal.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/messages-v1/messages-v1.ts
  frontend/src/api/services/messages.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix\(messaging\): booking context UI, timezone filtering, and read-only chat
  backend/app/repositories/booking_repository.py
  backend/app/repositories/conversation_repository.py
  backend/app/repositories/message_repository.py
  backend/app/routes/v1/conversations.py
  backend/app/routes/v1/payments.py
  backend/app/schemas/conversation.py
  backend/app/services/system_message_service.py
  backend/tests/unit/services/test_system_message_service.py
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/instructor/messages/components/ChatHeader.tsx
  frontend/components/instructor/messages/components/MessageInput.tsx
  frontend/components/instructor/messages/hooks/__tests__/useConversations.test.tsx
  frontend/components/instructor/messages/hooks/useConversations.ts
  frontend/components/instructor/messages/types.ts
  frontend/types/conversation.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

System messages now use participant\'s first name instead of role. Updated test assertion to check for test_student.first_name rather than literal "student" string.
  backend/tests/integration/services/test_booking_system_messages.py
Due: none

fix(conversations): address all PR review issues (C1-C2, H1-H4, M1-M5)
  backend/alembic/versions/006_final_constraints.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/conversation_repository.py
  backend/app/repositories/conversation_state_repository.py
  backend/app/repositories/message_repository.py
  backend/app/routes/v1/conversations.py
  backend/app/services/conversation_service.py
  backend/app/services/system_message_service.py
  backend/tests/routes/test_conversations.py
  frontend/components/instructor/messages/types.ts
  frontend/src/api/services/conversations.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(security): patch CVE-2025-55182 by upgrading Next.js to 15.5.7
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

refactor(conversations): final polish from PR review
  backend/app/repositories/conversation_repository.py
  backend/app/repositories/message_repository.py
  backend/app/services/conversation_service.py
  backend/app/services/system_message_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(db): disable statement_timeout for schema resets and migrations
  backend/alembic/env.py
  backend/scripts/reset_schema.py
Due: none

fix(migrations): use connect_args for statement_timeout to avoid SQLAlchemy 2.0 implicit transaction conflicts with Alembic
  backend/alembic/env.py
Due: none

perf(seeding): optimize remote database seeding with bulk SQL operations
  backend/app/repositories/availability_day_repository.py
  backend/app/repositories/base_repository.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/services/system_message_service.py
  backend/scripts/backfill_bitmaps.py
  backend/scripts/calculate_service_analytics.py
  backend/scripts/generate_service_embeddings.py
  backend/scripts/load_region_boundaries.py
  backend/scripts/prep_db.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_bitmap_availability.py
  backend/scripts/seed_catalog_only.py
  backend/scripts/seed_utils.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(security): add nosec annotation for bandit B608 false positive
  backend/app/repositories/availability_day_repository.py
  metrics_history.json
Due: none

fix(seeding): add instructor overlap detection in tier maintenance seeding
  backend/scripts/reset_and_seed_yaml.py
  frontend/components/chat/ChatModal.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(load-test): add Locust harness skeleton with auth flow (Phase 1)
  backend/requirements-dev.txt
  backend/tests/load/__init__.py
  backend/tests/load/config/conversations.json
  backend/tests/load/locustfile.py
Due: none

feat(load-test): add SSE connection and cross-user E2E latency measurement
  backend/requirements-dev.txt
  backend/tests/load/config/conversations.json
  backend/tests/load/locustfile.py
Due: none

fix(load-test): check SSE event type in protocol field, not JSON payload
  backend/tests/load/locustfile.py
Due: none

feat(load-test): add scenario definitions and run scripts (Phase 4)
  .gitignore
  backend/tests/load/scenarios/README.md
  backend/tests/load/scenarios/s0_smoke.sh
  backend/tests/load/scenarios/s1_capacity.sh
  backend/tests/load/scenarios/s2_throughput.sh
  backend/tests/load/scenarios/s3_burst.sh
  backend/tests/load/scenarios/s4_soak.sh
Due: none

feat(rate-limiting): add bypass token for load testing
  backend/app/middleware/rate_limiter.py
  backend/app/middleware/rate_limiter_asgi.py
  backend/tests/load/locustfile.py
  backend/tests/load/scenarios/s0_smoke.sh
  backend/tests/load/scenarios/s1_capacity.sh
  backend/tests/load/scenarios/s2_throughput.sh
  backend/tests/load/scenarios/s3_burst.sh
  backend/tests/load/scenarios/s4_soak.sh
Due: none

fix(db): reduce pool_recycle to 55s for Supavisor Transaction Mode
  backend/app/core/config_production.py
  backend/app/database/__init__.py
  backend/tests/load/scenarios/s1_capacity.sh
  metrics_history.json
Due: check-repository-pattern

fix(sse): close DB session before streaming to prevent connection leak
  backend/app/routes/v1/messages.py
  backend/app/services/messaging/sse_stream.py
  backend/tests/integration/messaging/test_sse_reconnection.py
  backend/tests/scripts/test_reset_and_seed_yaml_tier.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(sse): remove second DB session leak in get_current_user_sse
  backend/app/auth_sse.py
  backend/tests/unit/test_auth_sse.py
Due: none

refactor(conversations): implement PR review suggestions
  backend/app/repositories/conversation_repository.py
  backend/app/routes/v1/conversations.py
  backend/app/schemas/conversation.py
Due: api-contracts, check-timezone-usage

feat(sse): implement Broadcaster v4.0 architecture for scalable SSE
  backend/app/core/broadcast.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/routes/ready.py
  backend/app/routes/v1/messages.py
  backend/app/services/messaging/__init__.py
  backend/app/services/messaging/publisher.py
  backend/app/services/messaging/redis_pubsub.py
  backend/app/services/messaging/sse_stream.py
  backend/requirements.txt
  backend/tests/integration/messaging/test_sse_reconnection.py
  backend/tests/integration/test_ready_probe.py
  backend/tests/unit/services/messaging/test_publisher.py
  redis/redis.conf
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics
