Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

gitleaks-system:
  name: gitleaks (system)
  language: system
  entry: scripts/run-gitleaks.sh
  pass_filenames: false

chore: correct brand name
  frontend/app/(legal)/referrals-terms/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(fix): correct referral terms path
  frontend/components/referrals/ReferralShareModal.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix: enforce auth on rewards UI tests & guard
  frontend/e2e/referrals.ui.spec.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(rewards): move to student dashboard tab and retire /rewards
  frontend/app/(account)/layout.tsx
  frontend/app/(account)/rewards/Guard.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/referral/page.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/layout/StudentHeader.tsx
  frontend/components/referrals/CheckoutApplyReferral.tsx
  frontend/components/referrals/__tests__/checkout-apply.spec.tsx
  frontend/e2e/referrals.ui.spec.ts
  frontend/features/referrals/RewardsPanel.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(rewards): finish consolidation — add invite-by-email to Rewards tab and remove profile mock
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/e2e/referrals.ui.spec.ts
  frontend/features/referrals/InviteByEmail.tsx
  frontend/features/referrals/RewardsPanel.tsx
  frontend/features/referrals/__tests__/invite-by-email.spec.tsx
  frontend/features/shared/referrals/api.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(db/local): harden ordering & add local PG17/PostGIS setup
  backend/app/repositories/address_repository.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/repositories/referral_repository.py
  backend/scripts/dev/setup_local_dbs.sh
  backend/tests/helpers/assertions.py
  backend/tests/referrals/test_api.py
  docs/runbooks/local_dev.md
Due: none

chore: ignore coverage database files (.coverage)
  .gitignore
Due: none

fix(referrals): unblock /api/referrals/me by safe upsert + SWR client dedupe
  backend/alembic/versions/001_initial_schema.py
  backend/app/repositories/referral_repository.py
  backend/app/routes/referrals.py
  backend/app/services/referral_service.py
  backend/tests/referrals/test_api.py
  docs/project-status/CHANGELOG.md
  frontend/features/referrals/RewardsPanel.tsx
  frontend/features/shared/referrals/api.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(badges): add repo transactions and CLI env overrides
  backend/app/repositories/badge_repository.py
  backend/app/repositories/base_repository.py
  backend/app/schemas/badge.py
  backend/app/services/badge_award_service.py
  backend/scripts/backfill_badges.py
  backend/tests/cli/test_backfill_badges_cli.py
  backend/tests/integration/test_repository_refactoring.py
  metrics_history.json
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

Referrals: fix 503 by correcting REFERRALS_UNSAFE_STEP resolution; add reason header/logging; tests for disabled vs enabled issuance.
  backend/.env.example
  backend/app/core/config.py
  backend/app/errors.py
  backend/app/routes/referrals.py
  backend/app/services/referral_service.py
  backend/tests/referrals/test_api.py
  docs/runbooks/local_dev.md
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(badges): finalize audit fixes—treat revoked as not earned, add momentum progress, and seed descriptions on first insert
  backend/app/repositories/badge_repository.py
  backend/app/services/badge_award_service.py
  backend/app/services/student_badge_service.py
  backend/scripts/seed_data.py
  backend/tests/routes/test_student_badges_api.py
  backend/tests/scripts/test_seed_badges_descriptions.py
  backend/tests/services/test_badge_award_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(admin/badges): add “Badges → Reviews” to admin sidebar and align page header with admin layout
  frontend/app/(admin)/admin/AdminSidebar.tsx
  frontend/app/(admin)/admin/__tests__/AdminSidebar.spec.tsx
  frontend/app/(admin)/admin/badges/__tests__/pending-page.spec.tsx
  frontend/app/(admin)/admin/badges/pending/page.tsx
  frontend/app/(admin)/admin/bgc-review/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

[1 tool called]
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/(auth)/instructor/onboarding/payment-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/instructor/settings/page.tsx
  frontend/components/UserProfileDropdown.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat: add instructor embedded context and custom swr hook
  frontend/app/(auth)/instructor/_embedded/EmbeddedContext.tsx
  frontend/app/(auth)/instructor/availability/embedded.tsx
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/(auth)/instructor/bookings/embedded.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/embedded.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/profile/embedded.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/app/(auth)/instructor/reviews/embedded.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/features/referrals/RewardsPanel.tsx
  frontend/features/shared/hooks/useSWRCustom.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

refactor: tighten badge typing and drop unused swr dependency
  backend/app/notifications/policy.py
  backend/app/repositories/badge_repository.py
  backend/app/repositories/referral_repository.py
  backend/app/routes/admin_badges.py
  backend/app/routes/student_badges.py
  backend/app/services/badge_admin_service.py
  backend/app/services/badge_award_service.py
  backend/app/services/geocoding/mapbox_provider.py
  backend/app/services/notification_service.py
  backend/app/services/student_badge_service.py
  backend/app/tasks/badge_digest.py
  backend/app/tasks/badge_tasks.py
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

ci: run full lint/typecheck matrix in frontend workflows
  .github/workflows/ci.yml
  .github/workflows/frontend-lint-build.yml
Due: none

fix: stabilize badge service transactions and payload typing. clean up badge service transactions and payload typing
  backend/app/routes/student_badges.py
  backend/app/services/badge_award_service.py
  backend/app/services/student_badge_service.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

docs(session handoff): v114
  docs/session-handoffs/session-handoff-v114.md
Due: none

perf: add AVAILABILITY_PERF_DEBUG spans + baseline driver & docs (2025-10-26)
  backend/app/monitoring/availability_perf.py
  backend/app/routes/availability_windows.py
  backend/app/services/availability_service.py
  backend/app/services/week_operation_service.py
  docs/perf/availability_baseline_20251026.md
  docs/perf/img/availability_copy_week_20251020.png
  docs/perf/img/availability_week_get_20251020.png
  docs/perf/img/availability_week_save_20251020.png
  scripts/perf/availability_baseline.py
  scripts/perf/sample_week_payload.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

perf: refine availability_perf spans; update metrics history
  backend/app/monitoring/availability_perf.py
  metrics_history.json
Due: none

dev: pin mypy==1.18.2; typing: stabilize production_startup/service_catalog/perf span; add mypy bisector tools + doc
  .gitignore
  backend/app/core/production_startup.py
  backend/app/models/service_catalog.py
  backend/app/monitoring/availability_perf.py
  backend/docs/dev/mypy_crash_investigation_20251026.md
  backend/requirements-dev.txt
  backend/scripts/dev/mypy_bisect.py
  backend/scripts/dev/mypy_shadow_confirm.sh
Due: check-repository-pattern

perf: add request-scoped DB/cache counters + headers; wire middleware behind AVAILABILITY_PERF_DEBUG; add light test & doc
  backend/app/database.py
  backend/app/main.py
  backend/app/middleware/perf_counters.py
  backend/app/services/cache_service.py
  backend/scripts/dev/run_pytest_light.sh
  backend/tests/perf/test_perf_counters_headers.py
  docs/perf/availability_baseline_20251026.md
Due: check-repository-pattern, enforce-service-metrics

tests(perf): week save atomicity + query trace (10/30/50 slots); docs: add results to availability_baseline_20251026
  backend/tests/services/test_week_save_atomicity.py
  backend/tests/utils/availability_builders.py
  docs/perf/availability_baseline_20251026.md
Due: none

perf(db): capture EXPLAIN ANALYZE for week read/write; propose composite/partial indexes; add runnable plan script
  docs/perf/index_recs_20251026.md
  scripts/perf/run_explain.py
  scripts/perf/sql/availability.sql
Due: none

feat: scope address autocomplete to US defaults and make region boundaries seed idempotent
  backend/app/routes/addresses.py
  backend/app/services/geocoding/base.py
  backend/app/services/geocoding/base.pyi
  backend/app/services/geocoding/google_provider.py
  backend/app/services/geocoding/mapbox_provider.py
  backend/app/services/geocoding/mock_provider.py
  backend/scripts/load_region_boundaries.py
  backend/tests/routes/test_address_routes.py
  frontend/components/forms/PlacesAutocompleteInput.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

perf(cache): make hits/misses headers accurate; serve warm GET from cache; invalidate map+with_slots keys on SAVE/COPY; add tests & docs
  backend/app/database.py
  backend/app/main.py
  backend/app/middleware/perf_counters.py
  backend/app/middleware/performance.py
  backend/app/services/availability_service.py
  backend/app/services/cache_service.py
  backend/app/services/cache_strategies.py
  backend/tests/conftest.py
  backend/tests/integration/services/test_cache_clean_architecture.py
  backend/tests/integration/test_availability_cache_hit_rate.py
  backend/tests/perf/test_perf_counter_wiring.py
  backend/tests/perf/test_perf_counters_headers.py
  backend/tests/utils/availability_builders.py
  docs/perf/availability_baseline_20251026.md
  metrics_history.json
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat: polish instructor UI navigation and referrals (hamburger fixes, stat card sizing, logo routing, referral copy)
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

perf(load): add availability load driver + tail-latency charts; doc tail analysis
  docs/perf/availability_baseline_20251026.md
  docs/perf/img/availability_latency_hist_20u.png
  docs/perf/img/availability_latency_hist_5u.png
  docs/perf/img/availability_tail_latency.png
  scripts/perf/availability_load.py
Due: none

tests(availability): add DST, week-boundary, midnight-span, concurrency, resilience, and volume suites; future-week builders; preserve design invariants
  backend/tests/integration/test_booking_conflict_isolated_from_availability.py
  backend/tests/integration/test_cache_resilience.py
  backend/tests/perf/test_large_week_volume.py
  backend/tests/services/test_concurrent_week_save.py
  backend/tests/services/test_week_boundaries.py
  backend/tests/time/test_dst_availability.py
  backend/tests/utils/availability_builders.py
  metrics_history.json
Due: none

tests+compat: sqlite-safe availability model (no slot_span); safe merge order under exclusion constraint; align repo-pattern tests; fix memory-cache & seed fixtures; full suite green
  backend/app/models/availability.py
  backend/app/repositories/availability_repository.py
  backend/app/services/availability_service.py
  backend/app/services/slot_manager.py
  backend/tests/conftest.py
  backend/tests/integration/api/test_public_availability_integration.py
  backend/tests/integration/repository_patterns/test_availability_repository.py
  backend/tests/integration/repository_patterns/test_availability_repository_enhanced.py
  backend/tests/integration/services/test_availability_service_db.py
  backend/tests/integration/services/test_booking_service_edge_cases.py
  backend/tests/integration/services/test_cache_clean_architecture.py
  backend/tests/integration/services/test_supporting_systems_clean_architecture.py
  backend/tests/integration/services/test_week_operation_service_db.py
  backend/tests/integration/test_favorites.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

integrity(bookings): enforce double-booking prevention; standardize conflicts; harden seeds & cache; tests green
  backend/alembic/versions/004_booking_system.py
  backend/alembic/versions/006_final_constraints.py
  backend/app/core/exceptions.py
  backend/app/models/booking.py
  backend/app/repositories/base_repository.py
  backend/app/repositories/booking_repository.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/services/cache_service.py
  backend/app/services/instructor_service.py
  backend/app/services/week_operation_service.py
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/conftest.py
  backend/tests/factories/__init__.py
  backend/tests/factories/booking_builders.py
  backend/tests/integration/api/test_booking_conflict_status.py
  backend/tests/integration/db/test_edge_cases_circular_and_soft_delete.py
  backend/tests/integration/repository_patterns/test_booking_repository_edge_cases.py
  backend/tests/integration/repository_patterns/test_instructor_profile_query_patterns.py
  backend/tests/integration/repository_patterns/test_instructor_profile_repository_filtering.py
  backend/tests/integration/services/test_booking_race_protection.py
  backend/tests/integration/services/test_booking_service_comprehensive.py
  backend/tests/integration/services/test_booking_service_edge_cases.py
  backend/tests/integration/services/test_booking_service_edge_cases_student_bug.py
  backend/tests/integration/services/test_booking_service_student_conflicts_integration.py
  backend/tests/integration/services/test_week_operation_service_db.py
  backend/tests/integration/test_payment_flow.py
  backend/tests/repositories/test_booking_repository_future_bookings.py
  backend/tests/repositories/test_payment_repository.py
  backend/tests/routes/test_reviews_batch_and_existing.py
  backend/tests/scripts/test_seed_admin_user.py
  backend/tests/services/test_badge_award_service.py
  backend/tests/services/test_booking_payment_boundaries.py
  backend/tests/services/test_pricing_service.py
  backend/tests/services/test_review_service.py
  backend/tests/services/test_wallet_milestones.py
  backend/tests/unit/services/test_booking_service_logic.py
  backend/tests/unit/services/test_booking_service_student_conflicts.py
  backend/tests/unit/services/test_week_operation_logic.py
  metrics_history.json
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

ops(retention)+e2e+coverage: purge soft-deleted rows (chunked+cached), add booking↔availability E2E flow, tighten coverage & repo-pattern guards; targeted tests green
  backend/app/repositories/retention_repository.py
  backend/app/services/retention_service.py
  backend/scripts/dev/run_cov.sh
  backend/scripts/retention/purge_soft_deleted.py
  backend/tests/e2e/test_booking_availability_flow.py
  backend/tests/integration/repository_patterns/test_repo_pattern_smoke.py
  backend/tests/integration/retention/test_purge_soft_deleted.py
  backend/tests/unit/services/test_booking_conflict_messages.py
  backend/tests/unit/services/test_retention_service.py
  backend/tests/unit/services/test_week_operation_containment.py
  docs/e2e/booking_availability_flow.md
  docs/ops/retention.md
  docs/tech/coverage_snapshot.md
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

ops(retention): schedule nightly purge via Celery Beat; env-driven knobs; cache-aware task; targeted test & docs
  backend/app/repositories/retention_repository.py
  backend/app/tasks/all_tasks.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/retention_tasks.py
  backend/tests/integration/retention/test_retention_celery_task.py
  docs/ops/retention.md
Due: none

security(authz): inventory public API; add deny-by-default guard & scope/role helpers; permission matrix & focused authZ tests
  backend/app/api/dependencies/authz.py
  backend/app/main.py
  backend/scripts/dev/list_routes.py
  backend/tests/integration/routes/test_booking_payment_routes.py
  backend/tests/integration/security/test_authz_admin_routes.py
  backend/tests/integration/security/test_authz_public_routes.py
  docs/security/authz_matrix.md
  docs/security/public_api_inventory.md
  metrics_history.json
Due: check-timezone-usage

security(authz)+api(async): OpenAPI roles/scopes; phase-aware guard; await handlers
  backend/app/api/dependencies/authz.py
  backend/app/main.py
  backend/app/middleware/rate_limiter.py
  backend/app/routes/admin_config.py
  backend/app/routes/availability_windows.py
  backend/app/routes/bookings.py
  backend/app/routes/pricing_config_public.py
  backend/app/routes/referrals.py
  backend/app/schemas/availability_window.py
Due: api-contracts, check-timezone-usage

fixing mypy errors
  backend/app/core/production_startup.py
Due: check-repository-pattern

typing(authz): generic decorators with ParamSpec/TypeVar + wraps; preserve handler signatures; await-aware wrappers; unblock mypy
  backend/app/api/dependencies/authz.py
  backend/app/middleware/rate_limiter.py
  backend/app/routes/bookings.py
  metrics_history.json
Due: api-contracts, check-timezone-usage

typing(routes): add typed shims for authz decorators in bookings/availability; preserve signatures & metadata; satisfy mypy slice
  backend/app/routes/availability_windows.py
  backend/app/routes/bookings.py
Due: api-contracts, check-timezone-usage

db+tests(notifications): dialect-agnostic repos, real SQLite unit sessions, and notifications outbox
  backend/alembic/versions/006_final_constraints.py
  backend/app/database/__init__.py
  backend/app/database/__init__.pyi
  backend/app/database/session_utils.py
  backend/app/models/__init__.py
  backend/app/models/event_outbox.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/repositories/base_repository.py
  backend/app/repositories/base_repository.pyi
  backend/app/repositories/event_outbox_repository.py
  backend/app/repositories/factory.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/repositories/notification_delivery_repository.py
  backend/app/repositories/retention_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/services/availability_service.py
  backend/app/services/booking_service.py
  backend/app/services/notification_provider.py
  backend/app/services/week_operation_service.py
  backend/app/tasks/all_tasks.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/notification_tasks.py
  backend/tests/conftest.py
  backend/tests/integration/notifications/test_availability_events.py
  backend/tests/integration/notifications/test_booking_events.py
  backend/tests/integration/notifications/test_dedupe_concurrency.py
  backend/tests/integration/repository_patterns/test_booking_repository_edge_cases.py
  backend/tests/unit/conftest.py
  backend/tests/unit/services/test_availability_service_logic.py
  backend/tests/unit/services/test_booking_service_logic.py
  backend/tests/unit/services/test_booking_service_student_conflicts.py
  backend/tests/unit/services/test_notification_outbox.py
  backend/tests/unit/services/test_week_operation_logic.py
  backend/tests/unit/services/test_week_operation_missing_coverage.py
  docs/ops/notifications.md
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

