Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-time-to-minutes:
  name: Check time-to-minutes conversions
  entry: python backend/scripts/check_time_to_minutes.py
  language: python
  pass_filenames: true
  description: Block ad-hoc time-to-minutes conversions; use time_to_minutes()

check-utc-timezone:
  name: Check UTC timezone usage
  entry: python backend/scripts/check_utc_timezone.py
  language: python

check-timezone-patterns:
  name: Check timezone patterns
  entry: python backend/scripts/check_timezone_patterns.py
  language: python
  pass_filenames: true

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

check-router-sync:
  name: Check router sync (main.py vs openapi_app.py)
  entry: python backend/scripts/check_router_sync.py
  language: python
  pass_filenames: false
  description: Ensures all routers in main.py are also in openapi_app.py for OpenAPI completeness

check-route-response-models:
  name: Check route response models
  entry: python backend/scripts/check_route_response_models.py
  language: python
  pass_filenames: false
  description: Ensures all routes have response_model or status_code=204

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

check-stripe-transaction-pattern:
  name: Check Stripe calls outside transactions
  entry: python3 backend/scripts/check_stripe_transaction_pattern.py
  language: system
  pass_filenames: false
  description: Ensure Stripe API calls are outside DB transactions (3-phase pattern)

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

feat(auth): refresh token foundation with rotation (Phase 1)
  backend/.artifacts/api.expected.d.ts
  backend/.repository-migration-tracking.json
  backend/app/auth.py
  backend/app/auth_session.py
  backend/app/auth_sse.py
  backend/app/core/config.py
  backend/app/ratelimit/config.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/public.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/schemas/security.py
  backend/app/utils/cookies.py
  backend/openapi/openapi.json
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  backend/tests/unit/test_auth_core_coverage.py
  backend/tests/unit/test_auth_session_coverage.py
  backend/tests/unit/test_auth_sse.py
  backend/tests/unit/test_login_slot_scope.py
  backend/tests/unit/utils/test_cookies_additional_coverage.py
  frontend/src/api/generated/auth-v1/auth-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

security(auth): remove typ-less token backward compat
  backend/app/auth.py
  backend/tests/unit/test_auth_core_coverage.py
  backend/tests/unit/test_auth_session_coverage.py
  backend/tests/unit/test_auth_sse.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

feat(auth): frontend 401 refresh interceptor with request queuing
  frontend/__tests__/hooks/useUserMessageStream.test.ts
  frontend/features/shared/api/__tests__/client.fetch.test.ts
  frontend/features/shared/api/__tests__/sessionRefresh.test.ts
  frontend/features/shared/api/client.ts
  frontend/hooks/useUserMessageStream.ts
  frontend/lib/api.ts
  frontend/lib/api/fetch.ts
  frontend/lib/auth/sessionRefresh.ts
  frontend/lib/http.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

test(e2e): stabilize cookie-auth mocks and refresh-era test flows
  backend/tests/unit/test_auth_sse_coverage.py
  frontend/e2e/a11y.smoke.spec.ts
  frontend/e2e/calendar.spec.ts
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/instructor-referrals.spec.ts
  frontend/e2e/profile.preferred-places.spec.ts
  frontend/e2e/profile.service-areas.spec.ts
  frontend/e2e/referrals.ui.spec.ts
  frontend/e2e/tests/availability-conflict.spec.ts
  frontend/e2e/tests/basic-search.spec.ts
  frontend/e2e/tests/booking-journey-mocked.spec.ts
  frontend/e2e/tests/booking-journey.spec.ts
  frontend/e2e/tests/booking-scheduled-payment.spec.ts
  frontend/e2e/tests/example-working.spec.ts
  frontend/e2e/tests/instructor.bookings-list.spec.ts
  frontend/e2e/tests/instructor.dashboard-reviews.spec.ts
  frontend/e2e/tests/my-lessons.spec.ts
  frontend/e2e/tests/slot-preservation.spec.ts
  frontend/e2e/tests/smoke.spec.ts
  frontend/e2e/utils/authenticatedPageMocks.ts
  frontend/e2e/utils/publicPageMocks.ts
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

security(auth): fix review findings — atomic JTI rotation, fetch interceptor coverage
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/schemas/__init__.py
  backend/app/schemas/user.py
  backend/app/services/token_blacklist_service.py
  backend/app/utils/cookies.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/unit/schemas/test_user_schemas.py
  backend/tests/unit/test_login_slot_scope.py
  frontend/__tests__/api/pushNotifications.test.ts
  frontend/app/(admin)/admin/beta/invites/page.tsx
  frontend/app/(admin)/admin/referrals/ReferralsAdminClient.tsx
  frontend/app/(admin)/admin/settings/pricing/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(public)/instructor/apply/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/booking/CheckoutFlow.tsx
  frontend/components/chat/ChatModal.tsx
  frontend/components/forms/PlacesAutocompleteInput.tsx
  frontend/components/instructor/messages/hooks/useConversationMessages.ts
  frontend/components/instructor/messages/hooks/useConversations.ts
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/shared/api/pushNotifications.ts
  frontend/features/shared/referrals/api.ts
  frontend/features/student/payment/hooks/usePaymentFlow.ts
  frontend/hooks/queries/useInstructorCoverage.ts
  frontend/hooks/queries/useServices.ts
  frontend/lib/analyticsApi.ts
  frontend/lib/api.ts
  frontend/lib/betaApi.ts
  frontend/lib/databaseApi.ts
  frontend/lib/http.ts
  frontend/lib/redisApi.ts
  frontend/lib/searchTracking.ts
  frontend/services/api/payments.ts
  frontend/src/api/orval-mutator.ts
  frontend/src/api/services/conversations.ts
  frontend/src/api/services/messages.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(infra): resolve Sentry API-1V/API-24 — dead index, Redis guard, auto-ANALYZE
  backend/alembic/versions/006_platform_features.py
  backend/app/models/instructor.py
  backend/app/monitoring/production_monitor.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/db_maintenance.py
  backend/tests/unit/monitoring/test_production_monitor_coverage.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(auth): enforce refresh rate limit, cleanup logout-all-devices cookie, add deleted-user test
  backend/app/ratelimit/config.py
  backend/app/routes/v1/account.py
  backend/tests/routes/test_auth_routes_coverage.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(auth): prevent login redirect on public pages, add beta-local CSP origin
  backend/tests/routes/test_account_routes_coverage.py
  frontend/features/shared/api/__tests__/sessionRefresh.test.ts
  frontend/lib/auth/sessionRefresh.ts
  frontend/next.config.ts
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(auth): PR review fixes — task registration, trim refresh claims, consolidate helpers
  backend/app/auth.py
  backend/app/routes/v1/auth.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/db_maintenance.py
  backend/app/utils/token_utils.py
  backend/tests/unit/test_auth_core_coverage.py
  frontend/e2e/support/storageState.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

fix(e2e): clear storage state in login tests to prevent refresh interceptor interference
  docs/session-handoffs/session-handoff-v135.md
  frontend/e2e/tests/login-2fa.spec.ts
  frontend/e2e/tests/my-lessons.spec.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(db): rollback session before retry in with_db_retry (resolves 4 Sentry issues)
  backend/app/database/__init__.py
  backend/app/database/__init__.pyi
  backend/app/repositories/background_job_repository.py
  backend/app/repositories/user_repository.py
  backend/app/services/personal_asset_service.py
  backend/tests/unit/database/test_database_helpers_coverage.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(security): remediate 5 Shannon AI pentest findings
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/schemas/auth_responses.py
  backend/app/services/auth_service.py
  backend/app/services/booking_service.py
  backend/app/services/review_service.py
  backend/app/services/stripe_service.py
  backend/app/services/two_factor_auth_service.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_auth.py
  backend/tests/integration/services/test_review_service_int.py
  backend/tests/repositories/test_booking_repository_participant.py
  backend/tests/routes/test_auth_founding_registration.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/routes/test_beta_routes.py
  backend/tests/routes/test_reviews_routes.py
  backend/tests/routes/test_search_history_routes.py
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  backend/tests/services/test_personal_asset_service.py
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_two_factor_auth_service.py
  backend/tests/test_api_contracts.py
  backend/tests/unit/services/test_auth_service_coverage.py
  backend/tests/unit/services/test_booking_service_coverage.py
  backend/tests/unit/services/test_stripe_service.py
  backend/tests/unit/services/test_two_factor_auth_service_coverage.py
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/e2e/tests/example-working.spec.ts
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/features/shared/api/types.ts
  frontend/features/shared/hooks/useAuth.tsx
  frontend/src/api/generated/auth-v1/auth-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(security): complete Shannon pentest remediation (AUTHZ-VULN-01, SSTI-VULN-01, auth hardening)
  backend/app/repositories/booking_repository.py
  backend/app/services/auth_service.py
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/app/services/template_service.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/db_maintenance.py
  backend/tests/integration/services/test_booking_service_comprehensive.py
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/routes/test_payments.py
  backend/tests/routes/test_pricing_preview.py
  backend/tests/services/test_stripe_service.py
  backend/tests/unit/services/test_booking_service.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_booking_service_logic.py
  backend/tests/unit/services/test_booking_service_r4.py
  backend/tests/unit/services/test_stripe_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(security): harden Shannon pentest remediation with SSTI regression tests and code cleanup
  backend/app/repositories/booking_repository.py
  backend/app/services/auth_service.py
  backend/app/services/template_service.py
  backend/tests/unit/services/test_template_service_coverage.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(db): replace bare except-pass with debug log to satisfy bandit B110
  backend/app/repositories/background_job_repository.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix(security): prevent setup_verify from disabling active 2FA + add timing comment
  backend/app/services/auth_service.py
  backend/app/services/two_factor_auth_service.py
  backend/tests/unit/services/test_two_factor_auth_service_coverage.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

chore(deps): bump 8 safe dependencies across backend and frontend
  backend/requirements.txt
  docs/session-handoffs/session-handoff-v136.md
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
Due: frontend-eslint, frontend-public-env

feat(video): Phase 1 — 100ms backend foundation
  backend/alembic/versions/006_platform_features.py
  backend/app/core/config.py
  backend/app/integrations/hundredms_client.py
  backend/app/models/__init__.py
  backend/app/models/booking.py
  backend/app/models/booking_video_session.py
  backend/app/repositories/booking_repository.py
  backend/tests/unit/integrations/__init__.py
  backend/tests/unit/integrations/test_hundredms_client.py
  backend/tests/unit/models/test_booking_video_session.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-async-blocking

feat(video): add video lesson service layer and API routes
  backend/app/integrations/hundredms_client.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/lessons.py
  backend/app/schemas/video.py
  backend/app/services/video_service.py
  backend/tests/routes/test_lessons.py
  backend/tests/unit/integrations/test_hundredms_client.py
  backend/tests/unit/services/test_video_service.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts

test(video): harden perf test and close video integration coverage gaps
  backend/tests/monitoring/test_performance_overhead.py
  backend/tests/routes/test_lessons.py
  backend/tests/unit/integrations/test_hundredms_client.py
  backend/tests/unit/services/test_video_service.py
Due: check-time-to-minutes, check-timezone-patterns

test(coverage): add 345 unit tests across 33 files, coverage 97.02% → 97.68%
  backend/tests/integration/services/test_permission_service_coverage.py
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  backend/tests/tasks/test_db_maintenance.py
  backend/tests/unit/core/test_auth_cache_coverage.py
  backend/tests/unit/core/test_exceptions_missed_coverage.py
  backend/tests/unit/core/test_privacy_auditor_missed_coverage.py
  backend/tests/unit/middleware/test_beta_phase_header_missed_coverage.py
  backend/tests/unit/middleware/test_performance_missed_coverage.py
  backend/tests/unit/middleware/test_timing_asgi_missed_coverage.py
  backend/tests/unit/models/test_base_enum_missed_coverage.py
  backend/tests/unit/models/test_types_missed_coverage.py
  backend/tests/unit/monitoring/test_production_monitor_missed_coverage.py
  backend/tests/unit/repositories/test_audit_repository_coverage.py
  backend/tests/unit/repositories/test_availability_repository_coverage.py
  backend/tests/unit/repositories/test_badge_repository_coverage.py
  backend/tests/unit/repositories/test_booking_repository_video_session_coverage.py
  backend/tests/unit/repositories/test_credit_repository_coverage.py
  backend/tests/unit/repositories/test_favorites_repository_coverage.py
  backend/tests/unit/repositories/test_region_boundary_repository_coverage.py
  backend/tests/unit/services/test_account_lifecycle_coverage.py
  backend/tests/unit/services/test_admin_booking_service_coverage.py
  backend/tests/unit/services/test_badge_award_service_coverage.py
  backend/tests/unit/services/test_cache_strategies_missed_coverage.py
  backend/tests/unit/services/test_celery_admin_service_coverage.py
  backend/tests/unit/services/test_location_enrichment_missed_coverage.py
  backend/tests/unit/services/test_personal_asset_service_missed_coverage.py
  backend/tests/unit/services/test_privacy_service_missed_coverage.py
  backend/tests/unit/services/test_retention_service_coverage.py
  backend/tests/unit/services/test_review_service_coverage.py
  backend/tests/unit/services/test_token_blacklist_service.py
  backend/tests/unit/utils/test_cookies_missed_coverage.py
  backend/tests/unit/utils/test_location_privacy_missed_coverage.py
  backend/tests/unit/utils/test_streaks_missed_coverage.py
Due: check-time-to-minutes, check-timezone-patterns

feat(video): Phase 3 — 100ms webhook handler + no-show detection
  backend/.artifacts/api.expected.d.ts
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/services/booking_service.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/video_tasks.py
  backend/openapi/openapi.json
  backend/tests/routes/test_webhooks_hundredms.py
  backend/tests/unit/core/test_auth_cache_coverage.py
  backend/tests/unit/routes/test_webhooks_hundredms.py
  backend/tests/unit/tasks/test_video_tasks.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/lessons-v1/lessons-v1.ts
  frontend/src/api/generated/webhooks/webhooks.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

feat(video): Phase 4 — wire video session data into booking responses
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/booking_repository.py
  backend/app/schemas/booking.py
  backend/openapi/openapi.json
  backend/tests/unit/repositories/test_booking_video_eager_loading.py
  backend/tests/unit/schemas/test_booking_video_fields.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types

feat(video): Phase 5 — frontend lesson room page
  frontend/app/(auth)/lessons/[bookingId]/__tests__/page.test.tsx
  frontend/app/(auth)/lessons/[bookingId]/page.tsx
  frontend/components/lessons/video/ActiveLesson.tsx
  frontend/components/lessons/video/LessonEnded.tsx
  frontend/components/lessons/video/NotJoinable.tsx
  frontend/components/lessons/video/PreLessonWaiting.tsx
  frontend/components/lessons/video/__tests__/LessonEnded.test.tsx
  frontend/components/lessons/video/__tests__/NotJoinable.test.tsx
  frontend/components/lessons/video/__tests__/PreLessonWaiting.test.tsx
  frontend/features/shared/api/types.ts
  frontend/hooks/__tests__/useCountdown.test.ts
  frontend/hooks/queries/__tests__/useLessonRoom.test.ts
  frontend/hooks/queries/useLessonRoom.ts
  frontend/hooks/useCountdown.ts
  frontend/lib/react-query/queryClient.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/stubs/mediapipe-selfie-segmentation.js
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(video): Phase 7 — integration tests, grace formula DRY, polish
  backend/app/domain/video_utils.py
  backend/app/schemas/booking.py
  backend/app/services/video_service.py
  backend/app/tasks/video_tasks.py
  backend/tests/integration/routes/test_lessons_integration.py
  backend/tests/unit/domain/__init__.py
  backend/tests/unit/domain/test_video_utils.py
  backend/tests/unit/tasks/test_video_tasks.py
  frontend/app/(auth)/lessons/[bookingId]/__tests__/page.test.tsx
  frontend/hooks/queries/__tests__/useLessonRoom.test.ts
  frontend/hooks/queries/useLessonRoom.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types

security: 100ms video audit remediation — 12 fixes from dual independent review
  backend/app/integrations/hundredms_client.py
  backend/app/routes/v1/lessons.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/services/video_service.py
  backend/app/tasks/video_tasks.py
  backend/tests/unit/services/test_video_service.py
  backend/tests/unit/tasks/test_video_tasks.py
  frontend/app/(auth)/lessons/[bookingId]/page.tsx
  frontend/components/lessons/video/ActiveLesson.tsx
  frontend/components/lessons/video/JoinLessonButton.tsx
  frontend/components/lessons/video/LessonEnded.tsx
  frontend/components/lessons/video/NotJoinable.tsx
  frontend/components/lessons/video/PreLessonWaiting.tsx
  frontend/components/lessons/video/__tests__/PreLessonWaiting.test.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

security: 100ms video audit — batch 3 hardening + test coverage
  backend/alembic/versions/003_availability_booking.py
  backend/alembic/versions/006_platform_features.py
  backend/app/models/booking_no_show.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/tasks/video_tasks.py
  backend/tests/routes/test_webhooks_hundredms.py
  backend/tests/unit/routes/test_webhooks_hundredms.py
  backend/tests/unit/tasks/test_video_tasks.py
  frontend/app/(auth)/lessons/[bookingId]/page.tsx
  frontend/components/lessons/video/PreLessonWaiting.tsx
  frontend/components/lessons/video/__tests__/ActiveLesson.test.tsx
  frontend/types/booking.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

security(auth): add method="POST" to all auth forms — prevent credential leakage on hydration failure
  frontend/__tests__/security/auth-form-method-post.test.ts
  frontend/app/(shared)/forgot-password/page.tsx
  frontend/app/(shared)/login/LoginClient.tsx
  frontend/app/(shared)/reset-password/page.tsx
  frontend/app/(shared)/signup/page.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

security(video): fix webhook dedup retry flow and mutual no-show resolution
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/services/booking_service.py
  backend/tests/routes/test_webhooks_hundredms.py
  backend/tests/unit/routes/test_webhooks_hundredms.py
  backend/tests/unit/services/test_booking_service_r4.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

security(video): enforce fail-closed config, rate limits, and frontend polling/type guards
  backend/app/main.py
  backend/app/ratelimit/config.py
  backend/app/ratelimit/mapping.py
  backend/app/routes/v1/lessons.py
  backend/app/schemas/booking.py
  backend/app/services/webhook_ledger_service.py
  backend/app/tasks/db_maintenance.py
  backend/tests/routes/test_lessons.py
  backend/tests/services/test_webhook_ledger_service.py
  backend/tests/unit/ratelimit/test_mapping_coverage.py
  backend/tests/unit/schemas/test_booking_video_fields.py
  backend/tests/unit/test_startup_encryption_guard.py
  frontend/app/(auth)/lessons/[bookingId]/__tests__/page.test.tsx
  frontend/app/(auth)/lessons/[bookingId]/page.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/hooks/queries/__tests__/useLessonRoom.test.ts
  frontend/hooks/queries/useLessonRoom.ts
  frontend/next.config.ts
  frontend/types/booking.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

chore(video): improve countdown accessibility semantics
  frontend/components/lessons/video/PreLessonWaiting.tsx
  frontend/components/lessons/video/__tests__/PreLessonWaiting.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

perf(video): move room creation outside lock and reduce provider timeout
  backend/app/integrations/hundredms_client.py
  backend/app/repositories/base_repository.py
  backend/app/repositories/base_repository.pyi
  backend/app/services/video_service.py
  backend/tests/unit/services/test_video_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(frontend): satisfy strict typecheck for lesson room polling
  frontend/hooks/queries/useLessonRoom.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(bookings): resolve midnight-crossing booking misclassification
  backend/app/repositories/booking_repository.py
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/integration/repository_patterns/test_booking_midnight_crossing.py
  backend/tests/integration/routes/test_instructor_bookings_api.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix(video): harden 100ms integration — JWT, CSP, error boundary, and test window
  backend/app/domain/video_utils.py
  backend/app/integrations/hundredms_client.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/schemas/booking.py
  backend/app/services/video_service.py
  backend/tests/unit/domain/test_video_utils.py
  backend/tests/unit/schemas/test_booking_video_fields.py
  backend/tests/unit/services/test_video_service.py
  backend/tests/unit/tasks/test_video_tasks.py
  frontend/components/lessons/video/ActiveLesson.tsx
  frontend/components/lessons/video/__tests__/ActiveLesson.test.tsx
  frontend/next.config.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

test(video): stabilize lessons integration setup for lock-unlock-lock flow
  backend/tests/integration/routes/test_lessons_integration.py
Due: check-time-to-minutes, check-timezone-patterns

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

