Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-time-to-minutes:
  name: Check time-to-minutes conversions
  entry: python backend/scripts/check_time_to_minutes.py
  language: python
  pass_filenames: true
  description: Block ad-hoc time-to-minutes conversions; use time_to_minutes()

check-utc-timezone:
  name: Check UTC timezone usage
  entry: python backend/scripts/check_utc_timezone.py
  language: python

check-timezone-patterns:
  name: Check timezone patterns
  entry: python backend/scripts/check_timezone_patterns.py
  language: python
  pass_filenames: true

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

check-router-sync:
  name: Check router sync (main.py vs openapi_app.py)
  entry: python backend/scripts/check_router_sync.py
  language: python
  pass_filenames: false
  description: Ensures all routers in main.py are also in openapi_app.py for OpenAPI completeness

check-route-response-models:
  name: Check route response models
  entry: python backend/scripts/check_route_response_models.py
  language: python
  pass_filenames: false
  description: Ensures all routes have response_model or status_code=204

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

check-stripe-transaction-pattern:
  name: Check Stripe calls outside transactions
  entry: python3 backend/scripts/check_stripe_transaction_pattern.py
  language: system
  pass_filenames: false
  description: Ensure Stripe API calls are outside DB transactions (3-phase pattern)

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

fix(dashboard): A-Team review pass batch 4 — availability chips + commission tier redesign
  frontend/app/(auth)/instructor/availability/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/components/availability/CalendarSettingsSection.tsx
  frontend/components/availability/FormatTagPaintToolbar.tsx
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/availability/__tests__/CalendarSettingsSection.test.tsx
  frontend/components/availability/__tests__/FormatTagPaintToolbar.test.tsx
  frontend/components/availability/__tests__/InteractiveGrid.test.tsx
  frontend/components/earnings/CommissionTierCard.tsx
  frontend/components/earnings/__tests__/CommissionTierCard.test.tsx
  frontend/package-lock.json
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(dashboard): A-Team review pass batch 3 — reviews, messages, referrals
  frontend/__tests__/features/instructor/referrals.test.tsx
  frontend/app/(auth)/instructor/messages/__tests__/page-layout.test.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/(auth)/instructor/referrals/page.tsx
  frontend/app/(auth)/instructor/reviews/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
  frontend/components/instructor/messages/components/ChatHeader.tsx
  frontend/components/instructor/messages/components/__tests__/ChatHeader.test.tsx
  frontend/components/instructor/messages/types.ts
  frontend/components/instructor/messages/utils/__tests__/messages.test.ts
  frontend/components/instructor/messages/utils/messages.ts
  frontend/components/ui/ToggleSwitch.tsx
  frontend/components/ui/__tests__/ToggleSwitch.test.tsx
  frontend/e2e/calendar.spec.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(dashboard): A-Team review pass batch 3 — reviews, messages, referrals (final batch)
  frontend/__tests__/features/instructor/referrals.test.tsx
  frontend/app/(auth)/instructor/messages/__tests__/page-layout.test.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/(auth)/instructor/referrals/page.tsx
  frontend/app/(auth)/instructor/reviews/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
  frontend/components/instructor/messages/components/ChatHeader.tsx
  frontend/components/instructor/messages/components/__tests__/ChatHeader.test.tsx
  frontend/components/instructor/messages/types.ts
  frontend/components/instructor/messages/utils/__tests__/messages.test.ts
  frontend/components/instructor/messages/utils/messages.ts
  frontend/components/ui/ToggleSwitch.tsx
  frontend/components/ui/__tests__/ToggleSwitch.test.tsx
  frontend/e2e/calendar.spec.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

chore(deps): cryptography 46.0.5 → 46.0.6 (CVE-2026-34073)
  backend/requirements.txt
Due: none

fix(booking): remove student travel buffer blocking + add proximity warnings
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/bookings.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/services/conflict_checker.py
  backend/openapi/openapi.json
  backend/tests/integration/services/test_booking_service_student_conflicts_integration.py
  backend/tests/unit/services/test_booking_service.py
  backend/tests/unit/services/test_conflict_checker_logic.py
  frontend/features/student/booking/hooks/__tests__/useCreateBooking.test.ts
  frontend/features/student/booking/hooks/useCreateBooking.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/features/student/payment/utils/__tests__/buildAvailabilityCheckRequest.spec.ts
  frontend/features/student/payment/utils/buildAvailabilityCheckRequest.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/orval-mutator.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(booking): remove student travel buffer blocking + add physical-aware proximity warnings
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/bookings.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/services/conflict_checker.py
  backend/openapi/openapi.json
  backend/tests/integration/services/test_booking_service_student_conflicts_integration.py
  backend/tests/unit/services/test_booking_service.py
  backend/tests/unit/services/test_conflict_checker_logic.py
  frontend/features/student/booking/hooks/__tests__/useCreateBooking.test.ts
  frontend/features/student/booking/hooks/useCreateBooking.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/features/student/payment/utils/__tests__/buildAvailabilityCheckRequest.spec.ts
  frontend/features/student/payment/utils/buildAvailabilityCheckRequest.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/orval-mutator.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(booking): conflict UX polish — specific error messages, deduplicated banners, time picker scroll fix
  backend/app/services/booking_service.py
  backend/tests/unit/services/test_booking_service.py
  frontend/features/shared/booking/ui/TimeDropdown.tsx
  frontend/features/shared/booking/ui/__tests__/TimeDropdown.test.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix: quick cleanup + Sentry production fixes
  backend/app/core/broadcast.py
  backend/app/core/config.py
  backend/app/database/__init__.py
  backend/app/main.py
  backend/app/models/instructor.py
  backend/app/monitoring/otel.py
  backend/app/services/booking_service.py
  backend/app/services/conflict_checker.py
  backend/app/tasks/monitoring_tasks.py
  backend/tests/unit/database/test_database_helpers_coverage.py
  backend/tests/unit/services/test_booking_service.py
  backend/tests/unit/services/test_conflict_checker_logic.py
  frontend/e2e/instructor-referrals.spec.ts
  frontend/features/student/booking/hooks/useCreateBooking.ts
  frontend/lib/__tests__/apiErrors.test.ts
  frontend/lib/apiErrors.ts
  frontend/src/api/orval-mutator.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(security): CSP fixes — 100ms.live bare domain + jsdelivr emoji images
  frontend/next.config.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix: quick cleanup + Sentry production fixes
  backend/app/core/broadcast.py
  backend/app/core/config.py
  backend/app/database/__init__.py
  backend/app/main.py
  backend/app/models/instructor.py
  backend/app/monitoring/otel.py
  backend/app/services/booking_service.py
  backend/app/services/conflict_checker.py
  backend/app/tasks/monitoring_tasks.py
  backend/tests/unit/database/test_database_helpers_coverage.py
  backend/tests/unit/services/test_booking_service.py
  backend/tests/unit/services/test_conflict_checker_logic.py
  frontend/e2e/instructor-referrals.spec.ts
  frontend/features/student/booking/hooks/useCreateBooking.ts
  frontend/lib/__tests__/apiErrors.test.ts
  frontend/lib/apiErrors.ts
  frontend/next.config.ts
  frontend/src/api/orval-mutator.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(sms): correct brand name "InstaInstru" → "iNSTAiNSTRU" in all SMS templates
  backend/app/services/sms_templates.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

chore(deps): widen pytest-cov range to >=5,<8
  backend/requirements-dev.txt
Due: none

refactor(booking): Pass 1 — extract helpers, query, availability, completion, notifications
  backend/app/services/booking/__init__.py
  backend/app/services/booking/availability_service.py
  backend/app/services/booking/completion_service.py
  backend/app/services/booking/helpers.py
  backend/app/services/booking/notifications.py
  backend/app/services/booking/query_service.py
  backend/app/services/booking_service.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(booking): Pass 2 — extract payment, lock, no-show
  backend/app/services/booking/lock_service.py
  backend/app/services/booking/noshow_service.py
  backend/app/services/booking/payment_service.py
  backend/app/services/booking_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(booking): Pass 3 — extract creation, cancellation, reschedule. Facade complete.
  backend/app/services/booking/cancellation_service.py
  backend/app/services/booking/creation_service.py
  backend/app/services/booking/reschedule_service.py
  backend/app/services/booking_service.py
  frontend/e2e/calendar.spec.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

refactor(booking): decompose booking_service.py — 7,022 → 216 lines across 11 focused modules
  backend/app/services/booking/__init__.py
  backend/app/services/booking/availability_service.py
  backend/app/services/booking/cancellation_service.py
  backend/app/services/booking/completion_service.py
  backend/app/services/booking/creation_service.py
  backend/app/services/booking/helpers.py
  backend/app/services/booking/lock_service.py
  backend/app/services/booking/noshow_service.py
  backend/app/services/booking/notifications.py
  backend/app/services/booking/payment_service.py
  backend/app/services/booking/query_service.py
  backend/app/services/booking/reschedule_service.py
  backend/app/services/booking_service.py
  frontend/e2e/calendar.spec.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

refactor(stripe): Pass 1 — extract helpers, earnings, capture/refund, transfer
  backend/app/services/stripe/__init__.py
  backend/app/services/stripe/capture_refund.py
  backend/app/services/stripe/earnings.py
  backend/app/services/stripe/earnings_export.py
  backend/app/services/stripe/helpers.py
  backend/app/services/stripe/transfer.py
  backend/app/services/stripe_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(stripe): Pass 2 — extract identity, onboarding, customer
  backend/app/services/stripe/customer.py
  backend/app/services/stripe/identity.py
  backend/app/services/stripe/onboarding.py
  backend/app/services/stripe_service.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(stripe): Pass 3 — extract payment, webhooks. Facade complete.
  backend/app/services/stripe/onboarding.py
  backend/app/services/stripe/payment.py
  backend/app/services/stripe/payment_flow.py
  backend/app/services/stripe/payment_intents.py
  backend/app/services/stripe/transfer.py
  backend/app/services/stripe/webhook_disputes.py
  backend/app/services/stripe/webhook_payouts.py
  backend/app/services/stripe/webhook_router.py
  backend/app/services/stripe_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

Fix Bandit client_secret false positive
  backend/app/services/stripe/helpers.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(stripe): decompose stripe_service.py — 4,951 → 282 lines across 14 focused modules
  backend/app/services/stripe/__init__.py
  backend/app/services/stripe/capture_refund.py
  backend/app/services/stripe/customer.py
  backend/app/services/stripe/earnings.py
  backend/app/services/stripe/earnings_export.py
  backend/app/services/stripe/helpers.py
  backend/app/services/stripe/identity.py
  backend/app/services/stripe/onboarding.py
  backend/app/services/stripe/payment.py
  backend/app/services/stripe/payment_flow.py
  backend/app/services/stripe/payment_intents.py
  backend/app/services/stripe/transfer.py
  backend/app/services/stripe/webhook_disputes.py
  backend/app/services/stripe/webhook_payouts.py
  backend/app/services/stripe/webhook_router.py
  backend/app/services/stripe_service.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(booking): decompose all methods over 100 lines
  backend/app/services/booking/availability_service.py
  backend/app/services/booking/cancellation_service.py
  backend/app/services/booking/completion_service.py
  backend/app/services/booking/creation_service.py
  backend/app/services/booking/lock_service.py
  backend/app/services/booking/noshow_service.py
  backend/app/services/booking/payment_service.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(booking): split oversized mixin files — all 26 under 500 lines
  backend/app/services/booking/availability_conflicts.py
  backend/app/services/booking/availability_opportunities.py
  backend/app/services/booking/availability_rules.py
  backend/app/services/booking/availability_service.py
  backend/app/services/booking/cancellation_cleanup.py
  backend/app/services/booking/cancellation_finalize.py
  backend/app/services/booking/cancellation_late_finalize.py
  backend/app/services/booking/cancellation_service.py
  backend/app/services/booking/cancellation_stripe.py
  backend/app/services/booking/creation_payment.py
  backend/app/services/booking/creation_service.py
  backend/app/services/booking/helpers.py
  backend/app/services/booking/helpers_audit.py
  backend/app/services/booking/lock_resolution.py
  backend/app/services/booking/lock_service.py
  backend/app/services/booking/noshow_resolution.py
  backend/app/services/booking/noshow_service.py
  backend/app/services/booking/noshow_settlement.py
  backend/app/services/booking/payment_retry.py
  backend/app/services/booking/payment_service.py
  backend/app/services/booking/reschedule_creation.py
  backend/app/services/booking/reschedule_execution.py
  backend/app/services/booking/reschedule_service.py
  backend/app/services/booking_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(booking): decompose long methods + split oversized files — all under budget
  backend/app/services/booking/availability_conflicts.py
  backend/app/services/booking/availability_opportunities.py
  backend/app/services/booking/availability_rules.py
  backend/app/services/booking/availability_service.py
  backend/app/services/booking/cancellation_cleanup.py
  backend/app/services/booking/cancellation_finalize.py
  backend/app/services/booking/cancellation_late_finalize.py
  backend/app/services/booking/cancellation_service.py
  backend/app/services/booking/cancellation_stripe.py
  backend/app/services/booking/completion_service.py
  backend/app/services/booking/creation_payment.py
  backend/app/services/booking/creation_service.py
  backend/app/services/booking/helpers.py
  backend/app/services/booking/helpers_audit.py
  backend/app/services/booking/lock_resolution.py
  backend/app/services/booking/lock_service.py
  backend/app/services/booking/noshow_resolution.py
  backend/app/services/booking/noshow_service.py
  backend/app/services/booking/noshow_settlement.py
  backend/app/services/booking/payment_retry.py
  backend/app/services/booking/payment_service.py
  backend/app/services/booking/reschedule_creation.py
  backend/app/services/booking/reschedule_execution.py
  backend/app/services/booking/reschedule_service.py
  backend/app/services/booking_service.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(availability): decompose availability_service.py — 2,511 → 132 lines
  backend/app/services/availability/__init__.py
  backend/app/services/availability/audit_events.py
  backend/app/services/availability/bitmap_io.py
  backend/app/services/availability/bitmap_write.py
  backend/app/services/availability/blackout.py
  backend/app/services/availability/cache.py
  backend/app/services/availability/mixin_base.py
  backend/app/services/availability/public_availability.py
  backend/app/services/availability/reads.py
  backend/app/services/availability/types.py
  backend/app/services/availability/validation.py
  backend/app/services/availability/week_save.py
  backend/app/services/availability_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(availability): decompose availability_service.py — 2,511 → 132 lines across 11 modules
  backend/app/services/availability/__init__.py
  backend/app/services/availability/audit_events.py
  backend/app/services/availability/bitmap_io.py
  backend/app/services/availability/bitmap_write.py
  backend/app/services/availability/blackout.py
  backend/app/services/availability/cache.py
  backend/app/services/availability/mixin_base.py
  backend/app/services/availability/public_availability.py
  backend/app/services/availability/reads.py
  backend/app/services/availability/types.py
  backend/app/services/availability/validation.py
  backend/app/services/availability/week_save.py
  backend/app/services/availability_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(repository): decompose booking_repository.py — 2,561 → 101 lines
  backend/app/repositories/booking/__init__.py
  backend/app/repositories/booking/admin_query_mixin.py
  backend/app/repositories/booking/conflict_mixin.py
  backend/app/repositories/booking/conversation_mixin.py
  backend/app/repositories/booking/detail_query_mixin.py
  backend/app/repositories/booking/list_query_mixin.py
  backend/app/repositories/booking/mixin_base.py
  backend/app/repositories/booking/payment_query_mixin.py
  backend/app/repositories/booking/satellite_mixin.py
  backend/app/repositories/booking/stats_mixin.py
  backend/app/repositories/booking/status_mutation_mixin.py
  backend/app/repositories/booking_repository.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

refactor(repository): decompose booking_repository.py — 2,561 → 101 lines across 9 mixin modules
  backend/app/repositories/booking/__init__.py
  backend/app/repositories/booking/admin_query_mixin.py
  backend/app/repositories/booking/conflict_mixin.py
  backend/app/repositories/booking/conversation_mixin.py
  backend/app/repositories/booking/detail_query_mixin.py
  backend/app/repositories/booking/list_query_mixin.py
  backend/app/repositories/booking/mixin_base.py
  backend/app/repositories/booking/payment_query_mixin.py
  backend/app/repositories/booking/satellite_mixin.py
  backend/app/repositories/booking/stats_mixin.py
  backend/app/repositories/booking/status_mutation_mixin.py
  backend/app/repositories/booking_repository.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix(database): replace startup options parameter with post-connect SET statement_timeout
  backend/alembic/env.py
  backend/app/core/config_production.py
  backend/app/database/engines.py
  backend/tests/unit/core/test_config_production_coverage.py
  backend/tests/unit/database/test_database_helpers_coverage.py
  backend/tests/unit/database/test_engines_coverage.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-async-blocking

fix(database): replace startup options with post-connect SET statement_timeout
  backend/alembic/env.py
  backend/app/core/config_production.py
  backend/app/database/engines.py
  backend/tests/unit/core/test_config_production_coverage.py
  backend/tests/unit/database/test_database_helpers_coverage.py
  backend/tests/unit/database/test_engines_coverage.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-async-blocking

fix(database): execute SET statement_timeout in autocommit context
  backend/alembic/env.py
  backend/app/database/engines.py
  backend/tests/unit/database/test_engines_coverage.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

refactor(search): decompose nl_search_service.py pipeline into nl_pipeline/
  backend/app/services/search/nl_pipeline/__init__.py
  backend/app/services/search/nl_pipeline/hydration.py
  backend/app/services/search/nl_pipeline/location.py
  backend/app/services/search/nl_pipeline/location_helpers.py
  backend/app/services/search/nl_pipeline/location_tier4.py
  backend/app/services/search/nl_pipeline/models.py
  backend/app/services/search/nl_pipeline/postflight.py
  backend/app/services/search/nl_pipeline/postflight_filters.py
  backend/app/services/search/nl_pipeline/postflight_steps.py
  backend/app/services/search/nl_pipeline/preflight.py
  backend/app/services/search/nl_pipeline/protocols.py
  backend/app/services/search/nl_pipeline/response.py
  backend/app/services/search/nl_pipeline/runtime.py
  backend/app/services/search/nl_pipeline/taxonomy.py
  backend/app/services/search/nl_search_service.py
  backend/tests/integration/availability/test_booking_early_morning_timezone.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(search): decompose nl_search_service.py — pipeline extracted to 13 modules
  backend/app/services/search/nl_pipeline/__init__.py
  backend/app/services/search/nl_pipeline/hydration.py
  backend/app/services/search/nl_pipeline/location.py
  backend/app/services/search/nl_pipeline/location_helpers.py
  backend/app/services/search/nl_pipeline/location_tier4.py
  backend/app/services/search/nl_pipeline/models.py
  backend/app/services/search/nl_pipeline/postflight.py
  backend/app/services/search/nl_pipeline/postflight_filters.py
  backend/app/services/search/nl_pipeline/postflight_steps.py
  backend/app/services/search/nl_pipeline/preflight.py
  backend/app/services/search/nl_pipeline/protocols.py
  backend/app/services/search/nl_pipeline/response.py
  backend/app/services/search/nl_pipeline/runtime.py
  backend/app/services/search/nl_pipeline/taxonomy.py
  backend/app/services/search/nl_search_service.py
  backend/tests/integration/availability/test_booking_early_morning_timezone.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

chore(deps): bump frontend majors, codecov-action v6, and pending safe updates
  .github/workflows/backend-ci.yml
  .github/workflows/e2e-tests.yml
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

refactor(instructor): decompose instructor_service.py — 2,646 → 111 lines
  backend/app/services/instructor/__init__.py
  backend/app/services/instructor/activation_mixin.py
  backend/app/services/instructor/discovery_mixin.py
  backend/app/services/instructor/location_mixin.py
  backend/app/services/instructor/mixin_base.py
  backend/app/services/instructor/offerings_mixin.py
  backend/app/services/instructor/profile_mutations_mixin.py
  backend/app/services/instructor/profile_reads_mixin.py
  backend/app/services/instructor/taxonomy_reads_mixin.py
  backend/app/services/instructor/validation_helpers_mixin.py
  backend/app/services/instructor_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(instructor): decompose instructor_service.py — 2,646 → 111 lines across 8 mixin modules
  backend/app/services/instructor/__init__.py
  backend/app/services/instructor/activation_mixin.py
  backend/app/services/instructor/discovery_mixin.py
  backend/app/services/instructor/location_mixin.py
  backend/app/services/instructor/mixin_base.py
  backend/app/services/instructor/offerings_mixin.py
  backend/app/services/instructor/profile_mutations_mixin.py
  backend/app/services/instructor/profile_reads_mixin.py
  backend/app/services/instructor/taxonomy_reads_mixin.py
  backend/app/services/instructor/validation_helpers_mixin.py
  backend/app/services/instructor_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix: batch availability reads (N+1 → 1 query) + upgrade silent exception swallowing to warnings
  backend/app/repositories/booking/admin_query_mixin.py
  backend/app/repositories/location_alias_repository.py
  backend/app/repositories/location_resolution_repository.py
  backend/app/repositories/unresolved_location_query_repository.py
  backend/app/services/availability/reads.py
  backend/app/services/availability/week_save.py
  backend/app/services/booking/availability_opportunities.py
  backend/app/services/instructor/location_mixin.py
  backend/app/services/instructor/profile_mutations_mixin.py
  backend/app/services/instructor/taxonomy_reads_mixin.py
  backend/app/services/payment_summary_service.py
  backend/app/services/search/alias_learning_service.py
  backend/app/services/search/location_embedding_service.py
  backend/app/services/search/location_learning_admin_service.py
  backend/app/services/search/location_llm_service.py
  backend/app/services/search/location_resolver.py
  backend/app/services/search/nl_pipeline/hydration.py
  backend/app/services/search/nl_pipeline/location_tier4.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/stripe/capture_refund.py
  backend/app/services/stripe/earnings.py
  backend/app/services/stripe/earnings_export.py
  backend/app/services/stripe/identity.py
  backend/app/services/stripe/onboarding.py
  backend/app/services/stripe/payment.py
  backend/app/services/stripe/payment_intents.py
  backend/app/services/stripe/transfer.py
  backend/app/services/stripe/webhook_disputes.py
  backend/app/services/stripe/webhook_router.py
  backend/tests/unit/repositories/test_booking_repository_additional_coverage.py
  backend/tests/unit/services/search/test_nl_search_service_additional_coverage.py
  backend/tests/unit/services/test_availability_service_edge_coverage.py
  backend/tests/unit/services/test_availability_service_logic.py
  backend/tests/unit/services/test_booking_service_branch_coverage_extra.py
  backend/tests/unit/services/test_instructor_service_missed_coverage.py
  backend/tests/unit/services/test_stripe_service.py
  backend/tests/unit/services/test_stripe_service_additional_coverage.py
  backend/tests/unit/services/test_stripe_service_r4.py
  backend/tests/unit/services/test_stripe_service_webhook_branch_coverage.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

