Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


fix(admin-payments): clean table columns, dark-mode filters, and history actions
  frontend/app/(admin)/admin/payments/components/BookingFilters.tsx
  frontend/app/(admin)/admin/payments/components/BookingsTable.tsx
  frontend/app/(admin)/admin/payments/components/HistoryTab.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(admin-payments): wrap payments page in Suspense for build
  frontend/app/(admin)/admin/payments/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(payments): comprehensive Stripe audit fixes
  backend/.repository-migration-tracking.json
  backend/app/repositories/base_repository.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/bookings.py
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment_tasks.py
  backend/tests/conftest.py
  backend/tests/integration/services/test_booking_service_edge_cases.py
  backend/tests/routes/admin/test_admin_bookings.py
  backend/tests/routes/test_bookings.py
  backend/tests/routes/test_reminder_clean_architecture.py
  backend/tests/scripts/test_seed_validation.py
  backend/tests/services/test_admin_booking_service.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/services/test_stripe_service.py
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/test_timezone_edge_cases.py
  backend/tests/test_timezone_handling.py
  backend/tests/test_transaction_isolation.py
  backend/tests/utils/time.py
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore(backend): standardize UTC datetime + add pre-commit hook
  .pre-commit-config.yaml
  backend/app/database/__init__.py
  backend/app/middleware/monitoring.py
  backend/app/repositories/beta_repository.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/bookings.py
  backend/app/routes/v1/instructor_bookings.py
  backend/app/routes/v1/metrics.py
  backend/app/routes/v1/public.py
  backend/app/schemas/booking.py
  backend/app/services/bulk_operation_service.py
  backend/app/services/cache_service.py
  backend/app/services/conflict_checker.py
  backend/app/services/notification_service.py
  backend/app/services/pricing_service.py
  backend/app/services/review_service.py
  backend/app/tasks/celery_app.py
  backend/scripts/check_utc_timezone.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

docs: update cancellation policy to match implementation + fix mypy
  backend/app/repositories/base_repository.pyi
  docs/stripe/docs-stripe-cancellation-policy.md
Due: none

test(frontend): stabilize reschedule tests with future dates
  frontend/__tests__/lessons/modals/RescheduleModal.test.tsx
  frontend/__tests__/pages/lessons/LessonDetailsPage.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(timezone): Phase 1 - add UTC timestamp and timezone columns to bookings
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/booking.py
  backend/openapi/openapi.json
  backend/scripts/backfill_booking_utc.py
  frontend/src/api/generated/bookings-v1/bookings-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(timezone): Phase 2 - TimezoneService with DST handling
  backend/app/services/timezone_service.py
  backend/scripts/check_utc_timezone.py
  backend/tests/services/test_timezone_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(timezone): Phase 3 - integrate TimezoneService into BookingService
  backend/app/services/booking_service.py
  backend/tests/services/test_booking_immediate_auth.py
  backend/tests/services/test_booking_payment_boundaries.py
  backend/tests/services/test_booking_payment_service.py
  backend/tests/services/test_timezone_service_core.py
  backend/tests/test_timezone_handling.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(timezone): Phase 4 - integrate TimezoneService into payment tasks
  backend/app/tasks/payment_tasks.py
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/test_timezone_handling.py
Due: none

feat(timezone): Phase 5 - update API schemas with UTC fields
  backend/.artifacts/api.expected.d.ts
  backend/app/schemas/admin_bookings.py
  backend/app/schemas/booking.py
  backend/app/services/admin_booking_service.py
  backend/openapi/openapi.json
  backend/tests/routes/test_bookings.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

perf(tests): optimize slow pytest fixtures to reduce test suite time
  backend/tests/integration/availability/conftest.py
  backend/tests/integration/availability/test_apply_bitmap_range.py
  backend/tests/integration/availability/test_apply_bitmap_range_lock.py
  backend/tests/integration/availability/test_booking_against_bitmap.py
  backend/tests/integration/availability/test_booking_independence.py
  backend/tests/integration/availability/test_no_slot_queries_runtime.py
  backend/tests/integration/availability/test_past_day_toggles.py
  backend/tests/integration/availability/test_past_guardrails.py
  backend/tests/integration/availability/test_week_bitmap_routes.py
  backend/tests/integration/availability/test_week_etag_and_conflicts.py
  backend/tests/integration/test_rate_headers_shadow.py
  backend/tests/unit/test_startup_encryption_guard.py
Due: none

feat(timezone): Phase 6 - frontend timezone display and payload updates
  frontend/__tests__/lessons/LessonCard.test.tsx
  frontend/__tests__/lib/timezone/formatBookingTime.test.ts
  frontend/app/(admin)/admin/payments/components/BookingDetailPanel.tsx
  frontend/app/(admin)/admin/payments/components/BookingsTable.tsx
  frontend/app/(admin)/admin/payments/components/RefundModal.tsx
  frontend/components/BookingCard.tsx
  frontend/components/BookingDetailsModal.tsx
  frontend/components/BookingQuickPreview.tsx
  frontend/components/UpcomingLessons.tsx
  frontend/components/booking/CheckoutFlow.tsx
  frontend/components/lessons/LessonCard.tsx
  frontend/components/modals/CancelBookingModal.tsx
  frontend/features/shared/api/client.ts
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/utils/__tests__/buildCreateBookingPayload.spec.ts
  frontend/features/student/payment/utils/buildCreateBookingPayload.ts
  frontend/lib/timezone/formatBookingTime.ts
  frontend/types/booking.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(timezone): Phase 7 - validation, enforcement, and cleanup
  .pre-commit-config.yaml
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/bookings.py
  backend/app/routes/v1/instructor_bookings.py
  backend/app/routes/v1/public.py
  backend/app/schemas/booking.py
  backend/app/services/admin_booking_service.py
  backend/app/services/booking_service.py
  backend/app/services/conflict_checker.py
  backend/app/services/notification_service.py
  backend/app/services/pricing_service.py
  backend/app/services/review_service.py
  backend/app/tasks/payment_tasks.py
  backend/scripts/backfill_booking_utc.py
  backend/scripts/check_timezone_patterns.py
  backend/scripts/check_utc_timezone.py
  backend/scripts/dev/check_bookings.py
  backend/scripts/reset_and_seed_database.py
  backend/scripts/reset_and_seed_database_enhanced.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_chat_fixture.py
  backend/scripts/seed_utils.py
  backend/tests/factories/booking_builders.py
  backend/tests/utils/availability_builders.py
  docs/architecture/architecture-decisions.md
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

mypy(booking_service): tighten timezone return types and UTC conversions
  backend/app/services/booking_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(payments): resolve audit blockers F-1, F-2, F-3
  backend/app/services/booking_service.py
  backend/tests/integration/routes/test_booking_payment_routes.py
  backend/tests/integration/test_booking_completion_milestones.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/services/test_booking_immediate_auth.py
  backend/tests/services/test_booking_payment_boundaries.py
  backend/tests/services/test_booking_payment_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(payments): resolve audit issues F-4, F-5, F-6
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment_tasks.py
  backend/scripts/check_stripe_transaction_pattern.py
  backend/tests/tasks/test_payment_tasks.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(payments): exactly 24h cancellation now gets full refund
  backend/app/services/booking_service.py
  backend/tests/services/test_booking_cancellation_policy.py
  metrics_history.json
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(payments): 24h boundary + double credit guard + mypy cleanup
  backend/app/services/admin_booking_service.py
  backend/app/services/booking_service.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/email.py
  backend/app/tasks/embedding_migration.py
  backend/app/tasks/location_learning.py
  backend/app/tasks/monitoring_tasks.py
  backend/app/tasks/notification_tasks.py
  backend/app/tasks/privacy_tasks.py
  backend/app/tasks/retention_tasks.py
  backend/app/tasks/search_analytics.py
  backend/pyproject.toml
  backend/tests/services/test_booking_cancellation_policy.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(payments): capture timing anchored to lesson end, not completion
  backend/app/services/booking_service.py
  backend/app/tasks/payment_tasks.py
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/unit/services/test_booking_service_logic.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(payments): address final audit issues + stabilize tests
  backend/app/services/booking_service.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/monitoring_tasks.py
  backend/app/tasks/privacy_tasks.py
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/integration/routes/test_booking_payment_routes.py
  backend/tests/services/test_booking_payment_service.py
  frontend/e2e/tests/my-lessons.spec.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(tests): seed validation tests use fixture session instead of localhost
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/scripts/test_seed_validation.py
Due: none

fix(availability): canonical time-to-minutes with midnight edge case handling
  .pre-commit-config.yaml
  backend/app/services/booking_service.py
  backend/app/utils/time_utils.py
  backend/scripts/check_time_to_minutes.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_utils.py
  backend/tests/integration/repository_patterns/_bitmap_helpers.py
  backend/tests/unit/test_midnight_edge_cases.py
  backend/tests/unit/test_subtract_algorithm.py
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/lessons/modals/RescheduleTimeSelectionModal.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/booking/components/__tests__/time-selection-modal-duration-change.spec.tsx
  frontend/lib/time/index.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(cache): apply min_advance filter at read time, not cache time
  backend/app/routes/v1/public.py
  backend/app/services/availability_service.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(lessons): real-time status display and tab filtering for student/instructor views
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/instructor_bookings.py
  backend/openapi/openapi.json
  frontend/__tests__/lessons/LessonCard.test.tsx
  frontend/__tests__/lessons/LessonStatus.test.tsx
  frontend/__tests__/pages/lessons/MyLessonsPage.test.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/components/lessons/LessonCard.tsx
  frontend/components/lessons/LessonStatus.tsx
  frontend/hooks/queries/useInstructorBookings.ts
  frontend/lib/timezone/formatBookingTime.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix(mypy): resolve booking time helper typing and public availability wrapper
  backend/app/routes/v1/public.py
  backend/app/services/booking_service.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(instructor): add founding instructor application form
  frontend/app/(auth)/instructor/onboarding/account-setup/components/BioCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/ServiceAreasCard.tsx
  frontend/app/(public)/instructor/apply/page.tsx
  frontend/app/(public)/instructor/join/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix: update health endpoint paths to /api/v1/health across scripts and configs
  backend/scripts/dev/test_https_auth.py
  backend/scripts/dev/test_login_formats.py
  backend/scripts/dev/test_rate_limiting.py
  backend/scripts/test_catalog_system.py
  backend/scripts/test_rbac_permissions.py
  backend/scripts/verify_beta_production.sh
  backend/scripts/verify_production_performance_clean.sh
  backend/scripts/verify_redis_migration.py
  backend/test_prometheus_metrics.py
  frontend/app/(admin)/admin/beta/settings/page.tsx
  frontend/e2e/env-contract.spec.ts
  frontend/middleware.ts
  monitoring/test-alerts.sh
  render.yaml
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(e2e): mock past bookings list endpoint to match query params
  frontend/e2e/tests/instructor.bookings-list.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(instructor-apply): add separate name fields and age group selection
  frontend/app/(public)/instructor/apply/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(payments): add booking-level mutex to prevent race conditions
  backend/app/core/booking_lock.py
  backend/app/routes/v1/admin/bookings.py
  backend/app/routes/v1/admin/refunds.py
  backend/app/routes/v1/bookings.py
  backend/app/routes/v1/instructor_bookings.py
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment_tasks.py
  backend/tests/integration/services/test_booking_service_comprehensive.py
  backend/tests/tasks/test_payment_tasks.py
  docs/stripe/instainstru-payment-policy-v2.1.md
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(booking-service): satisfy mypy in lock timing helpers
  backend/app/services/booking_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

test(payments): add Phase 0 booking mutex regression tests
  backend/app/tasks/payment_tasks.py
  backend/tests/integration/test_booking_mutex_endpoints.py
  backend/tests/integration/test_booking_mutex_tasks.py
  backend/tests/integration/test_booking_race_conditions.py
  backend/tests/integration/test_fresh_read_guardrails.py
  backend/tests/unit/core/test_booking_lock.py
  docs/stripe/instainstru-payment-policy-v2.1.1.md
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
Due: none

feat(payments): implement Phase 3 credit reservation model per v2.1.1
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/003_availability_booking.py
  backend/alembic/versions/006_platform_features.py
  backend/app/models/booking.py
  backend/app/models/payment.py
  backend/app/repositories/credit_repository.py
  backend/app/repositories/factory.py
  backend/app/repositories/payment_repository.py
  backend/app/routes/v1/bookings.py
  backend/app/schemas/booking.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/admin_booking_service.py
  backend/app/services/admin_refund_service.py
  backend/app/services/booking_service.py
  backend/app/services/credit_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment_tasks.py
  backend/openapi/openapi.json
  backend/tests/integration/test_booking_completion_milestones.py
  backend/tests/integration/test_credit_reservation.py
  backend/tests/models/test_payment_models.py
  backend/tests/repositories/test_payment_repository.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_wallet_milestones.py
  backend/tests/unit/test_base_service_metrics.py
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
  frontend/app/(admin)/admin/payments/components/BookingsTable.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(reschedule): reuse existing payment when already captured/authorized
  backend/app/routes/v1/bookings.py
  backend/app/services/booking_service.py
  backend/tests/routes/test_bookings.py
  docs/stripe/docs-stripe-cancellation-policy.md
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(payments): implement Phase 2 LOCK anti-gaming mechanism per v2.1.1
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/booking.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/search_history_repository.py
  backend/app/routes/v1/bookings.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/tasks/payment_tasks.py
  backend/openapi/openapi.json
  backend/tests/integration/test_lock_mechanism.py
  backend/tests/routes/test_bookings.py
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
  frontend/app/(admin)/admin/payments/hooks/useAdminBookings.ts
  frontend/features/shared/types/booking.ts
  frontend/features/student/payment/types/index.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(payments): implement Phase 4 no-show handling per v2.1.1
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/booking.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/admin/bookings.py
  backend/app/routes/v1/bookings.py
  backend/app/schemas/admin_bookings.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/payment_tasks.py
  backend/openapi/openapi.json
  backend/tests/integration/test_booking_mutex_endpoints.py
  backend/tests/integration/test_no_show_handling.py
  docs/stripe/payment-policy-v2.1-compliance-checklist.md
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/hooks/useMyLessons.ts
  frontend/src/api/generated/admin-bookings/admin-bookings.ts
  frontend/src/api/generated/bookings-v1/bookings-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/services/bookings.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(payments): implement Phase 1 critical money fixes per v2.1.1
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/booking.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment_tasks.py
  backend/openapi/openapi.json
  backend/tests/integration/test_cancel_lt12_split.py
  backend/tests/integration/test_instructor_cancel_refund.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/test_transaction_isolation.py
  backend/tests/unit/tasks/test_auth_retry_deadline.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console
