Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


ci(e2e): fix invite job env duplication
  .github/workflows/e2e-tests.yml
Due: none

Dual-origin hardening: CORS shim + invite e2e + CI job (#58)
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  README.md
  backend/.env.example
  backend/app/core/constants.py
  backend/app/core/database_config.py
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/integration/routes/test_auth_cookie_policy.py
  backend/tests/integration/routes/test_cors_beta_local.py
  backend/tests/monitoring/test_metric_labels.py
  docs/DEVELOPMENT.md
  docs/session-handoffs/session-handoff-v111.md
  frontend/e2e/invites.invite-redemption.spec.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-repository-pattern, frontend-no-console

feat(frontend): host-aware API base resolver for local + hosted
  frontend/__tests__/apiBase.test.ts
  frontend/lib/apiBase.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(frontend): central http wrapper with credentials:include
  frontend/app/(shared)/login/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/features/shared/hooks/useAuth.tsx
  frontend/hooks/queries/useAuth.ts
  frontend/lib/http.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

docs(dev): local host entries and behavior
  docs/DEVELOPMENT.md
Due: none

ci(e2e): opt-in auth smoke job (workflow_dispatch)
  .github/workflows/e2e-tests.yml
Due: none

test(e2e): SameSite smoke /auth/me for localhost & beta-local
  frontend/e2e/auth.samesite-me.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

refactor(frontend): expose resolveApiBase for unit tests
  frontend/lib/apiBase.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(frontend): rewrite apiBase tests to use pure resolver
  frontend/__tests__/apiBase.test.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

ci: add docker debug instrumentation
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/privacy-audit.yml
Due: none

ci: authenticate Docker Hub pulls
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/privacy-audit.yml
  README.md
  docs/DEVELOPMENT.md
Due: none

ci: manage docker services manually
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
Due: none

ci(docker): remove optional Docker Hub login steps (transient issue; no longer needed)
  .github/workflows/e2e-tests.yml
  README.md
  docs/DEVELOPMENT.md
Due: none

ci: revert Docker Hub login fallback
  .github/workflows/pre-commit.yml
  .github/workflows/privacy-audit.yml
Due: none

ci(workflows): revert manual container startup to services blocks (restore pre-investigation state)
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
Due: none

Dev parity: host-aware API base + SameSite /auth/me smoke (#61)
  .github/workflows/e2e-tests.yml
  .github/workflows/privacy-audit.yml
  docs/DEVELOPMENT.md
  frontend/__tests__/apiBase.test.ts
  frontend/app/(shared)/login/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/e2e/auth.samesite-me.spec.ts
  frontend/features/shared/hooks/useAuth.tsx
  frontend/hooks/queries/useAuth.ts
  frontend/lib/apiBase.ts
  frontend/lib/http.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(referrals): non-stacking UX + admin unlocker health; fix api-contracts hook & update OpenAPI expected
  backend/app/api/dependencies/auth.py
  backend/app/core/database_config.py
  backend/app/events/referral_events.py
  backend/app/ratelimit/headers.py
  backend/app/repositories/address_repository.py
  backend/app/repositories/referral_repository.py
  backend/app/repositories/region_boundary_repository.py
  backend/app/repositories/search_interaction_repository.py
  backend/app/routes/addresses.py
  backend/app/routes/beta.py
  backend/app/routes/database_monitor.py
  backend/app/routes/favorites.py
  backend/app/routes/payments.py
  backend/app/routes/public.py
  backend/app/routes/redis_monitor.py
  backend/app/routes/referrals.py
  backend/app/routes/uploads.py
  backend/app/schemas/__init__.py
  backend/app/schemas/referrals.py
  backend/app/services/beta_service.py
  backend/app/services/image_processing_service.py
  backend/app/services/referral_checkout_service.py
  backend/app/services/referral_fraud.py
  backend/app/services/referral_service.py
  backend/app/services/wallet_service.py
  backend/app/tasks/email.py
  backend/openapi/openapi.json
  backend/tests/referrals/test_api.py
  backend/tests/services/test_referral_admin_health.py
  frontend/app/(admin)/admin/AdminSidebar.tsx
  frontend/app/(admin)/admin/referrals/__tests__/referrals-page.spec.tsx
  frontend/app/(admin)/admin/referrals/page.tsx
  frontend/components/referrals/CheckoutApplyReferral.tsx
  frontend/components/referrals/__tests__/checkout-apply.spec.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/payment-section.spec.tsx
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

chore(typing): restore PEP-604 unions in recent app-module edits; pin pre-commit to python3.11
  .pre-commit-config.yaml
  backend/app/api/dependencies/auth.py
  backend/app/core/database_config.py
  backend/app/events/referral_events.py
  backend/app/ratelimit/headers.py
  backend/app/repositories/address_repository.py
  backend/app/repositories/region_boundary_repository.py
  backend/app/repositories/search_interaction_repository.py
  backend/app/routes/addresses.py
  backend/app/routes/beta.py
  backend/app/routes/database_monitor.py
  backend/app/routes/favorites.py
  backend/app/routes/payments.py
  backend/app/routes/public.py
  backend/app/routes/redis_monitor.py
  backend/app/routes/referrals.py
  backend/app/routes/uploads.py
  backend/app/services/beta_service.py
  backend/app/services/image_processing_service.py
  backend/app/services/referral_checkout_service.py
  backend/app/services/referral_fraud.py
  backend/app/services/referral_service.py
  backend/app/services/wallet_service.py
  backend/app/tasks/email.py
  backend/scripts/check_api_contracts_wrapper.sh
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

ci(pre-commit/backend-quality): use Python 3.12 for hooks and quality gates
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/typing-strict-experimental.yml
  .pre-commit-config.yaml
  backend/scripts/check_api_contracts_wrapper.sh
Due: none

ci(pre-commit/backend-quality): align backend-ci pre-commit job with Python 3.12
  .github/workflows/backend-ci.yml
Due: none

test(referrals): stabilize checkout eligibility assertions
  frontend/e2e/referrals.ui.spec.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(invites): await same-site validate + guard welcome; canonicalize email JOIN URL; clipboard fallback; dedupe submit
  backend/app/core/config.py
  backend/app/routes/beta.py
  backend/app/schemas/base_responses.py
  backend/app/services/beta_service.py
  backend/app/templates/email/beta/invite.html
  backend/tests/routes/test_beta_routes.py
  backend/tests/unit/services/test_beta_service.py
  frontend/app/(admin)/admin/beta/invites/page.tsx
  frontend/app/(public)/instructor/__tests__/join.handler.test.ts
  frontend/app/(public)/instructor/__tests__/join.submit.test.tsx
  frontend/app/(public)/instructor/inviteTypes.ts
  frontend/app/(public)/instructor/join/page.tsx
  frontend/app/(public)/instructor/join/validateInvite.ts
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/lib/__tests__/copy.test.ts
  frontend/lib/copy.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

mypy(strict): pass-1 tightening (-32); lower baseline to 700
  .artifacts/mypy-baseline.txt
  backend/app/middleware/timing_asgi.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/ratelimit/headers.py
  backend/app/routes/beta.py
  backend/app/services/beta_service.py
  backend/app/services/ratings_math.py
  tools/mypy_strict_gate.sh
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

mypy(strict): pass-1 tightening (-32); lower baseline to 700 (#63)
  .artifacts/mypy-baseline.txt
  backend/app/core/config.py
  backend/app/middleware/timing_asgi.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/ratelimit/headers.py
  backend/app/routes/beta.py
  backend/app/schemas/base_responses.py
  backend/app/services/beta_service.py
  backend/app/services/ratings_math.py
  backend/app/templates/email/beta/invite.html
  backend/tests/routes/test_beta_routes.py
  backend/tests/unit/services/test_beta_service.py
  frontend/app/(admin)/admin/beta/invites/page.tsx
  frontend/app/(public)/instructor/__tests__/join.handler.test.ts
  frontend/app/(public)/instructor/__tests__/join.submit.test.tsx
  frontend/app/(public)/instructor/inviteTypes.ts
  frontend/app/(public)/instructor/join/page.tsx
  frontend/app/(public)/instructor/join/validateInvite.ts
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/lib/__tests__/copy.test.ts
  frontend/lib/copy.ts
  tools/mypy_strict_gate.sh
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(invites): await same-site validate + guard welcome; canonicalize email JOIN URL; clipboard fallback; dedupe submit
  backend/app/routes/beta.py
Due: api-contracts, check-timezone-usage

fix(api/contracts): attach EmptyResponse marker for verified 204
  backend/app/routes/beta.py
Due: api-contracts, check-timezone-usage

Canonical invite + welcome guard (#62)
  backend/app/routes/beta.py
Due: api-contracts, check-timezone-usage

mypy(strict): pass-2 tightening (−103); lower baseline to 597 — typing-only changes
  .artifacts/mypy-baseline.txt
  backend/app/core/privacy_auditor.py
  backend/app/core/production_startup.py
  backend/app/errors.py
  backend/app/main.py
  backend/app/models/service_catalog.py
  backend/app/models/types.py
  backend/app/monitoring/production_monitor.py
  backend/app/services/bulk_operation_service.py
  backend/typings/fastapi/__init__.pyi
  tools/mypy_strict_gate.sh
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

mypy(strict): pass-2 tightening (−103); lower baseline to 597 — typing-only changes (#64)
  .artifacts/mypy-baseline.txt
  backend/app/core/privacy_auditor.py
  backend/app/core/production_startup.py
  backend/app/errors.py
  backend/app/main.py
  backend/app/models/service_catalog.py
  backend/app/models/types.py
  backend/app/monitoring/production_monitor.py
  backend/app/services/bulk_operation_service.py
  backend/typings/fastapi/__init__.pyi
  tools/mypy_strict_gate.sh
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(invites): clear iv_* cookie after successful registration; tidy welcome guard state
  backend/app/core/config.py
  backend/app/routes/auth.py
  backend/app/routes/beta.py
  backend/app/utils/invite_cookie.py
  backend/tests/routes/test_beta_routes.py
Due: api-contracts, check-timezone-usage, check-repository-pattern

fix(invites): clear iv_* cookie after successful registration; tidy welcome guard state (#65)
  backend/app/core/config.py
  backend/app/routes/auth.py
  backend/app/routes/beta.py
  backend/app/utils/invite_cookie.py
  backend/tests/routes/test_beta_routes.py
Due: api-contracts, check-timezone-usage, check-repository-pattern

frontend: brand-align onboarding/availability UI; actionable status card; strict type fix
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/payment-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/onboarding/welcome/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/app/(public)/instructor/join/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/app/globals.css
  frontend/components/UserProfileDropdown.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/ImageCropModal.tsx
  frontend/components/user/ProfilePictureUpload.tsx
  frontend/contexts/BetaContext.tsx
  frontend/lib/beta-config.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(routes): resolve Pydantic forward refs on chat endpoints
  backend/app/routes/messages.py
  backend/app/schemas/message_requests.py
Due: api-contracts, check-timezone-usage

test(httpx): remove deprecations (client.cookies; content= for raw payloads)
  backend/tests/integration/routes/test_auth_cookie_policy.py
  backend/tests/integration/routes/test_cors_beta_local.py
Due: none

chore(typing): add service cache typing and concrete return annotations
  backend/app/api/dependencies/services.py
  backend/app/routes/services.py
  backend/app/routes/users_profile_picture.py
Due: api-contracts, check-timezone-usage

Fix chat forward refs, remove httpx warnings, strict −7 (399→392); no baseline changes (#66)
  backend/app/api/dependencies/services.py
  backend/app/routes/messages.py
  backend/app/routes/services.py
  backend/app/routes/users_profile_picture.py
  backend/app/schemas/message_requests.py
  backend/tests/integration/routes/test_auth_cookie_policy.py
  backend/tests/integration/routes/test_cors_beta_local.py
Due: api-contracts, check-timezone-usage

chore(gate): make mypy baseline writing opt-in (--write-baseline); default is check-only
  tools/mypy_strict_gate.sh
Due: none

chore(gate): make mypy baseline writing opt-in (--write-baseline); default is check-only (#67)
  tools/mypy_strict_gate.sh
Due: none

chore(types): typing sweep to reduce mypy strict errors to 390 (no baseline changes)
  backend/app/core/config.py
  backend/app/core/database_config.py
  backend/app/core/exceptions.py
  backend/app/core/timezone_service.py
  backend/app/core/ulid_helper.py
  backend/app/dependencies/permissions.py
  backend/app/main.py
  backend/app/middleware/db_query_counter.py
  backend/app/middleware/https_redirect.py
  backend/app/middleware/monitoring.py
  backend/app/middleware/prometheus_middleware.py
  backend/app/middleware/timing.py
  backend/app/models/types.py
  backend/app/repositories/search_history_repository.py
  backend/app/routes/addresses.py
  backend/app/routes/auth.py
  backend/app/routes/availability_windows.py
  backend/app/routes/instructor_bookings.py
  backend/app/routes/instructors.py
  backend/app/routes/uploads.py
  backend/app/services/address_service.py
  backend/app/services/favorites_service.py
  backend/app/services/geocoding/base.py
  backend/app/services/geocoding/google_provider.py
  backend/app/services/geocoding/mapbox_provider.py
  backend/app/services/geolocation_service.py
  backend/app/services/location_enrichment.py
  backend/app/services/notification_service.py
  backend/app/services/privacy_service.py
  backend/app/services/review_service.py
  backend/app/services/search_history_service.py
  backend/typings/app/__init__.pyi
  backend/typings/app/core/__init__.pyi
  backend/typings/app/core/database_config.pyi
  backend/typings/app/database.pyi
  backend/typings/pydantic_settings/__init__.pyi
  backend/typings/starlette/__init__.pyi
  backend/typings/starlette/middleware/__init__.pyi
  backend/typings/starlette/middleware/base/__init__.pyi
  backend/typings/starlette/middleware/gzip/__init__.pyi
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore(types): typing sweep to reduce mypy strict errors to 390 (no baseline changes) (#68)
  backend/app/core/config.py
  backend/app/core/database_config.py
  backend/app/core/exceptions.py
  backend/app/core/timezone_service.py
  backend/app/core/ulid_helper.py
  backend/app/dependencies/permissions.py
  backend/app/main.py
  backend/app/middleware/db_query_counter.py
  backend/app/middleware/https_redirect.py
  backend/app/middleware/monitoring.py
  backend/app/middleware/prometheus_middleware.py
  backend/app/middleware/timing.py
  backend/app/models/types.py
  backend/app/repositories/search_history_repository.py
  backend/app/routes/addresses.py
  backend/app/routes/auth.py
  backend/app/routes/availability_windows.py
  backend/app/routes/instructor_bookings.py
  backend/app/routes/instructors.py
  backend/app/routes/uploads.py
  backend/app/services/address_service.py
  backend/app/services/favorites_service.py
  backend/app/services/geocoding/base.py
  backend/app/services/geocoding/google_provider.py
  backend/app/services/geocoding/mapbox_provider.py
  backend/app/services/geolocation_service.py
  backend/app/services/location_enrichment.py
  backend/app/services/notification_service.py
  backend/app/services/privacy_service.py
  backend/app/services/review_service.py
  backend/app/services/search_history_service.py
  backend/typings/app/__init__.pyi
  backend/typings/app/core/__init__.pyi
  backend/typings/app/core/database_config.pyi
  backend/typings/app/database.pyi
  backend/typings/pydantic_settings/__init__.pyi
  backend/typings/starlette/__init__.pyi
  backend/typings/starlette/middleware/__init__.pyi
  backend/typings/starlette/middleware/base/__init__.pyi
  backend/typings/starlette/middleware/gzip/__init__.pyi
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics
