Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


ci(privacy): add fallback to docker pull for digest resolution
  .github/workflows/privacy-db-image-bump.yml
Due: none

ci(privacy): add fallback to docker pull for digest resolution (#14)
  .github/workflows/privacy-db-image-bump.yml
Due: none

ci(privacy): add GHCR login + packages:read + PAT env to bump workflow
  .github/workflows/privacy-db-image-bump.yml
Due: none

ci(privacy): add GHCR login + packages:read + PAT env to bump workflow (#15)
  .github/workflows/privacy-db-image-bump.yml
Due: none

docs(guardrails): add 1-page runbook (privacy workflow, bump flow, GHCR, troubleshooting, trunk dev)
  docs/engineering/guardrails_runbook.md
Due: none

docs(guardrails): add quickref for FE guardrails (dep-cruise, ts-prune, typecov)
  docs/engineering/guardrails.md
Due: none

backend(strict): forbid extras + validate_assignment on uploads DTOs; mypy strict; add extra-field test
  backend/app/routes/uploads.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_uploads_strict.py
Due: api-contracts, check-timezone-usage

backend(strict): forbid extras + validate_assignment on uploads DTOs; mypy strict; add extra-field test (#16)
  backend/app/routes/uploads.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_uploads_strict.py
Due: api-contracts, check-timezone-usage

strict(messages,users_profile_picture): forbid extras + validate_assignment; mypy strict overrides; add 422 extra-field test
  backend/app/routes/messages.py
  backend/app/routes/users_profile_picture.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_messages_strict.py
Due: api-contracts, check-timezone-usage

frontend(beta): point admin invite fetches at /api routes
  backend/tests/integration/routes/test_messages_strict.py
  frontend/app/(admin)/admin/beta/invites/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(messages): fix invalid import in strict test
  backend/tests/integration/routes/test_messages_strict.py
Due: none

feat(frontend): public-env verify now filters changed files and prints fix hint
  frontend/scripts/verify-public-env.mjs
Due: frontend-public-env

feat: extend FE public-env verify (diff-aware + hint); add env-contract 429 gated check; strict(gated): forbid extras + mypy strict + extra-field test
  backend/app/routes/gated.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_gated_strict.py
  frontend/e2e/env-contract.spec.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

frontend(signup): wait for auth context before redirecting new users
  frontend/app/(shared)/signup/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

docs(runbook): backend strictness slice playbook; env-contract 429 (gated); FE public-env diff verify
  docs/engineering/guardrails_runbook.md
Due: none

chore: commit outstanding changes; include pre-commit auto-fixes
  backend/tests/integration/routes/test_gated_strict.py
  backend/tests/integration/routes/test_messages_strict.py
Due: none

test(e2e): env-contract 429 check expects exactly one deduped signal (gated)
  frontend/e2e/env-contract.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

strict(availability_windows): forbid extras + validate_assignment on DTOs; mypy strict; add strictness tests
  backend/app/routes/availability_windows.py
  backend/app/schemas/availability_window.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_availability_windows_strict.py
Due: api-contracts, check-timezone-usage

chore: finalize strictness slice and pre-commit fixes (no-op cleanup)
  backend/app/routes/availability_windows.py
  backend/app/schemas/availability_window.py
  backend/tests/integration/routes/test_availability_windows_strict.py
Due: api-contracts, check-timezone-usage

strict(search_history): Pydantic extra='forbid' + validate_assignment; mypy strict; reject extra fields (422)
  backend/app/schemas/search_history.py
  backend/app/schemas/search_history_responses.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_search_history_strict.py
Due: none

docs(runbook): note strict 429 (=1) assertion and gating via E2E_RATE_LIMIT_TEST
  docs/engineering/guardrails_runbook.md
Due: none

test(env-contract): log dedupe key and limited count for 429 triage (gated)
  frontend/e2e/env-contract.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(search_history): remove unused STRICT_SCHEMAS import and trailing newline
  backend/app/schemas/search_history.py
  backend/tests/integration/routes/test_search_history_strict.py
Due: none

strict(gated+availability): 422 on unexpected query params; back-compat TimeSlot.is_available optional
  backend/app/routes/gated.py
  backend/app/schemas/availability_window.py
Due: api-contracts, check-timezone-usage

test(env-contract): gated assertions for X-Site-Mode/X-Phase and CORS allow-credentials/origin
  backend/app/routes/addresses.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_addresses_strict.py
  frontend/e2e/env-contract.spec.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

chore: include pre-commit whitespace/EOL fixes in same commit
  backend/tests/integration/routes/test_addresses_strict.py
Due: none

strict(services): Pydantic extra='forbid' + validate_assignment; mypy strict; reject unexpected fields\n\nstrict(instructors): forbid extras; validate_assignment; mypy strict; 422 on extra fields
  backend/app/schemas/instructor.py
  backend/app/schemas/service_catalog.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_instructors_strict.py
  backend/tests/integration/routes/test_services_strict.py
Due: none

ci(env-contract): accept inputs for E2E_HEADERS_TEST and E2E_RATE_LIMIT_TEST; install browsers; run e2e file\n\nstrict(beta): forbid extras on BetaSettingsPayload; mypy strict; add 422 test
  .github/workflows/env-contract.yml
  backend/app/routes/beta.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_beta_strict.py
Due: api-contracts, check-timezone-usage

ci(env-contract): accept PLAYWRIGHT_BASE_URL input; Node 22; browsers install\n\nstrict(payments): forbid extras on response DTOs; mypy strict; add skip-aware test
  .github/workflows/env-contract.yml
  backend/app/routes/payments.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_payments_strict.py
Due: api-contracts, check-timezone-usage

tests(strict): fix endpoints and TestClient usage; align TimeSlot (no is_available)
  backend/app/schemas/availability_window.py
  backend/tests/integration/routes/test_addresses_strict.py
  backend/tests/integration/routes/test_instructors_strict.py
  backend/tests/integration/routes/test_services_strict.py
Due: none

strict(bookings): Pydantic extra='forbid' + validate_assignment; mypy strict; 422 on extra fields (skip-aware)
  backend/app/schemas/booking.py
  backend/app/schemas/booking_responses.py
  backend/pyproject.toml
  backend/tests/integration/routes/test_bookings_strict.py
Due: none

test(e2e): add staff gate data-testids and Playwright bypass; env-contract inputs/env for preview/beta; docs how-to
  .github/workflows/env-contract.yml
  docs/engineering/guardrails_runbook.md
  frontend/app/staff-login/page.tsx
  frontend/e2e/env-contract.spec.ts
  frontend/e2e/utils/gate.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

schema(availability): accept deprecated on TimeSlot (ignored) for test BC
  backend/app/schemas/availability_window.py
Due: none

tests(bookings): align /bookings/check-availability payload with strict DTO (drop selected_duration)
  backend/tests/routes/test_new_api_format.py
Due: none

schema(bookings): declare optional in AvailabilityCheckResponse (keeps strictness)
  backend/app/schemas/booking.py
Due: none

tests(legacy): acknowledge deprecated TimeSlot.is_available (present but ignored)
  backend/tests/schemas/test_schema_architecture.py
Due: none

tests(messages): dedupe fixtures/imports in strictness test; keep single skip-aware suite
  backend/app/schemas/message_requests.py
  backend/app/schemas/payment_schemas.py
  backend/app/schemas/review.py
  backend/app/tasks/codebase_metrics.py
  backend/pyproject.toml
  backend/scripts/codebase_metrics.py
  backend/tests/integration/routes/test_messages_strict.py
  backend/tests/integration/routes/test_payments_requests_strict.py
  backend/tests/integration/routes/test_reviews_strict.py
  metrics_history.json
Due: none

ci(metrics): guard against shallow snapshots and restore commit baseline
  backend/app/tasks/codebase_metrics.py
  backend/scripts/codebase_metrics.py
  backend/tests/scripts/test_metrics_history.py
  docs/engineering/guardrails_runbook.md
  metrics_history.json
Due: none

ci(metrics): guard against shallow snapshots and restore commit baseline
  backend/tests/scripts/test_metrics_history.py
  metrics_history.json
Due: none
