Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-time-to-minutes:
  name: Check time-to-minutes conversions
  entry: python backend/scripts/check_time_to_minutes.py
  language: python
  pass_filenames: true
  description: Block ad-hoc time-to-minutes conversions; use time_to_minutes()

check-utc-timezone:
  name: Check UTC timezone usage
  entry: python backend/scripts/check_utc_timezone.py
  language: python

check-timezone-patterns:
  name: Check timezone patterns
  entry: python backend/scripts/check_timezone_patterns.py
  language: python
  pass_filenames: true

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

check-router-sync:
  name: Check router sync (main.py vs openapi_app.py)
  entry: python backend/scripts/check_router_sync.py
  language: python
  pass_filenames: false
  description: Ensures all routers in main.py are also in openapi_app.py for OpenAPI completeness

check-route-response-models:
  name: Check route response models
  entry: python backend/scripts/check_route_response_models.py
  language: python
  pass_filenames: false
  description: Ensures all routes have response_model or status_code=204

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

check-stripe-transaction-pattern:
  name: Check Stripe calls outside transactions
  entry: python3 backend/scripts/check_stripe_transaction_pattern.py
  language: system
  pass_filenames: false
  description: Ensure Stripe API calls are outside DB transactions (3-phase pattern)

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

feat(mcp): rewrite OAuth metadata endpoints for browser client compatibility
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: check-timezone-patterns, mypy-mcp-server

feat(mcp): dynamic OAuth metadata for multi-environment support
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): add JWT claims logging and robust email extraction
  mcp-server/src/instainstru_mcp/server.py
Due: check-timezone-patterns, mypy-mcp-server

feat(mcp): fetch email from WorkOS userinfo endpoint for access control
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: check-timezone-patterns, mypy-mcp-server

feat(mcp): add ChatGPT OAuth compatibility - securitySchemes and MCP auth errors
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: check-timezone-patterns, mypy-mcp-server

feat(mcp): implement self-issued OAuth with authorization code flow
  .pre-commit-config.yaml
  backend/requirements.txt
  backend/scripts/check_timezone_usage.py
  frontend/package-lock.json
  frontend/package.json
  mcp-server/pyproject.toml
  mcp-server/src/instainstru_mcp/config.py
  mcp-server/src/instainstru_mcp/oauth/__init__.py
  mcp-server/src/instainstru_mcp/oauth/crypto.py
  mcp-server/src/instainstru_mcp/oauth/endpoints.py
  mcp-server/src/instainstru_mcp/oauth/models.py
  mcp-server/src/instainstru_mcp/oauth/storage.py
  mcp-server/src/instainstru_mcp/oauth/workos_client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/oauth/test_crypto.py
  mcp-server/tests/oauth/test_endpoints.py
  mcp-server/tests/oauth/test_models.py
  mcp-server/tests/oauth/test_storage.py
  mcp-server/tests/test_auth_middleware.py
  metrics_history.json
Due: frontend-public-env, check-time-to-minutes, check-timezone-patterns, mypy-mcp-server

fix(mcp): add OIDC discovery and userinfo endpoints for ChatGPT compatibility
  mcp-server/src/instainstru_mcp/oauth/endpoints.py
  mcp-server/src/instainstru_mcp/server.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): accept dynamically registered clients without persistent storage
  mcp-server/src/instainstru_mcp/oauth/endpoints.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): complete OAuth flow fixes for ChatGPT compatibility
  mcp-server/src/instainstru_mcp/oauth/workos_client.py
  mcp-server/tests/oauth/test_workos_client.py
Due: check-timezone-patterns, mypy-mcp-server

feat(mcp): switch to WorkOS proxy for OAuth (native MCP support)
  mcp-server/src/instainstru_mcp/oauth/endpoints.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/oauth/test_endpoints.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): accept any valid WorkOS JWT without email allowlist
  mcp-server/src/instainstru_mcp/server.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): normalize session_id to include dashes for MCP SDK compatibility
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): switch from SSE to streamable-http transport for better proxy compatibility
  mcp-server/src/instainstru_mcp/server.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): stateless streamable-http + auth caching for ChatGPT compatibility
  mcp-server/src/instainstru_mcp/oauth/endpoints.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/oauth/test_endpoints.py
  mcp-server/tests/test_auth_middleware.py
  metrics_history.json
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): disable redirect_slashes to prevent /mcp → /mcp/ 404
  mcp-server/src/instainstru_mcp/server.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): serve FastMCP at root with default /mcp path (Pattern A)
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): remove response buffering for streaming compatibility
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): resolve tools/list hang with json_response and path fixes
  mcp-server/pyproject.toml
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): increase backend timeout and add regression tests
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/tests/test_auth_middleware.py
Due: check-timezone-patterns, mypy-mcp-server

docs: session-handoff-v128
  docs/session-handoffs/session-handoff-v128.md
Due: none

fix(security): harden service token comparison with timing-safe logging
  backend/app/middleware/csrf_asgi.py
  backend/tests/unit/middleware/test_csrf_asgi_coverage.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

feat(auth): add OAuth2 M2M JWT verification for service-to-service auth
  backend/app/core/config.py
  backend/app/m2m_auth.py
  backend/app/middleware/csrf_asgi.py
  backend/tests/unit/auth/test_m2m_auth.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-async-blocking

feat(mcp): add OAuth2 Client Credentials token fetching
  mcp-server/src/instainstru_mcp/auth.py
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/config.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth.py
  mcp-server/tests/test_client.py
Due: check-timezone-patterns, mypy-mcp-server

feat(auth): implement Principal-based MCP authentication with M2M JWT support
  backend/app/dependencies/mcp_auth.py
  backend/app/m2m_auth.py
  backend/app/principal.py
  backend/app/routes/v1/admin/mcp/founding.py
  backend/app/routes/v1/admin/mcp/instructors.py
  backend/app/routes/v1/admin/mcp/invites.py
  backend/app/routes/v1/admin/mcp/metrics.py
  backend/app/routes/v1/admin/mcp/search.py
  backend/app/schemas/mcp.py
  backend/app/services/mcp_invite_service.py
  backend/tests/routes/v1/admin/mcp/test_invites.py
  backend/tests/unit/auth/test_m2m_auth.py
  backend/tests/unit/auth/test_principal.py
  backend/tests/unit/dependencies/test_mcp_auth.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts

fix(schema): expand audit_log.actor_id to VARCHAR(64) for M2M client IDs
  backend/alembic/versions/001_core_foundation.py
  backend/app/models/audit_log.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

feat(mcp): add Celery monitoring tools for admin copilot
  backend/.artifacts/api.expected.d.ts
  backend/app/core/config.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/admin/mcp/celery.py
  backend/app/schemas/celery_admin.py
  backend/app/services/celery_admin_service.py
  backend/openapi/openapi.json
  backend/tests/routes/v1/admin/mcp/test_celery.py
  backend/tests/unit/auth/test_m2m_auth.py
  backend/tests/unit/services/test_celery_admin_service.py
  docs/session-handoffs/session-handoff-v128.md
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-celery/mcp-admin-celery.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/celery.py
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(flower): read lowercase redis_url env var for broker connection
  backend/flower_celery_standalone.py
Due: check-time-to-minutes, check-timezone-patterns

feat(mcp): add Tier 2 Celery monitoring tools
  backend/app/core/config.py
  backend/app/dependencies/mcp_auth.py
  backend/app/routes/v1/admin/mcp/celery.py
  backend/app/schemas/celery_admin.py
  backend/app/services/celery_admin_service.py
  backend/tests/routes/v1/admin/mcp/test_celery.py
  backend/tests/unit/core/test_core_config_coverage.py
  backend/tests/unit/services/test_celery_admin_service.py
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/tools/celery.py
  metrics_history.json
  render.yaml
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts

feat(mcp): add admin operations tools for bookings, payments, users
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/__init__.py
  backend/app/repositories/admin_ops_repository.py
  backend/app/routes/v1/admin/mcp/operations.py
  backend/app/schemas/admin_ops.py
  backend/app/services/admin_ops_service.py
  backend/app/services/celery_admin_service.py
  backend/tests/routes/v1/admin/mcp/test_operations.py
  backend/tests/unit/services/test_admin_ops_service.py
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/operations.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts

fix(admin-ops): fix category property access and add comprehensive tests
  backend/app/services/admin_ops_service.py
  backend/tests/integration/services/test_admin_ops_integration.py
  backend/tests/unit/repositories/test_admin_ops_repository_errors.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(deps): update Next.js to 16.1.6 for security vulnerabilities
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/generated/mcp-admin-operations/mcp-admin-operations.ts
Due: frontend-public-env, frontend-no-console, frontend-no-raw-api-strings

fix(mcp): address PR review findings
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/admin_ops_repository.py
  backend/app/routes/v1/admin/mcp/operations.py
  backend/app/schemas/admin_ops.py
  backend/app/services/admin_ops_service.py
  backend/app/services/celery_admin_service.py
  backend/openapi/openapi.json
  backend/tests/integration/services/test_admin_ops_integration.py
  backend/tests/unit/repositories/test_admin_ops_repository_errors.py
  backend/tests/unit/services/test_admin_ops_service.py
  backend/tests/unit/services/test_celery_admin_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-celery/mcp-admin-celery.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(mcp): use actual platform fees instead of 15% estimate
  backend/app/repositories/admin_ops_repository.py
  backend/app/services/admin_ops_service.py
  backend/tests/integration/services/test_admin_ops_integration.py
  backend/tests/unit/repositories/test_admin_ops_repository_errors.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(e2e): isolate booking payment test from global session
  frontend/e2e/tests/booking-scheduled-payment.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(mcp): Celery monitoring + Admin operations tools (#241)
  backend/.artifacts/api.expected.d.ts
  backend/app/core/config.py
  backend/app/dependencies/mcp_auth.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/__init__.py
  backend/app/repositories/admin_ops_repository.py
  backend/app/routes/v1/admin/mcp/celery.py
  backend/app/routes/v1/admin/mcp/operations.py
  backend/app/schemas/admin_ops.py
  backend/app/schemas/celery_admin.py
  backend/app/services/admin_ops_service.py
  backend/app/services/celery_admin_service.py
  backend/openapi/openapi.json
  backend/tests/integration/services/test_admin_ops_integration.py
  backend/tests/routes/v1/admin/mcp/test_celery.py
  backend/tests/routes/v1/admin/mcp/test_operations.py
  backend/tests/unit/auth/test_m2m_auth.py
  backend/tests/unit/core/test_core_config_coverage.py
  backend/tests/unit/repositories/test_admin_ops_repository_errors.py
  backend/tests/unit/services/test_admin_ops_service.py
  backend/tests/unit/services/test_celery_admin_service.py
  docs/session-handoffs/session-handoff-v128.md
  frontend/e2e/tests/booking-scheduled-payment.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-celery/mcp-admin-celery.ts
  frontend/src/api/generated/mcp-admin-operations/mcp-admin-operations.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/celery.py
  mcp-server/src/instainstru_mcp/tools/operations.py
  metrics_history.json
  render.yaml
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(mcp): correct Flower API response parsing for worker status
  backend/app/services/celery_admin_service.py
  backend/tests/routes/v1/admin/mcp/test_celery.py
  backend/tests/unit/services/test_celery_admin_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

feat(mcp): add service catalog and invite history tools
  backend/.artifacts/api.expected.d.ts
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/beta_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/routes/v1/admin/mcp/invites.py
  backend/app/routes/v1/admin/mcp/services.py
  backend/app/schemas/mcp.py
  backend/app/services/mcp_invite_service.py
  backend/app/services/mcp_service_catalog_service.py
  backend/openapi/openapi.json
  backend/tests/routes/v1/admin/mcp/test_invites.py
  backend/tests/routes/v1/admin/mcp/test_services.py
  backend/tests/test_routes_invariants.py
  backend/tests/unit/repositories/test_beta_invite_repository.py
  backend/tests/unit/repositories/test_service_catalog_repository_mcp.py
  backend/tests/unit/services/test_mcp_invite_service.py
  backend/tests/unit/services/test_mcp_service_catalog_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-invites/mcp-admin-invites.ts
  frontend/src/api/generated/mcp-admin-services/mcp-admin-services.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/invites.py
  mcp-server/src/instainstru_mcp/tools/services.py
  mcp-server/tests/test_tools.py
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

feat(mcp): add observability tools for Grafana Cloud
  .pre-commit-config.yaml
  mcp-server/pyproject.toml
  mcp-server/src/instainstru_mcp/__init__.py
  mcp-server/src/instainstru_mcp/config.py
  mcp-server/src/instainstru_mcp/grafana_client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/observability.py
  mcp-server/tests/oauth/test_endpoints.py
  mcp-server/tests/oauth/test_workos_client.py
  mcp-server/tests/test_auth.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_observability.py
  mcp-server/tests/test_server_utils.py
  mcp-server/tests/test_tools.py
  metrics_history.json
Due: check-timezone-patterns, mypy-mcp-server

fix(mcp): allow OAuth-authenticated reads without explicit scope claims
  mcp-server/src/instainstru_mcp/tools/observability.py
  mcp-server/tests/test_observability.py
Due: check-timezone-patterns, mypy-mcp-server

feat(mcp): add semantic metrics layer for natural language observability
  mcp-server/pyproject.toml
  mcp-server/src/instainstru_mcp/tools/metrics.py
  mcp-server/src/instainstru_mcp/tools/observability.py
  mcp-server/tests/oauth/test_crypto.py
  mcp-server/tests/oauth/test_endpoints.py
  mcp-server/tests/oauth/test_storage.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_observability.py
  mcp-server/tests/test_server_utils.py
  mcp-server/tests/test_tools.py
  metrics_history.json
Due: check-timezone-patterns, mypy-mcp-server

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

