Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


chore(ci): upgrade Claude workflows to Opus 4.6
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

git commit -m "feat: 3-level taxonomy schema + seed data (Phase 1-2)
  backend/alembic/versions/002_instructor_system.py
  backend/alembic/versions/006_platform_features.py
  backend/app/models/__init__.py
  backend/app/models/filter.py
  backend/app/models/service_catalog.py
  backend/app/models/subcategory.py
  backend/app/repositories/analytics_repository.py
  backend/app/repositories/badge_repository.py
  backend/app/repositories/communication_repository.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/repositories/mcp_instructor_repository.py
  backend/app/repositories/search_analytics_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/services/instructor_service.py
  backend/scripts/generate_openai_embeddings.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_data.py
  backend/scripts/seed_data/seed_taxonomy.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

feat(db): add taxonomy v2 schema — 3-level hierarchy + filter system
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/filter.py
  backend/app/models/instructor.py
  backend/app/models/service_catalog.py
  backend/app/models/subcategory.py
  backend/app/schemas/mcp.py
  backend/app/schemas/service_catalog.py
  backend/app/schemas/service_catalog_responses.py
  backend/scripts/seed_catalog_only.py
  backend/tests/integration/test_taxonomy_v2_migration.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking, audit-untyped-dicts

feat(taxonomy): Phase 7 — frontend UI components for 3-level taxonomy
  frontend/__tests__/lessons/modals/CancelWarningModal.test.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(public)/instructor/apply/page.tsx
  frontend/app/(public)/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/search/filters/__tests__/PriceFilter.test.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/features/student/badges/__tests__/StudentBadgesSection.spec.tsx
  frontend/hooks/queries/__tests__/useTaxonomy.test.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(taxonomy): Phase 6 — frontend types, API client, and hooks for 3-level taxonomy
  backend/.artifacts/api.expected.d.ts
  backend/openapi/openapi.json
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/e2e/fixtures/api-mocks.ts
  frontend/features/shared/api/__tests__/client.fetch.test.ts
  frontend/features/shared/api/client.ts
  frontend/features/shared/api/types.ts
  frontend/hooks/queries/__tests__/useServices.test.tsx
  frontend/hooks/queries/useServices.ts
  frontend/hooks/queries/useTaxonomy.ts
  frontend/lib/react-query/queryClient.ts
  frontend/lib/services/assetService.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/services-v1/services-v1.ts
  frontend/src/api/queryKeys.ts
  frontend/types/api.ts
  frontend/types/generated/api.d.ts
  frontend/types/instructor.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(taxonomy): Phase 5 — search system for 3-level taxonomy
  backend/app/repositories/retriever_repository.py
  backend/app/services/search/embedding_service.py
  backend/app/services/search/llm_parser.py
  backend/app/services/search/llm_schema.py
  backend/app/services/search/patterns.py
  backend/app/services/search/query_parser.py
  backend/tests/unit/services/search/test_embedding_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

feat(taxonomy): Phase 4 — services + routes for 3-level taxonomy
  backend/app/routes/v1/services.py
  backend/app/schemas/service_catalog_responses.py
  backend/app/services/instructor_service.py
  backend/app/services/mcp_service_catalog_service.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts

feat(seed): populate taxonomy v2 — 7 categories, 77 subcategories, 224 services
  backend/scripts/seed_data/seed_taxonomy.py
  backend/tests/conftest.py
  backend/tests/integration/test_taxonomy_v2_seed.py
Due: check-time-to-minutes, check-timezone-patterns

feat(app): taxonomy v2 models, repositories, and schemas
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/__init__.py
  backend/app/repositories/category_repository.py
  backend/app/repositories/factory.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/repositories/subcategory_repository.py
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/schemas/service_catalog.py
  backend/app/schemas/subcategory.py
  backend/app/schemas/taxonomy_filter.py
  backend/openapi/openapi.json
  backend/tests/integration/test_taxonomy_v2_repositories.py
  backend/tests/unit/test_taxonomy_v2_models.py
  backend/tests/unit/test_taxonomy_v2_schemas.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types

feat(taxonomy): Phase 3 — repositories + Pydantic schemas for 3-level taxonomy
  backend/app/repositories/factory.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/schemas/instructor.py
  backend/app/schemas/mcp.py
  backend/app/schemas/service_catalog.py
  backend/app/schemas/service_catalog_responses.py
  backend/app/schemas/subcategory.py
  backend/app/schemas/taxonomy_filter.py
  backend/app/services/instructor_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, audit-untyped-dicts

feat(api): taxonomy v2 browse routes + instructor filter endpoints
  backend/.artifacts/api.expected.d.ts
  backend/app/api/dependencies/services.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/catalog.py
  backend/app/routes/v1/services.py
  backend/app/schemas/service_catalog.py
  backend/app/services/catalog_browse_service.py
  backend/app/services/instructor_service.py
  backend/openapi/openapi.json
  backend/tests/integration/test_catalog_routes.py
  backend/tests/integration/test_instructor_filter_routes.py
  backend/tests/integration/test_instructor_service_all_services.py
  backend/tests/unit/test_catalog_browse_service.py
  backend/tests/unit/test_instructor_filter_service.py
  frontend/app/(public)/instructor/apply/page.tsx
  frontend/hooks/queries/useKidsAvailableServices.ts
  frontend/lib/services/assetService.ts
  frontend/src/api/generated/catalog-v1/catalog-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/services-v1/services-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

test(taxonomy): comprehensive test suite for Phases 1-4 (131 tests)
  backend/app/routes/v1/services.py
  backend/tests/_utils/service_seed.py
  backend/tests/conftest.py
  backend/tests/fixtures/taxonomy_fixtures.py
  backend/tests/integration/api/test_instructors.py
  backend/tests/integration/api/test_taxonomy_routes.py
  backend/tests/models/test_taxonomy_models.py
  backend/tests/repositories/test_factory_taxonomy.py
  backend/tests/repositories/test_service_catalog_repository_taxonomy.py
  backend/tests/repositories/test_taxonomy_filter_repository.py
  backend/tests/unit/schemas/test_taxonomy_schemas.py
  backend/tests/unit/services/test_instructor_service.py
  backend/tests/unit/services/test_instructor_service_taxonomy.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

refactor(instructor_services): drop legacy columns, migrate to taxonomy filters
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/service_catalog.py
  backend/app/repositories/ranking_repository.py
  backend/app/repositories/retriever_repository.py
  backend/app/schemas/instructor.py
  backend/app/schemas/service_catalog.py
  backend/app/services/instructor_service.py
  backend/openapi/openapi.json
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/integration/repositories/test_ranking_repository_coverage.py
  backend/tests/integration/routes/test_instructor_bookings_api.py
  backend/tests/test_service_catalog_enhancements.py
  backend/tests/unit/schemas/test_instructor_schemas.py
  backend/tests/unit/services/test_instructor_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types

feat(backend): wire taxonomy content filters into search + instructors routes
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/search.py
  backend/app/services/instructor_service.py
  backend/app/services/search/nl_search_service.py
  backend/openapi/openapi.json
  backend/tests/repositories/test_taxonomy_filter_repository.py
  backend/tests/routes/test_instructors_filtering.py
  backend/tests/routes/test_instructors_routes_coverage.py
  backend/tests/routes/test_search_routes_additional_coverage.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_search_cache.py
  backend/tests/unit/services/test_instructor_service_filtering.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

fix(frontend): remove lint suppressions and enforce pre-commit guardrails
  .pre-commit-config.yaml
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(admin)/admin/payments/page.tsx
  frontend/app/(admin)/admin/referrals/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/(auth)/student/booking/confirm/page.tsx
  frontend/app/lhci/instructor/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
  frontend/components/messaging/formatters.ts
  frontend/components/modals/ImageCropModal.tsx
  frontend/components/security/TfaModal.tsx
  frontend/components/ui/GlobalBackground.tsx
  frontend/components/user/ProfilePictureUpload.tsx
  frontend/eslint.config.mjs
  frontend/features/shared/hooks/useSWRCustom.ts
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/payment/hooks/usePricingPreview.tsx
  frontend/features/student/payment/types/index.ts
  frontend/lhci.config.js
  frontend/lib/__tests__/deviceContext.test.ts
  frontend/lib/react-query/example-usage.tsx
  frontend/scripts/precommit_no_lint_suppressions.sh
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(homepage): cascading category→subcategory→service navigation
  frontend/app/(public)/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/catalog/CatalogServicePicker.tsx
  frontend/components/catalog/FilterSelectionForm.tsx
  frontend/components/catalog/HomeCatalogCascade.tsx
  frontend/components/catalog/__tests__/CatalogServicePicker.test.tsx
  frontend/components/catalog/__tests__/FilterSelectionForm.test.tsx
  frontend/components/catalog/__tests__/HomeCatalogCascade.test.tsx
  frontend/components/catalog/index.ts
  frontend/hooks/__tests__/useAnalyticsData.test.tsx
  frontend/lib/audience.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(backend): generic content_filters param replaces hardcoded goal/format/style
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/search.py
  backend/app/routes/v1/taxonomy_filter_query.py
  backend/openapi/openapi.json
  backend/tests/routes/test_instructors_filtering.py
  backend/tests/routes/test_instructors_routes_coverage.py
  backend/tests/routes/test_search_routes_additional_coverage.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

fix(seed): correct age groups, update tests, deterministic IDs
  backend/scripts/seed_data/seed_taxonomy.py
  backend/tests/integration/test_taxonomy_v2_seed.py
  metrics_history.json
Due: check-time-to-minutes, check-timezone-patterns

feat(frontend): taxonomy v2 types, API client, and React Query hooks
  frontend/features/shared/api/client.ts
  frontend/features/shared/api/types.ts
  frontend/hooks/queries/__tests__/useCatalogBrowse.test.tsx
  frontend/hooks/queries/useCatalogBrowse.ts
  frontend/lib/react-query/queryClient.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(backend): use explicit cron monitors and category repository
  backend/app/monitoring/sentry_crons.py
  backend/app/services/instructor_service.py
  backend/app/tasks/analytics.py
  backend/app/tasks/privacy_tasks.py
  backend/app/tasks/search_analytics.py
  backend/tests/unit/monitoring/test_sentry_crons.py
  backend/tests/unit/services/test_instructor_service.py
  backend/tests/unit/services/test_instructor_service_taxonomy.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

feat(search): align NL search with taxonomy v2 hierarchy
  backend/app/services/search/llm_parser.py
  backend/app/services/search/llm_schema.py
  backend/app/services/search/patterns.py
  backend/tests/integration/test_search_taxonomy_v2.py
  backend/tests/unit/test_search_taxonomy_v2.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

feat(search): taxonomy-driven skill_level filter + remove manual audience
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(public)/search/__tests__/filterContext.test.ts
  frontend/app/(public)/search/__tests__/map-pins.test.tsx
  frontend/app/(public)/search/filterContext.ts
  frontend/app/(public)/search/page.tsx
  frontend/components/search/FilterBar.tsx
  frontend/components/search/__tests__/FilterBar.test.tsx
  frontend/components/search/filterTypes.ts
  frontend/components/search/filters/MoreFiltersButton.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/components/ui/__tests__/GlobalBackground.test.tsx
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/api/client.ts
  frontend/hooks/queries/__tests__/useInstructorSearch.test.tsx
  frontend/hooks/queries/__tests__/useInstructorSearchInfinite.test.tsx
  frontend/hooks/queries/useInstructorSearch.ts
  frontend/types/api.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(seed): align seed pipeline with taxonomy-only schema
  backend/scripts/calculate_service_analytics.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_data/instructors.yaml
  backend/scripts/seed_data/service_catalog_mapping.yaml
  backend/tests/scripts/test_reset_and_seed_yaml_service_resolution.py
  metrics_history.json
Due: check-time-to-minutes, check-timezone-patterns

feat(onboarding): taxonomy-driven skill selection with subcategory grouping, age grid, and dynamic filters
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/components/catalog/CatalogServicePicker.tsx
  frontend/components/catalog/__tests__/CatalogServicePicker.test.tsx
  frontend/components/catalog/index.ts
  frontend/components/ui/__tests__/GlobalBackground.test.tsx
  frontend/hooks/queries/useServices.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(admin): taxonomy filter diagnostics + Phase 8 test hardening
  frontend/app/(admin)/admin/nl-search/components/TaxonomyDiagnostics.tsx
  frontend/app/(admin)/admin/nl-search/components/__tests__/TaxonomyDiagnostics.test.tsx
  frontend/app/(admin)/admin/nl-search/page.tsx
  frontend/hooks/queries/__tests__/useFavoriteStatus.test.ts
  frontend/hooks/queries/useFavoriteStatus.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(search): NL taxonomy filter inference from queries (Phase 7.2)
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/retriever_repository.py
  backend/app/repositories/search_batch_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/retriever.py
  backend/app/services/search/taxonomy_filter_extractor.py
  backend/openapi/openapi.json
  backend/tests/repositories/test_service_catalog_repository_taxonomy.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_retriever.py
  backend/tests/unit/services/search/test_taxonomy_filter_extractor.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types

feat(search): dynamic taxonomy content filters via generic content_filters param
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(public)/search/__tests__/filterContext.test.ts
  frontend/app/(public)/search/filterContext.ts
  frontend/app/(public)/search/page.tsx
  frontend/components/search/FilterBar.tsx
  frontend/components/search/__tests__/FilterBar.test.tsx
  frontend/components/search/filterTypes.ts
  frontend/components/search/filters/MoreFiltersButton.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/api/client.ts
  frontend/hooks/queries/__tests__/useInstructorSearch.test.tsx
  frontend/hooks/queries/__tests__/useInstructorSearchInfinite.test.tsx
  frontend/hooks/queries/useInstructorSearch.ts
  frontend/lib/taxonomy/formatFilterLabel.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(seed): Language → Languages category name + regenerate embeddings
  backend/scripts/seed_data/catalog/categories.yaml
  backend/tests/conftest.py
Due: check-time-to-minutes, check-timezone-patterns

feat(search): surface taxonomy filter definitions in NL search response (Phase 7.3)
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/nl_search_service.py
  backend/openapi/openapi.json
  backend/tests/unit/services/search/test_nl_search_service.py
  frontend/app/(public)/search/__tests__/filterContext.test.ts
  frontend/app/(public)/search/filterContext.ts
  frontend/app/(public)/search/page.tsx
  frontend/components/search/FilterBar.tsx
  frontend/components/search/__tests__/FilterBar.test.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types

fix(search): dynamic taxonomy filters now render in More Filters modal
  frontend/app/(public)/search/__tests__/filterContext.test.ts
  frontend/app/(public)/search/filterContext.ts
  frontend/app/(public)/search/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/components/catalog/HomeCatalogCascade.tsx
  frontend/components/catalog/__tests__/HomeCatalogCascade.test.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

test: fix CI failures and e2e search flow for taxonomy v2
  backend/scripts/seed_data/catalog/services.yaml
  backend/tests/integration/test_taxonomy_v2_seed.py
  backend/tests/unit/services/search/test_taxonomy_filter_extractor.py
  frontend/e2e/tests/basic-search.spec.ts
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix: address PR #253 audit findings (20 items)
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/filter.py
  backend/app/models/service_catalog.py
  backend/app/models/subcategory.py
  backend/app/repositories/__init__.py
  backend/app/repositories/category_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/routes/v1/catalog.py
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/search.py
  backend/app/routes/v1/taxonomy_filter_query.py
  backend/app/schemas/service_catalog.py
  backend/app/services/instructor_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/query_parser.py
  backend/openapi/openapi.json
  backend/scripts/seed_data/seed_taxonomy.py
  backend/tests/routes/test_instructors_routes_coverage.py
  backend/tests/routes/test_search_routes_additional_coverage.py
  backend/tests/unit/models/test_service_catalog_coverage.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_taxonomy_filter_extractor.py
  backend/tests/unit/test_search_taxonomy_v2.py
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/features/shared/api/types.ts
  frontend/hooks/queries/__tests__/useTaxonomy.test.tsx
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

test(backend): make taxonomy content-filter route test deterministic and remove skip
  backend/tests/routes/test_instructors_filtering.py
Due: check-time-to-minutes, check-timezone-patterns

chore(deps): upgrade 8 dependencies
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

docs: audit and improve CLAUDE.md — fix 5 incorrect paths, reduce 980→367 lines
  .claude/settings.json
  CLAUDE.md
Due: none

fix: audit round 3 — 5 targeted fixes
  backend/app/routes/v1/services.py
  backend/app/routes/v1/taxonomy_filter_query.py
  backend/app/services/search/nl_search_service.py
  backend/scripts/seed_data/seed_taxonomy.py
  frontend/app/(public)/search/page.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

fix: audit round 4 — 14 issues across types, semantics, safety
  .claude/settings.json
  backend/.artifacts/api.expected.d.ts
  backend/app/models/service_catalog.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/routes/v1/catalog.py
  backend/app/schemas/service_catalog.py
  backend/app/schemas/taxonomy_filter.py
  backend/app/services/catalog_browse_service.py
  backend/openapi/openapi.json
  backend/tests/repositories/test_taxonomy_filter_repository.py
  backend/tests/unit/models/test_service_catalog_coverage.py
  backend/tests/unit/repositories/test_taxonomy_filter_normalization.py
  backend/tests/unit/routes/__init__.py
  backend/tests/unit/routes/test_taxonomy_filter_query.py
  frontend/app/(public)/search/__tests__/filterContext.test.ts
  frontend/app/(public)/services/page.tsx
  frontend/components/catalog/HomeCatalogCascade.tsx
  frontend/features/shared/api/client.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix: audit round 5 — 20 items across safety, types, tests, cleanup
  backend/.artifacts/api.expected.d.ts
  backend/app/models/service_catalog.py
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/services.py
  backend/app/routes/v1/taxonomy_filter_query.py
  backend/app/schemas/service_catalog.py
  backend/app/schemas/service_catalog_responses.py
  backend/app/schemas/subcategory.py
  backend/app/services/instructor_service.py
  backend/app/services/search/nl_search_service.py
  backend/openapi/openapi.json
  backend/tests/repositories/test_taxonomy_filter_repository.py
  backend/tests/unit/test_catalog_browse_service.py
  frontend/components/catalog/HomeCatalogCascade.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/hooks/queries/useCatalogBrowse.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix: align test default and pin playwright version
  .claude/settings.json
  backend/tests/models/test_taxonomy_models.py
  frontend/package.json
Due: frontend-public-env, check-time-to-minutes, check-timezone-patterns
