Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


test: fix stale payment test mocks for state machine enforcement
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/unit/services/test_stripe_service.py
  backend/tests/unit/services/test_stripe_service_webhook_branch_coverage.py
Due: check-time-to-minutes, check-timezone-patterns

fix: payment tasks — null dereference, session leak, SQL stats, dedup, cleanup
  backend/app/commands/analytics.py
  backend/app/repositories/booking/stats_mixin.py
  backend/app/services/booking/query_service.py
  backend/app/tasks/analytics.py
  backend/app/tasks/location_learning.py
  backend/app/tasks/payment/authorization.py
  backend/app/tasks/payment/authorization_retry.py
  backend/app/tasks/payment/capture.py
  backend/app/tasks/payment/capture_reauth.py
  backend/app/tasks/payment/common.py
  backend/app/tasks/payment/late_cancel_noshow.py
  backend/app/tasks/payment/maintenance.py
  backend/app/tasks/payment_tasks.py
  backend/app/tasks/privacy_tasks.py
  backend/app/tasks/search_analytics.py
  backend/app/tasks/video_tasks.py
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/integration/repository_patterns/test_booking_query_patterns.py
  backend/tests/integration/routes/test_lessons_integration.py
  backend/tests/integration/tasks/test_analytics_tasks_coverage.py
  backend/tests/integration/tasks/test_payment_tasks_integration.py
  backend/tests/repositories/test_booking_repository_video_no_show_candidates.py
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/tasks/test_search_analytics.py
  backend/tests/unit/commands/test_analytics_additional_coverage.py
  backend/tests/unit/monitoring/test_sentry_crons.py
  backend/tests/unit/services/test_booking_service_logic.py
  backend/tests/unit/services/test_trusted_device_and_video_noshow_edges.py
  backend/tests/unit/tasks/test_analytics_comprehensive_coverage.py
  backend/tests/unit/tasks/test_analytics_tasks_additional_coverage.py
  backend/tests/unit/tasks/test_location_learning_task_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_additional_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_missed_coverage.py
  backend/tests/unit/tasks/test_privacy_tasks_coverage.py
  backend/tests/unit/tasks/test_privacy_tasks_execution_coverage.py
  backend/tests/unit/tasks/test_search_analytics_tasks_coverage.py
  backend/tests/unit/tasks/test_video_tasks.py
  backend/tests/unit/test_caching_implementation.py
  backend/tests/unit/test_search_analytics_tasks.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix: notification null safety, DI cleanup, direct imports, SimpleNamespace
  backend/app/services/notification_service.py
  backend/app/services/notifications/account_security_mixin.py
  backend/app/services/notifications/booking_cancellation_mixin.py
  backend/app/services/notifications/booking_confirmation_mixin.py
  backend/app/services/notifications/booking_followups_mixin.py
  backend/app/services/notifications/common_mixin.py
  backend/app/services/notifications/in_app_mixin.py
  backend/app/services/notifications/mixin_base.py
  backend/app/services/notifications/payment_mixin.py
  backend/app/services/notifications/scheduling_mixin.py
  backend/tests/integration/services/test_booking_service_edge_cases.py
  backend/tests/integration/services/test_notification_service_coverage.py
  backend/tests/integration/services/test_notification_service_templates.py
  backend/tests/integration/services/test_supporting_systems_clean_architecture.py
  backend/tests/integration/test_email_preference_flow.py
  backend/tests/integration/test_notification_flow.py
  backend/tests/integration/test_sms_notifications.py
  backend/tests/unit/services/test_notification_service.py
  backend/tests/unit/services/test_notification_service_additional_coverage.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix: remove redundant sms render cast
  backend/app/services/notifications/common_mixin.py
  backend/app/services/notifications/payment_mixin.py
  backend/tests/unit/services/test_notification_service_additional_coverage.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix: notification null safety, DI cleanup, direct imports
  backend/app/services/notification_service.py
  backend/app/services/notifications/account_security_mixin.py
  backend/app/services/notifications/booking_cancellation_mixin.py
  backend/app/services/notifications/booking_confirmation_mixin.py
  backend/app/services/notifications/booking_followups_mixin.py
  backend/app/services/notifications/common_mixin.py
  backend/app/services/notifications/in_app_mixin.py
  backend/app/services/notifications/mixin_base.py
  backend/app/services/notifications/payment_mixin.py
  backend/app/services/notifications/scheduling_mixin.py
  backend/tests/integration/services/test_booking_service_edge_cases.py
  backend/tests/integration/services/test_notification_service_coverage.py
  backend/tests/integration/services/test_notification_service_templates.py
  backend/tests/integration/services/test_supporting_systems_clean_architecture.py
  backend/tests/integration/test_email_preference_flow.py
  backend/tests/integration/test_notification_flow.py
  backend/tests/integration/test_sms_notifications.py
  backend/tests/unit/services/test_notification_service.py
  backend/tests/unit/services/test_notification_service_additional_coverage.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor: NL search pipeline hardening — typed results, context dataclasses, dedup
  backend/app/services/search/nl_pipeline/hydration.py
  backend/app/services/search/nl_pipeline/location_helpers.py
  backend/app/services/search/nl_pipeline/location_tier4.py
  backend/app/services/search/nl_pipeline/models.py
  backend/app/services/search/nl_pipeline/postflight.py
  backend/app/services/search/nl_pipeline/postflight_steps.py
  backend/app/services/search/nl_pipeline/preflight.py
  backend/app/services/search/nl_pipeline/preflight_core.py
  backend/app/services/search/nl_pipeline/response.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/retriever.py
  backend/tests/unit/services/search/test_nl_search_service_additional_coverage.py
  backend/tests/unit/services/search/test_retriever_r4.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor: type safety & protocol hardening — 8 architectural fixes
  .pre-commit-config.yaml
  backend/.size-budget-baseline.txt
  backend/app/services/availability/mixin_base.py
  backend/app/services/instructor/mixin_base.py
  backend/app/services/instructor/profile_mutations_mixin.py
  backend/app/services/search/nl_pipeline/_location_config.py
  backend/app/services/search/nl_pipeline/hydration.py
  backend/app/services/search/nl_pipeline/location.py
  backend/app/services/search/nl_pipeline/location_helpers.py
  backend/app/services/search/nl_pipeline/postflight_runtime.py
  backend/app/services/search/nl_pipeline/preflight_parse.py
  backend/app/services/search/nl_pipeline/protocols.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/stripe/capture_refund.py
  backend/app/services/stripe/customer.py
  backend/app/services/stripe/earnings.py
  backend/app/services/stripe/identity.py
  backend/app/services/stripe/onboarding.py
  backend/app/services/stripe/payment.py
  backend/app/services/stripe/payment_flow.py
  backend/app/services/stripe/payment_intents.py
  backend/app/services/stripe/transfer.py
  backend/app/services/stripe/webhook_disputes.py
  backend/app/services/stripe/webhook_router.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment/authorization_retry.py
  backend/app/tasks/payment/capture_orchestration.py
  backend/app/tasks/payment/common.py
  backend/app/tasks/payment/late_cancel_noshow.py
  backend/app/tasks/privacy_tasks.py
  backend/scripts/check_size_budgets.py
  backend/tests/integration/services/nl_search/test_nl_search_service_integration.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_nl_search_service_additional_coverage.py
  backend/tests/unit/test_mixin_stub_sync.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor: type safety & protocol hardening — typed protocols, size budgets, stub enforcement
  .pre-commit-config.yaml
  backend/.size-budget-baseline.txt
  backend/app/services/availability/mixin_base.py
  backend/app/services/instructor/mixin_base.py
  backend/app/services/instructor/profile_mutations_mixin.py
  backend/app/services/search/nl_pipeline/_location_config.py
  backend/app/services/search/nl_pipeline/hydration.py
  backend/app/services/search/nl_pipeline/location.py
  backend/app/services/search/nl_pipeline/location_helpers.py
  backend/app/services/search/nl_pipeline/postflight_runtime.py
  backend/app/services/search/nl_pipeline/preflight_parse.py
  backend/app/services/search/nl_pipeline/protocols.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/stripe/capture_refund.py
  backend/app/services/stripe/customer.py
  backend/app/services/stripe/earnings.py
  backend/app/services/stripe/identity.py
  backend/app/services/stripe/onboarding.py
  backend/app/services/stripe/payment.py
  backend/app/services/stripe/payment_flow.py
  backend/app/services/stripe/payment_intents.py
  backend/app/services/stripe/transfer.py
  backend/app/services/stripe/webhook_disputes.py
  backend/app/services/stripe/webhook_router.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment/authorization_retry.py
  backend/app/tasks/payment/capture_orchestration.py
  backend/app/tasks/payment/common.py
  backend/app/tasks/payment/late_cancel_noshow.py
  backend/app/tasks/privacy_tasks.py
  backend/scripts/check_size_budgets.py
  backend/tests/integration/services/nl_search/test_nl_search_service_integration.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_nl_search_service_additional_coverage.py
  backend/tests/unit/test_mixin_stub_sync.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

feat: persistent Celery task execution history
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/006_platform_features.py
  backend/app/core/config.py
  backend/app/models/__init__.py
  backend/app/models/task_execution.py
  backend/app/repositories/__init__.py
  backend/app/repositories/factory.py
  backend/app/repositories/task_execution_repository.py
  backend/app/routes/v1/admin/mcp/celery.py
  backend/app/schemas/celery_admin.py
  backend/app/services/celery_admin_service.py
  backend/app/tasks/all_tasks.py
  backend/app/tasks/analytics.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/privacy_tasks.py
  backend/openapi/openapi.json
  backend/tests/integration/tasks/test_analytics_tasks_coverage.py
  backend/tests/repositories/test_task_execution_repository.py
  backend/tests/routes/v1/admin/mcp/test_celery.py
  backend/tests/unit/services/test_celery_admin_service.py
  backend/tests/unit/tasks/test_analytics_comprehensive_coverage.py
  backend/tests/unit/tasks/test_analytics_tasks_additional_coverage.py
  backend/tests/unit/tasks/test_task_execution_signals.py
  backend/tests/unit/test_celery_app_coverage.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-celery/mcp-admin-celery.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/tools/celery.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_tools.py
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

feat: persistent Celery task execution history with OTEL tracing
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/006_platform_features.py
  backend/app/core/config.py
  backend/app/models/__init__.py
  backend/app/models/task_execution.py
  backend/app/repositories/__init__.py
  backend/app/repositories/factory.py
  backend/app/repositories/task_execution_repository.py
  backend/app/routes/v1/admin/mcp/celery.py
  backend/app/schemas/celery_admin.py
  backend/app/services/celery_admin_service.py
  backend/app/tasks/all_tasks.py
  backend/app/tasks/analytics.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/privacy_tasks.py
  backend/openapi/openapi.json
  backend/tests/integration/tasks/test_analytics_tasks_coverage.py
  backend/tests/repositories/test_task_execution_repository.py
  backend/tests/routes/v1/admin/mcp/test_celery.py
  backend/tests/unit/services/test_celery_admin_service.py
  backend/tests/unit/tasks/test_analytics_comprehensive_coverage.py
  backend/tests/unit/tasks/test_analytics_tasks_additional_coverage.py
  backend/tests/unit/tasks/test_task_execution_signals.py
  backend/tests/unit/test_celery_app_coverage.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-celery/mcp-admin-celery.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/tools/celery.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_tools.py
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix: final pre-existing issues cleanup — 12 items
  backend/app/constants/pricing_defaults.py
  backend/app/repositories/base_repository.py
  backend/app/repositories/instructor_preferred_place_repository.py
  backend/app/services/instructor/activation_mixin.py
  backend/app/services/instructor/location_mixin.py
  backend/app/services/instructor/mixin_base.py
  backend/app/services/instructor/validation_helpers_mixin.py
  backend/app/services/notifications/account_security_mixin.py
  backend/app/services/notifications/booking_cancellation_mixin.py
  backend/app/services/notifications/booking_confirmation_mixin.py
  backend/app/services/notifications/booking_followups_mixin.py
  backend/app/services/notifications/common_mixin.py
  backend/app/services/notifications/in_app_mixin.py
  backend/app/services/notifications/message_mixin.py
  backend/app/services/notifications/mixin_base.py
  backend/app/services/notifications/payment_mixin.py
  backend/app/services/notifications/scheduling_mixin.py
  backend/app/services/pricing_service.py
  backend/app/services/search/nl_pipeline/preflight.py
  backend/app/services/search/nl_pipeline/response.py
  backend/app/tasks/payment/common.py
  backend/app/tasks/payment/maintenance.py
  backend/app/tasks/payment_tasks.py
  backend/app/tasks/video_tasks.py
  backend/tests/integration/repository_patterns/test_bulk_operation_query_patterns.py
  backend/tests/monitoring/test_performance_overhead.py
  backend/tests/unit/tasks/test_video_tasks.py
  docs/session-handoffs/session-handoff-v146.md
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor: decompose payment_repository into 8 domain mixins
  backend/app/repositories/payment/__init__.py
  backend/app/repositories/payment/analytics_mixin.py
  backend/app/repositories/payment/connected_account_mixin.py
  backend/app/repositories/payment/customer_mixin.py
  backend/app/repositories/payment/mixin_base.py
  backend/app/repositories/payment/payment_event_mixin.py
  backend/app/repositories/payment/payment_intent_mixin.py
  backend/app/repositories/payment/payment_method_mixin.py
  backend/app/repositories/payment/payout_event_mixin.py
  backend/app/repositories/payment/platform_credit_mixin.py
  backend/app/repositories/payment_repository.py
  backend/tests/repositories/test_payment_repository.py
  backend/tests/unit/repositories/test_payment_repo_missed_coverage.py
  backend/tests/unit/repositories/test_payment_repository_additional_coverage.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

chore: expand size budget scope to all of backend/app/
  .pre-commit-config.yaml
  backend/.size-budget-baseline.txt
  backend/scripts/check_size_budgets.py
Due: check-time-to-minutes, check-timezone-patterns

refactor: split 6 large methods + fix 3 timezone-flaky tests
  backend/.size-budget-baseline.txt
  backend/app/auth_sse.py
  backend/app/errors.py
  backend/app/middleware/rate_limiter.py
  backend/app/middleware/rate_limiter_asgi.py
  backend/app/models/booking.py
  backend/app/ratelimit/dependency.py
  backend/tests/routes/test_reminder_clean_architecture.py
  backend/tests/unit/test_caching_implementation.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

refactor: decompose celery_app + schema packages — batch 1
  backend/.size-budget-baseline.txt
  backend/app/schemas/booking.py
  backend/app/schemas/booking/__init__.py
  backend/app/schemas/booking/availability.py
  backend/app/schemas/booking/requests.py
  backend/app/schemas/booking/responses.py
  backend/app/schemas/instructor.py
  backend/app/schemas/instructor/__init__.py
  backend/app/schemas/instructor/commission.py
  backend/app/schemas/instructor/locations.py
  backend/app/schemas/instructor/requests.py
  backend/app/schemas/instructor/responses.py
  backend/app/schemas/instructor/services.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/task_execution_signals.py
  backend/docs/dev/production_type_ignores.md
  backend/tests/unit/schemas/test_booking_video_fields.py
  backend/tests/unit/tasks/test_task_execution_signals.py
  backend/tests/unit/test_satellite_patterns.py
  backend/type_ignore_allowlist.json
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking, audit-untyped-dicts

fix(ops): match Supabase extension schema layout in backup verification
  .github/workflows/backup-verification.yml
Due: none

refactor: decompose main.py into 5 modules — 1,467 → 129 lines
  backend/.size-budget-baseline.txt
  backend/app/core/internal_metrics.py
  backend/app/core/lifespan.py
  backend/app/core/middleware_setup.py
  backend/app/core/router_registry.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/workers/__init__.py
  backend/app/workers/background_jobs.py
  backend/scripts/build_guard_report.py
  backend/scripts/check_router_sync.py
  backend/tests/routes/test_public_route_registration.py
  backend/tests/unit/main/test_main_helpers_coverage.py
  backend/tests/unit/main/test_main_metrics_helpers_coverage.py
  backend/tests/unit/test_startup_encryption_guard.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-async-blocking

refactor: decompose main.py into 5 modules — 91% reduction
  backend/.size-budget-baseline.txt
  backend/app/core/internal_metrics.py
  backend/app/core/lifespan.py
  backend/app/core/middleware_setup.py
  backend/app/core/router_registry.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/workers/__init__.py
  backend/app/workers/background_jobs.py
  backend/scripts/build_guard_report.py
  backend/scripts/check_router_sync.py
  backend/tests/routes/test_public_route_registration.py
  backend/tests/unit/main/test_main_helpers_coverage.py
  backend/tests/unit/main/test_main_metrics_helpers_coverage.py
  backend/tests/unit/test_startup_encryption_guard.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-async-blocking

refactor: decompose config.py into 12 settings mixins — 1,490 → 427 lines
  backend/.artifacts/api.expected.d.ts
  backend/.size-budget-baseline.txt
  backend/app/core/bgc_policy.py
  backend/app/core/config.py
  backend/app/core/settings/__init__.py
  backend/app/core/settings/auth.py
  backend/app/core/settings/availability.py
  backend/app/core/settings/communications.py
  backend/app/core/settings/database.py
  backend/app/core/settings/integrations.py
  backend/app/core/settings/operations.py
  backend/app/core/settings/payments.py
  backend/app/core/settings/privacy.py
  backend/app/core/settings/rate_limiting.py
  backend/app/core/settings/referrals.py
  backend/app/core/settings/runtime.py
  backend/app/core/settings/search.py
  backend/app/core/settings/shared.py
  backend/openapi/openapi.json
  backend/tests/unit/core/test_core_config_coverage.py
  backend/type_ignore_allowlist.json
  docs/session-handoffs/session-handoff-v146.md
  frontend/src/api/generated/admin-users/admin-users.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-booking-actions/mcp-admin-booking-actions.ts
  frontend/src/api/generated/mcp-admin-instructor-actions/mcp-admin-instructor-actions.ts
  frontend/src/api/generated/mcp-admin-student-actions/mcp-admin-student-actions.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

refactor: decompose config.py into 12 settings mixins — 71% reduction
  backend/.artifacts/api.expected.d.ts
  backend/.size-budget-baseline.txt
  backend/app/core/bgc_policy.py
  backend/app/core/config.py
  backend/app/core/settings/__init__.py
  backend/app/core/settings/auth.py
  backend/app/core/settings/availability.py
  backend/app/core/settings/communications.py
  backend/app/core/settings/database.py
  backend/app/core/settings/integrations.py
  backend/app/core/settings/operations.py
  backend/app/core/settings/payments.py
  backend/app/core/settings/privacy.py
  backend/app/core/settings/rate_limiting.py
  backend/app/core/settings/referrals.py
  backend/app/core/settings/runtime.py
  backend/app/core/settings/search.py
  backend/app/core/settings/shared.py
  backend/openapi/openapi.json
  backend/tests/unit/core/test_core_config_coverage.py
  backend/type_ignore_allowlist.json
  docs/session-handoffs/session-handoff-v146.md
  frontend/src/api/generated/admin-users/admin-users.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-booking-actions/mcp-admin-booking-actions.ts
  frontend/src/api/generated/mcp-admin-instructor-actions/mcp-admin-instructor-actions.ts
  frontend/src/api/generated/mcp-admin-student-actions/mcp-admin-student-actions.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(neighborhoods): align selector to A-Team design spec
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/region_boundary_repository.py
  backend/app/routes/v1/addresses.py
  backend/app/services/address_service.py
  backend/openapi/openapi.json
  backend/tests/conftest.py
  backend/tests/integration/services/search/test_location_resolver_coverage.py
  backend/tests/integration/services/test_address_service_coverage.py
  backend/tests/routes/test_address_spatial_routes.py
  backend/tests/services/test_address_service_spatial.py
  backend/tests/test_routes_invariants.py
  backend/tests/unit/services/test_address_service_missed_coverage.py
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/components/neighborhoods/BoroughSection.tsx
  frontend/components/neighborhoods/NeighborhoodSelector.tsx
  frontend/components/neighborhoods/NeighborhoodSelectorMap.tsx
  frontend/components/neighborhoods/__tests__/BoroughSection.test.tsx
  frontend/components/neighborhoods/__tests__/NeighborhoodSearch.test.tsx
  frontend/components/neighborhoods/__tests__/NeighborhoodSelector.test.tsx
  frontend/components/neighborhoods/__tests__/NeighborhoodSelectorMap.test.tsx
  frontend/components/neighborhoods/__tests__/types.test.ts
  frontend/components/neighborhoods/types.ts
  frontend/e2e/profile.preferred-places.spec.ts
  frontend/e2e/profile.service-areas.spec.ts
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/hooks/__tests__/useNeighborhoodSelection.test.ts
  frontend/hooks/useNeighborhoodSelection.ts
  frontend/src/api/generated/addresses-v1/addresses-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

chore(neighborhoods): accessibility, query conventions, and UX polish
  backend/app/repositories/region_boundary_repository.py
  backend/tests/unit/repositories/test_region_boundary_repository_coverage.py
  frontend/components/neighborhoods/BoroughSection.tsx
  frontend/components/neighborhoods/NeighborhoodSelector.tsx
  frontend/components/neighborhoods/__tests__/BoroughSection.test.tsx
  frontend/components/neighborhoods/__tests__/NeighborhoodSelector.test.tsx
  frontend/hooks/__tests__/useNeighborhoodSelection.test.ts
  frontend/hooks/queries/__tests__/useNeighborhoodPolygons.test.tsx
  frontend/hooks/queries/__tests__/useNeighborhoodSelectorData.test.tsx
  frontend/hooks/queries/useNeighborhoodPolygons.ts
  frontend/hooks/queries/useNeighborhoodSelectorData.ts
  frontend/hooks/useNeighborhoodSelection.ts
  frontend/lib/react-query/queryClient.ts
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(tests): remove per-test boundary normalization and make lookup test self-contained
  backend/tests/conftest.py
  backend/tests/routes/test_address_spatial_routes.py
Due: check-time-to-minutes, check-timezone-patterns

fix(dashboard): collapse service areas on load, fix map Fit button z-index
  frontend/components/neighborhoods/NeighborhoodSelectorMap.tsx
  frontend/components/neighborhoods/__tests__/NeighborhoodSelectorMap.test.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

test: recover 98%+ coverage with bug-hunting tests for decomposition and neighborhood files
  backend/tests/integration/services/test_address_service_coverage.py
  backend/tests/unit/core/test_internal_metrics.py
  backend/tests/unit/core/test_lifespan.py
  backend/tests/unit/core/test_middleware_setup.py
  backend/tests/unit/domain/test_neighborhood_helpers.py
  backend/tests/unit/repositories/test_region_boundary_repository_coverage.py
  backend/tests/unit/services/search/nl_pipeline/__init__.py
  backend/tests/unit/services/search/nl_pipeline/test_location_tier4.py
  backend/tests/unit/services/search/test_filter_service_additional_coverage.py
  backend/tests/unit/services/search/test_location_resolver_r4.py
  backend/tests/unit/services/test_address_service_missed_coverage.py
  backend/tests/unit/workers/__init__.py
  backend/tests/unit/workers/test_background_jobs.py
Due: check-time-to-minutes, check-timezone-patterns

fix(tests): stabilize auth isolation and near-me default address lookup
  backend/app/routes/v1/search.py
  backend/tests/conftest.py
  backend/tests/integration/api/test_auth.py
  backend/tests/integration/api/test_auth_preview_smoke.py
  backend/tests/unit/services/test_token_blacklist_service.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

refactor(search): use injected db session for near-me address lookup
  backend/app/routes/v1/search.py
  backend/app/services/address_service.py
  backend/tests/integration/services/test_address_service_coverage.py
  backend/tests/unit/services/test_address_service_missed_coverage.py
  backend/tests/unit/services/test_address_service_r4.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

refactor: decompose instructor_profile_repository into 6 mixins
  backend/.size-budget-baseline.txt
  backend/app/repositories/instructor_profile/__init__.py
  backend/app/repositories/instructor_profile/bgc_lifecycle_mixin.py
  backend/app/repositories/instructor_profile/bgc_report_binding_mixin.py
  backend/app/repositories/instructor_profile/discovery_search_mixin.py
  backend/app/repositories/instructor_profile/eager_loading_mixin.py
  backend/app/repositories/instructor_profile/founding_instructor_mixin.py
  backend/app/repositories/instructor_profile/mixin_base.py
  backend/app/repositories/instructor_profile/profile_query_mixin.py
  backend/app/repositories/instructor_profile_repository.py
  backend/tests/unit/repositories/test_instructor_profile_repository_error_branches.py
  docs/session-handoffs/session-handoff-v147.md
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix: stop runtime codebase metrics compute, move to pre-push hook
  .pre-commit-config.yaml
  README.md
  backend/.artifacts/api.expected.d.ts
  backend/app/monitoring/sentry_crons.py
  backend/app/routes/v1/codebase_metrics.py
  backend/app/schemas/codebase_metrics_models.py
  backend/app/schemas/codebase_metrics_responses.py
  backend/app/tasks/all_tasks.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/codebase_metrics.py
  backend/app/utils/codebase_metrics.py
  backend/openapi/openapi.json
  backend/scripts/codebase_metrics.py
  backend/tests/routes/test_codebase_metrics_routes_coverage.py
  backend/tests/scripts/test_metrics_history.py
  backend/tests/unit/monitoring/test_sentry_crons.py
  backend/tests/unit/scripts/test_codebase_metrics_script.py
  backend/tests/unit/tasks/test_codebase_metrics_coverage.py
  backend/tests/unit/utils/test_codebase_metrics_additional_coverage.py
  docs/api/09_api_endpoints.md
  docs/engineering/guardrails_runbook.md
  docs/infrastructure/10_external_integrations.md
  docs/security/public_api_inventory.md
  frontend/app/(admin)/admin/engineering/codebase/page.tsx
  frontend/features/shared/api/types.ts
  frontend/hooks/__tests__/useCodebaseMetrics.test.tsx
  frontend/hooks/useCodebaseMetrics.ts
  frontend/lib/analyticsApi.ts
  frontend/src/api/generated/analytics/analytics.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
  scripts/prepush_codebase_metrics.sh
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(codebase-metrics): wire codebase metrics hook into Husky, fix PR review issues
  .pre-commit-config.yaml
  README.md
  backend/app/routes/v1/codebase_metrics.py
  backend/app/schemas/codebase_metrics_models.py
  backend/openapi/openapi.json
  backend/tests/routes/test_codebase_metrics_routes_coverage.py
  docs/engineering/guardrails_runbook.md
  frontend/app/(admin)/admin/engineering/codebase/page.tsx
  frontend/hooks/__tests__/useCodebaseMetrics.test.tsx
  frontend/hooks/useCodebaseMetrics.ts
  frontend/lib/analyticsApi.ts
  metrics_history.json
  scripts/prepush.sh
  scripts/prepush_codebase_metrics.sh
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(codebase-metrics): address PR review items
  backend/app/schemas/codebase_metrics_models.py
  backend/scripts/codebase_metrics.py
  frontend/hooks/useCodebaseMetrics.ts
  frontend/lib/react-query/queryClient.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types
