Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


feat(tests): Tier 7A coverage complete + Redis cleanup
  backend/app/core/cache_redis.py
  backend/app/core/redis.py
  backend/tests/conftest.py
  backend/tests/integration/cache/test_cache.py
  backend/tests/integration/repositories/test_retention_repository_coverage.py
  backend/tests/integration/services/test_week_operation_missing_coverage_db.py
  backend/tests/routes/test_bookings.py
  backend/tests/services/test_stripe_service.py
  backend/tests/unit/middleware/test_rate_limiter.py
  backend/tests/unit/services/messaging/test_redis_pubsub.py
  backend/tests/unit/services/messaging/test_sse_stream.py
  backend/tests/unit/services/search/test_alias_learning_service.py
  backend/tests/unit/services/search/test_embedding_service.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_search_cache.py
  backend/tests/unit/services/test_background_check_workflow_coverage.py
Due: check-repository-pattern

feat(tests): Tier 7B coverage complete - business logic to 85%+
  backend/tests/integration/services/search/test_location_resolver_coverage.py
  backend/tests/routes/test_availability_windows_coverage.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_reviews_routes_coverage.py
  backend/tests/routes/test_webhooks_checkr_coverage.py
  backend/tests/services/test_badge_award_service.py
  backend/tests/services/test_privacy_service.py
  backend/tests/unit/middleware/test_rate_limiter.py
  backend/tests/unit/services/test_two_factor_auth_service_coverage.py
  backend/tests/unit/test_auth_core_coverage.py
  metrics_history.json
Due: none

feat(tests): Tier 7B progress + test data fixes
  backend/tests/conftest.py
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/integration/tasks/test_payment_tasks_integration.py
  backend/tests/repositories/test_credit_repository_coverage.py
  backend/tests/repositories/test_rbac_repository_coverage.py
  backend/tests/repositories/test_service_catalog_repository_coverage.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/routes/test_instructor_bookings_routes_coverage.py
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  backend/tests/services/test_background_check_service_coverage.py
  backend/tests/services/test_wallet_service_coverage.py
  metrics_history.json
Due: none

feat(tests): Tier 7B complete - all 19 files at 85%+
  backend/app/repositories/service_catalog_repository.py
  backend/tests/repositories/test_week_operation_repository_coverage.py
  backend/tests/routes/test_addresses_coverage.py
  backend/tests/routes/test_conversations_coverage.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_webhooks_checkr_coverage.py
  backend/tests/services/test_personal_asset_service.py
  backend/tests/unit/core/test_auth_cache_coverage.py
  backend/tests/unit/services/test_beta_service.py
  backend/tests/unit/services/test_notification_provider_coverage.py
  backend/tests/unit/services/test_search_analytics_service_coverage.py
  backend/tests/unit/services/test_template_service_coverage.py
Due: none

fix(beta): use list fields for batch invite progress response
  backend/app/routes/v1/beta.py
Due: api-contracts, check-timezone-usage

chore(lint): enforce API contract types with errors
  frontend/.eslintrc.json
Due: frontend-public-env

test(coverage): Tier 7C coverage improvements - all targets ≥85%
  backend/app/ratelimit/redis_backend.py
  backend/app/repositories/search_event_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/routes/v1/uploads.py
  backend/tests/integration/tasks/test_payment_tasks_integration.py
  backend/tests/referrals/test_referral_unlocker_coverage.py
  backend/tests/repositories/test_base_repository_coverage.py
  backend/tests/repositories/test_bulk_operation_repository_coverage.py
  backend/tests/repositories/test_conflict_checker_repository_coverage.py
  backend/tests/repositories/test_favorites_repository_coverage.py
  backend/tests/repositories/test_region_boundary_repository_coverage.py
  backend/tests/repositories/test_search_event_repository_coverage.py
  backend/tests/routes/test_beta_routes_additional_coverage.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_services_routes_additional_coverage.py
  backend/tests/routes/test_uploads_routes_additional_coverage.py
Due: api-contracts, check-timezone-usage

chore(guardrails): Phase 1 - close configuration loopholes
  .pre-commit-config.yaml
  frontend/eslint.config.mjs
  frontend/jest.config.js
  frontend/scripts/precommit_block_only_tests.sh
Due: frontend-eslint, frontend-public-env

test(coverage): Tier 7D Group 1 - search & location pipeline ≥85%
  .github/workflows/backend-ci.yml
  backend/pyproject.toml
  backend/tests/repositories/test_location_alias_repository_coverage.py
  backend/tests/repositories/test_location_resolution_repository_coverage.py
  backend/tests/routes/test_search_routes_additional_coverage.py
  backend/tests/unit/services/search/test_cache_invalidation_coverage.py
  backend/tests/unit/services/search/test_location_embedding_service_coverage.py
  backend/tests/unit/services/search/test_search_config_coverage.py
Due: none

chore(deps): add pytest-timeout for test time limits
  backend/requirements.txt
Due: none

chore(guardrails): Phase 2 - migrate ad-hoc types to shim layer
  frontend/eslint.config.mjs
  frontend/features/shared/api/types.ts
  frontend/src/api/orval-mutator.ts
  frontend/src/api/services/messages.ts
  frontend/src/types/api.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(tests): resolve flaky test failures in coverage suite
  backend/tests/integration/tasks/test_payment_tasks_integration.py
  backend/tests/repositories/test_search_event_repository_coverage.py
  backend/tests/unit/services/search/test_cache_invalidation_coverage.py
Due: none

test(coverage): Tier 7D Group 2 partial - monitoring/ops routes
  backend/app/tasks/monitoring_tasks.py
  backend/tests/integration/tasks/test_monitoring_tasks_coverage.py
  backend/tests/routes/test_codebase_metrics_routes_coverage.py
  backend/tests/routes/test_metrics_routes_coverage.py
  backend/tests/routes/test_monitoring_routes_coverage.py
  backend/tests/routes/test_redis_monitor_routes_coverage.py
  backend/tests/unit/services/search/test_cache_invalidation_coverage.py
Due: none

test(coverage): Tier 7D Group 2 completion - monitoring/ops tasks
  backend/tests/integration/tasks/test_analytics_tasks_coverage.py
  backend/tests/integration/tasks/test_monitoring_tasks_coverage.py
  backend/tests/routes/test_codebase_metrics_routes_coverage.py
  backend/tests/routes/test_redis_monitor_routes_coverage.py
Due: none

fix(tests): stabilize analytics + monitoring + codebase metrics coverage tests
  backend/tests/integration/tasks/test_analytics_tasks_coverage.py
  backend/tests/integration/tasks/test_monitoring_tasks_coverage.py
  backend/tests/routes/test_codebase_metrics_routes_coverage.py
Due: none

test(coverage): Tier 7D Group 3 complete - storage & geocoding
  backend/tests/unit/services/geocoding/test_google_provider_coverage.py
  backend/tests/unit/services/geocoding/test_mapbox_provider_coverage.py
  backend/tests/unit/services/test_presentation_service_coverage.py
  backend/tests/unit/services/test_r2_storage_client_coverage.py
Due: none

test(coverage): Tier E + raise threshold to 90%
  .github/workflows/backend-ci.yml
  backend/app/core/ulid_helper.py
  backend/pyproject.toml
  backend/tests/unit/core/test_async_redis_client_coverage.py
  backend/tests/unit/core/test_privacy_auditor_coverage.py
  backend/tests/unit/core/test_ulid_helper_coverage.py
  backend/tests/unit/database/test_database_helpers_coverage.py
  backend/tests/unit/events/test_event_handlers_coverage.py
  backend/tests/unit/main/test_main_metrics_helpers_coverage.py
  backend/tests/unit/middleware/test_https_redirect_middleware_coverage.py
  backend/tests/unit/services/search/test_cache_invalidation_coverage.py
  backend/tests/unit/services/test_email_console_coverage.py
  backend/tests/unit/services/test_storage_null_client_coverage.py
  backend/tests/unit/tasks/test_all_tasks_registry_coverage.py
  backend/tests/unit/tasks/test_celery_init_coverage.py
Due: check-repository-pattern

test(coverage): Tier E + core/routes/models/services/schema coverage
  backend/tests/routes/test_analytics_candidate_routes_coverage.py
  backend/tests/routes/test_gated_routes_additional_coverage.py
  backend/tests/routes/test_internal_routes_coverage.py
  backend/tests/routes/test_privacy_routes_additional_coverage.py
  backend/tests/routes/test_prometheus_routes_additional_coverage.py
  backend/tests/routes/test_public_config_routes_coverage.py
  backend/tests/routes/test_search_history_additional_coverage.py
  backend/tests/routes/test_sse_routes_additional_coverage.py
  backend/tests/unit/api/dependencies/test_services_dependencies_coverage.py
  backend/tests/unit/core/test_cache_redis_coverage.py
  backend/tests/unit/core/test_database_config_coverage.py
  backend/tests/unit/core/test_timezone_utils_coverage.py
  backend/tests/unit/core/test_ulid_helper_coverage.py
  backend/tests/unit/dependencies/test_permissions_coverage.py
  backend/tests/unit/middleware/test_https_redirect_middleware_coverage.py
  backend/tests/unit/models/test_audit_log_coverage.py
  backend/tests/unit/models/test_base_enum_coverage.py
  backend/tests/unit/models/test_event_outbox_coverage.py
  backend/tests/unit/models/test_instructor_coverage.py
  backend/tests/unit/models/test_service_catalog_coverage.py
  backend/tests/unit/models/test_types_coverage.py
  backend/tests/unit/monitoring/test_availability_perf_coverage.py
  backend/tests/unit/schemas/test_search_context_coverage.py
  backend/tests/unit/schemas/test_search_responses_coverage.py
  backend/tests/unit/services/search/test_cache_invalidation_coverage.py
  backend/tests/unit/services/search/test_location_learning_click_service_coverage.py
  backend/tests/unit/services/search/test_openai_semaphore_coverage.py
  backend/tests/unit/services/test_email_config_coverage.py
  backend/tests/unit/services/test_location_enrichment_coverage.py
  backend/tests/unit/services/test_referral_fraud_coverage.py
  backend/tests/unit/services/test_service_dependencies_coverage.py
  backend/tests/unit/test_auth_sse_coverage.py
  backend/tests/unit/test_errors_coverage.py
Due: none

test(coverage): Final push - high/medium/low priority files complete
  backend/tests/idempotency/test_idempotency_cache.py
  backend/tests/unit/core/test_database_config_coverage.py
  backend/tests/unit/core/test_privacy_auditor_coverage.py
  backend/tests/unit/database/test_database_helpers_coverage.py
  backend/tests/unit/database/test_session_utils_coverage.py
  backend/tests/unit/main/test_main_helpers_coverage.py
  backend/tests/unit/main/test_main_metrics_helpers_coverage.py
  backend/tests/unit/models/test_instructor_coverage.py
  backend/tests/unit/tasks/test_all_tasks_coverage.py
  backend/tests/unit/tasks/test_codebase_metrics_coverage.py
  backend/tests/unit/test_errors_coverage.py
Due: none

chore: raise coverage threshold from 90% to 92%
  .github/workflows/backend-ci.yml
  backend/pyproject.toml
Due: none

fix(messaging): resolve 429 errors during normal chat
  backend/app/ratelimit/config.py
  backend/tests/integration/ratelimit/test_conv_msg_rate_limit.py
  frontend/__tests__/hooks/useMessageThread.test.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/components/instructor/messages/hooks/useMessageThread.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(guardrails): Phase 3 - migrate messages.ts and conversations.ts to generated types
  frontend/features/shared/api/types.ts
  frontend/src/api/services/conversations.ts
  frontend/src/api/services/messages.ts
  frontend/types/conversation.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(tests): add BetaInvite and BetaAccess cleanup to test isolation
  backend/tests/conftest.py
Due: none

feat(guardrails): Phase 3b - add 65 types to shim layer, migrate 7 files
  .claude/settings.json
  frontend/app/(admin)/admin/bgc-review/hooks.ts
  frontend/features/shared/api/types.ts
  frontend/lib/analyticsApi.ts
  frontend/lib/api.ts
  frontend/lib/api/pricing.ts
  frontend/lib/betaApi.ts
  frontend/lib/databaseApi.ts
  frontend/lib/redisApi.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(guardrails): Phase 3c - migrate availability and payment types to shim layer
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/features/shared/api/types.ts
  frontend/hooks/availability/useAvailability.ts
  frontend/hooks/availability/useWeekSchedule.ts
  frontend/hooks/queries/useInstructorServiceAreas.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(guardrails): add OpenAPI router sync and response model enforcement
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  backend/.artifacts/api.expected.d.ts
  backend/app/openapi_app.py
  backend/app/routes/v1/beta.py
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/messages.py
  backend/app/routes/v1/metrics.py
  backend/app/routes/v1/payments.py
  backend/app/routes/v1/public.py
  backend/app/routes/v1/search_history.py
  backend/app/utils/strict_router.py
  backend/openapi/openapi.json
  backend/scripts/check_openapi_responses.py
  backend/scripts/check_route_response_models.py
  backend/scripts/check_router_sync.py
  frontend/features/shared/api/types.ts
  frontend/src/api/generated/admin-auth/admin-auth.ts
  frontend/src/api/generated/admin-location-learning/admin-location-learning.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/instructor-referrals-v1/instructor-referrals-v1.ts
  frontend/src/api/generated/sse-v1/sse-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

feat(guardrails): Phase 3 - migrate frontend types to OpenAPI shim
  backend/.artifacts/api.expected.d.ts
  backend/openapi/openapi.json
  frontend/components/BookingCard.tsx
  frontend/components/instructor/PayoutsDashboard.tsx
  frontend/components/modals/ValidationPreviewModal.tsx
  frontend/features/shared/api/types.ts
  frontend/services/api/instructorReferrals.ts
  frontend/services/api/payments.ts
  frontend/src/api/generated/public/public.ts
  frontend/types/availability.ts
  frontend/types/booking.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(deps): revert starlette to 0.50.0, add pip check to CI
  .github/dependabot.yml
  .github/workflows/backend-ci.yml
  backend/requirements.txt
Due: none

test(coverage): add tests for utilities, API helpers, and React Query hooks
  frontend/features/shared/api/__tests__/notificationPreferences.test.ts
  frontend/features/shared/api/__tests__/notifications.test.ts
  frontend/features/shared/api/__tests__/phone.test.ts
  frontend/features/shared/referrals/__tests__/api.test.ts
  frontend/features/shared/utils/__tests__/booking.test.ts
  frontend/features/shared/utils/__tests__/search-parser.test.ts
  frontend/features/student/payment/utils/__tests__/paymentCalculations.test.ts
  frontend/features/student/payment/utils/__tests__/stripe.test.ts
  frontend/hooks/availability/__tests__/useBookedSlots.test.ts
  frontend/hooks/availability/__tests__/usePublicAvailability.test.ts
  frontend/hooks/queries/__tests__/useAuth.test.ts
  frontend/hooks/queries/__tests__/useHomepage.test.ts
  frontend/hooks/queries/__tests__/useInstructorBookings.test.ts
  frontend/hooks/queries/__tests__/useInstructorReferrals.test.ts
  frontend/hooks/queries/__tests__/usePaymentMethods.test.ts
  frontend/hooks/queries/__tests__/useStripeConnectStatus.test.ts
  frontend/hooks/queries/__tests__/useTfaStatus.test.ts
  frontend/hooks/queries/__tests__/useUser.test.ts
  frontend/hooks/queries/__tests__/useUserAddresses.test.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(coverage): add tests for modals, availability hook, and map component
  frontend/components/maps/__tests__/InstructorCoverageMap.test.tsx
  frontend/components/modals/__tests__/ApplyToFutureWeeksModal.test.tsx
  frontend/components/modals/__tests__/CancelBookingModal.test.tsx
  frontend/components/modals/__tests__/DeletePaymentMethodModal.test.tsx
  frontend/components/modals/__tests__/DeleteProfileModal.test.tsx
  frontend/components/modals/__tests__/ImageCropModal.test.tsx
  frontend/hooks/availability/__tests__/useAvailability.test.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(coverage): add tests for checkout, payment, instructor card, and templates
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/booking/__tests__/CheckoutFlow.test.tsx
  frontend/components/instructor/messages/utils/__tests__/templates.test.ts
  frontend/features/student/payment/components/__tests__/payment-confirmation-promo-and-cta.spec.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(coverage): add tests for profile, availability, payment, and booking components
  frontend/components/student/__tests__/PaymentMethods.test.tsx
  frontend/components/ui/__tests__/GlobalBackground.test.tsx
  frontend/components/user/__tests__/ProfilePictureUpload.test.tsx
  frontend/features/bookings/components/__tests__/BookingList.test.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/features/instructor-profile/components/__tests__/AvailabilityCalendar.test.tsx
  frontend/features/instructor-profile/components/__tests__/AvailabilityGrid.test.tsx
  frontend/features/instructor-profile/components/__tests__/ReviewsSection.test.tsx
  frontend/features/instructor-profile/components/__tests__/ServiceCards.test.tsx
  frontend/features/referrals/__tests__/RewardsPanel.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(coverage): add tests for security, payment, booking, and profile components
  frontend/components/security/__tests__/ChangePasswordModal.test.tsx
  frontend/components/security/__tests__/DeleteAccountModal.test.tsx
  frontend/components/security/__tests__/PauseAccountModal.test.tsx
  frontend/components/security/__tests__/TfaModal.test.tsx
  frontend/features/instructor-onboarding/__tests__/useOnboardingStepStatus.test.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/shared/hooks/__tests__/useBetaAccess.test.tsx
  frontend/features/shared/hooks/__tests__/usePhoneVerification.test.tsx
  frontend/features/student/booking/components/__tests__/BookingModal.test.tsx
  frontend/features/student/booking/components/__tests__/BookingModalWithPayment.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentMethodSelection.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentProcessing.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSuccess.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(coverage): round 3 - payment, modals, calendar, hooks
  frontend/__tests__/hooks/useMyLessons.test.tsx
  frontend/components/__tests__/AvailabilityCalendar.test.tsx
  frontend/components/__tests__/PreviewRibbon.test.tsx
  frontend/components/__tests__/WeekCalendarGrid.test.tsx
  frontend/components/availability/__tests__/InteractiveGrid.test.tsx
  frontend/components/forms/__tests__/PlacesAutocompleteInput.test.tsx
  frontend/components/lessons/modals/__tests__/CancellationConfirmationModal.test.tsx
  frontend/components/lessons/modals/__tests__/CancellationReasonModal.test.tsx
  frontend/components/maps/__tests__/InstructorCoverageMap.test.tsx
  frontend/components/messaging/__tests__/MessageBubble.test.tsx
  frontend/components/messaging/__tests__/ReactionTrigger.test.tsx
  frontend/components/messaging/__tests__/formatters.test.ts
  frontend/components/messaging/__tests__/normalizers.test.ts
  frontend/components/messaging/__tests__/useReactions.test.ts
  frontend/components/messaging/__tests__/useSSEHandlers.test.ts
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/components/ui/__tests__/BGCBadge.test.tsx
  frontend/components/ui/__tests__/label.test.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/features/shared/api/__tests__/client.fetch.test.ts
  frontend/features/shared/api/schemas/__tests__/booking.test.ts
  frontend/features/shared/booking/ui/local/__tests__/Calendar.test.tsx
  frontend/features/shared/booking/ui/local/__tests__/DurationButtons.test.tsx
  frontend/features/shared/booking/ui/local/__tests__/TimeDropdown.test.tsx
  frontend/features/shared/hooks/__tests__/useAuth.helpers.test.ts
  frontend/features/shared/hooks/__tests__/useAuth.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/booking/hooks/__tests__/useAuth.test.ts
  frontend/features/student/booking/public/__tests__/TimeSelectionFacade.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/hooks/__tests__/useCreateConversation.test.tsx
  frontend/hooks/__tests__/usePageVisibility.test.ts
  frontend/hooks/__tests__/useWeekSchedule.test.ts
  frontend/hooks/queries/__tests__/useServices.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(coverage): round 4 - 8 parallel agents, 76.5% → 83.4%
  frontend/__tests__/hooks/useMessageThread.test.tsx
  frontend/__tests__/hooks/useNotifications.test.tsx
  frontend/__tests__/hooks/usePushNotifications.test.tsx
  frontend/__tests__/hooks/useUserMessageStream.test.ts
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/components/instructor/__tests__/BGCStep.test.tsx
  frontend/components/instructor/__tests__/StripeOnboarding.test.tsx
  frontend/components/instructor/messages/components/__tests__/MessageInput.test.tsx
  frontend/components/instructor/messages/components/__tests__/TemplateEditor.test.tsx
  frontend/components/lessons/__tests__/LessonCard.test.tsx
  frontend/components/lessons/modals/__tests__/RescheduleTimeSelectionModal.test.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/components/__tests__/AvailabilityGrid.test.tsx
  frontend/features/instructor-profile/components/__tests__/InstructorHeader.test.tsx
  frontend/features/instructor-profile/hooks/__tests__/useInstructorProfile.test.tsx
  frontend/features/shared/api/__tests__/client.fetch.test.ts
  frontend/features/student/booking/components/__tests__/BookingModal.test.tsx
  frontend/features/student/booking/components/__tests__/BookingModalWithPayment.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentProcessing.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/features/student/payment/hooks/__tests__/usePricingPreview.test.tsx
  frontend/hooks/queries/__tests__/useFavoriteStatus.test.ts
  frontend/hooks/queries/__tests__/useInstructorAvailability.test.tsx
  frontend/lib/__tests__/fetch.test.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(coverage): round 5 with bug hunting, 83% → 89%
  frontend/__tests__/components/VerifiedBadge.test.tsx
  frontend/__tests__/hooks/useMessageThread.test.tsx
  frontend/__tests__/hooks/useMyLessons.test.tsx
  frontend/__tests__/hooks/useUserMessageStream.test.ts
  frontend/__tests__/lessons/LessonStatus.test.tsx
  frontend/components/__tests__/AvailabilityCalendar.test.tsx
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/components/__tests__/RecentSearches.test.tsx
  frontend/components/availability/__tests__/InteractiveGrid.test.tsx
  frontend/components/booking/__tests__/CheckoutFlow.test.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/components/instructor/__tests__/StripeOnboarding.test.tsx
  frontend/components/maps/__tests__/InstructorCoverageMap.test.tsx
  frontend/components/messaging/__tests__/useSSEHandlers.test.ts
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/components/student/__tests__/BillingTab.test.tsx
  frontend/components/user/__tests__/ProfilePictureUpload.test.tsx
  frontend/features/instructor-onboarding/__tests__/OnboardingProgressHeader.test.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/components/__tests__/AvailabilityGrid.test.tsx
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/hooks/__tests__/usePhoneVerification.test.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/booking/components/__tests__/BookingModal.test.tsx
  frontend/features/student/booking/components/__tests__/BookingModalWithPayment.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/features/student/payment/components/__tests__/credits-accordion-expanded.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-confirmation-promo-and-cta.spec.tsx
  frontend/features/student/payment/hooks/__tests__/usePaymentFlow.test.ts
  frontend/features/student/payment/hooks/__tests__/usePricingPreview.test.tsx
  frontend/hooks/availability/__tests__/useBookedSlots.test.ts
  frontend/jest.setup.js
  frontend/src/api/services/__tests__/messages.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console
