Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-contracts, check-timezone-usage, check-repository-pattern

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.9
        args: [--line-length=120]
        exclude: ^monitoring/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=120]
        exclude: ^monitoring/

  - repo: local
    hooks:
      - id: api-contracts
        name: API Contract Check
        entry: backend/scripts/check_api_contracts_wrapper.sh
        language: script
        files: ^backend/app/routes/.*\.py$
        pass_filenames: false
        description: Check API endpoints follow contract standards
        always_run: false

      - id: check-timezone-usage
        name: Check for date.today() usage in user code
        entry: backend/scripts/check_timezone_usage.py
        language: python
        files: ^backend/app/(routes|services|api)/.*\.py$
        exclude: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
        description: Prevent timezone bugs by checking for date.today() in user-facing code

      - id: check-repository-pattern
        name: Check Repository Pattern Compliance
        entry: python backend/scripts/check_repository_pattern.py
        language: system
        files: ^backend/app/(services|core)/.*\.py$
        pass_filenames: false
        description: Ensures services only use repositories for database access

Availability: server-sourced Last-Modified, accessible 409 modal, tests, legacy headers, auth/role gating
  backend/app/routes/availability_windows.py
  backend/app/schemas/availability_window.py
  backend/app/services/availability_service.py
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/(auth)/instructor/layout.tsx
  frontend/app/(auth)/student/layout.tsx
  frontend/app/(shared)/login/page.tsx
  frontend/app/dashboard/instructor/availability/page.tsx
  frontend/app/dashboard/instructor/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/e2e/tests/availability-conflict.spec.ts
  frontend/hooks/__tests__/useWeekSchedule.test.ts
  frontend/hooks/availability/useAvailability.ts
  frontend/hooks/availability/useBookedSlots.ts
  frontend/hooks/availability/useWeekSchedule.ts
Due: api-contracts, check-timezone-usage, check-repository-pattern

Auth/role gating for /(auth) routes + signup auto-login fix
  frontend/app/(shared)/signup/page.tsx
Due: none

docs: Add session handoff
  docs/session-handoffs/session-handoff-v100.md
Due: none

fix(stripe): add patch-aware mock fallbacks; preserve prod behavior, unblock CI
  backend/app/services/stripe_service.py
Due: check-timezone-usage, check-repository-pattern

Refactor and stabilize unit tests for lessons modals and card; mock availability API; fix brittle selectors
  frontend/__tests__/lessons/LessonCard.test.tsx
  frontend/__tests__/lessons/modals/CancelWarningModal.test.tsx
  frontend/__tests__/lessons/modals/RescheduleModal.test.tsx
  frontend/__tests__/pages/lessons/LessonDetailsPage.test.tsx
  frontend/__tests__/pages/lessons/MyLessonsPage.test.tsx
  metrics_history.json
Due: none

seed: default age_groups to ['adults'] and keep ~20% kids injection
  backend/scripts/reset_and_seed_yaml.py
Due: none

test: stabilize immediate auth tests to avoid midnight rollover
  backend/tests/services/test_booking_payment_service.py
Due: none

tests(e2e): stabilize booking journey and slot preservation; stub payments/booking APIs
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/pages/InstructorProfilePage.ts
  frontend/e2e/pages/SearchResultsPage.ts
  frontend/e2e/tests/basic-search.spec.ts
  frontend/e2e/tests/booking-journey-mocked.spec.ts
  frontend/e2e/tests/my-lessons.spec.ts
  frontend/e2e/tests/slot-preservation.spec.ts
  frontend/features/instructor-profile/components/AvailabilityCalendar.tsx
  frontend/features/instructor-profile/components/AvailabilityGrid.tsx
  frontend/features/instructor-profile/hooks/useInstructorAvailability.ts
Due: none

test: stabilize immediate-auth tests; avoid midnight rollover but keep <24h
  backend/tests/services/test_booking_payment_service.py
Due: none

feat(kids): dynamic kids services + age_group filtering (repo-compliant)
  backend/app/repositories/instructor_profile_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/routes/instructors.py
  backend/app/routes/services.py
  backend/app/schemas/instructor.py
  backend/app/schemas/service_catalog.py
  backend/app/services/instructor_service.py
  backend/tests/integration/routes/test_booking_payment_routes.py
  backend/tests/routes/test_instructors_filtering.py
  backend/tests/routes/test_services_catalog.py
  backend/tests/unit/services/test_instructor_service_filtering.py
Due: api-contracts, check-timezone-usage, check-repository-pattern

chore(availability): remove unused week summary route and response model
  backend/app/routes/availability_windows.py
  backend/app/schemas/availability_responses.py
  backend/app/services/stripe_service.py
Due: api-contracts, check-timezone-usage, check-repository-pattern

feat(kids+catalog): DB-driven categories on homepage, kids discovery, services order
  backend/app/repositories/service_catalog_repository.py
  backend/app/schemas/service_catalog.py
  backend/app/services/instructor_service.py
  backend/scripts/seed_data/catalog/categories.yaml
  frontend/app/(public)/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/features/shared/api/client.ts
Due: check-timezone-usage, check-repository-pattern

fix(auth,routing): redirect admins to /admin/analytics/codebase; prevent SSR hydration mismatch
  docs/session-handoffs/session-handoff-v101.md
  frontend/app/(auth)/instructor/layout.tsx
  frontend/app/(auth)/student/layout.tsx
  frontend/app/(shared)/login/page.tsx
  frontend/components/layout/StudentHeader.tsx
Due: none

feat(student): add notifications preferences tab with custom time picker
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/(auth)/student/layout.tsx
  frontend/app/globals.css
  frontend/app/providers.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/student/BillingTab.tsx
Due: none

feat: secure R2 profile pictures end-to-end; UI cropper; tests green; service metrics
  backend/alembic/versions/001_initial_schema.py
  backend/app/main.py
  backend/app/models/user.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/repositories/user_repository.py
  backend/app/routes/auth.py
  backend/app/routes/uploads.py
  backend/app/routes/users_profile_picture.py
  backend/app/schemas/user.py
  backend/app/services/dependencies.py
  backend/app/services/image_processing_service.py
  backend/app/services/personal_asset_service.py
  backend/app/services/r2_storage_client.py
  backend/tests/routes/test_profile_picture_routes.py
  backend/tests/services/test_image_processing_service.py
  backend/tests/services/test_personal_asset_service.py
  docs/infrastructure/r2-asset-guide.md
  docs/session-handoffs/session-handoff-v102.md
  frontend/__tests__/lessons/InstructorInfo.test.tsx
  frontend/__tests__/lessons/modals/RescheduleModal.test.tsx
  frontend/__tests__/pages/lessons/LessonDetailsPage.test.tsx
  frontend/__tests__/pages/lessons/MyLessonsPage.test.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/layout/StudentHeader.tsx
  frontend/components/lessons/InstructorInfo.tsx
  frontend/components/lessons/modals/RescheduleTimeSelectionModal.tsx
  frontend/components/modals/ImageCropModal.tsx
  frontend/components/user/ProfilePictureUpload.tsx
  frontend/components/user/UserAvatar.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/features/shared/hooks/useAuth.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/lib/api.ts
  monitoring/grafana/provisioning/dashboards/profile_picture_cache.json
Due: api-contracts, check-timezone-usage, check-repository-pattern

security(vercel): enforce HSTS on frontend for all routes
  metrics_history.json
  vercel.json
Due: none

feat(reviews): full reviews pagination/filters, secure booking review checks, and tip PaymentIntent integration
  backend/alembic/versions/004_booking_system.py
  backend/app/main.py
  backend/app/models/review.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/review_repository.py
  backend/app/routes/reviews.py
  backend/app/schemas/review.py
  backend/app/services/ratings_config.py
  backend/app/services/ratings_math.py
  backend/app/services/review_service.py
  backend/app/services/search_service.py
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/repositories/test_review_repository.py
  backend/tests/routes/test_reviews_batch_and_existing.py
  backend/tests/routes/test_reviews_routes.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/services/test_review_service.py
  backend/tests/unit/test_ratings_math.py
  docs/session-handoffs/session-handoff-v103.md
  frontend/__tests__/lessons/InstructorInfo.test.tsx
  frontend/__tests__/lessons/LessonCard.test.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/app/(auth)/student/review/[id]/page.tsx
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/app/(public)/instructors/[id]/reviews/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/lessons/InstructorInfo.tsx
  frontend/components/lessons/LessonCard.tsx
  frontend/components/user/UserAvatar.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfilePage.test.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/features/instructor-profile/components/ReviewsSection.tsx
  frontend/features/instructor-profile/hooks/useInstructorReviews.ts
  frontend/hooks/queries/useRatings.ts
  frontend/jest.setup.js
  frontend/public/.well-known/appspecific/com.chrome.devtools.json
  frontend/services/api/reviews.ts
Due: api-contracts, check-timezone-usage, check-repository-pattern

chore(analytics): add Vercel Web Analytics to Next.js root layout
  frontend/app/layout.tsx
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(frontend): enhance instructor onboarding flow with progress tracking and improved UX
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/onboarding/welcome/page.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/lessons/modals/CancelWarningModal.tsx
Due: none

feat(bookings): add reschedule flow, robust serialization, and test hardening
  backend/alembic/versions/004_booking_system.py
  backend/app/models/booking.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/bookings.py
  backend/app/routes/payments.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/tests/routes/test_bookings.py
  frontend/__tests__/lessons/modals/CancelWarningModal.test.tsx
  frontend/__tests__/lessons/modals/RescheduleModal.test.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/student/booking/confirm/page.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/layout.tsx
  frontend/app/providers.tsx
  frontend/components/lessons/modals/CancellationReasonModal.tsx
  frontend/components/lessons/modals/RescheduleModal.tsx
  frontend/e2e/tests/my-lessons.spec.ts
  frontend/features/shared/api/client.ts
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/jest-out.json
  metrics_history.json
  precommit_output.txt
Due: api-contracts, check-timezone-usage, check-repository-pattern

feat(frontend): add staff-only gate + staff login and stable e2e integration
  .gitignore
  docs/session-handoffs/session-handoff-v104.md
  frontend/app/(public)/page.tsx
  frontend/app/staff-login/page.tsx
  frontend/e2e/global-setup.ts
  frontend/middleware.ts
  frontend/package.json
  frontend/playwright.config.ts
  metrics_history.json
Due: none

feat(beta): end-to-end instructor beta invites, join flow, and server-side enforcement
  backend/alembic/versions/006_final_constraints.py
  backend/app/main.py
  backend/app/models/beta.py
  backend/app/repositories/beta_repository.py
  backend/app/routes/auth.py
  backend/app/routes/beta.py
  backend/app/schemas/beta.py
  backend/app/schemas/user.py
  backend/app/services/beta_service.py
  backend/app/services/email_subjects.py
  backend/app/services/template_registry.py
  backend/app/templates/email/beta/invite.html
  backend/tests/conftest.py
  backend/tests/integration/routes/test_booking_payment_routes.py
  backend/tests/repositories/test_beta_repository.py
  backend/tests/routes/test_beta_routes.py
  backend/tests/routes/test_reviews_batch_and_existing.py
  backend/tests/services/test_booking_payment_service.py
  backend/tests/unit/services/test_beta_service.py
  frontend/app/(admin)/admin/analytics/AnalyticsNav.tsx
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(admin)/admin/analytics/codebase/page.tsx
  frontend/app/(admin)/admin/analytics/database/page.tsx
  frontend/app/(admin)/admin/analytics/redis/page.tsx
  frontend/app/(admin)/admin/analytics/search/page.tsx
  frontend/app/(admin)/admin/beta/invites/page.tsx
  frontend/app/(public)/instructor/join/page.tsx
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/app/(public)/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/app/layout.tsx
  frontend/contexts/BetaContext.tsx
  frontend/lib/beta-config.ts
  frontend/middleware.ts
  frontend/next.config.ts
  frontend/package.json
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern

Admin layout fix + build green: align candidates page, clean JSX, and standardize sidebar
  frontend/app/(admin)/admin/AdminSidebar.tsx
  frontend/app/(admin)/admin/analytics/AnalyticsNav.tsx
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(admin)/admin/analytics/codebase/page.tsx
  frontend/app/(admin)/admin/analytics/database/page.tsx
  frontend/app/(admin)/admin/analytics/redis/page.tsx
  frontend/app/(admin)/admin/analytics/search/page.tsx
  frontend/app/(admin)/admin/beta/invites/page.tsx
  frontend/app/(admin)/admin/beta/ui-preview/page.tsx
  frontend/app/(admin)/admin/engineering/codebase/page.tsx
  frontend/app/(admin)/admin/ops/database/components/DatabasePoolStatus.tsx
  frontend/app/(admin)/admin/ops/database/page.tsx
  frontend/app/(admin)/admin/ops/redis/components/CeleryQueuesChart.tsx
  frontend/app/(admin)/admin/ops/redis/components/ConnectionAudit.tsx
  frontend/app/(admin)/admin/ops/redis/components/MemoryUsageChart.tsx
  frontend/app/(admin)/admin/ops/redis/components/OperationsMetrics.tsx
  frontend/app/(admin)/admin/ops/redis/components/StatusCards.tsx
  frontend/app/(admin)/admin/ops/redis/page.tsx
  frontend/app/layout.tsx
  frontend/components/ui/Reveal.tsx
  frontend/package-lock.json
  frontend/package.json
Due: none

frontend: unify onboarding animations; profile prefill/persist; payment UX; avatar fallback; deps
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/payment-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/onboarding/welcome/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx.backup
  frontend/app/globals.css
  frontend/components/UserProfileDropdown.tsx
  frontend/components/student/PaymentMethods.tsx
  frontend/components/user/UserAvatar.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentMethodSelection.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/jest-out.json
  frontend/package-lock.json
  frontend/package.json
Due: none

Admin UI polish + Radix upgrades + Beta metrics integration
  backend/app/core/config.py
  backend/app/middleware/beta_phase_header.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/routes/beta.py
  backend/app/schemas/beta.py
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(admin)/admin/analytics/search/components/DateRangeSelector.tsx
  frontend/app/(admin)/admin/analytics/search/page.tsx
  frontend/app/(admin)/admin/beta/invites/page.tsx
  frontend/app/(admin)/admin/beta/settings/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx.backup
  frontend/app/api/proxy/beta/metrics/summary/route.ts
  frontend/package-lock.json
  frontend/package.json
  monitoring/grafana/provisioning/alerting/alerting.yml
Due: api-contracts, check-timezone-usage, check-repository-pattern

feat(beta): Celery batch invites with progress UI; standardize admin layout; fix API contract
  backend/app/routes/beta.py
  backend/app/schemas/beta.py
  backend/app/services/beta_service.py
  backend/app/tasks/email.py
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(admin)/admin/analytics/search/page.tsx
  frontend/app/(admin)/admin/beta/invites/page.tsx
  frontend/app/(admin)/admin/beta/metrics/page.tsx
  frontend/app/(admin)/admin/beta/settings/page.tsx
  frontend/app/(admin)/admin/beta/ui-preview/page.tsx
  frontend/app/(admin)/admin/engineering/codebase/page.tsx
  frontend/app/(admin)/admin/ops/database/page.tsx
  frontend/app/(admin)/admin/ops/redis/page.tsx
  frontend/app/api/proxy/beta/invites/send-batch-async/route.ts
  frontend/app/api/proxy/beta/invites/send-batch-progress/route.ts
Due: api-contracts, check-timezone-usage, check-repository-pattern

SITE_MODE migration: unify env handling for preview/prod, prep_db refactor, RLS migration, and CI smoke
  .github/workflows/db-smoke.yml
  README.md
  backend/alembic/env.py
  backend/alembic/versions/007_enable_rls.py
  backend/app/core/config.py
  backend/app/core/database_config.py
  backend/app/main.py
  backend/app/tasks/celery_init.py
  backend/run_backend.py
  backend/run_celery_beat.py
  backend/run_celery_worker.py
  backend/run_flower.py
  backend/scripts/check_database_safety.py
  backend/scripts/create_simple_stripe_accounts.py
  backend/scripts/create_stripe_prefilled_accounts.py
  backend/scripts/create_test_stripe_accounts.py
  backend/scripts/data/README.md
  backend/scripts/demonstrate_database_safety.py
  backend/scripts/export_boundaries.py
  backend/scripts/monitoring/check_production_monitoring.py
  backend/scripts/monitoring/debug_production_alerts.py
  backend/scripts/pre_deploy_check.py
  backend/scripts/prep_db.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_data.py
  backend/scripts/test_deployment_scenarios.py
  backend/scripts/update_stripe_mapping.py
  backend/scripts/verify_database_safety.py
  backend/tests/conftest.py
  docs/session-handoffs/session-handoff-v105.md
  metrics_history.json
Due: check-repository-pattern

SITE_MODE-only DB safety: migrate tests, remove legacy flags; align CI/prod; update deploy script
  backend/app/core/config.py
  backend/scripts/render_deploy_api.sh
  backend/tests/test_database_safety.py
  backend/tests/test_database_safety_fixed.py
Due: check-repository-pattern

CI/worker hardening: make prod DB optional outside SITE_MODE=prod; force INT for API contracts
  backend/app/core/config.py
  backend/app/core/database_config.py
  backend/scripts/check_api_contracts_standalone.py
Due: check-repository-pattern

Celery import/CI fixes: SITE_MODE-only prod detection, no prod URL required outside prod
  backend/app/core/database_config.py
Due: check-repository-pattern

Database env hardening: SITE_MODE-aware validation; stable Celery init; CI-safe tests
  backend/app/core/database_config.py
  backend/app/tasks/__init__.py
  backend/app/tasks/celery_init.py
  backend/tests/test_database_safety.py
Due: check-repository-pattern

SITE_MODE env hardening + Celery init stability + dynamic CORS for preview
  backend/app/main.py
  metrics_history.json
Due: none

feat(preview,frontend,ci): enforce project-level staff gate; add /logout; expand preview hosts; add smoke test
  .github/workflows/smoke.yml
  frontend/app/logout/route.ts
  frontend/lib/beta-config.ts
  frontend/middleware.ts
  metrics_history.json
Due: none

ci(preview): add API header-bypass smoke; web gated-path redirect check feat(preview): refine X-Preview-Gate header semantics
  .github/workflows/smoke.yml
  frontend/middleware.ts
Due: none

ci(smoke): make preview gated ping pass via header; harden preview/prod jobs
  .github/workflows/smoke.yml
  backend/scripts/render_deploy_api.sh
Due: none

fix: search tracking, guest transfer, and rate limiting issues
  backend/app/routes/auth.py
  frontend/app/(public)/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/app/(shared)/login/page.tsx
  frontend/features/shared/api/client.ts
  frontend/lib/react-query/queryClient.ts
  frontend/lib/searchTracking.ts
Due: api-contracts, check-timezone-usage

chore: ignore local *.backup files
  .gitignore
Due: none

Instructor dashboard/profile polish, onboarding fixes, and API client hardening
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/app/globals.css
  frontend/components/Modal.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/ui/select.tsx
  frontend/features/shared/api/client.ts
  frontend/lib/betaApi.ts
Due: none
