Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


fix: cache invalidation architecture overhaul (#165)
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/env-contract.yml
  .github/workflows/lhci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/privacy-audit.yml
  backend/app/main.py
  backend/app/routes/v1/public.py
  backend/app/services/availability_service.py
  backend/app/services/booking_service.py
  backend/app/services/bulk_operation_service.py
  backend/app/services/cache_service.py
  backend/app/services/favorites_service.py
  backend/app/services/instructor_service.py
  backend/app/services/review_service.py
  backend/app/services/search/cache_invalidation.py
  backend/tests/integration/test_cache_invalidation.py
  backend/tests/unit/test_caching_implementation.py
  docs/architecture/cache_audit_cache_key_inventory.md
  docs/architecture/cache_audit_data_mutation_points.md
  docs/architecture/cache_audit_event_infrastructure.md
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore: improve uvicorn dev server reload settings
  backend/run_backend.py
Due: none

chore(deps): batch dependency updates + mypy/Stripe compatibility fixes
  .github/workflows/ci.yml
  .github/workflows/contract-audit.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/env-contract.yml
  .github/workflows/frontend-lint-build.yml
  .github/workflows/lhci.yml
  .github/workflows/load-test.yml
  .github/workflows/nightly-schemathesis.yml
  .github/workflows/owasp-zap.yml
  .github/workflows/privacy-audit.yml
  .github/workflows/privacy-db-image-bump.yml
  .github/workflows/schemathesis.yml
  .github/workflows/test-analytics.yml
  .github/workflows/typing-strict-experimental.yml
  backend/app/commands/analytics.py
  backend/app/main.py
  backend/app/tasks/analytics.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/email.py
  backend/app/tasks/embedding_migration.py
  backend/app/tasks/location_learning.py
  backend/app/tasks/monitoring_tasks.py
  backend/app/tasks/notification_tasks.py
  backend/app/tasks/payment_tasks.py
  backend/app/tasks/privacy_audit_task.py
  backend/app/tasks/privacy_tasks.py
  backend/app/tasks/retention_tasks.py
  backend/app/tasks/search_analytics.py
  backend/openapi/openapi.json
  backend/requirements-celery.txt
  backend/requirements-dev.txt
  backend/requirements-flower.txt
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ci): env-contract.yml grep patterns and rate-limit endpoint
  .github/workflows/env-contract.yml
  frontend/e2e/env-contract.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ci): add celery-types to requirements-dev.txt
  backend/requirements-dev.txt
Due: none

chore(deps): batch dependency updates (13 Dependabot PRs) (#166)
  .github/workflows/ci.yml
  .github/workflows/contract-audit.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/env-contract.yml
  .github/workflows/frontend-lint-build.yml
  .github/workflows/lhci.yml
  .github/workflows/load-test.yml
  .github/workflows/nightly-schemathesis.yml
  .github/workflows/owasp-zap.yml
  .github/workflows/privacy-audit.yml
  .github/workflows/privacy-db-image-bump.yml
  .github/workflows/schemathesis.yml
  .github/workflows/test-analytics.yml
  .github/workflows/typing-strict-experimental.yml
  backend/app/commands/analytics.py
  backend/app/tasks/analytics.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/email.py
  backend/app/tasks/embedding_migration.py
  backend/app/tasks/location_learning.py
  backend/app/tasks/monitoring_tasks.py
  backend/app/tasks/notification_tasks.py
  backend/app/tasks/payment_tasks.py
  backend/app/tasks/privacy_audit_task.py
  backend/app/tasks/privacy_tasks.py
  backend/app/tasks/retention_tasks.py
  backend/app/tasks/search_analytics.py
  backend/openapi/openapi.json
  backend/requirements-celery.txt
  backend/requirements-dev.txt
  backend/requirements-flower.txt
  backend/requirements.txt
  backend/run_backend.py
  frontend/e2e/env-contract.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(search): add online/in-person filter and 'near me' location search
  backend/app/repositories/address_repository.py
  backend/app/repositories/filter_repository.py
  backend/app/routes/v1/search.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/patterns.py
  backend/app/services/search/query_parser.py
  backend/tests/unit/services/search/test_query_parser.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(search): admin UI for lesson type + near me testing
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/addresses.py
  backend/app/routes/v1/search.py
  backend/openapi/openapi.json
  frontend/app/(admin)/admin/nl-search/page.tsx
  frontend/components/forms/PlacesAutocompleteInput.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix(search): near me detection and admin UI improvements
  backend/app/services/search/search_cache.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(search): online/in-person filter + near me location search (#167)
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/address_repository.py
  backend/app/repositories/filter_repository.py
  backend/app/routes/v1/addresses.py
  backend/app/routes/v1/search.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/patterns.py
  backend/app/services/search/query_parser.py
  backend/app/services/search/search_cache.py
  backend/openapi/openapi.json
  backend/tests/unit/services/search/test_query_parser.py
  frontend/app/(admin)/admin/nl-search/page.tsx
  frontend/components/forms/PlacesAutocompleteInput.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(instructor-dashboard): dark mode support and hover effects
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/globals.css
Due: frontend-eslint, frontend-public-env, frontend-no-console

test: update dashboard reviews test to match star removal
  frontend/e2e/tests/instructor.dashboard-reviews.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ci): improve env-contract test logging and rate limit detection
  .github/workflows/env-contract.yml
  frontend/e2e/env-contract.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ci): enable env-contract tests and fix rate limit probe
  .github/workflows/env-contract.yml
  frontend/e2e/env-contract.spec.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ci): fix env-contract for push/PR events and add rate limit test endpoint
  .github/workflows/env-contract.yml
  backend/app/routes/v1/health.py
  frontend/e2e/env-contract.spec.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

feat(search): cache user addresses for 'near me' queries
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/addresses.py
  backend/app/routes/v1/search.py
  backend/openapi/openapi.json
  backend/tests/integration/test_user_address_cache.py
  docs/session-handoffs/session-handoff-v122.md
  frontend/src/api/generated/health/health.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

feat(stripe): switch from application_fee_amount to transfer_data[amount]
  backend/app/services/stripe_service.py
  backend/tests/e2e/test_stripe_preview_parity.py
  backend/tests/services/test_stripe_service.py
  backend/tests/tasks/test_payment_tasks.py
  docs/stripe/docs-stripe-cancellation-policy.md
  metrics_history.json
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(stripe): update refund handling for transfer_data[amount] architecture
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/tests/integration/test_instructor_service_all_services.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/services/test_stripe_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(payments): 12-24h cancellation credit uses lesson price only
  backend/app/services/booking_service.py
  backend/tests/integration/test_instructor_service_all_services.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/test_service_catalog_enhancements.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

perf(stripe): add timeouts and timing logs for API calls
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(booking): fair reschedule loophole fix with accurate timing (Part 4)
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/booking.py
  backend/app/services/booking_service.py
  backend/tests/services/test_booking_cancellation_policy.py
  docs/stripe/docs-stripe-cancellation-policy.md
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(mypy): handle nullable hours_from_original in gaming reschedule logging
  backend/app/services/booking_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(booking): block second reschedule (Part 5)
  backend/app/routes/v1/bookings.py
  backend/app/services/booking_service.py
  backend/tests/services/test_booking_cancellation_policy.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(availability): fix midnight slot loss and cookie race condition
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/lib/calendar/__tests__/bitset.test.ts
  frontend/lib/calendar/bitset.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(booking): fix timezone bug rejecting early morning bookings
  backend/app/services/booking_service.py
  backend/tests/integration/availability/test_booking_early_morning_timezone.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(booking): add type annotation to satisfy mypy strict mode
  backend/app/services/booking_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(pricing): Part 6 - credits apply to lesson price only
  backend/app/services/pricing_service.py
  backend/app/services/stripe_service.py
  backend/tests/integration/test_payment_flow.py
  backend/tests/services/test_pricing_service.py
  backend/tests/test_service_catalog_enhancements.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(frontend): Part 7 - replace 50% messaging with lesson price credit
  frontend/__tests__/hooks/useMyLessons.test.tsx
  frontend/__tests__/lessons/modals/CancelWarningModal.test.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/components/lessons/modals/CancelWarningModal.tsx
  frontend/components/lessons/modals/CancellationConfirmationModal.tsx
  frontend/hooks/useMyLessons.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(earnings): Part 9 - store tier in DB with comprehensive test coverage
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/payment.py
  backend/app/repositories/payment_repository.py
  backend/app/services/stripe_service.py
  backend/tests/repositories/test_payment_repository.py
  backend/tests/services/test_stripe_payouts.py
  frontend/features/shared/api/types.ts
  frontend/hooks/useMyLessons.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(instructor): Part 10 - add Mark Complete and Report No-Show actions
  backend/app/services/review_service.py
  backend/tests/routes/test_reviews_routes.py
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/features/bookings/components/BookingList.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(timezone): Part 11 - fix UTC bugs in check_availability and Celery task
  backend/app/services/booking_service.py
  backend/app/tasks/payment_tasks.py
  backend/tests/tasks/test_payment_tasks.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

test(timezone): add comprehensive regression tests for Part 11 fixes
  backend/tests/test_timezone_handling.py
Due: none

perf(transactions): Part 12 complete - all Stripe calls outside transactions
  .pre-commit-config.yaml
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/scripts/check_stripe_transaction_pattern.py
  backend/tests/test_transaction_isolation.py
  docs/architecture/architecture-decisions.md
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

perf(celery): Part 12 - refactor Celery tasks to 3-phase pattern
  backend/app/tasks/payment_tasks.py
  backend/tests/monitoring/test_performance_overhead.py
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/test_timezone_handling.py
Due: none

test(transactions): add complete coverage for 3-phase pattern
  backend/tests/test_transaction_isolation.py
Due: none

fix(seed): prevent COMPLETED bookings with future dates
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_utils.py
  backend/tests/scripts/test_seed_validation.py
Due: none

feat(admin): add refund endpoint for booking management
  backend/.artifacts/api.expected.d.ts
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/admin/__init__.py
  backend/app/routes/v1/admin/refunds.py
  backend/app/schemas/admin_refunds.py
  backend/app/services/admin_refund_service.py
  backend/openapi/openapi.json
  backend/tests/routes/admin/test_admin_refunds.py
  frontend/src/api/generated/admin-refunds/admin-refunds.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(admin): add Payments UI for booking management
  frontend/app/(admin)/admin/AdminSidebar.tsx
  frontend/app/(admin)/admin/__tests__/AdminSidebar.spec.tsx
  frontend/app/(admin)/admin/payments/PaymentsAdminClient.tsx
  frontend/app/(admin)/admin/payments/components/AuditLogTable.tsx
  frontend/app/(admin)/admin/payments/components/BookingDetailPanel.tsx
  frontend/app/(admin)/admin/payments/components/BookingFilters.tsx
  frontend/app/(admin)/admin/payments/components/BookingsTab.tsx
  frontend/app/(admin)/admin/payments/components/BookingsTable.tsx
  frontend/app/(admin)/admin/payments/components/CancelModal.tsx
  frontend/app/(admin)/admin/payments/components/HistoryTab.tsx
  frontend/app/(admin)/admin/payments/components/QuickStats.tsx
  frontend/app/(admin)/admin/payments/components/RefundModal.tsx
  frontend/app/(admin)/admin/payments/hooks/useAdminBookings.ts
  frontend/app/(admin)/admin/payments/hooks/useAuditLog.ts
  frontend/app/(admin)/admin/payments/hooks/useBookingStats.ts
  frontend/app/(admin)/admin/payments/page.tsx
  frontend/app/(admin)/admin/payments/utils.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(admin): add backend endpoints for payments management
  backend/.artifacts/api.expected.d.ts
  backend/.repository-migration-tracking.json
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/audit_repository.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/payment_repository.py
  backend/app/routes/v1/admin/__init__.py
  backend/app/routes/v1/admin/bookings.py
  backend/app/schemas/admin_bookings.py
  backend/app/services/admin_booking_service.py
  backend/openapi/openapi.json
  frontend/src/api/generated/admin-bookings/admin-bookings.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

test(admin): add tests and wire frontend for payments management
  backend/tests/routes/admin/test_admin_bookings.py
  backend/tests/services/test_admin_booking_service.py
  backend/tests/test_routes_invariants.py
  frontend/app/(admin)/admin/payments/PaymentsAdminClient.tsx
  frontend/app/(admin)/admin/payments/components/RefundModal.tsx
  frontend/app/(admin)/admin/payments/hooks/useAdminBookings.ts
  frontend/app/(admin)/admin/payments/hooks/useAuditLog.ts
  frontend/app/(admin)/admin/payments/hooks/useBookingDetail.ts
  frontend/app/(admin)/admin/payments/hooks/useBookingStats.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console
