Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-contracts, check-timezone-usage, check-repository-pattern

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.9
        args: [--line-length=120]
        exclude: ^monitoring/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=120]
        exclude: ^monitoring/

  - repo: local
    hooks:
      - id: api-contracts
        name: API Contract Check
        entry: backend/scripts/check_api_contracts_wrapper.sh
        language: script
        files: ^backend/app/routes/.*\.py$
        pass_filenames: false
        description: Check API endpoints follow contract standards
        always_run: false

      - id: check-timezone-usage
        name: Check for date.today() usage in user code
        entry: backend/scripts/check_timezone_usage.py
        language: python
        files: ^backend/app/(routes|services|api)/.*\.py$
        exclude: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
        description: Prevent timezone bugs by checking for date.today() in user-facing code

      - id: check-repository-pattern
        name: Check Repository Pattern Compliance
        entry: python backend/scripts/check_repository_pattern.py
        language: system
        files: ^backend/app/(services|core)/.*\.py$
        pass_filenames: false
        description: Ensures services only use repositories for database access

test(spatial): stabilize pagination test on CI by ensuring seed count >= 2
  backend/tests/services/test_address_service_spatial.py
  metrics_history.json
Due: none

fix(search): improve responsive layout and fix card overlap issues
  frontend/app/(public)/search/page.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
  metrics_history.json
Due: none

fix(frontend): improve stacked view layout for search results
  frontend/app/(public)/search/page.tsx
  frontend/components/InstructorCard.tsx
Due: none

feat(frontend): add click-to-focus map navigation for instructor coverage areas
  frontend/app/(public)/search/page.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
Due: none

feat(frontend): add Google Maps-style "Search this area" filtering for instructor results
  frontend/app/(public)/search/page.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
Due: none

feat(student-dashboard): implement Favorites tab UX and improve profile interactions
  CLAUDE.md
  frontend/app/(public)/search/page.tsx
  frontend/app/dashboard/student/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
Due: none

fix(auth): resolve password reset email delivery issues
  backend/app/core/config.py
  backend/app/routes/password_reset.py
  backend/app/services/email.py
  backend/app/services/password_reset_service.py
  frontend/app/forgot-password/page.tsx
  frontend/app/reset-password/page.tsx
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern

fix(auth): resolve password reset email delivery issues and update tests
  backend/tests/integration/services/test_password_reset_service.py
  backend/tests/routes/test_password_reset_routes.py
  backend/tests/unit/services/test_email_service.py
Due: none

feat(payments): add Stripe payment tables and improve region boundary handling
  backend/.gitignore
  backend/alembic/versions/004_booking_system.py
  backend/scripts/cities.yaml
  backend/scripts/data/README.md
  backend/scripts/download_nyc_boundaries.py
  backend/scripts/export_boundaries.py
  backend/scripts/load_region_boundaries.py
  backend/scripts/prep_db.py
  metrics_history.json
Due: none

feat(payments): implement PaymentRepository for Stripe Connect integration
  backend/app/models/booking.py
  backend/app/models/instructor.py
  backend/app/models/payment.py
  backend/app/models/user.py
  backend/app/repositories/factory.py
  backend/app/repositories/payment_repository.py
  backend/tests/repositories/test_payment_repository.py
Due: none

feat(payments): implement Stripe Connect marketplace payment infrastructure
  backend/.env.example
  backend/app/core/config.py
  backend/app/main.py
  backend/app/routes/payments.py
  backend/app/routes/stripe_webhooks.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/stripe_service.py
  backend/tests/routes/test_payments.py
  backend/tests/services/test_stripe_service.py
Due: api-contracts, check-timezone-usage, check-repository-pattern

fix(payments): update webhook tests to match WebhookResponse schema
  backend/tests/routes/test_payments.py
Due: none

fix(models): add payment model imports to models/__init__.py
  backend/app/models/__init__.py
Due: none

fix(tests): replace deprecated data= with content= in webhook tests
  backend/tests/routes/test_payments.py
Due: none

docs: condense project documentation from 200+ to 40 pages
  docs/architecture/02_architecture_state.md
  docs/architecture/06_repository_pattern_architecture.md
  docs/architecture/architecture-decisions.md
  docs/development/testing/05_testing_infrastructure.md
  docs/project-status/03_work-streams-status.md
  docs/project-status/04_system-capabilities.md
Due: none

feat(tests): complete payment system integration tests with repository pattern
  backend/tests/integration/test_payment_flow.py
Due: none

fix(tests): restore 100% test pass rate for payment system
  backend/tests/repositories/test_payment_repository.py
  backend/tests/routes/test_payments.py
  backend/tests/services/test_stripe_service.py
Due: none

feat: Update UI styling and improve booking flow across multiple pages
  backend/app/templates/email/auth/password_reset.html
  backend/app/templates/email/auth/password_reset_confirmation.html
  backend/app/templates/email/auth/welcome.html
  backend/app/templates/email/base.html
  backend/app/templates/email/booking/cancellation_confirmation_instructor.html
  backend/app/templates/email/booking/cancellation_confirmation_student.html
  backend/app/templates/email/booking/cancellation_instructor.html
  backend/app/templates/email/booking/cancellation_student.html
  backend/app/templates/email/booking/confirmation_instructor.html
  backend/app/templates/email/booking/confirmation_student.html
  backend/app/templates/email/booking/new_message.html
  backend/app/templates/email/booking/reminder_instructor.html
  backend/app/templates/email/booking/reminder_student.html
  backend/app/templates/email/referrals/invite.html
  backend/app/templates/email/referrals/invite_standalone.html
  frontend/app/(auth)/student/booking/confirm/page.tsx
  frontend/app/(auth)/student/layout.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/app/(public)/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/app/become-instructor/page.tsx
  frontend/app/dashboard/instructor/page.tsx
  frontend/app/dashboard/student/page.tsx
  frontend/app/forgot-password/page.tsx
  frontend/app/login/page.tsx
  frontend/app/reset-password/page.tsx
  frontend/app/signup/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/features/instructor-profile/components/AvailabilityGrid.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/features/instructor-profile/components/ServiceCards.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
Due: none

fix(ci): add dummy Stripe env vars for CI tests and fix webhook verification test
  backend/.github/workflows/backend-tests.yml
  backend/tests/integration/test_payment_flow.py
Due: none

fix(frontend): resolve hydration + hooks-order issues; enforce auth/token gating; reduce noisy errors
  frontend/app/(public)/page.tsx
  frontend/app/layout.tsx
  frontend/components/BookAgain.tsx
  frontend/components/RecentSearches.tsx
  frontend/components/UpcomingLessons.tsx
  frontend/features/shared/hooks/useAuth.tsx
  frontend/lib/searchTracking.ts
Due: none

feat(frontend): add Stripe payment components for student checkout flow
  frontend/components/booking/CheckoutFlow.tsx
  frontend/components/student/PaymentMethods.tsx
  frontend/docs/PAYMENT_COMPONENTS.md
  frontend/features/student/booking/components/BookingModalWithPayment.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/services/api/payments.ts
Due: none

feat(frontend): add Stripe Connect onboarding components for instructors
  frontend/components/instructor/PayoutsDashboard.tsx
  frontend/components/instructor/StripeOnboarding.tsx
  frontend/docs/INSTRUCTOR_PAYMENT_COMPONENTS.md
Due: none

feat(payments): Add billing dashboard with transaction history and credit system
  backend/app/repositories/payment_repository.py
  backend/app/routes/payments.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/stripe_service.py
  backend/tests/routes/test_payments.py
  frontend/app/dashboard/student/page.tsx
  frontend/components/instructor/PayoutsDashboard.tsx
  frontend/components/student/BillingTab.tsx
  frontend/components/student/PaymentMethods.tsx
  frontend/services/api/payments.ts
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern

docs(session handoff): added v98
  docs/session-handoffs/session-handoff-v98.md
Due: none

feat(payments): Complete Stripe integration with payment method management and transaction history
  backend/app/repositories/payment_repository.py
  backend/app/routes/payments.py
  backend/app/services/stripe_service.py
  backend/config/stripe_test_accounts.json
  backend/scripts/create_simple_stripe_accounts.py
  backend/scripts/create_stripe_prefilled_accounts.py
  backend/scripts/create_test_stripe_accounts.py
  backend/scripts/fully_onboard_test_accounts.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/update_stripe_mapping.py
  docs/stripe/INSTRUCTOR_PAYMENT_COMPONENTS.md
  docs/stripe/PAYMENT_COMPONENTS.md
  docs/stripe/STRIPE_TEST_SETUP.md
  frontend/app/(auth)/student/booking/confirm/page.tsx
  frontend/app/dashboard/instructor/page.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/modals/DeletePaymentMethodModal.tsx
  frontend/components/student/PaymentMethods.tsx
  frontend/features/shared/api/client.ts
  frontend/features/student/booking/hooks/useCreateBooking.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentMethodSelection.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern

test(payments): Fix Stripe payment tests for new attachment flow and dynamic URLs
  backend/tests/integration/test_payment_flow.py
  backend/tests/services/test_stripe_service.py
Due: none

feat(auth/booking): improve session duration and booking conflict prevention
  backend/app/core/config.py
  frontend/app/signup/page.tsx
  frontend/features/shared/api/client.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
Due: check-repository-pattern

fix(scripts): improve test_chat_api.py dependency handling
  backend/scripts/test_chat_api.py
Due: none

feat(payments): Complete Stripe payment system implementation (Phases 1-4)
  backend/alembic/versions/004_booking_system.py
  backend/app/main.py
  backend/app/models/booking.py
  backend/app/models/payment.py
  backend/app/models/user.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/payment_repository.py
  backend/app/routes/account_management.py
  backend/app/routes/availability_windows.py
  backend/app/routes/bookings.py
  backend/app/routes/instructor_bookings.py
  backend/app/routes/instructors.py
  backend/app/routes/monitoring.py
  backend/app/schemas/booking.py
  backend/app/schemas/monitoring_responses.py
  backend/app/services/booking_service.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/payment_tasks.py
  backend/tests/integration/routes/test_booking_payment_routes.py
  backend/tests/repositories/test_payment_repository.py
  backend/tests/services/test_booking_payment_service.py
  backend/tests/tasks/test_payment_tasks.py
  start-dev.sh
  stop-dev.sh
Due: api-contracts, check-timezone-usage, check-repository-pattern

feat: Add review system and enhance chat/lesson UI
  frontend/app/(auth)/student/layout.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/app/(auth)/student/review/[id]/page.tsx
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/app/(public)/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/ChatModal.tsx
  frontend/components/lessons/InstructorInfo.tsx
  frontend/components/lessons/LessonCard.tsx
  frontend/components/ui/status-badge.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/features/instructor-profile/components/ReviewsSection.tsx
  frontend/features/instructor-profile/components/ServiceCards.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
Due: none

feat(Payments): credits-at-checkout, 3DS flow surfacing, payout auditing, and UI/metrics polish
  backend/alembic/versions/004_booking_system.py
  backend/app/core/privacy_auditor.py
  backend/app/models/payment.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/repositories/payment_repository.py
  backend/app/routes/bookings.py
  backend/app/routes/payments.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/services/instructor_service.py
  backend/app/services/notification_service.py
  backend/app/services/stripe_service.py
  backend/app/services/template_service.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/payment_tasks.py
  backend/run_celery_worker.py
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/repositories/test_payment_repository.py
  backend/tests/routes/test_booking_payment_method_update.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/services/test_booking_immediate_auth.py
  backend/tests/services/test_booking_payment_service.py
  backend/tests/services/test_payout_event_persistence.py
  backend/tests/services/test_stripe_webhooks_additional.py
  backend/tests/tasks/test_payment_tasks.py
  frontend/__tests__/lessons/InstructorInfo.test.tsx
  frontend/__tests__/lessons/LessonStatus.test.tsx
  frontend/__tests__/pages/lessons/LessonDetailsPage.test.tsx
  frontend/__tests__/pages/lessons/MyLessonsPage.test.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/dashboard/instructor/page.tsx
  frontend/components/student/BillingTab.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentMethodSelection.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/types/index.ts
  metrics_history.json
  monitoring/grafana/provisioning/alerting/alerting.yml
  monitoring/grafana/provisioning/dashboards/business-metrics.json
Due: api-contracts, check-timezone-usage, check-repository-pattern

Fix migration downgrade order: drop instructor_payout_events before instructor_profiles
  backend/alembic/versions/004_booking_system.py
Due: none

fix(bookings): prevent CI 500s by mocking SetupIntent when Stripe is not configured
  backend/app/services/booking_service.py
Due: check-timezone-usage, check-repository-pattern

Public availability: move business logic to service; fix booked/overlap handling
  backend/app/routes/public.py
  backend/app/services/availability_service.py
  docs/session-handoffs/session-handoff-v99.md
Due: api-contracts, check-timezone-usage, check-repository-pattern

feat(frontend): major UI overhaul with purple branding and improved UX
  backend/app/core/timezone_utils.py
  backend/app/repositories/booking_repository.py
  frontend/__tests__/lessons/modals/CancelWarningModal.test.tsx
  frontend/__tests__/lessons/modals/RescheduleModal.test.tsx
  frontend/__tests__/pages/lessons/LessonDetailsPage.test.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/app/(auth)/student/review/[id]/page.tsx
  frontend/app/(public)/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/NotificationBar.tsx
  frontend/components/UpcomingLessons.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/lessons/LessonCard.tsx
  frontend/components/lessons/modals/CancelWarningModal.tsx
  frontend/components/lessons/modals/CancellationConfirmationModal.tsx
  frontend/components/lessons/modals/CancellationReasonModal.tsx
  frontend/components/lessons/modals/RescheduleModal.tsx
  frontend/components/lessons/modals/RescheduleTimeSelectionModal.tsx
  frontend/components/ui/GlobalBackground.tsx
Due: check-repository-pattern

fix(payments): align CI tests with Stripe patching and enforce time-order
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/tests/services/test_booking_payment_service.py
Due: check-timezone-usage, check-repository-pattern

fix(stripe): route Stripe calls through real paths; stabilize booking time in test
  backend/app/services/stripe_service.py
  backend/tests/integration/routes/test_booking_payment_routes.py
  frontend/app/become-instructor/page.tsx
Due: check-timezone-usage, check-repository-pattern

feat(phoenix-instructor): onboarding, dashboard, nav polish + homepage instructor gating
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/instructor.py
  backend/app/routes/availability_windows.py
  backend/app/routes/instructors.py
  backend/app/routes/payments.py
  backend/app/schemas/instructor.py
  backend/app/services/auth_service.py
  backend/app/services/instructor_service.py
  backend/app/services/stripe_service.py
  backend/scripts/reset_and_seed_yaml.py
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/onboarding/welcome/page.tsx
  frontend/app/(public)/page.tsx
  frontend/app/(shared)/login/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/app/dashboard/instructor/page.tsx
  frontend/components/UpcomingLessons.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/availability/InteractiveGrid.tsx
  frontend/lib/api.ts
  frontend/services/api/payments.ts
  frontend/types/instructor.ts
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern
