Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


fix: batch availability reads (N+1 → 1) + upgrade silent exception swallowing to warnings
  backend/app/repositories/booking/admin_query_mixin.py
  backend/app/repositories/location_alias_repository.py
  backend/app/repositories/location_resolution_repository.py
  backend/app/repositories/unresolved_location_query_repository.py
  backend/app/services/availability/reads.py
  backend/app/services/availability/week_save.py
  backend/app/services/booking/availability_opportunities.py
  backend/app/services/instructor/location_mixin.py
  backend/app/services/instructor/profile_mutations_mixin.py
  backend/app/services/instructor/taxonomy_reads_mixin.py
  backend/app/services/payment_summary_service.py
  backend/app/services/search/alias_learning_service.py
  backend/app/services/search/location_embedding_service.py
  backend/app/services/search/location_learning_admin_service.py
  backend/app/services/search/location_llm_service.py
  backend/app/services/search/location_resolver.py
  backend/app/services/search/nl_pipeline/hydration.py
  backend/app/services/search/nl_pipeline/location_tier4.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/stripe/capture_refund.py
  backend/app/services/stripe/earnings.py
  backend/app/services/stripe/earnings_export.py
  backend/app/services/stripe/identity.py
  backend/app/services/stripe/onboarding.py
  backend/app/services/stripe/payment.py
  backend/app/services/stripe/payment_intents.py
  backend/app/services/stripe/transfer.py
  backend/app/services/stripe/webhook_disputes.py
  backend/app/services/stripe/webhook_router.py
  backend/tests/unit/repositories/test_booking_repository_additional_coverage.py
  backend/tests/unit/services/search/test_nl_search_service_additional_coverage.py
  backend/tests/unit/services/test_availability_service_edge_coverage.py
  backend/tests/unit/services/test_availability_service_logic.py
  backend/tests/unit/services/test_booking_service_branch_coverage_extra.py
  backend/tests/unit/services/test_instructor_service_missed_coverage.py
  backend/tests/unit/services/test_stripe_service.py
  backend/tests/unit/services/test_stripe_service_additional_coverage.py
  backend/tests/unit/services/test_stripe_service_r4.py
  backend/tests/unit/services/test_stripe_service_webhook_branch_coverage.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(database): harden destructive scripts and remove dead service-URL code
  .github/workflows/db-smoke.yml
  backend/app/core/config.py
  backend/app/core/database_config.py
  backend/app/utils/database_safety.py
  backend/scripts/prep_db.py
  backend/scripts/reset_schema.py
  backend/scripts/seed_chat_fixture.py
  backend/scripts/simulate_checkr_webhook.py
  backend/tests/scripts/test_prep_db_cli.py
  backend/tests/scripts/test_prep_db_import_safety.py
  backend/tests/scripts/test_prep_db_ordering.py
  backend/tests/scripts/test_prep_db_tier_maintenance.py
  backend/tests/scripts/test_reset_schema.py
  backend/tests/scripts/test_simulate_checkr_webhook.py
  backend/tests/test_database_safety.py
  backend/tests/test_database_safety_fixed.py
  backend/tests/unit/core/test_database_config_coverage.py
  backend/tests/unit/utils/test_database_safety.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-async-blocking

fix(ops): harden backup verification workflow
  .github/workflows/backup-verification.yml
Due: none

refactor(tasks): decompose payment_tasks.py — 2,812 → 488 lines
  backend/app/tasks/payment/__init__.py
  backend/app/tasks/payment/authorization.py
  backend/app/tasks/payment/authorization_retry.py
  backend/app/tasks/payment/capture.py
  backend/app/tasks/payment/capture_orchestration.py
  backend/app/tasks/payment/capture_reauth.py
  backend/app/tasks/payment/capture_recovery.py
  backend/app/tasks/payment/common.py
  backend/app/tasks/payment/late_cancel_noshow.py
  backend/app/tasks/payment/maintenance.py
  backend/app/tasks/payment_tasks.py
  docs/session-handoffs/session-handoff-v145.md
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

refactor(tasks): decompose payment_tasks.py — 2,812 → 488 lines across 9 modules
  backend/app/tasks/payment/__init__.py
  backend/app/tasks/payment/authorization.py
  backend/app/tasks/payment/authorization_retry.py
  backend/app/tasks/payment/capture.py
  backend/app/tasks/payment/capture_orchestration.py
  backend/app/tasks/payment/capture_reauth.py
  backend/app/tasks/payment/capture_recovery.py
  backend/app/tasks/payment/common.py
  backend/app/tasks/payment/late_cancel_noshow.py
  backend/app/tasks/payment/maintenance.py
  backend/app/tasks/payment_tasks.py
  docs/session-handoffs/session-handoff-v145.md
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

refactor(tasks): decompose payment_tasks.py — 2,812 → 500 lines
  backend/tests/scripts/test_prep_db_cli.py
  backend/tests/scripts/test_prep_db_ordering.py
  backend/tests/unit/core/test_database_config_coverage.py
Due: check-time-to-minutes, check-timezone-patterns

docs(verify): make instainstru verification fail-fast and scope-aware
  .claude/skills/instainstru-verify/SKILL.md
  .claude/skills/instainstru-verify/scripts/verify.sh
  metrics_history.json
Due: none

refactor(notifications): decompose notification_service.py — 2,151 → 202 lines
  backend/app/services/notification_service.py
  backend/app/services/notifications/__init__.py
  backend/app/services/notifications/account_security_mixin.py
  backend/app/services/notifications/booking_cancellation_mixin.py
  backend/app/services/notifications/booking_confirmation_mixin.py
  backend/app/services/notifications/booking_followups_mixin.py
  backend/app/services/notifications/common_mixin.py
  backend/app/services/notifications/in_app_mixin.py
  backend/app/services/notifications/message_mixin.py
  backend/app/services/notifications/mixin_base.py
  backend/app/services/notifications/payment_mixin.py
  backend/app/services/notifications/scheduling_mixin.py
  frontend/package-lock.json
Due: frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(notifications): decompose notification_service.py — 2,151 → 202 lines across 9 mixin modules
  .claude/skills/instainstru-verify/SKILL.md
  .claude/skills/instainstru-verify/scripts/verify.sh
  backend/app/services/notification_service.py
  backend/app/services/notifications/__init__.py
  backend/app/services/notifications/account_security_mixin.py
  backend/app/services/notifications/booking_cancellation_mixin.py
  backend/app/services/notifications/booking_confirmation_mixin.py
  backend/app/services/notifications/booking_followups_mixin.py
  backend/app/services/notifications/common_mixin.py
  backend/app/services/notifications/in_app_mixin.py
  backend/app/services/notifications/message_mixin.py
  backend/app/services/notifications/mixin_base.py
  backend/app/services/notifications/payment_mixin.py
  backend/app/services/notifications/scheduling_mixin.py
  frontend/package-lock.json
  metrics_history.json
Due: frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix: allow instructors to report student no-shows on their own bookings
  backend/app/routes/v1/bookings.py
  backend/app/services/booking/noshow_service.py
  backend/tests/integration/test_no_show_handling.py
  backend/tests/unit/services/test_booking_service_r4.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(frontend): disable no-show button after 24h window, show backend error in toast
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/features/bookings/components/InstructorBookingDetailView.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

refactor(search): slim nl_search_service.py facade — 2,043 → 254 lines
  backend/app/routes/v1/admin/search_config.py
  backend/app/routes/v1/search.py
  backend/app/services/search/nl_pipeline/hydration.py
  backend/app/services/search/nl_pipeline/hydration_helpers.py
  backend/app/services/search/nl_pipeline/location.py
  backend/app/services/search/nl_pipeline/location_helpers.py
  backend/app/services/search/nl_pipeline/location_runtime.py
  backend/app/services/search/nl_pipeline/postflight.py
  backend/app/services/search/nl_pipeline/postflight_runtime.py
  backend/app/services/search/nl_pipeline/preflight.py
  backend/app/services/search/nl_pipeline/preflight_core.py
  backend/app/services/search/nl_pipeline/preflight_parse.py
  backend/app/services/search/nl_pipeline/protocols.py
  backend/app/services/search/nl_pipeline/response.py
  backend/app/services/search/nl_pipeline/response_diagnostics.py
  backend/app/services/search/nl_pipeline/runtime.py
  backend/app/services/search/nl_pipeline/taxonomy.py
  backend/app/services/search/nl_search_service.py
  backend/tests/integration/services/nl_search/test_nl_search_service_integration.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_nl_search_service_additional_coverage.py
  backend/tests/unit/services/search/test_nl_search_service_cache_branch_coverage.py
  backend/tests/unit/services/search/test_nl_search_service_missed_coverage.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(tests): clear local DB env vars in CI database safety test
  backend/tests/unit/utils/test_database_safety.py
Due: check-time-to-minutes, check-timezone-patterns

refactor(search): split NL search facade stages and fix cache seeding constructor
  backend/app/services/search/nl_search_service.py
  backend/scripts/seed_popular_queries.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(search): slim nl_search_service.py facade — 2,043 → 413 lines, remove all compat shims
  backend/app/routes/v1/admin/search_config.py
  backend/app/routes/v1/search.py
  backend/app/services/search/nl_pipeline/hydration.py
  backend/app/services/search/nl_pipeline/hydration_helpers.py
  backend/app/services/search/nl_pipeline/location.py
  backend/app/services/search/nl_pipeline/location_helpers.py
  backend/app/services/search/nl_pipeline/location_runtime.py
  backend/app/services/search/nl_pipeline/postflight.py
  backend/app/services/search/nl_pipeline/postflight_runtime.py
  backend/app/services/search/nl_pipeline/preflight.py
  backend/app/services/search/nl_pipeline/preflight_core.py
  backend/app/services/search/nl_pipeline/preflight_parse.py
  backend/app/services/search/nl_pipeline/protocols.py
  backend/app/services/search/nl_pipeline/response.py
  backend/app/services/search/nl_pipeline/response_diagnostics.py
  backend/app/services/search/nl_pipeline/runtime.py
  backend/app/services/search/nl_pipeline/taxonomy.py
  backend/app/services/search/nl_search_service.py
  backend/scripts/seed_popular_queries.py
  backend/tests/integration/services/nl_search/test_nl_search_service_integration.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_nl_search_service_additional_coverage.py
  backend/tests/unit/services/search/test_nl_search_service_cache_branch_coverage.py
  backend/tests/unit/services/search/test_nl_search_service_missed_coverage.py
  backend/tests/unit/utils/test_database_safety.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(P0): prevent false cancellation notifications for never-confirmed bookings
  backend/app/events/handlers.py
  backend/app/services/booking/cancellation_cleanup.py
  backend/tests/unit/events/test_event_handlers_coverage.py
  backend/tests/unit/events/test_handlers.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

feat: redesign instructor lesson detail card — join button, action required, no-show modal
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/features/bookings/components/InstructorBookingDetailView.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix: instructor messages — compose stale state, window height, bookings tag fixes
  frontend/app/(auth)/instructor/messages/__tests__/compose-regression.test.tsx
  frontend/app/(auth)/instructor/messages/__tests__/page-layout.test.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/instructor/messages/components/ChatHeader.tsx
  frontend/components/instructor/messages/components/ConversationBookingCard.tsx
  frontend/components/instructor/messages/components/TemplateEditor.tsx
  frontend/components/instructor/messages/components/__tests__/ChatHeader.test.tsx
  frontend/components/instructor/messages/components/__tests__/ConversationBookingCard.test.tsx
  frontend/components/instructor/messages/components/__tests__/TemplateEditor.test.tsx
  frontend/components/instructor/messages/hooks/__tests__/useMessageThread.test.ts
  frontend/components/instructor/messages/hooks/useMessageThread.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix: standardize toast color to brand purple #7C3AED, add CSS brand tokens
  frontend/app/__tests__/providers.test.tsx
  frontend/app/globals.css
  frontend/app/providers.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix: dashboard cosmetics + reviews fixes (Package 5+7)
  frontend/__tests__/lib/timezone/formatBookingTime.test.ts
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/referrals/page.tsx
  frontend/app/(auth)/instructor/reviews/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
  frontend/components/availability/CalendarSettingsAcknowledgementModal.tsx
  frontend/components/availability/__tests__/CalendarSettingsAcknowledgementModal.test.tsx
  frontend/components/dashboard/ReviewsStatCard.tsx
  frontend/components/dashboard/__tests__/ReviewsStatCard.test.tsx
  frontend/components/earnings/CommissionTierCard.tsx
  frontend/components/earnings/__tests__/CommissionTierCard.test.tsx
  frontend/components/notifications/NotificationIcon.tsx
  frontend/components/notifications/NotificationItem.tsx
  frontend/components/notifications/__tests__/NotificationIcon.test.tsx
  frontend/components/notifications/__tests__/NotificationItem.test.tsx
  frontend/components/security/TfaModal.tsx
  frontend/components/security/__tests__/TfaModal.test.tsx
  frontend/features/bookings/components/BookingList.tsx
  frontend/features/bookings/components/InstructorBookingCard.tsx
  frontend/features/bookings/components/__tests__/BookingList.test.tsx
  frontend/features/bookings/components/__tests__/InstructorBookingCard.test.tsx
  frontend/lib/timezone/formatBookingTime.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix: extend video join window to session end, add pre-open countdown
  backend/app/domain/video_utils.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/schemas/booking.py
  backend/app/services/video_service.py
  backend/tests/integration/routes/test_lessons_integration.py
  backend/tests/unit/routes/test_webhooks_hundredms.py
  backend/tests/unit/schemas/test_booking_video_fields.py
  backend/tests/unit/services/test_video_service.py
  backend/tests/unit/services/test_video_service_coverage.py
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/components/lessons/video/JoinLessonButton.tsx
  frontend/components/lessons/video/PreLessonWaiting.tsx
  frontend/components/lessons/video/__tests__/JoinLessonButton.test.tsx
  frontend/components/lessons/video/__tests__/PreLessonWaiting.test.tsx
  frontend/features/bookings/components/InstructorBookingDetailView.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix: automated no-show transitions to NO_SHOW status + instructor In Progress badge
  backend/app/services/booking/noshow_service.py
  backend/tests/integration/test_no_show_handling.py
  backend/tests/unit/services/test_booking_service_missed_coverage.py
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/features/bookings/components/BookingList.tsx
  frontend/features/bookings/components/InstructorBookingCard.tsx
  frontend/features/bookings/components/InstructorBookingDetailView.tsx
  frontend/features/bookings/components/__tests__/InstructorBookingCard.test.tsx
  frontend/features/bookings/components/__tests__/instructorBookingDisplayStatus.test.ts
  frontend/features/bookings/components/instructorBookingDisplayStatus.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix: test_ci_without_database_url properly isolates env vars
  backend/app/repositories/booking/conflict_mixin.py
  backend/app/tasks/video_tasks.py
  backend/tests/repositories/test_booking_repository_video_no_show_candidates.py
  backend/tests/unit/tasks/test_video_tasks.py
  backend/tests/unit/utils/test_database_safety.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix: video session join UX — extend window to session end, no-show lifecycle, in-progress badge
  backend/app/domain/video_utils.py
  backend/app/repositories/booking/conflict_mixin.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/schemas/booking.py
  backend/app/services/booking/noshow_service.py
  backend/app/services/video_service.py
  backend/app/tasks/video_tasks.py
  backend/tests/integration/routes/test_lessons_integration.py
  backend/tests/integration/test_no_show_handling.py
  backend/tests/repositories/test_booking_repository_video_no_show_candidates.py
  backend/tests/unit/routes/test_webhooks_hundredms.py
  backend/tests/unit/schemas/test_booking_video_fields.py
  backend/tests/unit/services/test_booking_service_missed_coverage.py
  backend/tests/unit/services/test_video_service.py
  backend/tests/unit/services/test_video_service_coverage.py
  backend/tests/unit/tasks/test_video_tasks.py
  backend/tests/unit/utils/test_database_safety.py
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/components/lessons/video/JoinLessonButton.tsx
  frontend/components/lessons/video/PreLessonWaiting.tsx
  frontend/components/lessons/video/__tests__/JoinLessonButton.test.tsx
  frontend/components/lessons/video/__tests__/PreLessonWaiting.test.tsx
  frontend/features/bookings/components/BookingList.tsx
  frontend/features/bookings/components/InstructorBookingCard.tsx
  frontend/features/bookings/components/InstructorBookingDetailView.tsx
  frontend/features/bookings/components/__tests__/InstructorBookingCard.test.tsx
  frontend/features/bookings/components/__tests__/instructorBookingDisplayStatus.test.ts
  frontend/features/bookings/components/instructorBookingDisplayStatus.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix: search card next availability + map click-to-scroll + seed expansion
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_data/coverage.yaml
  backend/scripts/seed_data/instructors.yaml
  frontend/app/(public)/search/__tests__/map-pins.test.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
  frontend/components/maps/__tests__/InstructorCoverageMap.test.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

test: bug-hunting tests for reschedule, conflicts, device trust, video no-show edges
  backend/tests/unit/services/test_booking_conflicts_and_lock_resolution.py
  backend/tests/unit/services/test_booking_query_and_data_safety.py
  backend/tests/unit/services/test_instructor_profile_edge_cases.py
  backend/tests/unit/services/test_reschedule_compensation_and_rollback.py
  backend/tests/unit/services/test_trusted_device_and_video_noshow_edges.py
Due: check-time-to-minutes, check-timezone-patterns

test: update stale e2e tests for video join, reviews, calendar copy changes
  frontend/e2e/calendar.spec.ts
  frontend/e2e/pages/VideoLessonPage.ts
  frontend/e2e/tests/instructor.dashboard-reviews.spec.ts
  frontend/e2e/tests/video-lessons.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix: normalize MCP tool 404 responses — structured payloads instead of exceptions
  mcp-server/src/instainstru_mcp/tools/analytics.py
  mcp-server/src/instainstru_mcp/tools/audit.py
  mcp-server/src/instainstru_mcp/tools/booking_actions.py
  mcp-server/src/instainstru_mcp/tools/booking_detail.py
  mcp-server/src/instainstru_mcp/tools/celery.py
  mcp-server/src/instainstru_mcp/tools/common.py
  mcp-server/src/instainstru_mcp/tools/communications.py
  mcp-server/src/instainstru_mcp/tools/founding.py
  mcp-server/src/instainstru_mcp/tools/instructor_actions.py
  mcp-server/src/instainstru_mcp/tools/instructors.py
  mcp-server/src/instainstru_mcp/tools/invites.py
  mcp-server/src/instainstru_mcp/tools/metrics.py
  mcp-server/src/instainstru_mcp/tools/operations.py
  mcp-server/src/instainstru_mcp/tools/payments.py
  mcp-server/src/instainstru_mcp/tools/refunds.py
  mcp-server/src/instainstru_mcp/tools/search.py
  mcp-server/src/instainstru_mcp/tools/services.py
  mcp-server/src/instainstru_mcp/tools/student_actions.py
  mcp-server/src/instainstru_mcp/tools/support.py
  mcp-server/src/instainstru_mcp/tools/webhooks.py
  mcp-server/tests/test_audit.py
  mcp-server/tests/test_booking_actions.py
  mcp-server/tests/test_booking_detail.py
  mcp-server/tests/test_communications.py
  mcp-server/tests/test_instructor_actions.py
  mcp-server/tests/test_payments.py
  mcp-server/tests/test_refunds.py
  mcp-server/tests/test_student_actions.py
  mcp-server/tests/test_support.py
  mcp-server/tests/test_tool_common.py
  mcp-server/tests/test_tools.py
  mcp-server/tests/test_webhooks.py
Due: check-timezone-patterns, mypy-mcp-server

fix: manual no-show reports immediately transition booking to NO_SHOW
  backend/app/services/booking/noshow_resolution.py
  backend/app/services/booking/noshow_service.py
  backend/tests/integration/test_no_show_handling.py
  backend/tests/unit/services/test_booking_service_cancellation.py
  backend/tests/unit/services/test_booking_service_r4.py
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix: booking flow — filter invalid time slots, surface errors, fix email CTA
  backend/app/templates/email/booking/cancellation_student.html
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.formatPropagation.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/booking/hooks/__tests__/useCreateBooking.test.ts
  frontend/features/student/booking/hooks/useCreateBooking.ts
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

chore: pin codecov-action to commit SHA for supply chain security
  .github/workflows/backend-ci.yml
  .github/workflows/e2e-tests.yml
Due: none

docs: add inline comments on non-obvious booking state transitions
  backend/app/models/booking.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix: 10 quick fixes — cache mutation, admin perf, event ordering, dedup, cleanup
  backend/app/domain/video_utils.py
  backend/app/events/handlers.py
  backend/app/models/booking.py
  backend/app/repositories/booking/admin_query_mixin.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/services/availability/cache.py
  backend/app/services/availability_service.py
  backend/app/services/booking/cancellation_cleanup.py
  backend/app/services/booking/noshow_service.py
  backend/app/services/week_operation_service.py
  backend/tests/unit/domain/test_video_utils.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_week_operation_edge_coverage.py
  frontend/app/(admin)/admin/payments/components/BookingDetailPanel.tsx
  frontend/app/(admin)/admin/payments/components/BookingsTable.tsx
  frontend/app/(admin)/admin/payments/components/bookingStatus.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types
