Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

gitleaks-system:
  name: gitleaks (system)
  language: system
  entry: scripts/run-gitleaks.sh
  pass_filenames: false

feat(api-v1): complete Phase 20 - fix remaining frontend legacy paths
  backend/app/main.py
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/app/(admin)/admin/bgc-review/__tests__/page.test.tsx
  frontend/app/(admin)/admin/bgc-review/hooks.ts
  frontend/app/(admin)/admin/bgc-webhooks/hooks.ts
  frontend/app/(admin)/admin/referrals/__tests__/referrals-page.spec.tsx
  frontend/app/(admin)/admin/settings/pricing/page.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/components/security/ChangePasswordModal.tsx
  frontend/features/shared/referrals/api.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(api-v1): complete Phase 21 - audit remediation fixes
  backend/app/core/constants.py
  backend/app/core/privacy_auditor.py
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/lib/api.ts
Due: frontend-eslint, frontend-public-env, check-repository-pattern, frontend-no-console

fix(api-v1): update pre-commit hook and tests for v1 migration
  backend/tests/monitoring/test_performance_overhead.py
  backend/tests/routes/test_payments.py
  frontend/scripts/precommit_no_raw_api.sh
Due: frontend-public-env

fix(schemathesis): fix 16 failing API contract tests
  .github/workflows/nightly-schemathesis.yml
  backend/app/routes/v1/bookings.py
  backend/app/routes/v1/instructor_bookings.py
  backend/app/routes/v1/messages.py
  backend/app/schemas/booking.py
  backend/tests/debug_hang.py
  backend/tests/integration/test_schemathesis_api_v1.py
  docs/architecture/api-refactor-phase-0-baseline.md
Due: api-contracts, check-timezone-usage

fix(ci): update E2E auth paths and pre-commit hook for v1 migration
  .github/workflows/e2e-tests.yml
  frontend/scripts/precommit_no_raw_api.sh
  frontend/services/api/badges.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ci): add README newline and update auth_direct_check to v1 paths
  backend/scripts/dev/auth_direct_check.py
Due: none

docs(api): document intentionally unversioned routes (Phase 24)
  backend/app/main.py
  docs/architecture/unversioned-routes.md
Due: none

feat(api-v1): migrate admin routes with frontend consumers (Phase 24.5)
  backend/app/main.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/analytics.py
  backend/app/routes/v1/beta.py
  backend/app/routes/v1/codebase_metrics.py
  backend/app/routes/v1/database_monitor.py
  backend/app/routes/v1/redis_monitor.py
  backend/tests/integration/availability/test_week_bitmap_routes.py
  backend/tests/integration/routes/test_beta_strict.py
  backend/tests/routes/test_analytics_responses.py
  backend/tests/routes/test_beta_routes.py
  backend/tests/routes/test_beta_settings_routes.py
  backend/tests/test_api_contracts.py
  backend/tests/test_routes_invariants.py
  docs/architecture/api-refactor-phase-0-baseline.md
  docs/architecture/unversioned-routes.md
  frontend/app/(public)/instructor/join/validateInvite.ts
  frontend/e2e/invites.invite-redemption.spec.ts
  frontend/lib/analyticsApi.ts
  frontend/lib/betaApi.ts
  frontend/lib/databaseApi.ts
  frontend/lib/redisApi.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix(test): update join.handler.test to expect v1 beta path
  frontend/app/(public)/instructor/__tests__/join.handler.test.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): migrate remaining legacy API paths to v1 (Phase 24.5)
  README.md
  backend/tests/integration/test_auth_surface_matrix.py
  frontend/app/(admin)/admin/beta/invites/page.tsx
  frontend/app/(admin)/admin/bgc-webhooks/hooks.ts
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/lib/betaApi.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(search): pass observability_candidates to search tracking
  frontend/app/(public)/search/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore: remove spammy discord link from README
  README.md
Due: none

fix: resolve integration issues (webhooks, rate limits, UI states)
  backend/app/routes/v1/payments.py
  backend/app/routes/v1/webhooks_checkr.py
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix(onboarding): eliminate duplicate API calls causing 429 rate limits
  frontend/__tests__/pages/lessons/LessonDetailsPage.test.tsx
  frontend/__tests__/pages/lessons/MyLessonsPage.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/payment-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/features/instructor-onboarding/OnboardingProgressHeader.tsx
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/features/instructor-profile/InstructorProfileForm.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): eliminate duplicate instructor profile API calls causing 429 errors
  docs/architecture/api-deduplication-migration-plan.md
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

refactor: remove legacy Stripe webhook redirects
  backend/app/main.py
Due: none

fix(frontend): eliminate duplicate instructor profile API calls causing 429 errors
  frontend/features/instructor-profile/InstructorProfileForm.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

docs(session-handoff): v116
  docs/session-handoffs/session-handoff-v116.md
Due: none

chore: register custom pytest marks to fix CI warnings
  backend/pyproject.toml
Due: none

fix: remove unnecessary Checkr webhook trailing slash route
  backend/app/routes/v1/webhooks_checkr.py
  metrics_history.json
Due: api-contracts, check-timezone-usage

feat(ci): add Checkr webhook and rename Stripe webhook secret
  .github/workflows/smoke.yml
Due: none

fix(frontend): deduplicate instructor profile API calls (Phase 24 Priority 1)
  docs/architecture/api-deduplication-migration-plan.md
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/components/instructor/ProgressSteps.tsx
  frontend/components/modals/EditProfileModal.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): prevent useInstructorBookings from making 3x API calls
  frontend/features/instructor-profile/hooks/useInstructorAvailability.ts
  frontend/hooks/queries/useInstructorBookings.ts
  frontend/src/api/services/instructor-bookings.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): deduplicate API calls and fix bookings navigation
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/hooks/queries/useStripeConnectStatus.ts
  frontend/hooks/queries/useUserAddresses.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): deduplicate API calls via React Query hooks (Phase 24 Priority 2)
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/features/instructor-profile/tests/EditProfileModal.prefill.test.tsx
  frontend/features/shared/hooks/useSWRCustom.ts
  frontend/hooks/queries/useFavoriteStatus.ts
  frontend/hooks/queries/usePaymentMethods.ts
  frontend/hooks/queries/useReviewsBatch.ts
  frontend/hooks/queries/useTfaStatus.ts
  frontend/lib/pricing/__tests__/usePricingFloors.test.tsx
  frontend/lib/pricing/usePricingFloors.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

perf(frontend): complete API deduplication audit
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(public)/page.tsx
  frontend/components/booking/CheckoutFlow.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/security/TfaModal.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/tests/EditProfileModal.prefill.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): deduplicate API calls via React Query hooks (Phase 24 Priority 2)
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/(auth)/student/review/[id]/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/student/BillingTab.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/hooks/queries/useTransactionHistory.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): deduplicate API calls via React Query hooks (Phase 24 Priority 2)
  frontend/app/(public)/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/app/dashboard/instructor/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/instructor/PayoutsDashboard.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/student/PaymentMethods.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): deduplicate API calls via React Query hooks (Phase 24 Priority 2)
  frontend/app/(public)/book/[id]/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): deduplicate API calls via React Query hooks (Phase 24 Priority 2)
  frontend/app/(public)/instructors/[id]/reviews/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/components/AvailabilityCalendar.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/hooks/__tests__/useInstructorAvailability.test.tsx
  frontend/features/instructor-profile/hooks/useInstructorAvailability.ts
  frontend/hooks/queries/useKidsAvailableServices.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(frontend): remove dead code from student dashboard
  frontend/app/(auth)/student/dashboard/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): deduplicate booking details fetch via React Query hook
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

refactor(frontend): move useInstructorAvailability to shared hooks
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/components/AvailabilityCalendar.tsx
  frontend/features/instructor-profile/components/AvailabilityCalendar.tsx
  frontend/features/instructor-profile/components/AvailabilityGrid.tsx
  frontend/hooks/queries/__tests__/useInstructorAvailability.test.tsx
  frontend/hooks/queries/useInstructorAvailability.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(frontend): remove dead code pages with no references
  frontend/app/(auth)/student/booking/confirmation/page.tsx
  frontend/app/(public)/book/[id]/page.tsx
  frontend/app/booking/confirmation/page.tsx
  frontend/app/dashboard/instructor/bookings/[id]/page.tsx
  frontend/lib/navigation/navigationStateManager.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ci): use custom postgres image with pgvector in nightly-schemathesis
  .github/workflows/nightly-schemathesis.yml
  metrics_history.json
Due: none

fix(tests): exclude unsupported_method check from schemathesis tests
  backend/tests/integration/test_schemathesis_api_v1.py
Due: none

perf(payment): eliminate idle re-renders in PaymentConfirmation
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/auto-credit-apply.spec.tsx
  frontend/features/student/payment/components/__tests__/confirm-date-change-optimistic.spec.tsx
  frontend/features/student/payment/components/__tests__/conflict-check.spec.tsx
  frontend/features/student/payment/components/__tests__/credits-accordion-expanded.spec.tsx
  frontend/features/student/payment/components/__tests__/credits-accordion.spec.tsx
  frontend/features/student/payment/components/__tests__/credits-slider-commit.spec.tsx
  frontend/features/student/payment/components/__tests__/lesson-location-toggle.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-floor-validation.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-pricing-preview.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-summary-preview.spec.tsx
  frontend/lib/pricing/usePricingFloors.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(api): handle empty string query params and improve schemathesis compatibility
  backend/app/routes/v1/instructors.py
  backend/app/schemas/instructor.py
  backend/tests/integration/test_schemathesis_api_v1.py
Due: api-contracts, check-timezone-usage

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

