Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


fix(bookings): audit P1 fixes — CHECK constraints, audit trail, dead code, shared helper
  backend/app/models/booking.py
  backend/app/models/booking_lock.py
  backend/app/models/booking_no_show.py
  backend/app/models/booking_payment.py
  backend/app/routes/v1/admin/refunds.py
  backend/app/schemas/booking.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts

fix(bookings): final audit fixes — 3 critical, 4 important, 4 test gaps
  backend/app/models/booking.py
  backend/app/repositories/booking_repository.py
  backend/app/schemas/admin_student_actions.py
  backend/app/services/booking_service.py
  backend/app/services/search/keyword_generator.py
  backend/app/services/stripe_service.py
  backend/app/services/student_admin_service.py
  backend/app/tasks/payment_tasks.py
  backend/tests/unit/services/test_booking_service_r4.py
  backend/tests/unit/tasks/test_payment_tasks_additional_coverage.py
  backend/tests/unit/test_satellite_patterns.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, audit-untyped-dicts

fix(bookings): add payment_detail eager load to list_student_refund_bookings
  backend/app/repositories/booking_repository.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix(bookings): enforce repository pattern in payment_tasks, tighten pre-commit hook
  backend/.repository-migration-tracking.json
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/booking_no_show.py
  backend/app/repositories/booking_repository.py
  backend/app/tasks/monitoring_tasks.py
  backend/app/tasks/payment_tasks.py
  backend/app/tasks/referral_tasks.py
  backend/scripts/check_repository_pattern.py
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/unit/tasks/test_payment_tasks_additional_coverage.py
  precommit_output.txt
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

perf(bookings): add eager loading to 3 notification query methods
  backend/app/repositories/booking_repository.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix: expand repo-pattern pre-commit to all backend/app/, fix violations
  backend/.repository-migration-tracking.json
  backend/app/auth_session.py
  backend/app/commands/analytics.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/tasks/payment_tasks.py
  backend/scripts/check_repository_pattern.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix: clean up all repo-pattern violations — 33 lazy bypasses + 6 stale comments
  backend/app/repositories/alerts_repository.py
  backend/app/repositories/factory.py
  backend/app/repositories/payment_repository.py
  backend/app/repositories/referral_repository.py
  backend/app/repositories/user_repository.py
  backend/app/routes/v1/admin/config.py
  backend/app/services/config_service.py
  backend/app/services/permission_service.py
  backend/app/services/privacy_service.py
  backend/app/services/search_history_cleanup_service.py
  backend/app/services/two_factor_auth_service.py
  backend/app/tasks/monitoring_tasks.py
  backend/app/tasks/payment_tasks.py
  backend/app/tasks/referral_tasks.py
  backend/tests/integration/services/test_email_clean_architecture.py
  backend/tests/integration/tasks/test_monitoring_tasks_coverage.py
  backend/tests/integration/test_payment_flow.py
  backend/tests/routes/test_admin_config_routes_coverage.py
  backend/tests/routes/test_reminder_clean_architecture.py
  backend/tests/unit/services/test_config_service_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_coverage.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(bookings): PR review fixes — FK ondelete, conservative default, factory completeness
  backend/app/models/booking.py
  backend/app/tasks/referral_tasks.py
  backend/tests/factories/booking_builders.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

docs: session handoff v134
  docs/session-handoffs/session-handoff-v134.md
Due: none

feat(auth): migrate JWT to ULID sub + add jti/iat claims + tokens_valid_after column
  backend/alembic/versions/001_core_foundation.py
  backend/app/api/dependencies/auth.py
  backend/app/auth.py
  backend/app/auth_session.py
  backend/app/core/auth_cache.py
  backend/app/models/user.py
  backend/app/repositories/user_repository.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/public.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/services/auth_service.py
  backend/tests/conftest.py
  backend/tests/integration/api/test_auth.py
  backend/tests/integration/api/test_auth_2fa_login_with_session.py
  backend/tests/integration/repositories/test_user_repository_coverage.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/unit/core/test_auth_cache_coverage.py
  backend/tests/unit/dependencies/test_auth_coverage.py
  backend/tests/unit/test_auth_core_coverage.py
  backend/tests/unit/test_auth_session_coverage.py
  backend/tests/unit/test_model_constraints.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

feat(auth): add Redis token blacklist + revocation enforcement on all auth paths
  backend/app/auth.py
  backend/app/auth_session.py
  backend/app/auth_sse.py
  backend/app/core/auth_cache.py
  backend/app/repositories/referral_repository.py
  backend/app/routes/v1/public.py
  backend/app/services/token_blacklist_service.py
  backend/tests/integration/api/test_auth.py
  backend/tests/integration/api/test_auth_preview_smoke.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/unit/core/test_auth_cache_coverage.py
  backend/tests/unit/services/test_token_blacklist_service.py
  backend/tests/unit/test_auth_core_coverage.py
  backend/tests/unit/test_auth_session_coverage.py
  backend/tests/unit/test_auth_sse.py
  backend/tests/unit/test_auth_sse_coverage.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

feat(auth): wire token invalidation to all security events + logout-all + admin force-logout
  backend/.artifacts/api.expected.d.ts
  backend/app/main.py
  backend/app/repositories/user_repository.py
  backend/app/routes/v1/account.py
  backend/app/routes/v1/admin/__init__.py
  backend/app/routes/v1/admin/users.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/schemas/security.py
  backend/app/services/account_lifecycle_service.py
  backend/app/services/instructor_admin_service.py
  backend/app/services/password_reset_service.py
  backend/app/services/student_admin_service.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_account_lifecycle.py
  backend/tests/integration/api/test_auth.py
  backend/tests/integration/repositories/test_user_repository_coverage.py
  backend/tests/integration/services/test_password_reset_service.py
  backend/tests/routes/test_account_routes_coverage.py
  backend/tests/routes/test_admin_users_routes_coverage.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  backend/tests/services/test_instructor_admin_service.py
  backend/tests/services/test_student_admin_service.py
  frontend/src/api/generated/account-v1/account-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

test(backend): increase coverage with booking-repo edge cases and openapi test setup reuse
  backend/tests/openapi/test_components_titles.py
  backend/tests/openapi/test_operation_ids_unique.py
  backend/tests/unit/core/test_database_config_coverage.py
  backend/tests/unit/repositories/test_booking_repository_satellite_error_paths.py
  backend/tests/unit/test_openapi_app_coverage.py
Due: check-time-to-minutes, check-timezone-patterns

fix(frontend): add POST handler to /monitoring route + fix CSP dev gap
  frontend/app/monitoring/__tests__/route.test.ts
  frontend/app/monitoring/route.ts
  frontend/next.config.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(security): code review fixes — schema cleanup, ULID jti, audit logging
  backend/.artifacts/api.expected.d.ts
  backend/.repository-migration-tracking.json
  backend/app/api/dependencies/auth.py
  backend/app/auth.py
  backend/app/auth_session.py
  backend/app/auth_sse.py
  backend/app/dependencies/mcp_auth.py
  backend/app/routes/v1/account.py
  backend/app/routes/v1/admin/users.py
  backend/app/routes/v1/auth.py
  backend/app/schemas/security.py
  backend/app/services/celery_admin_service.py
  backend/app/services/mcp_confirm_token_service.py
  backend/app/services/token_blacklist_service.py
  backend/app/utils/token_utils.py
  backend/openapi/openapi.json
  backend/tests/routes/test_admin_users_routes_coverage.py
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  backend/tests/unit/dependencies/test_auth_coverage.py
  backend/tests/unit/services/test_celery_admin_service.py
  backend/tests/unit/services/test_mcp_confirm_token_service.py
  backend/tests/unit/services/test_token_blacklist_service.py
  backend/tests/unit/test_auth_core_coverage.py
  backend/tests/unit/utils/test_token_utils.py
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/referrals.ui.spec.ts
  frontend/e2e/tests/login-2fa.spec.ts
  frontend/e2e/tests/my-lessons.spec.ts
  frontend/src/api/generated/auth-v1/auth-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

feat(security): BotID bot protection + mutation proxy routing
  docs/security/botid-readiness.md
  frontend/README.md
  frontend/__tests__/lib/apiBase.test.ts
  frontend/__tests__/security/instrumentation-client.botid.test.ts
  frontend/__tests__/security/next-config-headers.test.ts
  frontend/app/api/v1/[...path]/__tests__/route.test.ts
  frontend/app/api/v1/[...path]/route.ts
  frontend/components/chat/ChatModal.tsx
  frontend/components/chat/__tests__/ChatModal.test.tsx
  frontend/components/instructor/messages/hooks/__tests__/useConversationMessages.test.tsx
  frontend/components/instructor/messages/hooks/__tests__/useConversations.test.tsx
  frontend/components/instructor/messages/hooks/useConversations.ts
  frontend/e2e/tests/my-lessons.spec.ts
  frontend/features/shared/api/__tests__/client.fetch.test.ts
  frontend/features/shared/api/__tests__/client.ssr.test.ts
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/api/client.ts
  frontend/features/shared/referrals/__tests__/api.test.ts
  frontend/features/shared/referrals/api.ts
  frontend/instrumentation-client.ts
  frontend/lib/api.ts
  frontend/lib/api/fetch.ts
  frontend/lib/apiBase.ts
  frontend/lib/http.ts
  frontend/lib/react-query/api.ts
  frontend/lib/security/protected-mutation-routes.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/services/api/payments.ts
  frontend/src/api/orval-mutator.ts
  frontend/src/api/services/__tests__/messages.test.tsx
  frontend/src/api/services/conversations.ts
  frontend/src/api/services/messages.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(auth): PR review fix-up — 14 security, correctness, and observability items
  backend/.repository-migration-tracking.json
  backend/app/auth.py
  backend/app/auth_session.py
  backend/app/auth_sse.py
  backend/app/core/config.py
  backend/app/routes/v1/account.py
  backend/app/routes/v1/public.py
  backend/app/routes/v1/search_history.py
  backend/app/services/account_lifecycle_service.py
  backend/app/services/password_reset_service.py
  backend/app/services/token_blacklist_service.py
  backend/tests/integration/api/test_account_lifecycle.py
  backend/tests/integration/services/test_password_reset_service.py
  backend/tests/integration/test_search_interaction_endpoint.py
  backend/tests/integration/test_search_tracking_e2e.py
  backend/tests/integration/test_search_tracking_edge_cases_e2e.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_search_history_additional_coverage.py
  backend/tests/routes/test_search_history_routes.py
  backend/tests/unit/services/test_account_lifecycle_service.py
  backend/tests/unit/services/test_token_blacklist_service.py
  backend/tests/unit/test_auth_core_coverage.py
  backend/tests/unit/test_auth_session_coverage.py
  frontend/hooks/queries/__tests__/useAuth.test.ts
  frontend/hooks/queries/useAuth.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

chore: enable greptile and coderabbit plugins
  .claude/settings.json
Due: none

fix(auth): harden token invalidation paths and align seeding/tests with SecretStr + ULID JWT contract
  backend/scripts/seed_data.py
Due: check-time-to-minutes, check-timezone-patterns

fix(auth): PR review fix-up round 2 — 12 items from code review
  backend/app/auth.py
  backend/app/core/auth_cache.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/routes/v1/account.py
  backend/app/routes/v1/auth.py
  backend/app/services/password_reset_service.py
  backend/app/services/token_blacklist_service.py
  backend/openapi/openapi.json
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/unit/monitoring/test_prometheus_auth_metrics.py
  backend/tests/unit/test_auth_core_coverage.py
  frontend/__tests__/lib/apiBase.test.ts
  frontend/lib/security/protected-mutation-routes.ts
  frontend/src/api/generated/auth-v1/auth-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

fix(auth): upgrade log levels and add exc_info to security-critical error handlers
  backend/app/auth.py
  backend/app/core/auth_cache.py
  backend/app/routes/v1/account.py
  backend/app/services/password_reset_service.py
  backend/app/services/token_blacklist_service.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(auth): narrow exception catches to transport errors, redact Redis URL, add proxy timeout
  backend/app/auth.py
  backend/app/core/auth_cache.py
  backend/app/core/broadcast.py
  backend/app/services/token_blacklist_service.py
  frontend/app/api/v1/[...path]/route.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(frontend): suppress false catalog orphan warnings and downgrade expected anonymous-auth logs
  frontend/components/catalog/HomeCatalogCascade.tsx
  frontend/features/shared/hooks/useAuth.tsx
  frontend/features/student/booking/hooks/useAuth.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(auth): align LoginResponse type and demote token-creation log level
  backend/app/auth.py
  frontend/hooks/queries/useAuth.ts
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(auth): PR review fix-up round 3 — 4 items from second-pass review
  backend/app/routes/v1/admin/users.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/two_factor_auth.py
  backend/tests/unit/services/test_token_blacklist_service.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(auth): PR review fix-up round 3.1 — 3 consistency items from CodeRabbit
  backend/app/routes/v1/two_factor_auth.py
  backend/app/services/auth_service.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(tests): align test stubs with renamed identifier param and logger.debug mock
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  frontend/features/student/booking/hooks/__tests__/useAuth.test.ts
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(auth): belt-and-suspenders JTI blacklist on password/2FA change, revocation detail constants, CI cookie-auth fix
  .github/workflows/e2e-tests.yml
  backend/app/auth.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/two_factor_auth.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(security): exact domain matching for preview bypass, upgrade cache invalidation log severity
  backend/app/api/dependencies/auth.py
  backend/app/repositories/user_repository.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix: remove duplicate idx_instructor_services_profile_active index from migration (kept ix_ from ORM)
  backend/alembic/versions/006_platform_features.py
Due: check-time-to-minutes, check-timezone-patterns

perf(seeds): bulk INSERT taxonomy seeding + fix SecretStr crash in reset_schema
  backend/scripts/reset_schema.py
  backend/scripts/seed_data/seed_taxonomy.py
Due: check-time-to-minutes, check-timezone-patterns

fix(auth): replace __Host- cookies with parent-domain cookies and fix local BotID crash
  backend/app/core/config.py
  backend/app/utils/cookies.py
  backend/tests/integration/api/test_api_cookie_auth_preview.py
  backend/tests/integration/api/test_auth.py
  backend/tests/integration/api/test_auth_preview_smoke.py
  backend/tests/integration/api/test_logout_cookie_secure.py
  backend/tests/integration/routes/test_auth_cookie_policy.py
  backend/tests/integration/test_auth_surface_matrix.py
  backend/tests/load/locustfile.py
  backend/tests/load/setup_conversations.py
  backend/tests/unit/core/test_core_config_coverage.py
  backend/tests/unit/test_auth_sse.py
  backend/tests/unit/test_settings_env_map.py
  frontend/__tests__/security/instrumentation-client.botid.test.ts
  frontend/app/(public)/page.tsx
  frontend/e2e/support/cookies.ts
  frontend/features/shared/api/client.ts
  frontend/instrumentation-client.ts
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(auth): finalize cookie cleanup and logout domain deletion
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/public.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/utils/cookies.py
  backend/tests/unit/test_login_slot_scope.py
  backend/tests/unit/utils/test_cookies_additional_coverage.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

security(csp): promote CSP from report-only to enforcing and update tests.
  frontend/__tests__/security/next-config-headers.test.ts
  frontend/next.config.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

perf+security: defer BotID init, widen CSP for Leadsy subdomains
  frontend/__tests__/security/instrumentation-client.botid.test.ts
  frontend/__tests__/security/next-config-headers.test.ts
  frontend/instrumentation-client.ts
  frontend/next.config.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(security): add tag.trovo-tag.com to CSP frame-src for Leadsy iframe
  frontend/next.config.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types
