Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-time-to-minutes:
  name: Check time-to-minutes conversions
  entry: python backend/scripts/check_time_to_minutes.py
  language: python
  pass_filenames: true
  description: Block ad-hoc time-to-minutes conversions; use time_to_minutes()

check-utc-timezone:
  name: Check UTC timezone usage
  entry: python backend/scripts/check_utc_timezone.py
  language: python

check-timezone-patterns:
  name: Check timezone patterns
  entry: python backend/scripts/check_timezone_patterns.py
  language: python
  pass_filenames: true

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

check-router-sync:
  name: Check router sync (main.py vs openapi_app.py)
  entry: python backend/scripts/check_router_sync.py
  language: python
  pass_filenames: false
  description: Ensures all routers in main.py are also in openapi_app.py for OpenAPI completeness

check-route-response-models:
  name: Check route response models
  entry: python backend/scripts/check_route_response_models.py
  language: python
  pass_filenames: false
  description: Ensures all routes have response_model or status_code=204

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

check-stripe-transaction-pattern:
  name: Check Stripe calls outside transactions
  entry: python3 backend/scripts/check_stripe_transaction_pattern.py
  language: system
  pass_filenames: false
  description: Ensure Stripe API calls are outside DB transactions (3-phase pattern)

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

feat(payments): migrate CardElement → PaymentElement (#337)
  .claude/settings.json
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/payments.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/openapi/openapi.json
  backend/tests/services/test_booking_payment_service.py
  backend/tests/services/test_stripe_service.py
  backend/tests/unit/services/test_stripe_service_missed_coverage.py
  frontend/app/(auth)/student/review/[id]/page.tsx
  frontend/components/booking/CheckoutFlow.tsx
  frontend/components/booking/__tests__/CheckoutFlow.test.tsx
  frontend/components/student/PaymentMethods.tsx
  frontend/components/student/__tests__/PaymentMethods.test.tsx
  frontend/features/shared/payment/utils/__tests__/stripe.test.ts
  frontend/features/shared/payment/utils/stripe.ts
  frontend/features/student/payment/components/PaymentMethodSelection.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/PaymentMethodSelection.test.tsx
  frontend/package-lock.json
  frontend/services/api/payments.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/payments-v1/payments-v1.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(payments): dark mode fixes + unified inline checkout layout (#338)
  frontend/app/(auth)/student/booking/confirm/page.tsx
  frontend/components/referrals/CheckoutApplyReferral.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentMethodSelection.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentMethodSelection.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(availability): reorganize availability page per A-Team design (#339)
  backend/app/schemas/booking_rules_config.py
  backend/app/schemas/instructor.py
  frontend/app/(auth)/instructor/availability/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/components/availability/CalendarSettingsSection.tsx
  frontend/components/availability/FormatTagPaintToolbar.tsx
  frontend/components/availability/__tests__/CalendarSettingsSection.test.tsx
  frontend/components/availability/__tests__/FormatTagPaintToolbar.test.tsx
  frontend/components/availability/__tests__/calendarSettings.test.ts
  frontend/components/availability/calendarSettings.ts
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types

feat(earnings): commission tier display with auto-update (#39)
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/v1/instructors.py
  backend/app/schemas/booking_rules_config.py
  backend/app/schemas/instructor.py
  backend/app/services/booking_service.py
  backend/app/services/pricing_service.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/payment_tasks.py
  backend/openapi/openapi.json
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_data/instructors.yaml
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/routes/test_instructors_routes_coverage.py
  backend/tests/schemas/test_booking_rules_config.py
  backend/tests/scripts/test_reset_and_seed_yaml_tier.py
  backend/tests/services/test_pricing_service.py
  backend/tests/test_routes_invariants.py
  backend/tests/unit/services/test_booking_service_logic.py
  backend/tests/unit/services/test_pricing_service_unit.py
  backend/tests/unit/tasks/test_payment_tasks_coverage.py
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/components/earnings/CommissionTierCard.tsx
  frontend/components/earnings/__tests__/CommissionTierCard.test.tsx
  frontend/features/shared/api/types.ts
  frontend/hooks/queries/__tests__/useCommissionStatus.test.ts
  frontend/hooks/queries/useCommissionStatus.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/instructors-v1/instructors-v1.ts
  frontend/src/api/queryKeys.ts
  frontend/src/api/services/instructors.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(earnings): address review findings on commission tier branch
  backend/app/repositories/booking_repository.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/schemas/booking_rules_config.py
  backend/app/services/pricing_service.py
  backend/app/tasks/beat_schedule.py
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/integration/repositories/test_instructor_profile_repository_coverage.py
  backend/tests/schemas/test_booking_rules_config.py
  frontend/components/earnings/CommissionTierCard.tsx
  frontend/hooks/queries/__tests__/useCommissionStatus.test.ts
  frontend/hooks/queries/useCommissionStatus.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types

fix(earnings): address PR review findings on commission tier
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/booking_repository.py
  backend/app/schemas/booking_rules_config.py
  backend/app/schemas/instructor.py
  backend/app/services/pricing_service.py
  backend/app/tasks/payment_tasks.py
  backend/openapi/openapi.json
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/routes/test_instructors_routes_coverage.py
  backend/tests/schemas/test_booking_rules_config.py
  backend/tests/unit/services/test_pricing_service_unit.py
  backend/tests/unit/tasks/test_payment_tasks_additional_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_wave1_regressions.py
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/components/earnings/CommissionTierCard.tsx
  frontend/components/earnings/__tests__/CommissionTierCard.test.tsx
  frontend/hooks/queries/__tests__/useCommissionStatus.test.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
  scripts/prepush.sh
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types

feat(earnings): commission tier display with auto-update (#39) (#338)
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/booking_repository.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/v1/instructors.py
  backend/app/schemas/booking_rules_config.py
  backend/app/schemas/instructor.py
  backend/app/services/booking_service.py
  backend/app/services/pricing_service.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/payment_tasks.py
  backend/openapi/openapi.json
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_data/instructors.yaml
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/integration/repositories/test_instructor_profile_repository_coverage.py
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/routes/test_instructors_routes_coverage.py
  backend/tests/schemas/test_booking_rules_config.py
  backend/tests/scripts/test_reset_and_seed_yaml_tier.py
  backend/tests/services/test_pricing_service.py
  backend/tests/test_routes_invariants.py
  backend/tests/unit/services/test_booking_service_logic.py
  backend/tests/unit/services/test_pricing_service_unit.py
  backend/tests/unit/tasks/test_payment_tasks_additional_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_wave1_regressions.py
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/components/earnings/CommissionTierCard.tsx
  frontend/components/earnings/__tests__/CommissionTierCard.test.tsx
  frontend/features/shared/api/types.ts
  frontend/hooks/queries/__tests__/useCommissionStatus.test.ts
  frontend/hooks/queries/useCommissionStatus.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/instructors-v1/instructors-v1.ts
  frontend/src/api/queryKeys.ts
  frontend/src/api/services/instructors.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
  scripts/prepush.sh
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

feat(dashboard): A-Team quick wins Part 1 — 12 UI fixes (#1,6,7,10,12,14,15,17,19,20,21,22,23)
  docs/session-handoffs/session-handoff-v143.md
  frontend/__tests__/hooks/useNotificationPreferences.test.tsx
  frontend/app/(auth)/instructor/dashboard/__tests__/reviews-card.helpers.test.ts
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
  frontend/components/security/TfaModal.tsx
  frontend/components/security/__tests__/TfaModal.test.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/shared/hooks/__tests__/useNotificationPreferences.test.ts
  frontend/features/shared/hooks/useNotificationPreferences.ts
  frontend/lib/dashboardReviews.ts
  frontend/lib/phone.ts
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(dashboard): A-Team quick wins Part 2 — 8 UI fixes (#5,27,28,29,36,37,38)
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/config.py
  backend/app/schemas/platform_config.py
  backend/app/services/config_service.py
  backend/openapi/openapi.json
  backend/tests/openapi/test_public_config_schema.py
  backend/tests/routes/test_config_routes_coverage.py
  backend/tests/routes/test_public_config_routes_coverage.py
  backend/tests/unit/services/test_config_service_coverage.py
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/components/BookingDetailsModal.tsx
  frontend/components/__tests__/BookingDetailsModal.test.tsx
  frontend/components/instructor/messages/components/ChatHeader.tsx
  frontend/components/instructor/messages/components/TemplateEditor.tsx
  frontend/components/instructor/messages/components/__tests__/ChatHeader.test.tsx
  frontend/components/instructor/messages/components/__tests__/TemplateEditor.test.tsx
  frontend/components/instructor/messages/hooks/__tests__/useTemplates.test.ts
  frontend/components/instructor/messages/hooks/useTemplates.ts
  frontend/components/instructor/messages/types.ts
  frontend/components/instructor/messages/utils/templates.ts
  frontend/features/bookings/components/BookingList.tsx
  frontend/hooks/__tests__/usePlatformConfig.test.ts
  frontend/lib/__tests__/instructorDashboardNav.test.ts
  frontend/lib/__tests__/publicProfileLaunch.test.ts
  frontend/lib/__tests__/textWidthTabs.test.ts
  frontend/lib/api/config.ts
  frontend/lib/bookingStatus.ts
  frontend/lib/instructorDashboardNav.ts
  frontend/lib/publicProfileLaunch.ts
  frontend/lib/textWidthTabs.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(dashboard): address testing feedback on quick wins branch
  frontend/app/(auth)/instructor/bookings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
  frontend/components/security/TfaModal.tsx
  frontend/components/security/__tests__/TfaModal.test.tsx
  frontend/e2e/tests/instructor.dashboard-reviews.spec.ts
  frontend/features/bookings/components/BookingList.tsx
  frontend/features/bookings/components/__tests__/BookingList.test.tsx
  frontend/lib/__tests__/publicProfileLaunch.test.ts
  frontend/lib/instructorDashboardNav.ts
  frontend/lib/publicProfileLaunch.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(booking): harden booking flow — format lock, cache invalidation, pre-flight checks
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/bookings.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/services/search/cache_invalidation.py
  backend/openapi/openapi.json
  backend/tests/routes/test_bookings.py
  backend/tests/schemas/test_booking_schema_additional_coverage.py
  backend/tests/unit/services/search/test_cache_invalidation.py
  backend/tests/unit/services/test_booking_service.py
  frontend/app/(auth)/student/booking/confirm/__tests__/page.test.tsx
  frontend/app/(auth)/student/booking/confirm/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/e2e/fixtures/api-mocks.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/LocationOptions.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/features/student/payment/components/__tests__/lesson-location-toggle.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-floor-validation.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-section.spec.tsx
  frontend/features/student/payment/utils/__tests__/buildAvailabilityCheckRequest.spec.ts
  frontend/features/student/payment/utils/__tests__/buildCreateBookingPayload.spec.ts
  frontend/features/student/payment/utils/__tests__/locationUtils.spec.ts
  frontend/features/student/payment/utils/buildAvailabilityCheckRequest.ts
  frontend/features/student/payment/utils/buildCreateBookingPayload.ts
  frontend/features/student/payment/utils/buildPricingPreviewQuotePayload.ts
  frontend/features/student/payment/utils/locationUtils.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(booking): harden booking flow — format lock, cache invalidation, pre-flight checks (#340)
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/bookings.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/services/search/cache_invalidation.py
  backend/openapi/openapi.json
  backend/tests/routes/test_bookings.py
  backend/tests/schemas/test_booking_schema_additional_coverage.py
  backend/tests/unit/services/search/test_cache_invalidation.py
  backend/tests/unit/services/test_booking_service.py
  frontend/app/(auth)/student/booking/confirm/__tests__/page.test.tsx
  frontend/app/(auth)/student/booking/confirm/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/e2e/fixtures/api-mocks.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/LocationOptions.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/features/student/payment/components/__tests__/lesson-location-toggle.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-floor-validation.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-section.spec.tsx
  frontend/features/student/payment/utils/__tests__/buildAvailabilityCheckRequest.spec.ts
  frontend/features/student/payment/utils/__tests__/buildCreateBookingPayload.spec.ts
  frontend/features/student/payment/utils/__tests__/locationUtils.spec.ts
  frontend/features/student/payment/utils/buildAvailabilityCheckRequest.ts
  frontend/features/student/payment/utils/buildCreateBookingPayload.ts
  frontend/features/student/payment/utils/buildPricingPreviewQuotePayload.ts
  frontend/features/student/payment/utils/locationUtils.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(availability): overnight booking protection now spans sleep cycle across midnight
  backend/app/routes/v1/public.py
  backend/app/services/booking_service.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_public_availability.py
  backend/tests/unit/services/test_booking_service.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

feat(settings+earnings): 2FA toggle, merge security sections, earnings cards 3-up, export modal fixes (A-Team #13/16/30/31)
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(dashboard): reviews redesign, messages layout, notification navigation (A-Team #34/35/41)
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/review_repository.py
  backend/app/routes/v1/reviews.py
  backend/app/schemas/review.py
  backend/app/services/notification_service.py
  backend/app/services/notification_templates.py
  backend/app/services/review_service.py
  backend/openapi/openapi.json
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_data/instructors.yaml
  backend/tests/routes/test_reviews_routes_coverage.py
  backend/tests/unit/services/test_notification_service_additional_coverage.py
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/messages/__tests__/page-layout.test.tsx
  frontend/app/(auth)/instructor/messages/embedded.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/(auth)/instructor/reviews/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/components/dashboard/InstructorDashboardShell.tsx
  frontend/components/dashboard/__tests__/InstructorDashboardShell.test.tsx
  frontend/components/notifications/NotificationBell.tsx
  frontend/components/notifications/NotificationItem.tsx
  frontend/components/notifications/__tests__/NotificationBell.test.tsx
  frontend/components/notifications/__tests__/NotificationItem.test.tsx
  frontend/components/notifications/resolveNotificationDestination.ts
  frontend/e2e/tests/video-lessons.spec.ts
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/hooks/__tests__/useCreateConversation.test.tsx
  frontend/hooks/useCreateConversation.ts
  frontend/lib/__tests__/instructorDashboardNav.test.ts
  frontend/lib/instructorDashboardNav.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(dashboard): availability booked-slot click, UI polish on reviews/referrals/earnings
  frontend/app/(auth)/instructor/referrals/page.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/availability/__tests__/InteractiveGrid.test.tsx
  frontend/components/earnings/CommissionTierCard.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(audit): brand casing, role-aware messaging, type coverage, email templates
  backend/app/templates/email/base.html
  backend/app/templates/email/referrals/invite_standalone.html
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/(auth)/student/messages/page.tsx
  frontend/app/(public)/instructor/apply/page.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/__tests__/NotificationBar.test.tsx
  frontend/components/instructor/MessageInstructorButton.tsx
  frontend/components/instructor/__tests__/MessageInstructorButton.test.tsx
  frontend/components/instructor/messages/__tests__/index.test.ts
  frontend/components/instructor/messages/components/ChatHeader.tsx
  frontend/components/instructor/messages/components/ConversationList.tsx
  frontend/components/instructor/messages/constants.ts
  frontend/components/instructor/messages/hooks/useConversations.ts
  frontend/components/referrals/CheckoutApplyReferral.tsx
  frontend/hooks/__tests__/useCreateConversation.test.tsx
  frontend/hooks/useCreateConversation.ts
  frontend/package.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(auth): harden email verification, generic errors, PII masking, MCP CORS
  backend/app/auth.py
  backend/app/repositories/referral_repository.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/reviews.py
  backend/app/schemas/user.py
  backend/app/services/auth_service.py
  backend/app/services/referral_service.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_auth.py
  backend/tests/integration/test_instructor_referral_flow.py
  backend/tests/referrals/test_services.py
  backend/tests/repositories/test_referral_repository.py
  backend/tests/routes/test_auth_email_verification.py
  backend/tests/routes/test_auth_founding_registration.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/routes/test_beta_routes.py
  backend/tests/routes/test_reviews_routes_coverage.py
  backend/tests/routes/test_search_history_routes.py
  backend/tests/unit/schemas/test_user_schemas.py
  backend/tests/unit/services/test_instructor_referral_logic.py
  backend/tests/unit/test_auth_core_coverage.py
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(shared)/signup/__tests__/page.test.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/app/(shared)/verify-email/__tests__/page.test.tsx
  frontend/app/(shared)/verify-email/page.tsx
  frontend/features/instructor-profile/hooks/__tests__/useInstructorReviews.test.tsx
  frontend/features/instructor-profile/hooks/useInstructorReviews.ts
  frontend/lib/api.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/queryKeys.ts
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(auth): server-side trusted devices, remove X-Trusted-Bypass, rate limit change-password, fix celery enqueue ordering
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/006_platform_features.py
  backend/app/models/__init__.py
  backend/app/models/trusted_device.py
  backend/app/models/user.py
  backend/app/repositories/__init__.py
  backend/app/repositories/factory.py
  backend/app/repositories/trusted_device_repository.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/schemas/security.py
  backend/app/services/trusted_device_service.py
  backend/app/services/two_factor_auth_service.py
  backend/app/tasks/all_tasks.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/db_maintenance.py
  backend/app/tasks/referral_tasks.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_auth_2fa_login_with_session.py
  backend/tests/integration/api/test_auth_preview_smoke.py
  backend/tests/integration/api/test_trusted_devices.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/routes/test_auth_routes_missed_coverage.py
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  backend/tests/tasks/test_db_maintenance.py
  backend/tests/unit/tasks/test_referral_tasks.py
  docs/session-handoffs/session-handoff-v143.md
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
  frontend/app/(shared)/login/LoginClient.tsx
  frontend/hooks/queries/__tests__/useTrustedDevices.test.tsx
  frontend/hooks/queries/useTrustedDevices.ts
  frontend/src/api/generated/2fa/2fa.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(auth): server-side trusted devices, remove X-Trusted-Bypass, auth hardening
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/006_platform_features.py
  backend/app/models/__init__.py
  backend/app/models/trusted_device.py
  backend/app/models/user.py
  backend/app/repositories/__init__.py
  backend/app/repositories/factory.py
  backend/app/repositories/trusted_device_repository.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/schemas/security.py
  backend/app/services/trusted_device_service.py
  backend/app/services/two_factor_auth_service.py
  backend/app/tasks/all_tasks.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/db_maintenance.py
  backend/app/tasks/referral_tasks.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_auth_2fa_login_with_session.py
  backend/tests/integration/api/test_auth_preview_smoke.py
  backend/tests/integration/api/test_trusted_devices.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/routes/test_auth_routes_missed_coverage.py
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  backend/tests/tasks/test_db_maintenance.py
  backend/tests/unit/tasks/test_referral_tasks.py
  docs/session-handoffs/session-handoff-v143.md
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
  frontend/app/(shared)/login/LoginClient.tsx
  frontend/hooks/queries/__tests__/useTrustedDevices.test.tsx
  frontend/hooks/queries/useTrustedDevices.ts
  frontend/src/api/generated/2fa/2fa.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(perf): batch booking fetch, React Query mutations, cache invalidation, conversation restore, Stripe contract
  backend/app/repositories/booking_repository.py
  backend/app/repositories/referral_repository.py
  backend/app/services/conversation_service.py
  backend/app/services/referral_service.py
  backend/app/services/review_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/referral_tasks.py
  backend/tests/integration/services/test_conversation_service_coverage.py
  backend/tests/integration/services/test_review_service_int.py
  backend/tests/repositories/test_booking_repository_get_by_ids.py
  backend/tests/unit/services/test_conversation_service.py
  backend/tests/unit/services/test_conversation_service_edge_coverage.py
  backend/tests/unit/services/test_referral_service_r4.py
  backend/tests/unit/services/test_review_service_coverage.py
  backend/tests/unit/services/test_stripe_referral_transfer.py
  backend/tests/unit/services/test_stripe_service.py
  backend/tests/unit/tasks/test_referral_tasks.py
  docs/session-handoffs/session-handoff-v143.md
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(perf): batch queries, React Query mutations, cache invalidation, conversation restore, Stripe contract
  backend/app/repositories/booking_repository.py
  backend/app/repositories/referral_repository.py
  backend/app/services/conversation_service.py
  backend/app/services/referral_service.py
  backend/app/services/review_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/referral_tasks.py
  backend/tests/integration/services/test_conversation_service_coverage.py
  backend/tests/integration/services/test_review_service_int.py
  backend/tests/repositories/test_booking_repository_get_by_ids.py
  backend/tests/unit/services/test_conversation_service.py
  backend/tests/unit/services/test_conversation_service_edge_coverage.py
  backend/tests/unit/services/test_referral_service_r4.py
  backend/tests/unit/services/test_review_service_coverage.py
  backend/tests/unit/services/test_stripe_referral_transfer.py
  backend/tests/unit/services/test_stripe_service.py
  backend/tests/unit/tasks/test_referral_tasks.py
  docs/session-handoffs/session-handoff-v143.md
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(cleanup): auth dedup, email verification extraction, N+1 catalog fix, 13 deferred items
  backend/app/repositories/conflict_checker_repository.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/conversations.py
  backend/app/routes/v1/reviews.py
  backend/app/services/auth_service.py
  backend/app/services/availability_service.py
  backend/app/services/booking_service.py
  backend/app/services/email_verification_service.py
  backend/app/services/instructor_service.py
  backend/app/services/review_service.py
  backend/app/services/trusted_device_service.py
  backend/tests/integration/services/test_review_service_int.py
  backend/tests/routes/test_auth_email_verification.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/routes/test_auth_routes_missed_coverage.py
  backend/tests/routes/test_conversations_coverage.py
  backend/tests/routes/test_reviews_routes_coverage.py
  backend/tests/unit/services/test_auth_service_coverage.py
  backend/tests/unit/services/test_availability_service_branch_coverage_extra.py
  backend/tests/unit/services/test_availability_service_logic.py
  backend/tests/unit/services/test_booking_service_coverage.py
  backend/tests/unit/services/test_email_verification_service.py
  backend/tests/unit/services/test_instructor_service_missed_coverage.py
  backend/tests/unit/services/test_review_service_coverage.py
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/app/(shared)/login/LoginClient.tsx
  frontend/app/(shared)/login/__tests__/LoginClient.test.tsx
  frontend/app/(shared)/signup/__tests__/page.test.tsx
  frontend/app/(shared)/signup/page.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

fix(auth): reorder 2FA setup/disable to prevent lockout on trusted device failure
  backend/app/routes/v1/two_factor_auth.py
  docs/session-handoffs/session-handoff-v144.md
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(dashboard): A-Team review pass batch 1 — 14 UI fixes + student chat + 2FA ordering
  frontend/__tests__/pages/lessons/LessonDetailsPage.test.tsx
  frontend/app/(auth)/instructor/dashboard/__tests__/reviews-card.helpers.test.ts
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/status.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/BioCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/__tests__/BioCard.test.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/components/chat/ChatModal.tsx
  frontend/components/chat/__tests__/ChatModal.test.tsx
  frontend/components/dashboard/ReviewsStatCard.tsx
  frontend/components/dashboard/__tests__/ReviewsStatCard.test.tsx
  frontend/components/pricing/FormatPricingCards.tsx
  frontend/components/pricing/__tests__/FormatPricingCards.test.tsx
  frontend/components/taxonomy/RefineFiltersSection.tsx
  frontend/e2e/tests/instructor.dashboard-reviews.spec.ts
  frontend/features/instructor-onboarding/__tests__/useOnboardingStepStatus.test.tsx
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/lib/dashboardReviews.ts
  frontend/lib/pricing/formatPricing.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(dashboard): A-Team review pass batch 1 — 14 UI fixes + student chat
  frontend/__tests__/pages/lessons/LessonDetailsPage.test.tsx
  frontend/app/(auth)/instructor/dashboard/__tests__/reviews-card.helpers.test.ts
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/status.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/BioCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/__tests__/BioCard.test.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/components/chat/ChatModal.tsx
  frontend/components/chat/__tests__/ChatModal.test.tsx
  frontend/components/dashboard/ReviewsStatCard.tsx
  frontend/components/dashboard/__tests__/ReviewsStatCard.test.tsx
  frontend/components/pricing/FormatPricingCards.tsx
  frontend/components/pricing/__tests__/FormatPricingCards.test.tsx
  frontend/components/taxonomy/RefineFiltersSection.tsx
  frontend/e2e/tests/instructor.dashboard-reviews.spec.ts
  frontend/features/instructor-onboarding/__tests__/useOnboardingStepStatus.test.tsx
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/lib/dashboardReviews.ts
  frontend/lib/pricing/formatPricing.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

chore(deps): batch dependency updates March 2026
  backend/requirements-dev.txt
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

fix(dashboard): A-Team review pass batch 2 — booking cards, detail page, earnings, action section
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/e2e/tests/video-lessons.spec.ts
  frontend/features/bookings/components/InstructorBookingCard.tsx
  frontend/features/bookings/components/InstructorBookingDetailView.tsx
  frontend/features/bookings/components/__tests__/InstructorBookingCard.test.tsx
  frontend/lib/bookingLocation.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(onboarding): eliminate Add Skills loading delay + batch catalog price ranges
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/service_catalog_repository.py
  backend/app/routes/v1/services.py
  backend/app/schemas/service_catalog_responses.py
  backend/app/services/instructor_service.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_taxonomy_routes.py
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/api/client.ts
  frontend/features/shared/api/types.ts
  frontend/hooks/queries/__tests__/useServices.test.tsx
  frontend/hooks/queries/useServices.ts
  frontend/lib/react-query/queryClient.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/services-v1/services-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(onboarding): eliminate Add Skills loading delay + batch catalog price ranges (OB-4)
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/service_catalog_repository.py
  backend/app/routes/v1/services.py
  backend/app/schemas/service_catalog_responses.py
  backend/app/services/instructor_service.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_taxonomy_routes.py
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/api/client.ts
  frontend/features/shared/api/types.ts
  frontend/hooks/queries/__tests__/useServices.test.tsx
  frontend/hooks/queries/useServices.ts
  frontend/lib/react-query/queryClient.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/services-v1/services-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(onboarding): OB-7 class location validation, OB-10 flash fix, address dedup, dep upgrades, cohort alignment
  .github/workflows/backend-ci.yml
  backend/app/repositories/service_catalog_repository.py
  backend/pip-audit.ignore.json
  backend/requirements.txt
  backend/scripts/run_pip_audit.sh
  backend/tests/repositories/test_service_catalog_repository_coverage.py
  backend/tests/test_pip_audit_ci_config.py
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/status.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PreferredLocationsCard.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-onboarding/__tests__/useOnboardingStepStatus.test.tsx
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/lib/__tests__/teachingLocations.test.ts
  frontend/lib/teachingLocations.ts
  frontend/src/api/hooks/useSession.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(onboarding): OB-7 + OB-10 + address dedup + dep upgrades + cohort fix
  .github/workflows/backend-ci.yml
  backend/app/repositories/service_catalog_repository.py
  backend/pip-audit.ignore.json
  backend/requirements.txt
  backend/scripts/run_pip_audit.sh
  backend/tests/repositories/test_service_catalog_repository_coverage.py
  backend/tests/test_pip_audit_ci_config.py
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/status.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PreferredLocationsCard.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-onboarding/__tests__/useOnboardingStepStatus.test.tsx
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/lib/__tests__/teachingLocations.test.ts
  frontend/lib/teachingLocations.ts
  frontend/src/api/hooks/useSession.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

test(backend): coverage buffer — trusted devices, payments, refunds, email verification, conflict checker, filters, bitset, booking rules
  backend/tests/integration/repositories/test_trusted_device_repository.py
  backend/tests/routes/test_payments.py
  backend/tests/schemas/test_booking_rules_config.py
  backend/tests/services/test_refund_service.py
  backend/tests/unit/repositories/test_filter_repository_additional_coverage.py
  backend/tests/unit/services/test_conflict_checker_logic.py
  backend/tests/unit/services/test_email_verification_service.py
  backend/tests/unit/utils/test_bitset_5min.py
  backend/tests/unit/utils/test_bitset_tags.py
Due: check-time-to-minutes, check-timezone-patterns

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

