Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


Profile: persist preferred places + squash migrations to 6 files (#79)
  backend/alembic/versions/006_final_constraints.py
  backend/alembic/versions/007_enable_rls.py
  backend/app/models/__init__.py
  backend/app/models/instructor.py
  backend/app/models/user.py
  backend/app/repositories/factory.py
  backend/app/repositories/instructor_preferred_place_repository.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/instructors.py
  backend/app/routes/uploads.py
  backend/app/schemas/instructor.py
  backend/app/services/instructor_service.py
  backend/tests/integration/routes/test_instructor_preferred_places.py
  docs/DEVELOPMENT.md
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/lib/profileSchemaDebug.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

test(e2e): preferred places dual-mode (mock by default, live when E2E_* origins set); docs & scripts
  docs/DEVELOPMENT.md
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/e2e/profile.preferred-places.spec.ts
  frontend/package.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

E2E: preferred places dual-mode (mocked by default, live opt-in) (#80)
  docs/DEVELOPMENT.md
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/e2e/profile.preferred-places.spec.ts
  frontend/package.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(seed): customizable date windows; fix onboarding skill chips
  backend/scripts/prep_db.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_data/config.yaml
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(api+fe): include service_catalog_name in instructor services everywhere; FE prefers it; hydration is fallback
  backend/app/schemas/instructor.py
  backend/app/services/instructor_service.py
  backend/tests/integration/api/test_instructors.py
  docs/DEVELOPMENT.md
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/lib/instructorServices.ts
  frontend/types/instructor.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(api+fe): include service_catalog_name in instructor services everywhere; FE prefers it; hydration is fallback (#81)
  backend/app/schemas/instructor.py
  backend/app/services/instructor_service.py
  backend/tests/integration/api/test_instructors.py
  docs/DEVELOPMENT.md
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/lib/instructorServices.ts
  frontend/types/instructor.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(fe): show service names everywhere — prefer server service_catalog_name; hydrate from catalog as fallback; fix Edit modal pills
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/lib/__tests__/instructorServices.display.test.ts
  frontend/lib/instructorServices.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(fe): show service names everywhere — prefer server service_catalog_name; hydrate from catalog as fallback; fix Edit modal pills (#82)
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/lib/__tests__/instructorServices.display.test.ts
  frontend/lib/instructorServices.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

metric history
  metrics_history.json
Due: none

availability: modernize calendar UI, autosave edits, and improve navigation
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/availability/WeekNavigator.tsx
  frontend/components/ui/select.tsx
  frontend/hooks/availability/useAvailability.ts
  frontend/hooks/availability/useWeekSchedule.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(availability): surface autosave conflicts via modal and stabilize 409 e2e flow
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/e2e/tests/availability-conflict.spec.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(schema+repo+tests): remove legacy areas_of_service; fix boot; assert derived service_area_* fields
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/instructor.py
  backend/app/repositories/address_repository.py
  backend/app/repositories/factory.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/schemas/instructor.py
  backend/app/schemas/search_responses.py
  backend/app/services/auth_service.py
  backend/app/services/booking_service.py
  backend/app/services/instructor_service.py
  backend/app/services/privacy_service.py
  backend/app/services/search_service.py
  backend/scripts/reset_and_seed_database.py
  backend/scripts/reset_and_seed_database_enhanced.py
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/conftest.py
  backend/tests/integration/api/test_instructors.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore(be tests): normalize service-areas (user-based); idempotent RB helper; repo filters by borough; emit dicts for service_area_neighborhoods; fix unit test stubs
  backend/app/models/address.py
  backend/app/models/user.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/schemas/instructor.py
  backend/app/services/instructor_service.py
  backend/tests/conftest.py
  backend/tests/integration/api/test_instructors.py
  backend/tests/integration/db/test_edge_cases_circular_and_soft_delete.py
  backend/tests/integration/repository_patterns/test_availability_repository.py
  backend/tests/integration/repository_patterns/test_booking_repository_edge_cases.py
  backend/tests/integration/repository_patterns/test_instructor_profile_query_patterns.py
  backend/tests/integration/repository_patterns/test_instructor_profile_repository_filtering.py
  backend/tests/integration/routes/test_instructors_strict.py
  backend/tests/integration/services/test_booking_service_account_status.py
  backend/tests/integration/services/test_booking_service_edge_cases.py
  backend/tests/integration/services/test_booking_service_edge_cases_student_bug.py
  backend/tests/integration/services/test_booking_service_student_conflicts_integration.py
  backend/tests/integration/test_favorites.py
  backend/tests/legacy/test_bulk_operation_missing_coverage.py
  backend/tests/models/test_model_validation.py
  backend/tests/privacy/test_complete_endpoint_privacy.py
  backend/tests/repositories/test_booking_repository_future_bookings.py
  backend/tests/repositories/test_instructor_profile_repository.py
  backend/tests/repositories/test_instructor_profile_repository_account_status.py
  backend/tests/routes/test_instructor_privacy_protection.py
  backend/tests/routes/test_instructors_filtering.py
  backend/tests/services/test_address_service_spatial.py
  backend/tests/test_privacy_protection.py
  backend/tests/test_service_catalog_enhancements.py
  backend/tests/unit/services/test_booking_service_logic.py
  backend/tests/unit/services/test_booking_service_student_conflicts.py
  backend/tests/unit/services/test_instructor_service_filtering.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(fe): remove legacy areas_of_service across app; prefer derived service_area_*; robust calendar testids/aria; add payload guardrail; chore(be tests): idempotent service-area seeding for CI
  backend/tests/conftest.py
  frontend/__tests__/lessons/modals/RescheduleModal.test.tsx
  frontend/__tests__/profile/profileUpdatePayload.test.ts
  frontend/__tests__/schemas/instructorDetail.test.ts
  frontend/__tests__/schemas/searchList.test.ts
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/(public)/book/[id]/page.tsx
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/app/dashboard/instructor/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/profile.preferred-places.spec.ts
  frontend/e2e/profile.service-areas.spec.ts
  frontend/e2e/tests/booking-journey.spec.ts
  frontend/features/instructor-profile/__tests__/InstructorProfilePage.test.tsx
  frontend/features/instructor-profile/components/InstructorInfo.tsx
  frontend/features/instructor-profile/components/LocationCard.tsx
  frontend/features/instructor-profile/hooks/useInstructorProfile.ts
  frontend/features/shared/api/client.ts
  frontend/features/shared/api/schemas/instructorProfile.ts
  frontend/features/shared/api/schemas/searchList.ts
  frontend/features/shared/booking/ui/local/Calendar.tsx
  frontend/features/student/booking/components/BookingModal.tsx
  frontend/features/student/booking/components/BookingModalWithPayment.tsx
  frontend/features/student/booking/types.ts
  frontend/lib/profileSchemaDebug.ts
  frontend/lib/profileServiceAreas.ts
  frontend/src/types/api.ts
  frontend/types/api.ts
  frontend/types/booking.ts
  frontend/types/generated/api.d.ts
  frontend/types/instructor.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(openapi): stable ServiceAreaNeighborhood schema + unique operationIds
  backend/app/main.py
  backend/app/schemas/address.py
  backend/app/schemas/instructor.py
  backend/app/schemas/search_responses.py
  backend/tests/openapi/test_components_titles.py
  backend/tests/openapi/test_operation_ids_unique.py
Due: none

chore(frontend): add robust OpenAPI→TS codegen and regenerate api.d.ts (ServiceAreaNeighborhood)
  backend/scripts/dump_openapi.py
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate-openapi-types.mjs
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(openapi): refresh backend dump and regenerate FE api.d.ts from same source; resolve contract drift
  backend/openapi/openapi.json
  backend/scripts/dump_openapi.py
  frontend/scripts/generate-openapi-types.mjs
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(spatial): seed valid GeoJSON geometry for synthetic RegionBoundary; fix FeatureCollection geometry on CI
  backend/tests/conftest.py
Due: none

test(spatial): fix FeatureCollection geometry on CI
  frontend/__tests__/lessons/modals/RescheduleModal.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(frontend): pin openapi-typescript to 7.9.1 for CI guardrail; regen types
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

fix(spatial): never emit null geometry in coverage FC; extract from metadata or synthesize polygon
  backend/app/services/address_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

availability: fix autosave conflicts and preserve edits across clicks
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/hooks/availability/useAvailability.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

ci(mypy): include pinned mypy and ensure artifacts dir exists
  .github/workflows/typing-strict-experimental.yml
  backend/requirements-dev.txt
Due: none

beta invite code generator and metric history
  backend/scripts/generate_beta_invite_code.py
  metrics_history.json
Due: none

fix(dashboard/modal): chips + sticky header/footer; hydrate preferred places; use relative API via http client; base guard
  frontend/__tests__/apiBase.absolute.test.ts
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/components/Modal.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/features/instructor-profile/components/SelectedNeighborhoodChips.tsx
  frontend/features/instructor-profile/hooks/useInstructorProfile.ts
  frontend/features/instructor-profile/tests/EditProfileModal.prefill.test.tsx
  frontend/features/instructor-profile/tests/useInstructorProfile.fetches.test.tsx
  frontend/lib/apiBase.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(modal): make skills modal share sticky header/footer + save handler
  frontend/components/modals/EditProfileModal.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(scripts): retire legacy areas_of_service utilities; align type gen; add root contract-check wrapper
  backend/scripts/dev/check_column_type.py
  backend/scripts/fix_areas_corruption.py
  backend/scripts/generate-types-script.py
  backend/scripts/test_catalog_system.py
  scripts/contract-check.mjs
Due: none

docs(api): refresh service area examples with derived fields
  docs/api/instainstru-api-guide.md
  docs/api/instainstru-openapi.yaml
  docs/api/instainstru-postman.json
  scripts/contract-check.mjs
Due: none

refactor(frontend): move SelectedNeighborhoodChips to features/shared to satisfy dep-cruiser layering rule
  frontend/components/modals/EditProfileModal.tsx
  frontend/features/shared/components/SelectedNeighborhoodChips.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(bgc): integrate Checkr Essential (env guards, schema, invite, webhook)
  backend/alembic/versions/006_final_constraints.py
  backend/app/api/dependencies/services.py
  backend/app/core/config.py
  backend/app/integrations/__init__.py
  backend/app/integrations/checkr_client.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/instructor.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/webhooks_checkr.py
  backend/app/schemas/webhook_responses.py
  backend/app/services/background_check_service.py
  backend/tests/unit/test_background_check_invite.py
  backend/tests/unit/test_bgc_schema.py
  backend/tests/unit/test_checkr_webhook.py
  backend/tests/unit/test_env_guard.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(bgc): production gating + invite/status APIs; fix webhook warnings; restore repo-wide mypy gate
  backend/app/core/bgc_policy.py
  backend/app/integrations/checkr_client.py
  backend/app/main.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/instructor_background_checks.py
  backend/app/schemas/bgc.py
  backend/app/services/background_check_service.py
  backend/app/services/booking_service.py
  backend/tests/unit/test_bgc_endpoints.py
  backend/tests/unit/test_bgc_visibility_gate.py
  backend/tests/unit/test_checkr_webhook.py
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

BGC backend: Checkr webhook, repo DI (no API key), simulator, prod-like gating (#84)
  backend/alembic/versions/006_final_constraints.py
  backend/app/api/dependencies/services.py
  backend/app/core/bgc_policy.py
  backend/app/core/config.py
  backend/app/integrations/__init__.py
  backend/app/integrations/checkr_client.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/instructor.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/instructor_background_checks.py
  backend/app/routes/webhooks_checkr.py
  backend/app/schemas/bgc.py
  backend/app/schemas/webhook_responses.py
  backend/app/services/background_check_service.py
  backend/app/services/booking_service.py
  backend/tests/unit/test_background_check_invite.py
  backend/tests/unit/test_bgc_endpoints.py
  backend/tests/unit/test_bgc_schema.py
  backend/tests/unit/test_bgc_visibility_gate.py
  backend/tests/unit/test_checkr_webhook.py
  backend/tests/unit/test_env_guard.py
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(bgc): resolve initial status; bounded polling only while pending/review; proper loading state
  frontend/__tests__/components/BGCStep.test.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/components/instructor/BGCStep.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(bgc): FE onboarding CTA + status chip; public Verified badge; env hardening
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/instructor_background_checks.py
  backend/app/services/background_check_service.py
  backend/tests/repositories/test_instructor_profile_repository.py
  backend/tests/unit/test_background_check_invite.py
  backend/tests/unit/test_bgc_endpoints.py
  backend/tests/unit/test_checkr_webhook.py
  frontend/__tests__/components/BGCStep.test.tsx
  frontend/__tests__/components/VerifiedBadge.test.tsx
  frontend/__tests__/components/__snapshots__/VerifiedBadge.test.tsx.snap
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/common/VerifiedBadge.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfilePage.test.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/features/instructor-profile/hooks/useInstructorProfile.ts
  frontend/lib/api/bgc.ts
  frontend/lib/env.ts
  frontend/types/instructor.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(connect): Stripe Connect returns to public callback; tolerant auth warm-up; status refresh + toast; route back to onboarding
  backend/app/core/config.py
  backend/app/routes/payments.py
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/connect.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/connect/page.tsx
  frontend/app/(auth)/instructor/onboarding/payment-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, frontend-no-console

fix(webhook): remove Checkr client dependency from /webhooks/checkr; update status via repo only
  backend/app/api/dependencies/repositories.py
  backend/app/main.py
  backend/app/routes/webhooks_checkr.py
  backend/tests/unit/test_checkr_webhook.py
Due: api-contracts, check-timezone-usage

fix(bgc/webhook): remove service/Checkr client from webhook; repo-only update; add CORS allowlist log
  backend/app/core/config.py
  backend/app/integrations/checkr_client.py
  backend/app/routes/payments.py
  backend/scripts/simulate_checkr_webhook.py
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/profile/page.tsx
  frontend/components/common/VerifiedBadge.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, frontend-no-console

BGC frontend: verification CTA + status chip + Verified badge; stable polling (#85)
  backend/app/api/dependencies/repositories.py
  backend/app/core/config.py
  backend/app/integrations/checkr_client.py
  backend/app/main.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/instructor_background_checks.py
  backend/app/routes/payments.py
  backend/app/routes/webhooks_checkr.py
  backend/app/services/background_check_service.py
  backend/scripts/simulate_checkr_webhook.py
  backend/tests/repositories/test_instructor_profile_repository.py
  backend/tests/unit/test_background_check_invite.py
  backend/tests/unit/test_bgc_endpoints.py
  backend/tests/unit/test_checkr_webhook.py
  frontend/__tests__/components/BGCStep.test.tsx
  frontend/__tests__/components/VerifiedBadge.test.tsx
  frontend/__tests__/components/__snapshots__/VerifiedBadge.test.tsx.snap
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/connect.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/connect/page.tsx
  frontend/app/(auth)/instructor/onboarding/payment-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/common/VerifiedBadge.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfilePage.test.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/features/instructor-profile/hooks/useInstructorProfile.ts
  frontend/lib/api/bgc.ts
  frontend/lib/env.ts
  frontend/types/instructor.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console
