Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

gitleaks-system:
  name: gitleaks (system)
  language: system
  entry: scripts/run-gitleaks.sh
  pass_filenames: false

feat(search): add multi-city architecture for NL search
  .github/workflows/backend-ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/privacy-audit.yml
  .github/workflows/typing-strict-experimental.yml
  backend/.env.example
  backend/alembic/versions/006_final_constraints.py
  backend/app/models/__init__.py
  backend/app/models/nl_search.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/repositories/filter_repository.py
  backend/app/repositories/nl_search_repository.py
  backend/app/repositories/retriever_repository.py
  backend/app/routes/v1/search.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/config.py
  backend/app/services/search/embedding_provider.py
  backend/app/services/search/embedding_service.py
  backend/app/services/search/llm_parser.py
  backend/app/services/search/metrics.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/query_parser.py
  backend/app/services/search/ranking_service.py
  backend/app/services/search/retriever.py
  backend/app/services/search/search_cache.py
  backend/app/services/search_service.py
  backend/requirements.txt
  backend/scripts/generate_openai_embeddings.py
  backend/scripts/generate_service_embeddings.py
  backend/scripts/prep_db.py
  backend/scripts/seed_data.py
  backend/scripts/test_simple_search.py
  backend/tests/test_nls_specific_service.py
  backend/tests/unit/services/search/test_embedding_service.py
  backend/tests/unit/services/search/test_llm_parser.py
  backend/tests/unit/services/search/test_ranking_service.py
  docs/session-handoffs/session-handoff-v118.md
  frontend/app/(admin)/admin/AdminSidebar.tsx
  frontend/app/(admin)/admin/nl-search/page.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(search): transform NL search to instructor-level architecture
  backend/app/core/config.py
  backend/app/core/enums.py
  backend/app/main.py
  backend/app/repositories/filter_repository.py
  backend/app/repositories/retriever_repository.py
  backend/app/routes/search.py
  backend/app/routes/v1/search.py
  backend/app/schemas/nl_search.py
  backend/app/services/cache_service.py
  backend/app/services/search/cache_invalidation.py
  backend/app/services/search/embedding_service.py
  backend/app/services/search/llm_parser.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/query_parser.py
  backend/app/services/search/search_cache.py
  backend/app/services/search/typo_correction.py
  backend/app/services/search_service.py
  backend/requirements.txt
  backend/scripts/seed_roles_permissions.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_rate_headers_shadow.py
  backend/tests/integration/test_rate_headers_smoke.py
  backend/tests/integration/test_search_observability.py
  backend/tests/routes/test_phase_route_blocking.py
  backend/tests/routes/test_search_api.py
  backend/tests/test_api_contracts.py
  backend/tests/test_guards_preview_beta.py
  backend/tests/test_routes_invariants.py
  backend/tests/unit/services/search/test_llm_parser.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_query_parser.py
  backend/tests/unit/services/search/test_search_cache.py
  frontend/app/(admin)/admin/nl-search/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/tests/booking-journey.spec.ts
  frontend/features/shared/api/client.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

ix(search): improve NL search hydration, async handling, and query parsing
  backend/alembic/versions/006_final_constraints.py
  backend/app/repositories/retriever_repository.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/patterns.py
  backend/app/services/search/query_parser.py
  backend/app/services/search/ranking_service.py
  backend/app/services/search/retriever.py
  backend/app/services/search/search_cache.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_query_parser.py
  metrics_history.json
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

refactor(search): replace search_locations with location_aliases architecture
  backend/alembic/versions/006_final_constraints.py
  backend/app/models/__init__.py
  backend/app/models/location_alias.py
  backend/app/models/nl_search.py
  backend/app/repositories/__init__.py
  backend/app/repositories/filter_repository.py
  backend/app/repositories/location_resolution_repository.py
  backend/app/repositories/nl_search_repository.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/location_resolver.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/query_parser.py
  backend/app/services/search/typo_correction.py
  backend/data/location_aliases.json
  backend/scripts/seed_data.py
  backend/scripts/seed_location_aliases.py
  backend/tests/unit/services/search/test_filter_service.py
  backend/tests/unit/services/search/test_llm_parser.py
  backend/tests/unit/services/search/test_location_resolver.py
  backend/tests/unit/services/search/test_query_parser.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(search): add multi-city + ambiguity + trust model to location aliases
  backend/alembic/versions/006_final_constraints.py
  backend/app/models/__init__.py
  backend/app/models/location_alias.py
  backend/app/models/unresolved_location_query.py
  backend/app/repositories/location_resolution_repository.py
  backend/app/repositories/unresolved_location_query_repository.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/location_resolver.py
  backend/app/services/search/query_parser.py
  backend/app/services/search/typo_correction.py
  backend/data/location_aliases.json
  backend/scripts/seed_location_aliases.py
  backend/tests/conftest.py
  backend/tests/unit/services/search/test_filter_service.py
  backend/tests/unit/services/search/test_location_resolver.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

perf(search): optimize NL search pipeline + add filter diagnostics
  backend/alembic/versions/006_final_constraints.py
  backend/app/repositories/retriever_repository.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/ranking_service.py
  backend/app/services/search/retriever.py
  backend/tests/unit/services/search/test_filter_service.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_ranking_service.py
  backend/tests/unit/services/search/test_retriever.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(search): implement location filtering + ranking + filter funnel UI
  backend/app/repositories/filter_repository.py
  backend/app/repositories/location_resolution_repository.py
  backend/app/repositories/retriever_repository.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/location_resolver.py
  backend/app/services/search/retriever.py
  backend/scripts/seed_location_aliases.py
  backend/tests/unit/services/search/test_filter_service.py
  backend/tests/unit/services/search/test_retriever.py
  frontend/app/(admin)/admin/nl-search/page.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(search): weekday parsing, soft-filter messaging, admin distance debug
  backend/app/repositories/filter_repository.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/patterns.py
  backend/app/services/search/query_parser.py
  backend/tests/unit/services/search/test_query_parser.py
  frontend/app/(admin)/admin/nl-search/page.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(search): substring location matching + student distance display
  backend/app/services/search/location_resolver.py
  backend/data/location_aliases.json
  backend/scripts/seed_location_aliases.py
  backend/tests/unit/services/search/test_location_resolver.py
  frontend/app/(public)/search/page.tsx
  frontend/components/InstructorCard.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(search): UES ambiguous display + student soft-filter banner
  backend/app/services/search/nl_search_service.py
  backend/scripts/seed_location_aliases.py
  frontend/app/(public)/search/page.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(search): distance calculation for ambiguous locations
  backend/app/repositories/filter_repository.py
  backend/app/services/search/nl_search_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(load-test): auto-discover conversation IDs before load tests
  backend/tests/load/config/conversations.json
  backend/tests/load/run_loadtest.sh
  backend/tests/load/setup_conversations.py
Due: none

feat(search): Tier 4 embedding + Tier 5 LLM location resolution
  backend/alembic/versions/006_final_constraints.py
  backend/app/models/region_boundary.py
  backend/app/repositories/location_resolution_repository.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/location_embedding_service.py
  backend/app/services/search/location_llm_service.py
  backend/app/services/search/location_resolver.py
  backend/app/services/search/query_parser.py
  backend/scripts/populate_region_embeddings.py
  backend/tests/conftest.py
  backend/tests/unit/services/search/test_location_resolver.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(seed): integrate region embeddings into prep_db.py + fix orphan aliases
  backend/data/location_aliases.json
  backend/scripts/prep_db.py
Due: none

feat(search): intelligent result relaxation + retrieval guardrail + accurate messaging
  backend/app/services/search/filter_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/retriever.py
  backend/tests/unit/services/search/test_filter_service.py
  backend/tests/unit/services/search/test_retriever.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(search): improve time parsing and expose time_before in API
  .github/workflows/backend-ci.yml
  .github/workflows/nightly-schemathesis.yml
  backend/app/schemas/nl_search.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/patterns.py
  backend/app/services/search/query_parser.py
  backend/scripts/prep_db.py
  backend/tests/unit/services/search/test_query_parser.py
  frontend/app/(admin)/admin/nl-search/page.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(search): self-learning location aliases from user behavior
  backend/alembic/versions/006_final_constraints.py
  backend/app/main.py
  backend/app/models/unresolved_location_query.py
  backend/app/repositories/address_repository.py
  backend/app/repositories/location_alias_repository.py
  backend/app/repositories/search_query_repository.py
  backend/app/repositories/unresolved_location_query_repository.py
  backend/app/routes/v1/admin/__init__.py
  backend/app/routes/v1/admin/location_learning.py
  backend/app/routes/v1/search.py
  backend/app/schemas/admin_location_learning_responses.py
  backend/app/services/search/alias_learning_service.py
  backend/app/services/search/location_learning_admin_service.py
  backend/app/services/search/location_learning_click_service.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/location_learning.py
  backend/tests/unit/services/search/test_alias_learning_service.py
  frontend/app/(public)/search/page.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(ci): security audits now scan correct dependencies and fail on vulnerabilities
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
Due: none

fix(search): self-learning click endpoint accepts JSON body
  backend/app/routes/v1/search.py
  backend/app/schemas/nl_search.py
Due: api-contracts, check-timezone-usage

fix(search): prevent embedding tier false positives for nonsense locations
  backend/app/repositories/location_resolution_repository.py
  backend/app/services/search/location_embedding_service.py
  backend/app/services/search/location_resolver.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(admin): location learning UI + popular queries seeding
  backend/app/repositories/location_resolution_repository.py
  backend/app/repositories/unresolved_location_query_repository.py
  backend/app/routes/v1/admin/location_learning.py
  backend/app/schemas/admin_location_learning_requests.py
  backend/app/schemas/admin_location_learning_responses.py
  backend/app/services/search/location_learning_admin_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/search_cache.py
  backend/scripts/prep_db.py
  backend/scripts/seed_popular_queries.py
  frontend/app/(admin)/admin/AdminSidebar.tsx
  frontend/app/(admin)/admin/location-learning/CreateAliasModal.tsx
  frontend/app/(admin)/admin/location-learning/page.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(search): correct embedding timeout + cache degraded responses
  backend/app/services/search/location_resolver.py
  backend/app/services/search/retriever.py
  backend/tests/unit/services/search/test_nl_search_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

docs: NL Search architecture documentation + session handoff v119
  docs/architecture/NL-Search-Architecture-Documentation.md
  docs/session-handoffs/InstaInstru_Session_Handoff_v119.md
Due: none

chore: add Claude Code team settings with official plugins
  .claude/settings.json
Due: none

perf(search): pre-warm SymSpell + reduce LLM timeout
  backend/.env.example
  backend/app/main.py
  backend/app/services/search/config.py
  backend/app/services/search/llm_parser.py
  backend/app/services/search/llm_schema.py
  backend/tests/unit/services/search/test_llm_parser.py
  metrics_history.json
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

perf(search): lightweight SymSpell with domain dictionary
  backend/app/main.py
  backend/app/services/search/query_parser.py
  backend/app/services/search/typo_correction.py
  backend/data/domain_dictionary.txt
  backend/scripts/generate_domain_dictionary.py
  backend/scripts/test_symspell_memory.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

perf(auth): cache beta_access in auth cache (0 DB queries for /auth/me)
  backend/app/core/auth_cache.py
  backend/app/models/booking.py
  backend/app/models/user.py
  backend/app/routes/v1/auth.py
  backend/app/services/beta_service.py
  backend/tests/integration/test_auth_surface_matrix.py
  backend/tests/load/config/conversations.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(perf): add indexes to BackgroundJob model + fix async warning
  backend/app/core/auth_cache.py
  backend/app/models/instructor.py
Due: check-repository-pattern

fix(seed): normalize levels_taught values to valid lowercase enum
  backend/scripts/seed_data/instructors.yaml
Due: none

fix(search): release DB connections during external API calls
  backend/app/database/__init__.py
  backend/app/database/__init__.pyi
  backend/app/routes/v1/search.py
  backend/app/services/search/embedding_service.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/llm_parser.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/ranking_service.py
  backend/app/services/search/retriever.py
  backend/app/tasks/embedding_migration.py
  backend/tests/unit/services/search/test_embedding_service.py
  backend/tests/unit/services/search/test_filter_service.py
  backend/tests/unit/services/search/test_llm_parser.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_ranking_service.py
  backend/tests/unit/services/search/test_retriever.py
  backend/typings/app/database.pyi
  backend/typings/dateparser/__init__.pyi
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

perf(search): add embedding request coalescing
  backend/app/services/search/embedding_service.py
  backend/tests/unit/services/search/test_embedding_service.py
  metrics_history.json
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

perf(search): add cross-worker embedding coalescing via Redis singleflight
  backend/app/services/search/embedding_service.py
  backend/tests/unit/services/search/test_embedding_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore(frontend): run prettier after orval api generation
  frontend/orval.config.ts
  frontend/package.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(contract): refresh generated OpenAPI TS snapshots
  backend/.artifacts/api.expected.d.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): update NL search type aliases + react-query example
  frontend/features/shared/api/types.ts
  frontend/lib/react-query/example-usage.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(search): fire-and-forget analytics logging to prevent DB pool exhaustion
  backend/app/repositories/search_analytics_repository.py
  backend/app/routes/v1/search.py
Due: api-contracts, check-timezone-usage

perf(search): add stability patches for high-load resilience
  backend/app/routes/v1/search.py
  backend/app/services/search/embedding_provider.py
  backend/app/services/search/executors.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/llm_parser.py
  backend/app/services/search/location_embedding_service.py
  backend/app/services/search/location_llm_service.py
  backend/app/services/search/nl_search_service.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(api): convert DB pool exhaustion to 503 with Retry-After
  backend/app/core/exceptions.py
  backend/app/routes/v1/favorites.py
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/reviews.py
Due: api-contracts, check-timezone-usage, check-repository-pattern

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

