Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

gitleaks-system:
  name: gitleaks (system)
  language: system
  entry: scripts/run-gitleaks.sh
  pass_filenames: false

fix(api): convert DB pool exhaustion errors to 503 Service Unavailable
  backend/app/routes/v1/reviews.py
Due: api-contracts, check-timezone-usage

feat(search): Phase 1 - convert location services to AsyncOpenAI
  .claude/settings.json
  backend/app/services/search/executors.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/location_embedding_service.py
  backend/app/services/search/location_llm_service.py
  backend/app/services/search/location_resolver.py
  backend/app/services/search/query_parser.py
  backend/tests/conftest.py
  backend/tests/unit/services/search/test_filter_service.py
  backend/tests/unit/services/search/test_location_resolver.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(search): Phase 2 - DB session rework with two-burst pattern
  backend/app/repositories/search_batch_repository.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/location_embedding_service.py
  backend/app/services/search/location_resolver.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/retriever.py
  backend/tests/unit/services/search/test_nl_search_service.py
  metrics_history.json
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(search): Phase 3 - parallelize DB burst with embedding generation
  backend/app/services/search/nl_search_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(search): Phase 3.5 - early Tier 5 after Tier 1-3 miss
  backend/app/repositories/location_resolution_repository.py
  backend/app/repositories/search_batch_repository.py
  backend/app/services/search/nl_search_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(search): Phase 4 - request budget with progressive degradation
  backend/app/schemas/nl_search.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/request_budget.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(search): add admin dashboard diagnostics with pipeline visualization
  backend/app/core/config.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/admin/__init__.py
  backend/app/routes/v1/admin/search_config.py
  backend/app/routes/v1/search.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/config.py
  backend/app/services/search/embedding_provider.py
  backend/app/services/search/llm_parser.py
  backend/app/services/search/location_embedding_service.py
  backend/app/services/search/location_llm_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/request_budget.py
  backend/scripts/test_location_llm.py
  backend/tests/integration/db/test_redis_connection.py
  backend/tests/unit/test_base_service_metrics.py
  frontend/app/(admin)/admin/nl-search/page.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(search): targeted OpenAI semaphore + enhanced load testing
  backend/app/core/config.py
  backend/app/services/search/config.py
  backend/app/services/search/location_embedding_service.py
  backend/app/services/search/location_llm_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/openai_semaphore.py
  backend/tests/load/locustfile_search.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(search): skip analytics under load to prevent DB pool exhaustion
  backend/app/routes/v1/search.py
Due: api-contracts, check-timezone-usage

fix(search): convert pool exhaustion to 503 instead of 500
  backend/app/services/search/nl_search_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

docs: comprehensive branch documentation update
  docs/branches/conversation-architecture-branch.md
  docs/session-handoffs/session-handoff-v119.md
  docs/session-handoffs/session-handoff-v120.md
Due: none

fix: address all PR review issues
  backend/alembic/versions/006_final_constraints.py
  backend/app/auth.py
  backend/app/auth_sse.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/ratelimit/config.py
  backend/app/repositories/conversation_repository.py
  backend/app/repositories/message_repository.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/conversations.py
  backend/app/routes/v1/messages.py
  backend/app/routes/v1/sse.py
  backend/app/services/message_service.py
  backend/app/services/messaging/__init__.py
  backend/app/services/messaging/sse_stream.py
  backend/tests/unit/test_auth_sse.py
  frontend/__tests__/hooks/useUserMessageStream.test.ts
  frontend/components/instructor/messages/hooks/useConversations.ts
  frontend/components/instructor/messages/hooks/useMessageThread.ts
  frontend/hooks/useUserMessageStream.ts
  frontend/src/api/services/conversations.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(analytics): unshallow git stats and backfill metrics history
  backend/scripts/codebase_metrics.py
  metrics_history.json
Due: none

refactor(migrations): reorganize 6 migration files by domain
  backend/alembic/versions/001_core_foundation.py
  backend/alembic/versions/001_initial_schema.py
  backend/alembic/versions/002_instructor_system.py
  backend/alembic/versions/003_availability_booking.py
  backend/alembic/versions/003_availability_system.py
  backend/alembic/versions/004_messaging.py
  backend/alembic/versions/005_performance_indexes.py
  backend/alembic/versions/005_search.py
  backend/alembic/versions/006_final_constraints.py
  backend/alembic/versions/006_platform_features.py
  backend/scripts/compare_schemas.py
Due: none

refactor(migrations): reorganize 6 migration files by domain (#134)
  backend/alembic/versions/001_core_foundation.py
  backend/alembic/versions/001_initial_schema.py
  backend/alembic/versions/002_instructor_system.py
  backend/alembic/versions/003_availability_booking.py
  backend/alembic/versions/003_availability_system.py
  backend/alembic/versions/004_messaging.py
  backend/alembic/versions/005_performance_indexes.py
  backend/alembic/versions/005_search.py
  backend/alembic/versions/006_final_constraints.py
  backend/alembic/versions/006_platform_features.py
  backend/scripts/compare_schemas.py
Due: none

fix(payments): pre-auth flow + instructor dashboard display
  backend/app/routes/payments.py
  backend/app/schemas/payment_schemas.py
  backend/app/schemas/pricing_preview.py
  backend/app/services/pricing_service.py
  backend/app/services/stripe_service.py
  backend/openapi/openapi.json
  backend/tests/helpers/pricing.py
  backend/tests/integration/test_payment_flow.py
  backend/tests/routes/test_pricing_preview.py
  backend/tests/services/test_pricing_service.py
  backend/tests/services/test_stripe_service.py
  backend/tests/tasks/test_payment_tasks.py
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/features/student/payment/components/__tests__/auto-credit-apply.spec.tsx
  frontend/features/student/payment/components/__tests__/confirm-date-change-optimistic.spec.tsx
  frontend/features/student/payment/components/__tests__/credits-accordion-expanded.spec.tsx
  frontend/features/student/payment/components/__tests__/credits-slider-commit.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-pricing-preview.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-section.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-summary-preview.spec.tsx
  frontend/lib/api/pricing.ts
  frontend/services/api/payments.ts
  frontend/src/api/generated/admin-search-config/admin-search-config.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/stripe-webhooks/stripe-webhooks.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(bookings): status labels + in-progress lesson visibility
  backend/app/repositories/booking_repository.py
  backend/app/routes/payments.py
  backend/app/services/stripe_service.py
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/features/bookings/components/BookingList.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(payments): frontend accepts requires_capture as success
  frontend/features/student/payment/components/PaymentSection.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(payments): surface real Stripe payout tracking
  backend/app/repositories/payment_repository.py
  backend/app/routes/v1/payments.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/stripe_service.py
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/hooks/queries/useInstructorPayouts.ts
  frontend/services/api/payments.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

test(earnings): add mock for useInstructorPayouts hook
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(payments): stripe service coverage 47% → 86%
  backend/tests/models/test_payment_models.py
  backend/tests/repositories/test_payment_repository.py
  backend/tests/schemas/test_payment_schemas.py
  backend/tests/services/test_payout_event_persistence.py
  backend/tests/services/test_stripe_payouts.py
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/services/test_stripe_webhooks_additional.py
Due: none

test(payments): payment tasks coverage 55% → 95%
  backend/tests/tasks/test_payment_tasks.py
  metrics_history.json
Due: none

test(payments): payment routes coverage 52% → 100%
  backend/tests/routes/test_payments.py
Due: none

test(payments): payment repository coverage 74% → 100%
  backend/tests/repositories/test_payment_repository.py
Due: none

fix(payments): 4 bugs fixed + stripe service coverage 86% → 95%
  backend/app/services/stripe_service.py
  backend/app/tasks/payment_tasks.py
  backend/tests/services/test_stripe_payouts.py
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/tasks/test_payment_tasks.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore: sync API types after payment schema changes
  backend/openapi/openapi.json
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/payments-v1/payments-v1.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore: update API contract snapshots
  backend/.artifacts/api.expected.d.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(payments): centralize pricing config + address PR feedback
  backend/app/constants/__init__.py
  backend/app/constants/payment_status.py
  backend/app/constants/pricing_defaults.py
  backend/app/routes/payments.py
  backend/app/routes/v1/payments.py
  backend/app/schemas/monitoring_responses.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/config_service.py
  backend/app/services/stripe_service.py
  backend/openapi/openapi.json
  backend/tests/conftest.py
  backend/tests/routes/test_payments.py
  backend/tests/services/test_stripe_payouts.py
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(payments): earnings export with CSV and PDF support
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/payment_repository.py
  backend/app/routes/v1/payments.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/stripe_service.py
  backend/openapi/openapi.json
  backend/tests/routes/test_payments.py
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/components/Modal.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/payments-v1/payments-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(founding): database schema + config for founding instructors
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/002_instructor_system.py
  backend/app/constants/pricing_defaults.py
  backend/app/models/instructor.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/schemas/instructor.py
  backend/app/schemas/pricing_config.py
  backend/openapi/openapi.json
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(founding): admin UI for founding instructor settings
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/006_platform_features.py
  backend/app/models/beta.py
  backend/app/routes/beta.py
  backend/app/routes/v1/admin/instructors.py
  backend/app/routes/v1/beta.py
  backend/app/schemas/admin_instructor_responses.py
  backend/app/schemas/beta.py
  backend/app/services/beta_service.py
  backend/openapi/openapi.json
  frontend/app/(admin)/admin/beta/invites/page.tsx
  frontend/app/(admin)/admin/settings/pricing/page.tsx
  frontend/src/api/generated/admin-instructors/admin-instructors.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(founding): persist founding status + fee calculation
  backend/app/routes/auth.py
  backend/app/routes/beta.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/beta.py
  backend/app/services/beta_service.py
  backend/app/services/pricing_service.py
  backend/app/services/stripe_service.py
  backend/tests/routes/test_auth_founding_registration.py
  backend/tests/services/test_pricing_service.py
  backend/tests/services/test_stripe_service.py
  backend/tests/unit/services/test_beta_service.py
  backend/tests/unit/services/test_beta_service_metrics.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(founding): tier immunity + search ranking boost
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/ranking_repository.py
  backend/app/repositories/retriever_repository.py
  backend/app/schemas/nl_search.py
  backend/app/services/pricing_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/ranking_service.py
  backend/openapi/openapi.json
  backend/tests/services/test_pricing_service.py
  backend/tests/unit/services/search/test_ranking_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(founding): badge UI for search, profile, and dashboard
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/ui/FoundingBadge.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/types/api.ts
  frontend/types/instructor.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(badges): BGC badge shows 'Verified' for live instructors
  frontend/app/(public)/search/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/ui/BGCBadge.tsx
  frontend/features/instructor-profile/components/AboutCard.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/types/api.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(instructor): country code normalization and skills_configured updates
  backend/app/services/background_check_service.py
  backend/app/services/instructor_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

test: add regression tests for PR #132 fixes
  backend/tests/integration/services/test_background_check_regression.py
  backend/tests/integration/services/test_skills_configured_regression.py
  metrics_history.json
Due: none

feat: dynamic platform fees from backend API
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/payments.py
  backend/app/routes/v1/config.py
  backend/app/schemas/platform_config.py
  backend/app/schemas/pricing_config.py
  backend/app/services/instructor_service.py
  backend/app/services/pricing_service.py
  backend/app/services/stripe_service.py
  backend/openapi/openapi.json
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/hooks/usePlatformConfig.ts
  frontend/lib/api/config.ts
  frontend/lib/api/pricing.ts
  frontend/lib/pricing/platformFees.ts
  frontend/src/api/generated/config/config.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

