Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-time-to-minutes:
  name: Check time-to-minutes conversions
  entry: python backend/scripts/check_time_to_minutes.py
  language: python
  pass_filenames: true
  description: Block ad-hoc time-to-minutes conversions; use time_to_minutes()

check-utc-timezone:
  name: Check UTC timezone usage
  entry: python backend/scripts/check_utc_timezone.py
  language: python

check-timezone-patterns:
  name: Check timezone patterns
  entry: python backend/scripts/check_timezone_patterns.py
  language: python
  pass_filenames: true

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

check-router-sync:
  name: Check router sync (main.py vs openapi_app.py)
  entry: python backend/scripts/check_router_sync.py
  language: python
  pass_filenames: false
  description: Ensures all routers in main.py are also in openapi_app.py for OpenAPI completeness

check-route-response-models:
  name: Check route response models
  entry: python backend/scripts/check_route_response_models.py
  language: python
  pass_filenames: false
  description: Ensures all routes have response_model or status_code=204

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

check-stripe-transaction-pattern:
  name: Check Stripe calls outside transactions
  entry: python3 backend/scripts/check_stripe_transaction_pattern.py
  language: system
  pass_filenames: false
  description: Ensure Stripe API calls are outside DB transactions (3-phase pattern)

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

fix(tests): make test booking helper DST-resilient
  backend/tests/integration/test_cancel_lt12_split.py
  backend/tests/integration/test_credit_reservation.py
  backend/tests/integration/test_immediate_auth_gating.py
  backend/tests/services/test_pricing_service.py
  backend/tests/services/test_wallet_milestones.py
  backend/tests/utils/booking_timezone.py
Due: check-time-to-minutes, check-timezone-patterns

perf(tests): eliminate ~38s of wasted time in backend test suite
  backend/app/core/auth_cache.py
  backend/tests/integration/api/test_account_lifecycle.py
  backend/tests/integration/api/test_auth.py
  backend/tests/integration/routes/conftest.py
  backend/tests/integration/routes/test_addresses_strict.py
  backend/tests/integration/routes/test_beta_strict.py
  backend/tests/integration/routes/test_bookings_strict.py
  backend/tests/integration/routes/test_gated_strict.py
  backend/tests/integration/routes/test_instructors_strict.py
  backend/tests/integration/routes/test_messages_strict.py
  backend/tests/integration/routes/test_payments_requests_strict.py
  backend/tests/integration/routes/test_payments_strict.py
  backend/tests/integration/routes/test_reviews_strict.py
  backend/tests/integration/routes/test_search_history_strict.py
  backend/tests/integration/routes/test_services_strict.py
  backend/tests/integration/routes/test_uploads_strict.py
  backend/tests/openapi/conftest.py
  backend/tests/openapi/test_components_titles.py
  backend/tests/openapi/test_operation_ids_unique.py
  backend/tests/unit/core/test_auth_cache_coverage.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-async-blocking

feat(onboarding): per-format pricing UI + skill-selection restructure
  backend/app/services/instructor_service.py
  frontend/__tests__/lib/timezone/formatBookingTime.test.ts
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/components/pricing/FormatPricingCards.tsx
  frontend/components/pricing/__tests__/FormatPricingCards.test.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/SkillsPricingInline.helpers.ts
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/lib/pricing/__tests__/formatPricing.test.ts
  frontend/lib/pricing/__tests__/priceFloors.test.ts
  frontend/lib/pricing/formatPricing.ts
  frontend/lib/pricing/priceFloors.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(pricing): audit cleanup — CTE extraction, stale refs, DB tests
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/service_catalog.py
  backend/app/repositories/retriever_repository.py
  backend/app/repositories/service_format_pricing_repository.py
  backend/app/services/instructor_service.py
  backend/tests/integration/repositories/test_service_format_pricing_db.py
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/app/(public)/search/__tests__/search-live-region.test.tsx
  frontend/components/catalog/__tests__/FilterSelectionForm.test.tsx
  frontend/components/lessons/modals/RescheduleModal.tsx
  frontend/components/lessons/modals/RescheduleTimeSelectionModal.tsx
  frontend/components/lessons/modals/__tests__/RescheduleTimeSelectionModal.test.tsx
  frontend/components/modals/EditProfileModal.helpers.ts
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/__tests__/EditProfileModal.helpers.test.ts
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-profile/hooks/__tests__/useInstructorProfile.test.tsx
  frontend/features/instructor-profile/hooks/useInstructorProfile.ts
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(pricing): address all PR review findings
  backend/app/models/service_catalog.py
  backend/app/repositories/service_format_pricing_repository.py
  backend/app/schemas/instructor.py
  backend/app/schemas/nl_search.py
  backend/app/services/instructor_service.py
  backend/app/services/pricing_service.py
  backend/app/services/search/cache_invalidation.py
  backend/app/services/search/circuit_breaker.py
  backend/app/services/search/embedding_provider.py
  backend/app/services/search/embedding_service.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/llm_parser.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/ranking_service.py
  backend/app/services/search/search_cache.py
  backend/tests/unit/models/test_service_catalog_format_pricing.py
  backend/tests/unit/repositories/test_service_format_pricing_repository.py
  backend/tests/unit/services/test_instructor_service.py
  frontend/components/chat/__tests__/ChatModal.test.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-untyped-dicts, audit-adhoc-types

fix(pricing): final PR review — pipeline consistency + test gaps
  backend/app/services/search/filter_service.py
  backend/app/services/search/retriever.py
  backend/tests/unit/models/test_service_catalog_format_pricing.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(pricing): early validation for location_type, lesson_type, empty format
  backend/app/models/service_catalog.py
  backend/app/services/booking_service.py
  backend/app/services/search/filter_service.py
  backend/tests/unit/models/test_service_catalog_format_pricing.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(booking): guard format_for_booking_location_type call in _validate_location_capability
  backend/app/services/booking_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

feat(bio): AI-powered bio generation via GPT-5 Nano
  backend/.artifacts/api.expected.d.ts
  backend/app/ratelimit/config.py
  backend/app/routes/v1/instructors.py
  backend/app/schemas/instructor.py
  backend/app/services/bio_generation_service.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_generate_bio.py
  backend/tests/unit/services/test_bio_generation_service.py
  frontend/app/(auth)/instructor/onboarding/account-setup/components/BioCard.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/instructors-v1/instructors-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix: FakeCheckrClient persistence + PERF_LOG docs
  backend/app/integrations/checkr_client.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/location_resolver.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/ranking_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

refactor(backend): migrate lock_account to repository pattern
  backend/app/repositories/user_repository.py
  backend/app/tasks/payment_tasks.py
  docs/session-handoffs/session-handoff-v139.md
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

refactor(backend): migrate lock_account to repository pattern and fix tests
  backend/tests/unit/tasks/test_payment_tasks_additional_coverage.py
Due: check-time-to-minutes, check-timezone-patterns

test: add regression coverage for payments and backend edg[Ce cases
  backend/tests/integration/test_capture_failure_escalation.py
  backend/tests/routes/test_admin_instructors_routes_coverage.py
  backend/tests/unit/core/test_cache_redis_coverage_r5.py
  backend/tests/unit/core/test_database_config_coverage.py
  backend/tests/unit/repositories/test_filter_repository_additional_coverage.py
  backend/tests/unit/repositories/test_user_repository_additional_coverage.py
  backend/tests/unit/schemas/test_taxonomy_schemas.py
  backend/tests/unit/services/test_bio_generation_service.py
  backend/tests/unit/tasks/test_payment_tasks_wave1_regressions.py
  backend/tests/unit/test_celery_app_coverage.py
  backend/tests/unit/test_checkr_client.py
  metrics_history.json
Due: check-time-to-minutes, check-timezone-patterns

test(backend): harden coverage regressions and stabilize flaky assertions
  backend/tests/integration/test_capture_failure_escalation.py
  backend/tests/monitoring/test_performance_overhead.py
  backend/tests/routes/test_instructors_filtering.py
  backend/tests/services/test_platform_analytics_service.py
  backend/tests/unit/core/test_cache_redis_coverage_r5.py
  backend/tests/unit/core/test_database_config_coverage.py
  backend/tests/unit/services/search/test_query_parser.py
  backend/tests/unit/tasks/test_payment_tasks_wave1_regressions.py
  backend/tests/unit/test_checkr_client.py
  metrics_history.json
Due: check-time-to-minutes, check-timezone-patterns

fix(tasks): per-booking session rollback in batch tasks
  backend/app/tasks/email.py
  backend/app/tasks/notification_tasks.py
  backend/app/tasks/video_tasks.py
  backend/tests/unit/tasks/test_email_tasks_coverage.py
  backend/tests/unit/tasks/test_notification_tasks_coverage.py
  backend/tests/unit/tasks/test_video_tasks.py
  frontend/app/(admin)/admin/bgc-review/__tests__/page.test.tsx
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(tests): use SITE_MODE=int for BGC endpoint tests
  backend/tests/unit/test_bgc_endpoints.py
Due: check-time-to-minutes, check-timezone-patterns

test(backend): add regression coverage for search, tasks, and observability
  backend/app/monitoring/sentry.py
  backend/tests/unit/models/test_service_catalog_coverage.py
  backend/tests/unit/models/test_service_catalog_format_pricing.py
  backend/tests/unit/monitoring/test_production_monitor_coverage.py
  backend/tests/unit/monitoring/test_production_monitor_missed_coverage.py
  backend/tests/unit/monitoring/test_prometheus_metrics_core.py
  backend/tests/unit/monitoring/test_sentry.py
  backend/tests/unit/services/messaging/test_sse_stream.py
  backend/tests/unit/services/search/test_filter_service_additional_coverage.py
  backend/tests/unit/services/search/test_taxonomy_filter_extractor.py
  backend/tests/unit/tasks/test_notification_tasks_coverage.py
  backend/tests/unit/tasks/test_video_tasks.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

chore(deps): batch dependency updates — 12 of 13 dependabot PRs
  .github/workflows/build-ci-database.yml
  .github/workflows/privacy-audit.yml
  .github/workflows/privacy-db-image-bump.yml
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
Due: frontend-public-env

fix(frontend): guard in operator against non-object responseJson in useAvailability
  frontend/hooks/availability/__tests__/useAvailability.test.ts
  frontend/hooks/availability/useAvailability.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(payments): instant payout queries available balance instead of hardcoded 0
  backend/app/routes/v1/payments.py
  backend/app/services/stripe_service.py
  backend/tests/services/test_stripe_payouts.py
  backend/tests/unit/services/test_stripe_service.py
  backend/tests/unit/services/test_stripe_service_missed_coverage.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(payments): handle instant payout errors gracefully
  backend/app/routes/v1/payments.py
  frontend/app/(auth)/instructor/dashboard/page.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

feat(skills): add instainstru-verify skill for automated quality gates
  .claude/settings.json
  .claude/skills/instainstru-verify/SKILL.md
  .claude/skills/instainstru-verify/references/conventions.md
  .claude/skills/instainstru-verify/references/troubleshooting.md
  .claude/skills/instainstru-verify/scripts/verify.sh
  metrics_history.json
Due: none

chore(skills): add config-level suppression ban to verify skill
  .claude/skills/instainstru-verify/SKILL.md
  .claude/skills/instainstru-verify/references/conventions.md
Due: none

feat(calendar): Phase 1B — format-aware buffers + advance notice
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/conflict_checker_repository.py
  backend/app/routes/v1/bookings.py
  backend/app/routes/v1/public.py
  backend/app/schemas/booking.py
  backend/app/schemas/public_availability.py
  backend/app/services/booking_service.py
  backend/app/services/config_service.py
  backend/app/services/conflict_checker.py
  backend/openapi/openapi.json
  backend/tests/integration/routes/test_booking_date_validation.py
  backend/tests/integration/routes/test_bookings_strict.py
  backend/tests/integration/services/test_booking_service_student_conflicts_integration.py
  backend/tests/routes/test_api_format_simple.py
  backend/tests/routes/test_bookings.py
  backend/tests/routes/test_new_api_format.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_public_availability.py
  backend/tests/schemas/test_booking_schema_additional_coverage.py
  backend/tests/schemas/test_schema_architecture.py
  backend/tests/unit/schemas/test_public_availability_coverage.py
  backend/tests/unit/services/test_booking_service.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_booking_service_branch_coverage_extra.py
  backend/tests/unit/services/test_booking_service_cancellation.py
  backend/tests/unit/services/test_booking_service_coverage.py
  backend/tests/unit/services/test_booking_service_logic.py
  backend/tests/unit/services/test_booking_service_missed_coverage.py
  backend/tests/unit/services/test_booking_service_r4.py
  backend/tests/unit/services/test_booking_service_student_conflicts.py
  backend/tests/unit/services/test_conflict_checker_logic.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

feat(calendar): Phase 1C — overnight booking protection
  backend/app/routes/v1/public.py
  backend/app/services/booking_service.py
  backend/app/services/config_service.py
  backend/tests/conftest.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_public_availability.py
  backend/tests/unit/services/test_booking_service.py
  backend/tests/unit/services/test_config_service_coverage.py
  backend/tests/unit/services/test_instructor_service.py
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

feat(calendar): Phase 1D — format-aware public slot generation + search filtering
  backend/app/repositories/filter_repository.py
  backend/app/routes/v1/public.py
  backend/app/services/availability_service.py
  backend/app/services/search/filter_service.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_public_availability_integration.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_public_availability.py
  backend/tests/routes/test_public_routes_coverage.py
  backend/tests/unit/services/search/test_filter_service_r4.py
  backend/tests/unit/test_midnight_edge_cases.py
  backend/tests/unit/test_subtract_algorithm.py
  frontend/lib/time/__tests__/expandDiscreteStarts.test.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

feat(calendar): Phase 1F — availability page settings UI + first-save popup
  .claude/skills/instainstru-verify/scripts/verify.sh
  frontend/app/(auth)/instructor/availability/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/components/availability/CalendarSettingsAcknowledgementModal.tsx
  frontend/components/availability/CalendarSettingsSection.tsx
  frontend/components/availability/__tests__/CalendarSettingsAcknowledgementModal.test.tsx
  frontend/components/availability/__tests__/calendarSettings.test.ts
  frontend/components/availability/calendarSettings.ts
  frontend/e2e/calendar.spec.ts
  frontend/types/instructor.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(calendar): Phase 1G — booking flow format propagation
  .claude/skills/instainstru-verify/scripts/verify.sh
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/AvailabilityCalendar.tsx
  frontend/components/lessons/modals/RescheduleModal.tsx
  frontend/components/lessons/modals/RescheduleTimeSelectionModal.tsx
  frontend/components/lessons/modals/__tests__/RescheduleTimeSelectionModal.test.tsx
  frontend/features/instructor-profile/hooks/__tests__/useBookingModal.test.ts
  frontend/features/instructor-profile/hooks/useBookingModal.ts
  frontend/features/shared/api/client.ts
  frontend/features/shared/utils/__tests__/booking.test.ts
  frontend/features/shared/utils/booking.ts
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.formatPropagation.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/booking/hooks/__tests__/useAuth.test.ts
  frontend/features/student/booking/hooks/useAuth.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/hooks/queries/__tests__/useInstructorAvailability.test.tsx
  frontend/hooks/queries/__tests__/usePublicAvailability.test.tsx
  frontend/hooks/queries/useInstructorAvailability.ts
  frontend/hooks/queries/usePublicAvailability.ts
  frontend/lib/pricing/__tests__/formatPricingDisplay.test.ts
  frontend/lib/pricing/formatPricing.ts
  frontend/package.json
  metrics_history.json
  scripts/prepush.sh
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(calendar): Phase 2B — tag-based filtering in booking, public availability, search
  backend/app/repositories/filter_repository.py
  backend/app/services/availability_service.py
  backend/app/services/booking_service.py
  backend/app/services/search/filter_service.py
  backend/tests/_utils/bitmap_avail.py
  backend/tests/e2e/test_booking_availability_flow.py
  backend/tests/integration/availability/test_booking_early_morning_timezone.py
  backend/tests/routes/test_public_availability.py
  backend/tests/services/test_booking_payment_service.py
  backend/tests/test_timezone_handling.py
  backend/tests/unit/services/search/test_filter_service_r4.py
  backend/tests/unit/services/test_availability_service_branch_coverage_extra.py
  backend/tests/unit/services/test_booking_service.py
  backend/tests/unit/services/test_booking_service_coverage.py
  backend/tests/unit/services/test_booking_service_logic.py
  backend/tests/unit/services/test_booking_service_missed_coverage.py
  backend/tests/unit/services/test_booking_service_student_conflicts.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

feat(calendar): Phase 2C — format tagging UI on availability grid
  frontend/app/(auth)/instructor/availability/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/components/availability/CalendarSettingsSection.tsx
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/availability/__tests__/InteractiveGrid.test.tsx
  frontend/components/availability/__tests__/calendarSettings.test.ts
  frontend/components/availability/calendarSettings.ts
  frontend/components/calendar/WeekView.tsx
  frontend/components/calendar/__tests__/WeekView.test.tsx
  frontend/components/ui/__tests__/select.test.tsx
  frontend/components/ui/select.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

