Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-time-to-minutes:
  name: Check time-to-minutes conversions
  entry: python backend/scripts/check_time_to_minutes.py
  language: python
  pass_filenames: true
  description: Block ad-hoc time-to-minutes conversions; use time_to_minutes()

check-utc-timezone:
  name: Check UTC timezone usage
  entry: python backend/scripts/check_utc_timezone.py
  language: python

check-timezone-patterns:
  name: Check timezone patterns
  entry: python backend/scripts/check_timezone_patterns.py
  language: python
  pass_filenames: true

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

check-router-sync:
  name: Check router sync (main.py vs openapi_app.py)
  entry: python backend/scripts/check_router_sync.py
  language: python
  pass_filenames: false
  description: Ensures all routers in main.py are also in openapi_app.py for OpenAPI completeness

check-route-response-models:
  name: Check route response models
  entry: python backend/scripts/check_route_response_models.py
  language: python
  pass_filenames: false
  description: Ensures all routes have response_model or status_code=204

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

check-stripe-transaction-pattern:
  name: Check Stripe calls outside transactions
  entry: python3 backend/scripts/check_stripe_transaction_pattern.py
  language: system
  pass_filenames: false
  description: Ensure Stripe API calls are outside DB transactions (3-phase pattern)

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

fix(codebase-metrics): move metrics generation to pre-commit
  .pre-commit-config.yaml
  README.md
  backend/app/routes/v1/codebase_metrics.py
  backend/tests/routes/test_codebase_metrics_routes_coverage.py
  docs/engineering/guardrails_runbook.md
  metrics_history.json
  scripts/precommit_codebase_metrics.sh
  scripts/prepush.sh
  scripts/prepush_codebase_metrics.sh
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(codebase-metrics): skip pre-commit hook on doc-only commits
  scripts/precommit_codebase_metrics.sh
Due: none

fix(codebase-metrics): final review polish
  .gitattributes
  backend/app/routes/v1/codebase_metrics.py
  backend/tests/routes/test_codebase_metrics_routes_coverage.py
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix: stop runtime codebase metrics compute, move to pre-commit hook (#414)
  .gitattributes
  .pre-commit-config.yaml
  README.md
  backend/.artifacts/api.expected.d.ts
  backend/app/monitoring/sentry_crons.py
  backend/app/routes/v1/codebase_metrics.py
  backend/app/schemas/codebase_metrics_models.py
  backend/app/schemas/codebase_metrics_responses.py
  backend/app/tasks/all_tasks.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/codebase_metrics.py
  backend/app/utils/codebase_metrics.py
  backend/openapi/openapi.json
  backend/scripts/codebase_metrics.py
  backend/tests/routes/test_codebase_metrics_routes_coverage.py
  backend/tests/scripts/test_metrics_history.py
  backend/tests/unit/monitoring/test_sentry_crons.py
  backend/tests/unit/scripts/test_codebase_metrics_script.py
  backend/tests/unit/tasks/test_codebase_metrics_coverage.py
  backend/tests/unit/utils/test_codebase_metrics_additional_coverage.py
  docs/api/09_api_endpoints.md
  docs/engineering/guardrails_runbook.md
  docs/infrastructure/10_external_integrations.md
  docs/security/public_api_inventory.md
  frontend/app/(admin)/admin/engineering/codebase/page.tsx
  frontend/features/shared/api/types.ts
  frontend/hooks/__tests__/useCodebaseMetrics.test.tsx
  frontend/hooks/useCodebaseMetrics.ts
  frontend/lib/analyticsApi.ts
  frontend/lib/react-query/queryClient.ts
  frontend/src/api/generated/analytics/analytics.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
  scripts/precommit_codebase_metrics.sh
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

Fix NL search location labels to use display names
  backend/app/services/search/nl_pipeline/response_diagnostics.py
  backend/data/location_aliases.json
  backend/scripts/seed_location_aliases.py
  backend/tests/scripts/test_seed_location_aliases.py
  backend/tests/unit/services/search/nl_pipeline/test_response_diagnostics.py
  backend/tests/unit/services/search/test_location_resolver_r4.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

Fix Roosevelt Island NL search resolution
  backend/app/services/search/nl_pipeline/response_diagnostics.py
  backend/app/services/search/patterns.py
  backend/app/services/search/query_parser.py
  backend/data/location_aliases.json
  backend/scripts/seed_location_aliases.py
  backend/tests/scripts/test_seed_location_aliases.py
  backend/tests/unit/services/search/test_query_parser.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

Keep codebase metrics history monotonic
  backend/scripts/codebase_metrics.py
  backend/tests/unit/scripts/test_codebase_metrics_script.py
  metrics_history.json
Due: check-time-to-minutes, check-timezone-patterns

chore(python): standardize CI and tooling on Python 3.12
  .github/workflows/backend-ci.yml
  .github/workflows/daily-analytics.yml.disabled
  .github/workflows/e2e-tests.yml
  .github/workflows/schemathesis.yml
  .github/workflows/test-analytics.yml
  README.md
  backend/pyproject.toml
  docs/architecture/07_codebase_structure.md
  docs/development/pre-commit-hooks.md
  docs/development/setup-guide.md
  docs/infrastructure/10_external_integrations.md
  docs/infrastructure/redis-migration-checklist.md
  docs/infrastructure/redis-migration-complete.md
  docs/redis-migration-checklist.md
  render.yaml
Due: none

chore(deps): bump frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

chore(deps): bump backend dependencies
  backend/requirements-celery.txt
  backend/requirements-dev.txt
  backend/requirements.txt
  metrics_history.json
Due: none

feat(backend): add OTel span filtering, business attributes, and search pipeline spans
  backend/app/api/dependencies/auth.py
  backend/app/monitoring/otel.py
  backend/app/routes/v1/search.py
  backend/app/services/booking/payment_service.py
  backend/app/services/search/nl_pipeline/location.py
  backend/app/services/search/nl_search_service.py
  backend/tests/unit/monitoring/test_otel.py
  docs/observability/axiom-queries.md
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

feat(metrics): require timezone-aware timestamps in codebase metrics
  backend/app/schemas/codebase_metrics_models.py
  backend/scripts/codebase_metrics.py
  backend/tests/routes/test_codebase_metrics_routes_coverage.py
  backend/tests/scripts/test_metrics_history.py
  backend/tests/unit/schemas/test_codebase_metrics_models.py
  backend/tests/unit/scripts/test_codebase_metrics_script.py
  scripts/precommit_codebase_metrics.sh
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking, audit-untyped-dicts

chore(metrics): rewrite metrics_history.json timestamps as timezone-aware UTC
  metrics_history.json
Due: none

refactor: decompose search_analytics_repository into 6 mixins
  backend/.size-budget-baseline.txt
  backend/app/monitoring/otel.py
  backend/app/repositories/search_analytics/__init__.py
  backend/app/repositories/search_analytics/candidate_analytics_mixin.py
  backend/app/repositories/search_analytics/guest_analytics_mixin.py
  backend/app/repositories/search_analytics/mixin_base.py
  backend/app/repositories/search_analytics/nl_search_analytics_mixin.py
  backend/app/repositories/search_analytics/nl_search_write_mixin.py
  backend/app/repositories/search_analytics/search_metrics_mixin.py
  backend/app/repositories/search_analytics/search_trends_mixin.py
  backend/app/repositories/search_analytics/types.py
  backend/app/repositories/search_analytics_repository.py
  backend/requirements.txt
  backend/tests/unit/monitoring/test_otel.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

refactor: decompose search_analytics_repository into 6 mixins (#415)
  backend/.size-budget-baseline.txt
  backend/app/monitoring/otel.py
  backend/app/repositories/search_analytics/__init__.py
  backend/app/repositories/search_analytics/candidate_analytics_mixin.py
  backend/app/repositories/search_analytics/guest_analytics_mixin.py
  backend/app/repositories/search_analytics/mixin_base.py
  backend/app/repositories/search_analytics/nl_search_analytics_mixin.py
  backend/app/repositories/search_analytics/nl_search_write_mixin.py
  backend/app/repositories/search_analytics/search_metrics_mixin.py
  backend/app/repositories/search_analytics/search_trends_mixin.py
  backend/app/repositories/search_analytics/types.py
  backend/app/repositories/search_analytics_repository.py
  backend/requirements.txt
  backend/tests/unit/monitoring/test_otel.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

test(otel): update assertion to match new "Failed to enter span" message
  backend/tests/unit/monitoring/test_otel_branch_coverage.py
Due: check-time-to-minutes, check-timezone-patterns

Fix neighborhood selector spec gaps
  backend/app/domain/neighborhood_config.py
  backend/tests/unit/domain/test_neighborhood_config.py
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/components/neighborhoods/BoroughSection.tsx
  frontend/components/neighborhoods/NeighborhoodSelector.tsx
  frontend/components/neighborhoods/__tests__/BoroughSection.test.tsx
  frontend/components/neighborhoods/__tests__/NeighborhoodSelector.test.tsx
  frontend/components/neighborhoods/__tests__/types.test.ts
  frontend/components/neighborhoods/types.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

Fix profile accordion E2E selectors
  frontend/e2e/profile.preferred-places.spec.ts
  frontend/e2e/profile.service-areas.spec.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

refactor(ui): standardize dashboard tabs, toasts, and toggles to brand-dark
  frontend/__tests__/pages/lessons/MyLessonsPage.test.tsx
  frontend/app/(admin)/admin/beta/settings/page.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/app/(auth)/instructor/bookings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/referrals/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/referrals/page.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/instructor/settings/__tests__/SettingsImpl.test.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/app/__tests__/providers.test.tsx
  frontend/app/globals.css
  frontend/app/providers.tsx
  frontend/components/dashboard/DashboardTabStrip.tsx
  frontend/components/dashboard/__tests__/DashboardTabStrip.test.tsx
  frontend/components/notifications/NotificationBell.tsx
  frontend/components/student/BillingTab.tsx
  frontend/components/student/__tests__/BillingTab.test.tsx
  frontend/components/ui/ToggleSwitch.tsx
  frontend/components/ui/__tests__/ToggleSwitch.test.tsx
  frontend/e2e/tests/my-lessons.spec.ts
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/referrals/RewardsPanel.tsx
  frontend/features/referrals/__tests__/RewardsPanel.test.tsx
  frontend/features/shared/booking/ui/Calendar.tsx
  frontend/lib/__tests__/textWidthTabs.test.ts
  frontend/lib/textWidthTabs.ts
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(messaging,onboarding,availability): filter ghost conversations, stabilize bgc modal footer, fix repeat label
  backend/app/repositories/conversation_repository.py
  backend/app/repositories/message_repository.py
  backend/app/services/student_admin_service.py
  backend/tests/integration/repositories/test_conversation_repository_coverage.py
  backend/tests/integration/repositories/test_message_repository_coverage.py
  backend/tests/repositories/test_conversation_repository.py
  backend/tests/services/test_student_admin_service.py
  frontend/__tests__/components/BackgroundCheckDisclosureModal.test.tsx
  frontend/app/(auth)/instructor/availability/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/components/consent/BackgroundCheckDisclosureModal.tsx
  frontend/components/consent/__tests__/BackgroundCheckDisclosureModal.test.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

fix(availability,ui): correct repeat-for date range and enable sonner expand
  frontend/__tests__/availability/repeatSchedule.test.tsx
  frontend/app/(auth)/instructor/availability/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/__tests__/providers.test.tsx
  frontend/app/providers.tsx
  frontend/hooks/availability/__tests__/useAvailability.test.ts
  frontend/hooks/availability/useAvailability.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(onboarding,addresses): block empty-rate save and validate studio addresses
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/addresses.py
  backend/app/schemas/address.py
  backend/openapi/openapi.json
  backend/tests/integration/routes/test_addresses_strict.py
  backend/tests/routes/test_addresses_coverage.py
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PreferredLocationsCard.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/components/pricing/FormatPricingCards.tsx
  frontend/components/pricing/__tests__/FormatPricingCards.test.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/lib/pricing/formatPricing.ts
  frontend/src/api/generated/addresses-v1/addresses-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types

fix(onboarding): include phone verification in Account Setup completion
  backend/app/routes/v1/account.py
  frontend/features/instructor-onboarding/__tests__/useOnboardingStepStatus.test.tsx
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

fix(frontend): unify onboarding account setup completion and resolve deps
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/lib/accountSetupCompletion.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

feat(uploads): client-side image compression and exif orientation fix
  backend/app/routes/v1/uploads.py
  backend/app/services/image_processing_service.py
  backend/tests/routes/test_uploads_routes_additional_coverage.py
  backend/tests/services/test_image_processing_service.py
  frontend/components/user/ProfilePictureUpload.helpers.ts
  frontend/components/user/ProfilePictureUpload.tsx
  frontend/components/user/__tests__/ProfilePictureUpload.test.tsx
  frontend/lib/image/__tests__/compress.test.ts
  frontend/lib/image/compress.ts
  frontend/lib/image/useImageCompression.ts
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

feat: add graphify knowledge graph skill with husky hooks
  .claude/settings.json
  .codex/hooks.json
  .gitignore
  .graphifyignore
  .husky/post-checkout
  .husky/post-commit
  AGENTS.md
  CLAUDE.md
  scripts/post-checkout.sh
  scripts/post-commit.sh
Due: none

refactor: decompose service_catalog_repository into 8 mixins
  backend/.size-budget-baseline.txt
  backend/app/repositories/service_catalog/__init__.py
  backend/app/repositories/service_catalog/catalog_browse_mixin.py
  backend/app/repositories/service_catalog/catalog_search_mixin.py
  backend/app/repositories/service_catalog/embedding_maintenance_mixin.py
  backend/app/repositories/service_catalog/instructor_supply_pricing_mixin.py
  backend/app/repositories/service_catalog/mixin_base.py
  backend/app/repositories/service_catalog/ranking_analytics_mixin.py
  backend/app/repositories/service_catalog/service_analytics_query_mixin.py
  backend/app/repositories/service_catalog/service_analytics_write_mixin.py
  backend/app/repositories/service_catalog/taxonomy_query_mixin.py
  backend/app/repositories/service_catalog/types.py
  backend/app/repositories/service_catalog_repository.py
  backend/tests/unit/repositories/test_service_catalog_repository_imports.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

test(frontend): close ProfilePictureUpload coverage gap and patch next audit
  frontend/components/user/__tests__/ProfilePictureUpload.test.tsx
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(graphify): security and reliability fixes for hook integration
  .codex/hooks.json
  scripts/_graphify_rebuild.py
  scripts/post-checkout.sh
  scripts/post-commit.sh
Due: check-timezone-patterns

fix(graphify): make post-commit hook non-blocking
  scripts/_graphify_rebuild.py
  scripts/post-commit.sh
Due: check-timezone-patterns

refactor: decompose service_catalog_repository + add graphify knowledge graph (#416)
  .claude/settings.json
  .codex/hooks.json
  .gitignore
  .graphifyignore
  .husky/post-checkout
  .husky/post-commit
  AGENTS.md
  CLAUDE.md
  backend/.size-budget-baseline.txt
  backend/app/repositories/service_catalog/__init__.py
  backend/app/repositories/service_catalog/catalog_browse_mixin.py
  backend/app/repositories/service_catalog/catalog_search_mixin.py
  backend/app/repositories/service_catalog/embedding_maintenance_mixin.py
  backend/app/repositories/service_catalog/instructor_supply_pricing_mixin.py
  backend/app/repositories/service_catalog/mixin_base.py
  backend/app/repositories/service_catalog/ranking_analytics_mixin.py
  backend/app/repositories/service_catalog/service_analytics_query_mixin.py
  backend/app/repositories/service_catalog/service_analytics_write_mixin.py
  backend/app/repositories/service_catalog/taxonomy_query_mixin.py
  backend/app/repositories/service_catalog/types.py
  backend/app/repositories/service_catalog_repository.py
  backend/tests/unit/repositories/test_service_catalog_repository_imports.py
  frontend/components/user/__tests__/ProfilePictureUpload.test.tsx
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
  scripts/_graphify_rebuild.py
  scripts/post-checkout.sh
  scripts/post-commit.sh
Due: frontend-eslint, frontend-public-env, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, audit-adhoc-types

feat(conductor): add workspace setup script for parallel agents
  scripts/conductor-setup.sh
Due: none

fix(conductor): silence noise in workspace setup
  scripts/conductor-setup.sh
Due: none

fix(gitignore): add nested venv pattern for conductor workspaces
  .gitignore
Due: none

fix(gitignore): match symlinks for conductor workspaces
  .gitignore
Due: none

feat(conductor): per-workspace database isolation
  scripts/conductor-setup.sh
Due: none

fix(conductor): create per-workspace DB before schema reset
  scripts/conductor-setup.sh
Due: none

fix(conductor): inline DB name in psql commands
  scripts/conductor-setup.sh
Due: none

fix(verify): use backend/venv consistently in instainstru-verify skill
  .claude/skills/instainstru-verify/scripts/verify.sh
Due: none

Decompose retriever repository
  backend/.size-budget-baseline.txt
  backend/app/repositories/retriever/__init__.py
  backend/app/repositories/retriever/_sql_helpers.py
  backend/app/repositories/retriever/candidate_search_mixin.py
  backend/app/repositories/retriever/grouped_search_mixin.py
  backend/app/repositories/retriever/instructor_hydration_mixin.py
  backend/app/repositories/retriever/mixin_base.py
  backend/app/repositories/retriever_repository.py
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

