Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

gitleaks-system:
  name: gitleaks (system)
  language: system
  entry: scripts/run-gitleaks.sh
  pass_filenames: false

docs(test): document messages v1 migration and schemathesis skips
  backend/app/routes/v1/bookings.py
  backend/app/services/booking_service.py
  backend/openapi/openapi.json
  backend/tests/integration/services/test_booking_service_comprehensive.py
  backend/tests/integration/services/test_booking_service_edge_cases.py
  backend/tests/integration/test_schemathesis_api_v1.py
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/hooks/useMyLessons.ts
  frontend/src/api/generated/bookings-v1/bookings-v1.ts
  frontend/src/api/services/bookings.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(api v1): migrate reviews domain to v1 router and services
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/reviews.py
  backend/openapi/openapi.json
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/reviews-v1/reviews-v1.ts
  frontend/src/api/generated/reviews/reviews.ts
  frontend/src/api/services/reviews.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix(typecheck)
  frontend/src/api/services/reviews.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(frontend): migrate remaining legacy API consumers to v1 endpoints
  CLAUDE.md
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/tests/instructor.dashboard-reviews.spec.ts
  frontend/features/shared/api/client.ts
  frontend/lib/api/pricing.ts
  frontend/services/api/reviews.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(test): add mocked reviews
  frontend/features/instructor-profile/__tests__/InstructorProfilePage.test.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(api-v1): complete Phase 13 migration with cache busting and test fixes
  CLAUDE.md
  backend/app/main.py
  backend/app/middleware/rate_limiter_asgi.py
  backend/app/openapi_app.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/favorites.py
  backend/app/routes/v1/services.py
  backend/openapi/openapi.json
  backend/tests/contracts/test_public_endpoints.py
  backend/tests/integration/routes/test_reviews_strict.py
  backend/tests/integration/routes/test_services_strict.py
  backend/tests/integration/test_favorites.py
  backend/tests/routes/test_reviews_batch_and_existing.py
  backend/tests/routes/test_reviews_routes.py
  backend/tests/routes/test_services_catalog.py
  backend/tests/test_routes_invariants.py
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/components/BookAgain.tsx
  frontend/components/UpcomingLessons.tsx
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/tests/booking-journey.spec.ts
  frontend/e2e/tests/instructor.dashboard-reviews.spec.ts
  frontend/e2e/tests/my-lessons.spec.ts
  frontend/features/shared/api/client.ts
  frontend/hooks/queries/useHomepage.ts
  frontend/lib/api.ts
  frontend/lib/react-query/queryClient.ts
  frontend/src/api/generated/favorites-v1/favorites-v1.ts
  frontend/src/api/generated/favorites/favorites.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/services-v1/services-v1.ts
  frontend/src/api/generated/services/services.ts
  frontend/src/api/queryKeys.ts
  frontend/src/api/services/bookings.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix(types): comply with exactOptionalPropertyTypes in useUpcomingBookings
  frontend/src/api/services/bookings.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(logging): reduce BookAgain render log noise to debug level
  frontend/components/BookAgain.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix: resolve Python 3.13 deprecation warnings in tests
  backend/app/services/image_processing_service.py
  backend/pyproject.toml
  pytest.ini
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

Update README.md
  README.md
Due: none

feat(api-v1): complete Phase 15 - migrate Referrals and Account Management to v1
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/account.py
  backend/app/routes/v1/referrals.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_account_lifecycle.py
  backend/tests/integration/api/test_api_cookie_auth_preview.py
  backend/tests/integration/test_auth_surface_matrix.py
  backend/tests/referrals/test_api.py
  backend/tests/test_routes_invariants.py
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/app/(admin)/admin/referrals/ReferralsAdminClient.tsx
  frontend/app/(admin)/admin/referrals/__tests__/referrals-page.spec.tsx
  frontend/components/security/PauseAccountModal.tsx
  frontend/e2e/referrals.ui.spec.ts
  frontend/features/shared/referrals/api.ts
  frontend/src/api/generated/account-management/account-management.ts
  frontend/src/api/generated/account-v1/account-v1.ts
  frontend/src/api/generated/admin/admin.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/referrals-v1/referrals-v1.ts
  frontend/src/api/generated/search-history-v1/search-history-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix(api-v1): patch legacy endpoints missed in Phase 13-14 migrations
  CLAUDE.md
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/profile/serviceAreaSubmit.ts
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/forms/PlacesAutocompleteInput.tsx
  frontend/components/instructor/ProgressSteps.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/tests/EditProfileModal.prefill.test.tsx
  frontend/features/shared/api/client.ts
  frontend/features/student/payment/components/__tests__/lesson-location-toggle.spec.tsx
  frontend/hooks/queries/useInstructorServiceAreas.ts
  frontend/lib/api.ts
  frontend/services/api/favorites.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(api-v1): complete Phase 16 - migrate Password Reset and 2FA to v1
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/password_reset.py
  backend/app/routes/v1/two_factor_auth.py
  backend/tests/integration/api/test_auth_2fa_login_with_session.py
  backend/tests/integration/api/test_auth_preview_smoke.py
  backend/tests/routes/test_password_reset_routes.py
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/app/(shared)/forgot-password/page.tsx
  frontend/app/(shared)/login/LoginClient.tsx
  frontend/app/(shared)/reset-password/page.tsx
  frontend/components/security/TfaModal.tsx
  frontend/e2e/referrals.ui.spec.ts
  frontend/e2e/tests/login-2fa.spec.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix(api-v1): align frontend search-history calls with v1 endpoints
  frontend/features/shared/api/client.ts
  frontend/lib/__tests__/searchTracking.test.ts
  frontend/lib/searchTracking.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(e2e): update test mocks for v1 API endpoints
  frontend/e2e/tests/availability-conflict.spec.ts
  frontend/e2e/tests/booking-journey.spec.ts
  frontend/e2e/tests/instructor.bookings-list.spec.ts
  frontend/e2e/tests/login-2fa.spec.ts
  frontend/e2e/tests/my-lessons.spec.ts
  frontend/e2e/tests/smoke.spec.ts
  frontend/features/shared/api/client.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(api-v1): update missed legacy 2FA and logout endpoints to v1 paths
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/features/shared/hooks/useAuth.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(api-v1): remove stale generated files and update useSession hook
  frontend/src/api/generated/auth/auth.ts
  frontend/src/api/generated/payments/payments.ts
  frontend/src/api/hooks/useSession.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(api-v1): complete Phase 19 - migrate Admin routers to v1
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/admin/__init__.py
  backend/app/routes/v1/admin/audit.py
  backend/app/routes/v1/admin/background_checks.py
  backend/app/routes/v1/admin/badges.py
  backend/app/routes/v1/admin/config.py
  backend/app/routes/v1/admin/instructors.py
  backend/tests/admin/test_bgc_review_queue.py
  backend/tests/integration/admin_audit/test_availability_audit_flow.py
  backend/tests/integration/admin_audit/test_booking_audit_flow.py
  backend/tests/integration/security/test_authz_admin_routes.py
  backend/tests/routes/test_admin_badges.py
  backend/tests/test_routes_invariants.py
  docs/architecture/api-refactor-phase-0-baseline.md
Due: api-contracts, check-timezone-usage

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

