Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

gitleaks-system:
  name: gitleaks (system)
  language: system
  entry: scripts/run-gitleaks.sh
  pass_filenames: false

fix: onboarding field persistence and cache invalidation
  backend/app/services/instructor_service.py
  frontend/features/instructor-profile/InstructorProfileForm.tsx
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix: verification page cache invalidation and stepper logic
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix: BGC status card showing 'Not started' after approval
  frontend/components/instructor/BGCStep.tsx
  frontend/lib/api/bgc.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix: Stripe Connect double-insert bug + idempotency tests
  backend/app/services/stripe_service.py
  backend/tests/integration/routes/test_stripe_connect_routes.py
  backend/tests/integration/services/test_stripe_connect_idempotency.py
  backend/tests/services/test_stripe_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

style: center Go Live button with celebratory styling
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix: prevent logout after Stripe payment setup completion
  backend/app/routes/payments.py
  backend/app/routes/v1/admin/instructors.py
  backend/app/routes/v1/payments.py
  backend/app/services/stripe_service.py
  backend/tests/integration/services/test_stripe_connect_idempotency.py
  frontend/features/shared/hooks/useAuth.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat: add production domains to Stripe return URL allowlist
  backend/app/services/stripe_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

perf(tests): skip retry delays in notification error handling tests
  backend/tests/integration/services/test_notification_service_templates.py
Due: none

perf(tests): skip retry delays + auto-show slow tests on every run
  backend/pyproject.toml
  backend/tests/unit/services/test_notification_service.py
Due: none

fix: address race conditions from code review
  backend/app/models/payment.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/auth.py
  backend/app/routes/v1/auth.py
  backend/app/services/beta_service.py
  backend/app/services/stripe_service.py
  backend/tests/integration/services/test_founding_cap_race.py
  backend/tests/integration/services/test_stripe_connect_idempotency.py
  backend/tests/integration/test_fee_consistency.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(founding): address code review issues for founding instructor system
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/002_instructor_system.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/repositories/payment_repository.py
  backend/app/routes/auth.py
  backend/app/routes/payments.py
  backend/app/schemas/auth_responses.py
  backend/app/services/stripe_service.py
  backend/app/utils/url_validation.py
  backend/openapi/openapi.json
  backend/tests/integration/services/test_stripe_connect_idempotency.py
  backend/tests/integration/services/test_supporting_systems_clean_architecture.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

test(founding): add comprehensive tests for URL validation and founding status
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/v1/auth.py
  backend/tests/integration/services/test_founding_cap_race.py
  backend/tests/routes/test_auth_founding_registration.py
  backend/tests/unit/test_url_validation.py
Due: api-contracts, check-timezone-usage

content: update Founding Instructor welcome page copy
  frontend/app/(public)/instructor/welcome/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(availability): persist hour range and auto-expand when data exists outside view
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/dashboard/instructor/availability/page.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore: clean up main.py - remove 83 lines of dead code
  backend/app/main.py
Due: none

chore: delete unused adverse_action_email_templates service
  backend/app/services/adverse_action_email_templates.py
  backend/tests/unit/emails/test_adverse_templates.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore: clean up openapi_app.py and regenerate frontend clients
  backend/.artifacts/api.expected.d.ts
  backend/app/openapi_app.py
  backend/openapi/openapi.json
  frontend/src/api/generated/analytics/analytics.ts
  frontend/src/api/generated/beta/beta.ts
  frontend/src/api/generated/gated/gated.ts
  frontend/src/api/generated/health/health.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/internal/internal.ts
  frontend/src/api/generated/monitoring/monitoring.ts
  frontend/src/api/generated/referrals-v1/referrals-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ci): update health endpoints and promtool commands for v1 migration
  .github/workflows/e2e-tests.yml
  .github/workflows/monitoring-lint.yml
  backend/tests/performance/test_performance.sh
Due: none

perf(tests): optimize 10 slowest tests, reducing total time by 53%
  backend/tests/admin/test_bgc_review_queue.py
  backend/tests/integration/cache/test_availability_cache.py
  backend/tests/integration/services/test_base_service_db.py
  backend/tests/integration/test_search_tracking_e2e.py
  backend/tests/integration/test_search_tracking_edge_cases_e2e.py
  backend/tests/services/test_week_save_atomicity.py
  backend/tests/test_api_contracts_simple.py
Due: none

fix: update remaining legacy API paths to /api/v1/*
  backend/app/api/dependencies/authz.py
  backend/app/middleware/rate_limiter_asgi.py
  backend/app/ratelimit/mapping.py
  backend/app/schemas/monitoring_responses.py
  backend/scripts/monitoring/create_production_alert.py
  backend/scripts/test_alert_system.py
Due: check-timezone-usage

fix(ci): mount prometheus dir correctly for promtool config check
  .github/workflows/monitoring-lint.yml
Due: none

perf(tests): optimize 4 slow tests by mocking time instead of sleeping
  backend/tests/integration/test_search_tracking_edge_cases_e2e.py
  backend/tests/monitoring/test_metrics_generation.py
  backend/tests/unit/services/test_base_service_logic.py
  backend/tests/unit/test_base_service_metrics.py
Due: none

fix(ci): fix monitoring-lint workflow for promtool and amtool
  .github/workflows/monitoring-lint.yml
Due: none

perf(tests): optimize 8 slow tests, reducing total time by ~6s
  backend/tests/integration/test_search_tracking_e2e.py
  backend/tests/unit/services/search/test_embedding_service.py
  backend/tests/unit/services/search/test_llm_parser.py
  backend/tests/unit/services/test_notification_service.py
Due: none

docs: update project documentation for sessions v118-v121
  CLAUDE.md
  README.md
  docs/PROJECT_DOCS_INDEX.md
  docs/api/api-structure-update.md
  docs/architecture/02_architecture_state.md
  docs/architecture/06_repository_pattern_architecture.md
  docs/architecture/architecture-decisions.md
  docs/development/testing/05_testing_infrastructure.md
  docs/project-overview/01_core_project_info.md
  docs/project-status/03_work-streams-status.md
  docs/project-status/04_system-capabilities.md
  docs/session-handoffs/session-handoff-v121.md
Due: none

feat(security): add comprehensive security automation
  .github/dependabot.yml
  .github/workflows/owasp-zap.yml
  .zap/rules.tsv
  backend/app/middleware/https_redirect.py
  docs/project-overview/01_core_project_info.md
  docs/project-status/03_work-streams-status.md
  docs/project-status/04_system-capabilities.md
  docs/security/security-headers.md
Due: none

fix(ci): update smoke.yml endpoints to /api/v1/* paths
  .github/workflows/smoke.yml
Due: none

chore(deps): consolidate all dependency updates + close 13 Dependabot PRs
  .github/workflows/owasp-zap.yml
  .github/workflows/privacy-audit.yml
  .github/workflows/privacy-db-image-bump.yml
  .github/workflows/smoke.yml
  backend/requirements.txt
  frontend/app/(admin)/admin/analytics/search/components/SearchTypesChart.tsx
  frontend/app/(admin)/admin/badges/__tests__/pending-page.spec.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(deps): audit and clean up Python dependencies
  backend/requirements.txt
  backend/scripts/create_test_user.py
  backend/scripts/dev/check_https_users.py
  backend/scripts/dev/debug_auth_service.py
  backend/scripts/dev/debug_https_auth.py
  backend/scripts/dev/test_https_context.py
Due: none

chore(deps): upgrade packages and fix argon2 parameter consistency
  backend/requirements.txt
  backend/scripts/create_test_user.py
  backend/scripts/dev/check_https_users.py
  backend/scripts/dev/debug_auth_service.py
  backend/scripts/dev/debug_https_auth.py
  backend/scripts/dev/test_https_context.py
  backend/tests/services/test_stripe_service.py
Due: none

fix: Stripe 14.x compatibility and CI test stability
  backend/app/services/stripe_service.py
  backend/tests/monitoring/test_performance_overhead.py
  backend/tests/services/test_stripe_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore(deps): audit and clean up Python dependencies (#151)
  backend/app/services/stripe_service.py
  backend/requirements.txt
  backend/scripts/create_test_user.py
  backend/scripts/dev/check_https_users.py
  backend/scripts/dev/debug_auth_service.py
  backend/scripts/dev/debug_https_auth.py
  backend/scripts/dev/test_https_context.py
  backend/tests/monitoring/test_performance_overhead.py
  backend/tests/services/test_stripe_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat: wire search cache invalidation hooks (Phase 1)
  backend/app/main.py
  backend/app/services/availability_service.py
  backend/app/services/bulk_operation_service.py
  backend/app/services/instructor_service.py
  backend/app/services/review_service.py
  backend/app/services/search/cache_invalidation.py
  docs/architecture/cache_audit_cache_key_inventory.md
  docs/architecture/cache_audit_data_mutation_points.md
  docs/architecture/cache_audit_event_infrastructure.md
  metrics_history.json
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

ci: skip expensive workflows for Dependabot PRs
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/env-contract.yml
  .github/workflows/lhci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/privacy-audit.yml
Due: none

fix: availability cache invalidation (Phases 2-4)
  backend/app/routes/v1/public.py
  backend/app/services/availability_service.py
  backend/app/services/cache_service.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore: cache invalidation cleanup and tests (Phase 5)
  backend/app/services/availability_service.py
  backend/app/services/booking_service.py
  backend/app/services/favorites_service.py
  backend/app/services/instructor_service.py
  backend/tests/integration/test_cache_invalidation.py
  backend/tests/unit/test_caching_implementation.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

