Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


fix: address PR audit findings - security, authorization, and performance
  backend/alembic/versions/003_availability_booking.py
  backend/app/routes/v1/addresses.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/bookings.py
  backend/app/services/email_config.py
  backend/app/services/stripe_service.py
  backend/app/utils/location_privacy.py
  frontend/components/InstructorCard.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/src/types/api.ts
  frontend/types/api.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix: address PR audit findings - security, authorization, and performance
  backend/alembic/versions/003_availability_booking.py
  backend/app/routes/v1/addresses.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/bookings.py
  backend/app/services/email_config.py
  backend/app/services/stripe_service.py
  backend/app/utils/location_privacy.py
  frontend/components/InstructorCard.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/src/types/api.ts
  frontend/types/api.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

metrics history
  metrics_history.json
Due: none

refactor: remove legacy location type mapping (clean break)
  backend/app/core/constants.py
  backend/app/routes/v1/bookings.py
  backend/app/schemas/booking.py
  backend/openapi/openapi.json
  backend/requirements-dev.txt
  backend/requirements.txt
  frontend/types/booking.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, frontend-no-console

fix(ci): smoke test grep pattern for full URL redirect
  .github/workflows/smoke.yml
  docs/session-handoffs/session-handoff-v127.md
Due: none

fix(instructor): align min_advance_booking_hours default and remove dead travel_preferences column
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/instructor.py
Due: none

fix(schema): complete model/migration/schema alignment audit fixes
  backend/alembic/versions/002_instructor_system.py
  backend/alembic/versions/004_messaging.py
  backend/alembic/versions/005_search.py
  backend/alembic/versions/006_platform_features.py
  backend/app/models/service_catalog.py
  backend/app/models/user.py
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/conftest.py
  backend/tests/integration/services/test_booking_service_coverage_int.py
Due: none

feat(mcp): Phase 1 - instructor lifecycle tracking and founding funnel endpoints
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/002_instructor_system.py
  backend/app/core/enums.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/instructor_lifecycle_event.py
  backend/app/openapi_app.py
  backend/app/repositories/factory.py
  backend/app/repositories/instructor_lifecycle_repository.py
  backend/app/routes/v1/admin/mcp/__init__.py
  backend/app/routes/v1/admin/mcp/founding.py
  backend/app/schemas/mcp.py
  backend/app/services/auth_service.py
  backend/app/services/background_check_service.py
  backend/app/services/instructor_lifecycle_service.py
  backend/app/services/instructor_service.py
  backend/openapi/openapi.json
  backend/scripts/seed_roles_permissions.py
  backend/tests/repositories/test_instructor_lifecycle_repository.py
  backend/tests/routes/v1/admin/mcp/test_founding.py
  backend/tests/services/test_instructor_lifecycle_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-founding/mcp-admin-founding.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(mcp): Phase 2 - instructor list, coverage analytics, and detail endpoints
  backend/.artifacts/api.expected.d.ts
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/mcp_instructor_repository.py
  backend/app/routes/v1/admin/mcp/instructors.py
  backend/app/schemas/mcp.py
  backend/app/services/mcp_instructor_service.py
  backend/openapi/openapi.json
  backend/tests/repositories/test_mcp_instructor_repository.py
  backend/tests/routes/v1/admin/mcp/test_mcp_instructors.py
  backend/tests/services/test_mcp_instructor_service.py
  backend/tests/test_routes_invariants.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-instructors/mcp-admin-instructors.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(mcp): Phase 3 - invite system with preview/confirm guardrails
  backend/.artifacts/api.expected.d.ts
  backend/app/core/config.py
  backend/app/core/exceptions.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/user_repository.py
  backend/app/routes/v1/admin/mcp/invites.py
  backend/app/schemas/mcp.py
  backend/app/services/mcp_confirm_token_service.py
  backend/app/services/mcp_idempotency_service.py
  backend/app/services/mcp_invite_service.py
  backend/openapi/openapi.json
  backend/tests/routes/v1/admin/mcp/test_invites.py
  backend/tests/services/test_mcp_confirm_token_service.py
  backend/tests/services/test_mcp_idempotency_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-invites/mcp-admin-invites.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(mcp): Phase 4 - search analytics and metrics dictionary endpoints
  backend/.artifacts/api.expected.d.ts
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/search_analytics_repository.py
  backend/app/repositories/user_repository.py
  backend/app/routes/v1/admin/mcp/metrics.py
  backend/app/routes/v1/admin/mcp/search.py
  backend/app/schemas/mcp.py
  backend/app/services/mcp_search_analytics_service.py
  backend/openapi/openapi.json
  backend/tests/routes/v1/admin/mcp/test_metrics.py
  backend/tests/routes/v1/admin/mcp/test_search.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-metrics/mcp-admin-metrics.ts
  frontend/src/api/generated/mcp-admin-search/mcp-admin-search.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix: address PR review findings for MCP Admin Copilot
  backend/app/api/dependencies/auth.py
  backend/app/core/config.py
  backend/app/ratelimit/config.py
  backend/app/repositories/instructor_lifecycle_repository.py
  backend/app/repositories/mcp_instructor_repository.py
  backend/app/routes/v1/admin/mcp/founding.py
  backend/app/routes/v1/admin/mcp/instructors.py
  backend/app/routes/v1/admin/mcp/invites.py
  backend/app/routes/v1/admin/mcp/metrics.py
  backend/app/routes/v1/admin/mcp/search.py
  backend/tests/repositories/test_instructor_lifecycle_repository.py
  backend/tests/repositories/test_mcp_instructor_repository.py
  mcp-server/.gitignore
  mcp-server/README.md
Due: api-contracts, check-timezone-usage, check-repository-pattern

fix: address remaining MCP review findings
  backend/app/routes/v1/admin/mcp/invites.py
  backend/app/schemas/mcp.py
  backend/app/services/mcp_idempotency_service.py
  backend/app/services/mcp_invite_service.py
  backend/openapi/openapi.json
  backend/tests/routes/v1/admin/mcp/test_invites.py
  backend/tests/services/test_mcp_idempotency_service.py
  frontend/src/api/generated/instructly.schemas.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/tests/test_client.py
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(mcp): add health check endpoint for Render deployment
  mcp-server/src/instainstru_mcp/server.py
  render.yaml
Due: none

feat(mcp): deploy Admin Copilot server + fix CI smoke workflow
  .github/workflows/smoke.yml
  backend/scripts/render_deploy_api.sh
  docs/session-handoffs/session-handoff-v128.md
Due: none

fix(mcp): add bearer token authentication middleware
  mcp-server/src/instainstru_mcp/server.py
Due: none

fix(mcp): add bearer token authentication middleware
  .github/workflows/ci.yml
  .gitignore
  backend/app/services/booking_service.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/monitoring_tasks.py
  backend/app/tasks/privacy_tasks.py
  mcp-server/.gitignore
  mcp-server/src/instainstru_mcp.egg-info/PKG-INFO
  mcp-server/src/instainstru_mcp.egg-info/SOURCES.txt
  mcp-server/src/instainstru_mcp.egg-info/dependency_links.txt
  mcp-server/src/instainstru_mcp.egg-info/entry_points.txt
  mcp-server/src/instainstru_mcp.egg-info/requires.txt
  mcp-server/src/instainstru_mcp.egg-info/top_level.txt
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(mcp): add dual authentication (Bearer + Auth0 OAuth)
  backend/openapi/openapi.json
  frontend/src/api/generated/instructly.schemas.ts
  mcp-server/pyproject.toml
  mcp-server/src/instainstru_mcp/auth.py
  mcp-server/src/instainstru_mcp/config.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/conftest.py
  mcp-server/tests/test_auth_middleware.py
  metrics_history.json
  scripts/setup-mcp.sh
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ci): move MCP tests to backend-ci + fix flaky test + lazy app init
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  mcp-server/README.md
  mcp-server/run_mcp.py
  mcp-server/src/instainstru_mcp/server.py
  render.yaml
Due: none

fix(mcp): address PR review feedback - env vars, logging, tests
  mcp-server/README.md
  mcp-server/src/instainstru_mcp/auth.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
  render.yaml
Due: none

feat(mcp): dual authentication (Bearer + Auth0 OAuth) + CI fixes (#230)
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  backend/openapi/openapi.json
  frontend/src/api/generated/instructly.schemas.ts
  mcp-server/README.md
  mcp-server/pyproject.toml
  mcp-server/run_mcp.py
  mcp-server/src/instainstru_mcp/auth.py
  mcp-server/src/instainstru_mcp/config.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/conftest.py
  mcp-server/tests/test_auth_middleware.py
  metrics_history.json
  render.yaml
  scripts/setup-mcp.sh
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(mcp): add OAuth 2.0 discovery endpoints for Claude Web
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: none

fix(mcp): use auth0_audience as OAuth resource for JWT issuance
  mcp-server/src/instainstru_mcp/server.py
Due: none

feat(mcp): add opaque token validation via Auth0 /userinfo fallback
  mcp-server/src/instainstru_mcp/server.py
Due: none

test(mcp): align OAuth metadata assertions and add opaque-token fallback coverage
  mcp-server/tests/test_auth_middleware.py
Due: none

fix(mcp): complete OAuth metadata for Claude Web compatibility
  mcp-server/src/instainstru_mcp/server.py
Due: none

fix(mcp): add pre-registered client_id to OAuth protected resource metadata
  mcp-server/src/instainstru_mcp/server.py
  metrics_history.json
Due: none

fix(mcp): set resource URL to match SSE endpoint per RFC 9728
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: none

fix(id): client_id
  mcp-server/src/instainstru_mcp/server.py
Due: none

feat(mcp): migrate OAuth from Auth0 to WorkOS + extend pre-commit hooks
  .pre-commit-config.yaml
  mcp-server/pyproject.toml
  mcp-server/run_mcp.py
  mcp-server/src/instainstru_mcp/auth.py
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/config.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/founding.py
  mcp-server/src/instainstru_mcp/tools/instructors.py
  mcp-server/tests/test_auth.py
  mcp-server/tests/test_auth_middleware.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_tools.py
Due: none

fix(mcp): add oauth-authorization-server redirect for MCP client compatibility
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: none

fix(mcp): add CORS preflight handling for browser-based MCP clients
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: none

fix(pre-commit): run mcp-server mypy via pre-commit env
  .pre-commit-config.yaml
Due: none

fix(mcp-server): use empty 204 response for CORS preflight
  mcp-server/src/instainstru_mcp/server.py
Due: none

feat(mcp): proxy OAuth endpoints for MCP client compatibility
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: none

fix(mcp): add CORSMiddleware for SSE response headers
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_auth_middleware.py
Due: none
