Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-router-sync, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, mypy-mcp-server, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-untyped-dicts, audit-adhoc-types, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/src/api/generated/
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-time-to-minutes: any of: ^backend/.*\.py$
  check-utc-timezone: any of: ^backend/app/.*\.py$
  check-timezone-patterns: any of: \.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  check-router-sync: any of: ^backend/app/(main\.py|openapi_app\.py)$
  check-route-response-models: any of: ^backend/app/routes/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  check-stripe-transaction-pattern: any of: ^backend/app/services/.*\.py$
  mypy-mcp-server: any of: ^mcp-server/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  frontend-no-raw-api-strings: any of: ^frontend/.*\.(ts|tsx)$
  check-async-blocking: any of: ^backend/app/.*\.py$
  check-sync-in-async-routes: any of: ^backend/app/routes/.*\.py$
  check-no-db-in-routes: any of: ^backend/app/routes/.*\.py$
  audit-untyped-dicts: any of: ^backend/app/schemas/.*\.py$
  audit-adhoc-types: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(node_modules|\.next|src/api/generated)/
  gitleaks-system: any of: ^(frontend|backend|mcp-server)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


test(stripe): add real StripeObject fixture factories for v15 migration
  backend/tests/utils/stripe_fixtures.py
  backend/tests/utils/test_stripe_fixtures.py
  metrics_history.json
Due: check-time-to-minutes, check-timezone-patterns

test(stripe): bump stripe 14.4.1 → 15.0.1 and rewrite tests with real StripeObject fixtures
  backend/requirements.txt
  backend/tests/routes/test_payments.py
  backend/tests/services/test_stripe_service.py
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/unit/services/test_stripe_service.py
  backend/tests/unit/services/test_stripe_service_missed_coverage.py
  backend/tests/unit/services/test_stripe_service_r4.py
  backend/tests/utils/stripe_fixtures.py
  backend/tests/utils/test_stripe_fixtures.py
  metrics_history.json
Due: check-time-to-minutes, check-timezone-patterns

fix(stripe): use event.to_dict() in webhook invalid-JSON fallback
  backend/app/routes/v1/payments.py
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(stripe): migrate Account.settings access to attribute chain (phase 3 step 2)
  backend/app/tasks/payment/maintenance.py
  metrics_history.json
Due: check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-async-blocking

fix(stripe): delete dormant get_latest_identity_status (phase 3 step 3)
  backend/app/services/stripe/identity.py
  backend/app/services/stripe_service.py
  backend/tests/services/test_stripe_service.py
  backend/tests/unit/services/test_stripe_service_additional_coverage.py
  backend/tests/unit/services/test_stripe_service_missed_coverage.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(stripe): migrate capture_refund to Stripe 15 + latest_charge (phase 3 step 4)
  backend/app/services/stripe/capture_refund.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(stripe): migrate payment_flow.py refreshed PI fallback (phase 3 step 4.5)
  backend/app/services/stripe/payment_flow.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(stripe): migrate transfer.py and webhook_disputes.py to Stripe 15 (phase 3 step 5)
  backend/app/services/stripe/transfer.py
  backend/app/services/stripe/webhook_disputes.py
  backend/tests/services/test_stripe_payouts.py
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/unit/services/test_stripe_service.py
  backend/tests/utils/stripe_fixtures.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(booking): surface silent failure when transfer_id missing after capture (phase 3 step 7)
  backend/app/services/booking/lock_service.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

chore(stripe): pin API version explicitly and delete dormant handle_webhook (phase 3 steps 8-9)
  backend/app/services/stripe/webhook_router.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment/common.py
  backend/tests/unit/services/test_stripe_service_additional_coverage.py
  backend/tests/unit/services/test_stripe_service_r4.py
  backend/tests/unit/services/test_stripe_service_webhooks.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(stripe): remove dict-shape shims in _top_up_from_pi_metadata (audit cleanup)
  backend/app/services/stripe/transfer.py
  backend/tests/services/test_stripe_service.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(stripe): remove bogus stripe_configured guard, restore early-exit, harden regression tests
  backend/app/services/stripe/payment_flow.py
  backend/app/services/stripe/transfer.py
  backend/tests/services/test_stripe_service.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(stripe): tighten _StripeWebhookEvent Protocol to match Stripe 15 to_dict signature
  backend/app/routes/v1/payments.py
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-route-response-models, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(stripe): defensive improvements from PR review (4th round)
  backend/app/services/booking/lock_service.py
  backend/app/services/stripe/transfer.py
  backend/app/tasks/payment/maintenance.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

chore(stripe): polish items from 5th PR review
  backend/app/services/stripe_service.py
  backend/app/tasks/payment/common.py
  backend/tests/unit/services/test_stripe_service_missed_coverage.py
  backend/tests/utils/stripe_fixtures.py
  backend/tests/utils/test_stripe_fixtures.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

chore(stripe): invariant comments from 6th PR review
  backend/app/services/booking/lock_service.py
  backend/app/services/stripe/transfer.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

chore(stripe): polish items from 7th PR review
  backend/app/services/stripe/capture_refund.py
  backend/tests/services/test_stripe_service.py
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

chore(stripe): drop private module import, explicit None check in metadata coercion
  backend/app/services/stripe/transfer.py
  backend/tests/utils/stripe_fixtures.py
  backend/tests/utils/test_stripe_fixtures.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

Stripe 14.4.1 → 15.0.1 migration (clean break) (#434)
  backend/app/routes/v1/payments.py
  backend/app/services/booking/lock_service.py
  backend/app/services/stripe/capture_refund.py
  backend/app/services/stripe/identity.py
  backend/app/services/stripe/payment_flow.py
  backend/app/services/stripe/transfer.py
  backend/app/services/stripe/webhook_disputes.py
  backend/app/services/stripe/webhook_router.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment/common.py
  backend/app/tasks/payment/maintenance.py
  backend/requirements.txt
  backend/tests/routes/test_payments.py
  backend/tests/services/test_stripe_payouts.py
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/tasks/test_payment_tasks.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_stripe_service.py
  backend/tests/unit/services/test_stripe_service_additional_coverage.py
  backend/tests/unit/services/test_stripe_service_missed_coverage.py
  backend/tests/unit/services/test_stripe_service_r4.py
  backend/tests/unit/services/test_stripe_service_webhooks.py
  backend/tests/utils/stripe_fixtures.py
  backend/tests/utils/test_stripe_fixtures.py
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

feat(webhooks): structured observability handlers for canonical event subscriptions
  backend/app/services/stripe/webhook_disputes.py
  backend/app/services/stripe/webhook_router.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/unit/services/test_stripe_service_webhook_branch_coverage.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

chore: gitignore Claude Code auto-generated skill files
  .gitignore
Due: none

chore(ci): upgrade claude code review and claude bot models to Opus 4.7
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(webhooks): PR review fixes — dead-letter guard, error classification, partial-state recovery
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/payment.py
  backend/app/repositories/booking/satellite_mixin.py
  backend/app/repositories/payment/connected_account_mixin.py
  backend/app/repositories/webhook_event_repository.py
  backend/app/routes/v1/payments.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/services/base.py
  backend/app/services/stripe/onboarding.py
  backend/app/services/stripe/webhook_disputes.py
  backend/app/services/stripe/webhook_router.py
  backend/tests/repositories/test_webhook_event_repository.py
  backend/tests/routes/test_payments.py
  backend/tests/unit/services/test_stripe_service_connect.py
  backend/tests/unit/services/test_stripe_service_r4.py
  backend/tests/unit/services/test_stripe_service_webhook_branch_coverage.py
  backend/tests/unit/services/test_stripe_service_webhooks.py
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes

fix(stripe): PR review follow-ups + python-multipart CVE fix
  backend/app/core/config.py
  backend/app/services/stripe/webhook_router.py
  backend/requirements.txt
  backend/tests/repositories/test_webhook_event_repository.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/unit/core/test_core_config_coverage.py
  backend/tests/unit/services/test_stripe_service_r4.py
  backend/tests/unit/services/test_stripe_service_webhook_branch_coverage.py
  backend/tests/unit/services/test_stripe_service_webhooks.py
  metrics_history.json
Due: check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, enforce-service-metrics, check-stripe-transaction-pattern, check-async-blocking

fix(branding): unify brand purple, toast variants, and auth layout
  frontend/app/(shared)/_components/AuthShell.tsx
  frontend/app/(shared)/_components/__tests__/AuthShell.test.tsx
  frontend/app/(shared)/reset-password/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/app/__tests__/providers.test.tsx
  frontend/app/config/brand.ts
  frontend/app/globals.css
  frontend/app/providers.tsx
  frontend/components/earnings/CommissionTierCard.tsx
  frontend/components/ui/GlobalBackground.tsx
  frontend/components/ui/__tests__/GlobalBackground.test.tsx
  frontend/features/bookings/components/InstructorBookingDetailView.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

chore(deps): next 16.2.4, sentry/100ms bumps, remove uuid@14 override
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

fix(build): stop overriding Cache-Control on /_next/static and /_next/image
  frontend/next.config.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

chore(deps): backend deps batch
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

chore(deps): frontend deps batch + Lucide v1 migration
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

fix(a11y): add aria-labels to icon-only buttons for Lucide v1 compat
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(admin)/admin/analytics/search/page.tsx
  frontend/app/(admin)/admin/bgc-review/page.tsx
  frontend/app/(admin)/admin/engineering/codebase/page.tsx
  frontend/app/(admin)/admin/location-learning/page.tsx
  frontend/app/(admin)/admin/nl-search/page.tsx
  frontend/app/(admin)/admin/ops/auth-blocks/page.tsx
  frontend/app/(admin)/admin/ops/database/page.tsx
  frontend/app/(admin)/admin/ops/redis/page.tsx
  frontend/app/(admin)/admin/payments/PaymentsAdminClient.tsx
  frontend/features/student/payment/components/PaymentMethodSelection.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console, frontend-no-raw-api-strings, audit-adhoc-types

fix(deps): revert next to 16.1.7, ship remaining deps-audit bumps
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

fix(auth): forgot password flow broken on preview, silent on unknown email
  backend/.artifacts/api.expected.d.ts
  backend/app/core/settings/rate_limiting.py
  backend/app/routes/v1/password_reset.py
  backend/app/services/password_reset_service.py
  backend/openapi/openapi.json
  backend/tests/integration/services/test_password_reset_service.py
  backend/tests/routes/test_password_reset_routes.py
  backend/tests/routes/test_privacy_routes_additional_coverage.py
  frontend/__tests__/proxy.auth-recovery.test.ts
  frontend/app/(shared)/forgot-password/__tests__/page.test.tsx
  frontend/app/(shared)/forgot-password/page.tsx
  frontend/proxy.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/password-reset/password-reset.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

fix(auth): forgot password flow broken on preview, silent on unknown email (#453)
  backend/.artifacts/api.expected.d.ts
  backend/app/core/settings/rate_limiting.py
  backend/app/routes/v1/password_reset.py
  backend/app/services/password_reset_service.py
  backend/openapi/openapi.json
  backend/tests/integration/services/test_password_reset_service.py
  backend/tests/routes/test_password_reset_routes.py
  backend/tests/routes/test_privacy_routes_additional_coverage.py
  frontend/__tests__/proxy.auth-recovery.test.ts
  frontend/app/(shared)/forgot-password/__tests__/page.test.tsx
  frontend/app/(shared)/forgot-password/page.tsx
  frontend/proxy.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/password-reset/password-reset.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-time-to-minutes, check-utc-timezone, check-timezone-patterns, check-repository-pattern, check-route-response-models, enforce-service-metrics, check-stripe-transaction-pattern, frontend-no-console, frontend-no-raw-api-strings, check-async-blocking, check-sync-in-async-routes, check-no-db-in-routes, audit-adhoc-types

docs(index): list launch-state-and-capabilities architecture doc
  docs/PROJECT_DOCS_INDEX.md
Due: none

docs(architecture): launch state and capabilities design
  docs/architecture/launch-state-and-capabilities.md
Due: none
