Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


feat(checkr): add idempotency keys to candidate creation
  backend/app/integrations/checkr_client.py
  backend/app/services/background_check_service.py
  backend/tests/integration/services/test_background_check_consent.py
  backend/tests/unit/test_bgc_endpoints.py
  backend/tests/unit/test_checkr_client.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(bgc): add canceled status and surface in admin and instructor UI
  backend/alembic/versions/006_final_constraints.py
  backend/app/main.py
  backend/app/models/instructor.py
  backend/app/routes/instructor_background_checks.py
  backend/app/routes/webhooks_checkr.py
  backend/app/schemas/bgc.py
  backend/app/services/background_check_workflow_service.py
  backend/tests/unit/test_checkr_webhook.py
  frontend/__tests__/components/BGCStep.test.tsx
  frontend/app/(admin)/admin/bgc-review/__tests__/page.test.tsx
  frontend/app/(admin)/admin/bgc-review/page.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/lib/api/bgc.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(bgc): surface rate-limit errors clearly and improve toast readability
  backend/app/routes/instructor_background_checks.py
  backend/tests/unit/test_bgc_endpoints.py
  frontend/__tests__/components/BGCStep.test.tsx
  frontend/app/globals.css
  frontend/app/providers.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/lib/__tests__/fetch.test.ts
  frontend/lib/__tests__/problem.test.ts
  frontend/lib/api/fetch.ts
  frontend/lib/errors/problem.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

feat(bgc): prefer assessment over result for Checkr report outcomes
  backend/app/main.py
  backend/app/routes/webhooks_checkr.py
  backend/app/services/background_check_workflow_service.py
  backend/tests/unit/test_checkr_webhook.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

chore(email): update pre-adverse action template for Checkr compliance
  backend/app/services/adverse_action_email_templates.py
  backend/app/templates/email/bgc/pre_adverse.jinja
  backend/tests/unit/emails/test_adverse_templates.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(bgc): surface Checkr ETA for pending background checks
  backend/alembic/versions/006_final_constraints.py
  backend/app/main.py
  backend/app/models/instructor.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/admin_background_checks.py
  backend/app/routes/instructor_background_checks.py
  backend/app/routes/webhooks_checkr.py
  backend/app/schemas/admin_background_checks.py
  backend/app/schemas/bgc.py
  backend/app/services/background_check_workflow_service.py
  backend/tests/unit/test_bgc_emails.py
  backend/tests/unit/test_checkr_webhook.py
  backend/tests/unit/test_checkr_webhook_idempotency.py
  frontend/__tests__/components/BGCStep.test.tsx
  frontend/app/(admin)/admin/bgc-review/__tests__/page.test.tsx
  frontend/app/(admin)/admin/bgc-review/hooks.ts
  frontend/app/(admin)/admin/bgc-review/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/lib/api/bgc.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(admin-bgc): show ETA column in review queue table
  frontend/app/(admin)/admin/bgc-review/__tests__/page.test.tsx
  frontend/app/(admin)/admin/bgc-review/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(admin-bgc): stabilize review pagination and handle null statuses
  backend/app/routes/admin_background_checks.py
  backend/app/schemas/admin_background_checks.py
  backend/scripts/check_bgc_counts.py
  backend/tests/admin/test_bgc_review_queue.py
  frontend/app/(admin)/admin/bgc-review/__tests__/page.test.tsx
  frontend/app/(admin)/admin/bgc-review/hooks.ts
  frontend/app/(admin)/admin/bgc-review/page.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

chore(metrics history)
  metrics_history.json
Due: none

refactor(bgc): replace internal pre/adverse flow with neutral review email
  backend/alembic/versions/006_final_constraints.py
  backend/app/models/instructor.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/webhooks_checkr.py
  backend/app/services/background_check_workflow_service.py
  backend/app/services/template_registry.py
  backend/app/templates/email/bgc/pre_adverse.jinja
  backend/app/templates/email/bgc/review_status.jinja
  backend/scripts/send_bgc_test_email.py
  backend/tests/conftest.py
  backend/tests/integration/db/test_soft_delete_services.py
  backend/tests/integration/services/test_adverse_action_flow.py
  backend/tests/unit/services/test_email_service.py
  backend/tests/unit/test_bgc_emails.py
  backend/tests/unit/test_checkr_webhook.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(bgc): surface canceled screenings and harden package config
  backend/alembic/versions/006_final_constraints.py
  backend/app/main.py
  backend/app/models/instructor.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/admin_background_checks.py
  backend/app/routes/admin_instructors.py
  backend/app/routes/instructor_background_checks.py
  backend/app/routes/webhooks_checkr.py
  backend/app/schemas/admin_background_checks.py
  backend/app/schemas/admin_instructor_responses.py
  backend/app/schemas/bgc.py
  backend/app/services/background_check_service.py
  backend/app/services/background_check_workflow_service.py
  backend/tests/unit/test_background_check_invite.py
  backend/tests/unit/test_checkr_webhook.py
  backend/tests/unit/test_checkr_webhook_idempotency.py
  frontend/app/(admin)/admin/bgc-review/__tests__/page.test.tsx
  frontend/app/(admin)/admin/bgc-review/hooks.ts
  frontend/app/(admin)/admin/bgc-review/page.tsx
  frontend/lib/api/bgc.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(beta): align invite URLs and signup CTA
  backend/app/services/beta_service.py
  backend/tests/unit/services/test_beta_service.py
  frontend/app/(shared)/signup/page.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix[payments]: refresh upcoming bookings and credits
  backend/app/routes/admin_background_checks.py
  backend/app/routes/payments.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/tests/integration/test_payment_flow.py
  frontend/components/student/BillingTab.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/auto-credit-apply.spec.tsx
  frontend/features/student/payment/components/__tests__/confirm-date-change-optimistic.spec.tsx
  frontend/features/student/payment/components/__tests__/credits-accordion-expanded.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-pricing-preview.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-section.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-summary-preview.spec.tsx
  frontend/features/student/payment/components/testUtils.tsx
  frontend/features/student/payment/hooks/useCredits.ts
  frontend/lib/react-query/queryClient.ts
  frontend/services/api/payments.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix[frontend]: move useCredits hook to shared layer
  frontend/components/student/BillingTab.tsx
  frontend/features/shared/payment/hooks/useCredits.ts
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/payment-section.spec.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix[search]: compute next available from full availability
  frontend/app/(public)/search/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(availability): align duration, advance notice, and buffer across UI/API
  backend/app/routes/public.py
  backend/app/services/availability_service.py
  backend/tests/conftest.py
  backend/tests/routes/test_public_availability.py
  frontend/components/InstructorCard.tsx
  frontend/components/lessons/modals/RescheduleTimeSelectionModal.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/booking/components/__tests__/time-selection-modal-duration-change.spec.tsx
  frontend/features/student/booking/components/__tests__/time-selection-modal-preselected-open.spec.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

test(availability): expect buffer-aware morning window in public API flow
  backend/tests/integration/api/test_public_availability_integration.py
Due: none

fix(billing): show student service fee instead of platform fee in history
  frontend/components/student/BillingTab.tsx
  frontend/components/student/__tests__/BillingTab.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(availability): handle midnight windows and advance notice in instructor tz
  backend/app/services/availability_service.py
  backend/app/services/booking_service.py
  backend/tests/services/test_public_availability_midnight.py
  backend/tests/unit/services/test_booking_service_logic.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(booking): ensure advance notice >=24h uses instructor local day
  backend/app/services/booking_service.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(payments): surface tips, align receipts, and fix tz/advance rules
  backend/app/repositories/payment_repository.py
  backend/app/repositories/review_repository.py
  backend/app/routes/bookings.py
  backend/app/routes/payments.py
  backend/app/routes/reviews.py
  backend/app/schemas/booking.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/booking_service.py
  backend/app/services/payment_summary_service.py
  backend/app/services/ratings_math.py
  backend/app/services/review_service.py
  backend/tests/integration/routes/test_booking_payment_routes.py
  backend/tests/routes/test_bookings_privacy.py
  backend/tests/services/test_booking_payment_service.py
  backend/tests/unit/services/test_booking_service_logic.py
  backend/tests/unit/test_ratings_math.py
  frontend/__tests__/pages/lessons/LessonDetailsPage.test.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/components/student/BillingTab.tsx
  frontend/components/student/__tests__/BillingTab.test.tsx
  frontend/features/shared/api/client.ts
  frontend/services/api/payments.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(instructor): unify bookings/earnings APIs, fix past lessons, and stabilize queries
  backend/app/main.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/payment_repository.py
  backend/app/routes/bookings.py
  backend/app/routes/instructor_bookings.py
  backend/app/routes/instructors.py
  backend/app/routes/payments.py
  backend/app/schemas/booking.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/pricing_service.py
  backend/app/services/stripe_service.py
  backend/scripts/diagnose_earnings.py
  backend/tests/integration/routes/test_instructor_bookings_api.py
  backend/tests/routes/test_new_api_format.py
  backend/tests/unit/services/test_booking_service_student_conflicts.py
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/instructor/PayoutsDashboard.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/shared/api/client.ts
  frontend/hooks/queries/useInstructorBookings.ts
  frontend/hooks/queries/useInstructorEarnings.ts
  frontend/hooks/queries/useInstructorProfileMe.ts
  frontend/hooks/queries/useInstructorServiceAreas.ts
  frontend/lib/api.ts
  frontend/services/api/payments.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(bookings): resolve payment_summary validation errors in strict schema mode
  backend/app/routes/bookings.py
  backend/app/schemas/booking.py
  backend/tests/routes/test_bookings_privacy.py
  backend/tests/routes/test_new_api_format.py
Due: api-contracts, check-timezone-usage

fix(e2e): update fee terminology and fix instructor bookings route matcher
  frontend/__tests__/pages/lessons/LessonDetailsPage.test.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/components/student/BillingTab.tsx
  frontend/components/student/__tests__/BillingTab.test.tsx
  frontend/e2e/tests/instructor.bookings-list.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore: setup api-architecture refactor branch and baseline notes
  docs/api-architecture-refactor-notes.md
Due: none

"feat(api): implement Phase 1 - API v1 architecture with instructors
  backend/app/main.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/instructors.py
  backend/tests/test_privacy_protection.py
  backend/tests/test_routes_invariants.py
  docs/architecture/api-refactor-phase-0-baseline.md
Due: api-contracts, check-timezone-usage

chore(api): implement Phase 2 – OpenAPI export and Orval clients Implement Phase 2 of the API architecture refactor: OpenAPI export + Orval-based TypeScript client generation.
  .pre-commit-config.yaml
  backend/app/openapi_app.py
  backend/openapi/openapi.json
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/eslint.config.mjs
  frontend/orval.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/generated/2fa/2fa.ts
  frontend/src/api/generated/account-management/account-management.ts
  frontend/src/api/generated/addresses/addresses.ts
  frontend/src/api/generated/admin-config/admin-config.ts
  frontend/src/api/generated/admin/admin.ts
  frontend/src/api/generated/analytics/analytics.ts
  frontend/src/api/generated/auth/auth.ts
  frontend/src/api/generated/availability/availability.ts
  frontend/src/api/generated/beta/beta.ts
  frontend/src/api/generated/bookings/bookings.ts
  frontend/src/api/generated/favorites/favorites.ts
  frontend/src/api/generated/gated/gated.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/instructor-bookings/instructor-bookings.ts
  frontend/src/api/generated/instructors-v1/instructors-v1.ts
  frontend/src/api/generated/messages/messages.ts
  frontend/src/api/generated/monitoring/monitoring.ts
  frontend/src/api/generated/password-reset/password-reset.ts
  frontend/src/api/generated/payments/payments.ts
  frontend/src/api/generated/privacy/privacy.ts
  frontend/src/api/generated/public/public.ts
  frontend/src/api/generated/referrals/referrals.ts
  frontend/src/api/generated/reviews/reviews.ts
  frontend/src/api/generated/search-history/search-history.ts
  frontend/src/api/generated/search/search.ts
  frontend/src/api/generated/services/services.ts
  frontend/src/api/generated/stripe-webhooks/stripe-webhooks.ts
  frontend/src/api/generated/uploads/uploads.ts
  frontend/src/api/generated/users/users.ts
  frontend/src/api/orval-mutator.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(api): implement Phase 3 – frontend session and instructor services
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/hooks/queries/useInstructorProfileMe.ts
  frontend/src/api/hooks/useSession.ts
  frontend/src/api/queryKeys.ts
  frontend/src/api/services/instructors.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(tests): use /api/v1/instructors/me in rate limiter smoke test
  backend/tests/integration/test_rate_headers_smoke.py
Due: none

feat(api): implement Phase 4 – session consolidation and API guardrails
  .pre-commit-config.yaml
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/hooks/queries/useHomepage.ts
  frontend/hooks/queries/useUser.ts
  frontend/lib/react-query/README.md
  frontend/lib/react-query/example-usage.tsx
  frontend/scripts/precommit_no_raw_api.sh
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(api): implement Phase 6 – v1 bookings domain
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/bookings.py
  backend/app/routes/v1/instructor_bookings.py
  backend/openapi/openapi.json
  backend/tests/test_routes_invariants.py
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/src/api/generated/bookings-v1/bookings-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/instructor-bookings-v1/instructor-bookings-v1.ts
  frontend/src/api/generated/instructors-v1/instructors-v1.ts
  frontend/src/api/services/bookings.ts
  frontend/src/api/services/instructor-bookings.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

fix(test): Fix BookingResponse.payment_summary validator to normalize dict / Mapping / BaseModel inputs into the canonical PaymentSummary so strict schema reload tests no longer cause 422s
  backend/app/schemas/booking.py
  metrics_history.json
Due: none

feat(frontend): migrate upcoming lessons to v1 bookings
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/__tests__/hooks/useMyLessons.test.tsx
  frontend/hooks/useMyLessons.ts
  frontend/scripts/precommit_no_raw_api.sh
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(api): migrate student upcoming lessons to bookings v1 services
  frontend/features/instructor-profile/hooks/useInstructorProfile.ts
  frontend/features/instructor-profile/tests/useInstructorProfile.fetches.test.tsx
  frontend/features/shared/api/client.ts
  frontend/lib/api.ts
  frontend/scripts/precommit_no_raw_api.sh
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(e2e): align booking mocks with v1 API and quiet knip spectral noise
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/tests/booking-journey.spec.ts
  frontend/e2e/tests/instructor.bookings-list.spec.ts
  frontend/e2e/tests/my-lessons.spec.ts
  frontend/knip.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(booking): migrate booking creation and payments to v1 services
  frontend/__tests__/lessons/modals/RescheduleModal.test.tsx
  frontend/app/(auth)/student/booking/confirmation/page.tsx
  frontend/app/booking/confirmation/page.tsx
  frontend/components/lessons/modals/RescheduleModal.tsx
  frontend/features/student/booking/hooks/__tests__/useCreateBooking.test.ts
  frontend/features/student/booking/hooks/useCreateBooking.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/conflict-check.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-section.spec.tsx
  frontend/src/api/services/instructors.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

refactor(api): retire legacy bookings routers and tighten v1 contracts
  backend/app/main.py
  backend/app/openapi_app.py
  backend/tests/integration/api/test_booking_conflict_status.py
  backend/tests/integration/api/test_public_availability_integration.py
  backend/tests/integration/availability/test_booking_against_bitmap.py
  backend/tests/integration/routes/test_booking_payment_routes.py
  backend/tests/integration/routes/test_bookings_strict.py
  backend/tests/integration/routes/test_instructor_bookings_api.py
  backend/tests/integration/test_auth_surface_matrix.py
  backend/tests/integration/test_route_policy.py
  backend/tests/integration/test_schemathesis_api_v1.py
  backend/tests/routes/test_api_format_simple.py
  backend/tests/routes/test_booking_payment_method_update.py
  backend/tests/routes/test_bookings.py
  backend/tests/routes/test_bookings_privacy.py
  backend/tests/routes/test_new_api_format.py
  backend/tests/routes/test_reminder_clean_architecture.py
  backend/tests/routes/test_security_cors_csrf.py
  backend/tests/test_guards_preview_beta.py
  backend/tests/test_routes_invariants.py
  docs/architecture/api-refactor-phase-0-baseline.md
  frontend/lib/api/bookings.ts
  frontend/scripts/precommit_no_raw_api.sh
  frontend/src/api/generated/bookings/bookings.ts
  frontend/src/api/generated/instructor-bookings/instructor-bookings.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

test(api): stabilize bookings v1 routes and enable full schemathesis coverage
  backend/app/routes/pricing_preview.py
  backend/tests/integration/routes/test_booking_date_validation.py
  backend/tests/integration/routes/test_error_contracts.py
  backend/tests/integration/routes/test_instructor_bookings_api.py
  backend/tests/integration/test_schemathesis_api_v1.py
  backend/tests/routes/test_api_format_simple.py
  backend/tests/routes/test_bookings.py
  backend/tests/routes/test_bookings_phase_blocking.py
  backend/tests/routes/test_pricing_preview.py
  backend/tests/test_routes_invariants.py
Due: api-contracts, check-timezone-usage

feat(messages): add /api/v1/messages and migrate frontend consumers
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/messages.py
  backend/openapi/openapi.json
  backend/tests/integration/routes/test_messages_strict.py
  backend/tests/integration/test_chat_system.py
  backend/tests/integration/test_schemathesis_api_v1.py
  backend/tests/test_routes_invariants.py
  frontend/features/shared/api/messages.ts
  frontend/hooks/useSSEMessages.ts
  frontend/scripts/precommit_no_raw_api.sh
  frontend/services/messageService.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/messages-v1/messages-v1.ts
  frontend/src/api/generated/messages/messages.ts
  frontend/src/api/queryKeys.ts
  frontend/src/api/services/messages.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console
