Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$


test(coverage): round 6 - 6 agents with bug hunting, 89% → 93%+
  frontend/__tests__/components/VerifiedBadge.test.tsx
  frontend/__tests__/hooks/useMyLessons.test.tsx
  frontend/__tests__/retry.test.ts
  frontend/__tests__/runtime-validation.test.ts
  frontend/__tests__/utils/messages.test.ts
  frontend/app/(auth)/instructor/onboarding/account-setup/components/ServiceAreasCard.tsx
  frontend/components/__tests__/UserProfileDropdown.test.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/components/chat/__tests__/ChatModal.test.tsx
  frontend/components/lessons/LessonCard.tsx
  frontend/components/lessons/modals/__tests__/RescheduleTimeSelectionModal.test.tsx
  frontend/components/messaging/__tests__/SystemMessage.test.tsx
  frontend/components/messaging/hooks/__tests__/useLiveTimestamp.test.ts
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/features/instructor-profile/hooks/__tests__/useInstructorServices.test.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/booking/components/__tests__/BookingModal.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/booking/hooks/__tests__/useCreateBooking.test.ts
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentMethodSelection.test.tsx
  frontend/features/student/payment/hooks/__tests__/usePaymentFlow.test.ts
  frontend/features/student/payment/hooks/usePaymentFlow.ts
  frontend/hooks/availability/__tests__/useAvailability.test.ts
  frontend/hooks/queries/__tests__/useInstructorBookings.test.ts
  frontend/hooks/useMyLessons.ts
  frontend/src/api/services/messages.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore: exclude barrel files from coverage metrics
  frontend/jest.config.js
Due: frontend-eslint, frontend-public-env

test(coverage): round 7, 90% → 91.5%
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/components/errors/__tests__/QueryErrorBoundary.test.tsx
  frontend/components/instructor/__tests__/BGCStep.test.tsx
  frontend/components/instructor/messages/hooks/__tests__/useConversations.test.tsx
  frontend/components/lessons/__tests__/LessonCard.test.tsx
  frontend/components/lessons/modals/__tests__/RescheduleTimeSelectionModal.test.tsx
  frontend/components/notifications/__tests__/NotificationBell.test.tsx
  frontend/components/notifications/__tests__/NotificationItem.test.tsx
  frontend/features/instructor-onboarding/__tests__/useOnboardingStepStatus.test.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/features/shared/components/__tests__/SelectedNeighborhoodChips.test.tsx
  frontend/features/shared/payment/hooks/__tests__/useCredits.test.ts
  frontend/features/shared/referrals/__tests__/share.test.ts
  frontend/features/shared/types/__tests__/paymentStatus.test.ts
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/hooks/queries/__tests__/useTransactionHistory.test.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix: add warning logs to empty catch blocks in InstructorProfileForm
  frontend/features/instructor-profile/InstructorProfileForm.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

ci: add coverage thresholds to Jest config
  frontend/jest.config.js
Due: frontend-eslint, frontend-public-env

test(coverage): round 8 - final push to 92%+ with CI enforcement
  frontend/__tests__/hooks/useNotificationPreferences.test.tsx
  frontend/__tests__/lessons/modals/RescheduleModal.test.tsx
  frontend/__tests__/retry.test.ts
  frontend/components/__tests__/UpcomingLessons.test.tsx
  frontend/components/availability/__tests__/InteractiveGrid.test.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/__tests__/Chat.test.tsx
  frontend/components/instructor/messages/hooks/__tests__/useMessageDrafts.test.ts
  frontend/components/layout/__tests__/StudentHeader.test.tsx
  frontend/components/messaging/__tests__/useReactions.test.ts
  frontend/components/modals/__tests__/ImageCropModal.test.tsx
  frontend/components/notifications/__tests__/NotificationBell.test.tsx
  frontend/components/notifications/__tests__/NotificationItem.test.tsx
  frontend/components/security/__tests__/ChangePasswordModal.test.tsx
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/hooks/__tests__/useAuth.helpers.test.ts
  frontend/features/shared/referrals/__tests__/api.test.ts
  frontend/hooks/__tests__/useDeviceContext.test.tsx
  frontend/hooks/__tests__/useWeekSchedule.test.ts
  frontend/hooks/queries/__tests__/useServices.test.tsx
  frontend/hooks/queries/__tests__/useStripeConnectStatus.test.ts
  frontend/jest.config.js
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(addresses): require custom labels and add coverage
  backend/app/schemas/address.py
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/integration/test_schemathesis_api_v1.py
  backend/tests/schemas/test_address_schema.py
  frontend/app/(auth)/student/dashboard/__tests__/AddressModal.test.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ci): stabilize test environment and address security audit findings
  .claude/settings.json
  backend/.repository-migration-tracking.json
  backend/app/middleware/rate_limiter.py
  backend/app/services/availability_service.py
  backend/app/services/cache_service.py
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/routes/test_addresses_coverage.py
  backend/tests/test_database_safety.py
  backend/tests/test_guards_preview_beta.py
  backend/tests/unit/middleware/test_rate_limiter.py
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(ci): add Bandit security scanning + address audit findings
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  backend/requirements-flower.txt
  backend/tests/load/scenarios/README.md
Due: none

fix(tests): handle PostGIS MultiPolygon type mismatch in CI
  backend/tests/integration/repositories/test_filter_repository_coverage.py
  backend/tests/integration/repositories/test_ranking_repository_coverage.py
Due: none

fix: resolve critical bugs in Celery tasks and infrastructure modules
  backend/.artifacts/api.expected.d.ts
  backend/app/core/production_startup.py
  backend/app/middleware/db_query_counter.py
  backend/app/tasks/beat.py
  backend/app/tasks/email.py
  backend/app/tasks/privacy_tasks.py
  backend/app/tasks/worker.py
  backend/openapi/openapi.json
  backend/tests/unit/core/test_celery_config_coverage.py
  backend/tests/unit/core/test_config_production_coverage.py
  backend/tests/unit/core/test_production_startup_coverage.py
  backend/tests/unit/database/test_init_db_coverage.py
  backend/tests/unit/middleware/test_timing_middleware_coverage.py
  backend/tests/unit/ratelimit/__init__.py
  backend/tests/unit/ratelimit/test_mapping_coverage.py
  backend/tests/unit/repositories/test_payment_monitoring_repository_coverage.py
  backend/tests/unit/tasks/test_analytics_tasks_additional_coverage.py
  backend/tests/unit/tasks/test_beat_coverage.py
  backend/tests/unit/tasks/test_email_tasks_coverage.py
  backend/tests/unit/tasks/test_embedding_migration_coverage.py
  backend/tests/unit/tasks/test_location_learning_task_coverage.py
  backend/tests/unit/tasks/test_privacy_tasks_coverage.py
  backend/tests/unit/tasks/test_search_history_cleanup_coverage.py
  backend/tests/unit/tasks/test_worker_coverage.py
  backend/tests/unit/test_openapi_app_coverage.py
  frontend/lib/deviceContext.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, check-repository-pattern, frontend-no-console

test(coverage): push coverage from 90.13% toward 92% target
  backend/app/services/booking_service.py
  backend/tests/unit/repositories/test_instructor_profile_repository_bgc_coverage.py
  backend/tests/unit/services/search/test_filter_service_additional_coverage.py
  backend/tests/unit/services/search/test_nl_search_service_additional_coverage.py
  backend/tests/unit/services/test_admin_booking_service_coverage.py
  backend/tests/unit/services/test_booking_service_coverage.py
  backend/tests/unit/services/test_cache_service_coverage.py
  backend/tests/unit/services/test_credit_service_coverage.py
  backend/tests/unit/services/test_instructor_service_additional_coverage.py
  backend/tests/unit/services/test_stripe_service_coverage.py
  backend/tests/unit/tasks/test_analytics_comprehensive_coverage.py
  backend/tests/unit/tasks/test_beat_coverage.py
  backend/tests/unit/tasks/test_codebase_metrics_coverage.py
  backend/tests/unit/tasks/test_embedding_migration_execution_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_coverage.py
  backend/tests/unit/tasks/test_privacy_tasks_execution_coverage.py
  backend/tests/unit/tasks/test_search_history_cleanup_execution_coverage.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

test(coverage): expand test coverage for services, repos, and tasks
  backend/app/repositories/nl_search_repository.py
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/schemas/test_booking_schema_additional_coverage.py
  backend/tests/unit/commands/test_analytics_additional_coverage.py
  backend/tests/unit/models/test_location_alias_additional_coverage.py
  backend/tests/unit/repositories/test_booking_repository_additional_coverage.py
  backend/tests/unit/repositories/test_instructor_profile_repository_bgc_coverage.py
  backend/tests/unit/repositories/test_payment_repository_additional_coverage.py
  backend/tests/unit/services/search/test_nl_search_service_additional_coverage.py
  backend/tests/unit/services/test_admin_booking_service_coverage.py
  backend/tests/unit/services/test_availability_service_additional_coverage.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_cache_service_additional_coverage.py
  backend/tests/unit/services/test_instructor_service_additional_coverage.py
  backend/tests/unit/services/test_notification_service_additional_coverage.py
  backend/tests/unit/services/test_stripe_service_additional_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_additional_coverage.py
  backend/tests/unit/tasks/test_worker_coverage.py
  backend/tests/unit/utils/test_codebase_metrics_additional_coverage.py
  backend/tests/unit/utils/test_cookies_additional_coverage.py
Due: none

test: expand coverage and stabilize startup/threshold behavior
  backend/app/core/production_startup.py
Due: check-repository-pattern

fix(schemas): normalize rescheduled_from before validation
  backend/app/schemas/booking.py
Due: none

chore(deps): consolidate dependency updates
  backend/requirements-celery.txt
  backend/requirements-dev.txt
  backend/requirements-flower.txt
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

chore(deps-dev): bump @types/node to 25.0.9
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

feat(location): add structured address fields to bookings
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/booking.py
  backend/app/routes/v1/bookings.py
  backend/app/schemas/booking.py
  backend/app/schemas/booking_responses.py
  backend/app/services/booking_service.py
  backend/openapi/openapi.json
  backend/scripts/create_test_booking.py
  backend/scripts/reset_and_seed_database.py
  backend/scripts/reset_and_seed_database_enhanced.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_chat_fixture.py
  backend/scripts/seed_utils.py
  backend/tests/integration/services/test_booking_service_comprehensive.py
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/routes/test_new_api_format.py
  backend/tests/unit/schemas/test_booking_location_validation.py
  frontend/features/student/booking/hooks/useCreateBooking.ts
  frontend/features/student/payment/types/index.ts
  frontend/features/student/payment/utils/__tests__/buildCreateBookingPayload.spec.ts
  frontend/features/student/payment/utils/buildCreateBookingPayload.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/types/api.ts
  frontend/types/booking.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(celery): patch Redis pubsub deprecation warning
  backend/app/tasks/celery_app.py
Due: none

feat(location): wire student saved addresses into checkout
  backend/app/tasks/celery_app.py
  backend/tests/conftest.py
  backend/tests/unit/constants/test_payment_status.py
  backend/tests/unit/core/test_ulid_helper_coverage.py
  backend/tests/unit/test_url_validation.py
  backend/tests/unit/test_week_streak.py
  backend/tests/unit/utils/test_bitset_edge_cases.py
  backend/tests/unit/utils/test_time_utils_errors.py
  frontend/components/booking/AddressSelector.tsx
  frontend/components/booking/__tests__/AddressSelector.test.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/utils/__tests__/buildCreateBookingPayload.spec.ts
  frontend/hooks/__tests__/useSavedAddresses.test.tsx
  frontend/hooks/useSavedAddresses.ts
  frontend/jest.setup.js
Due: frontend-eslint, frontend-public-env, frontend-no-console

refactor(types): tighten location type definitions across stack
  backend/.artifacts/api.expected.d.ts
  backend/app/schemas/admin_bookings.py
  backend/app/schemas/availability_responses.py
  backend/app/schemas/booking.py
  backend/app/schemas/booking_responses.py
  backend/app/schemas/common.py
  backend/app/schemas/pricing_preview.py
  backend/app/services/booking_service.py
  backend/openapi/openapi.json
  backend/tests/unit/schemas/test_location_type_literals.py
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/lib/pricing/__tests__/priceFloors.test.ts
  frontend/lib/pricing/priceFloors.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/types/api.ts
  frontend/types/__tests__/locationTypes.test.ts
  frontend/types/api.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(location): wire instructor teaching locations in student checkout
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/utils/__tests__/buildPricingPreviewQuotePayload.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(location): complete student checkout location selection
  frontend/features/shared/api/schemas/__tests__/schema-loaders.test.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/__tests__/lesson-location-toggle.spec.tsx
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(location): UI/UX polish for instructor and student flows
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/components/ui/ToggleSwitch.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/features/shared/api/schemas/__tests__/schema-loaders.test.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/__tests__/LocationOptions.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/lesson-location-toggle.spec.tsx
  frontend/features/student/payment/components/__tests__/payment-floor-validation.spec.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(location): instructor capability guardrails + UI polish
  backend/app/routes/v1/addresses.py
  backend/app/services/address_service.py
  backend/app/services/instructor_service.py
  backend/tests/integration/routes/test_addresses_strict.py
  backend/tests/integration/routes/test_instructor_preferred_places.py
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PreferredLocationsCard.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/profile/serviceAreaSubmit.ts
  frontend/app/(auth)/instructor/tests/profile.service-areas.submit.test.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(instructor-profile): resolve price/capability snap-back and toast spam
  frontend/components/modals/EditProfileModal.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(search): wire filter buttons + fix search tracking 500 error
  backend/app/routes/v1/search_history.py
  frontend/app/(public)/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/lib/searchTracking.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, frontend-no-console

feat(ui): format icons for skill cards + remove Message button
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/features/instructor-profile/components/ServiceCards.tsx
  frontend/features/instructor-profile/components/__tests__/ServiceCards.test.tsx
  package.json
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(location): Where They Teach section with privacy-safe approximate pins
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/005_search.py
  backend/app/models/instructor.py
  backend/app/repositories/instructor_preferred_place_repository.py
  backend/app/repositories/retriever_repository.py
  backend/app/routes/v1/favorites.py
  backend/app/schemas/instructor.py
  backend/app/schemas/nl_search.py
  backend/app/services/instructor_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/utils/location_privacy.py
  backend/openapi/openapi.json
  backend/scripts/reset_and_seed_database.py
  backend/tests/integration/api/test_instructor_profile_privacy.py
  backend/tests/integration/api/test_search_teaching_locations.py
  backend/tests/unit/services/test_instructor_teaching_location_privacy.py
  backend/tests/unit/services/test_jitter_coordinates.py
  frontend/app/(public)/instructors/[id]/__tests__/page.test.tsx
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/app/(public)/search/__tests__/map-pins.test.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/instructor/WhereTheyTeach.tsx
  frontend/components/instructor/__tests__/WhereTheyTeach.test.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
  frontend/components/maps/__tests__/InstructorCoverageMap.test.tsx
  frontend/features/instructor-profile/components/ServiceCards.tsx
  frontend/features/instructor-profile/hooks/useInstructorProfile.ts
  frontend/features/shared/api/schemas/instructorProfile.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/services/instructors.ts
  frontend/types/api.ts
  frontend/types/generated/api.d.ts
  frontend/types/instructor.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(search): performance optimization + location capabilities + map fixes
  backend/.artifacts/api.expected.d.ts
  backend/app/core/config.py
  backend/app/ratelimit/config.py
  backend/app/repositories/retriever_repository.py
  backend/app/routes/v1/addresses.py
  backend/app/routes/v1/public.py
  backend/app/routes/v1/services.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/nl_search_service.py
  backend/app/utils/location_privacy.py
  backend/openapi/openapi.json
  backend/tests/routes/test_addresses_coverage.py
  backend/tests/unit/services/test_jitter_coordinates.py
  frontend/app/(public)/search/__tests__/map-pins.test.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/components/instructor/WhereTheyTeach.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
  frontend/features/instructor-profile/components/ServiceCards.tsx
  frontend/hooks/queries/__tests__/useInstructorCoverage.test.tsx
  frontend/hooks/queries/__tests__/useInstructorSearch.test.tsx
  frontend/hooks/queries/__tests__/usePublicAvailability.test.tsx
  frontend/hooks/queries/__tests__/useServices.test.tsx
  frontend/hooks/queries/useInstructorCoverage.ts
  frontend/hooks/queries/useInstructorSearch.ts
  frontend/hooks/queries/usePublicAvailability.ts
  frontend/hooks/queries/useServices.ts
  frontend/hooks/useProfilePictureUrls.ts
  frontend/lib/react-query/queryClient.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/services/reviews.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(ui): align instructor card and profile page data consistency
  backend/.artifacts/api.expected.d.ts
  backend/app/schemas/instructor.py
  backend/app/utils/location_privacy.py
  backend/openapi/openapi.json
  backend/tests/unit/services/test_jitter_coordinates.py
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.spec.tsx
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/components/instructor/WhereTheyTeach.tsx
  frontend/components/ui/BGCBadge.tsx
  frontend/features/instructor-profile/components/AboutCard.tsx
  frontend/features/instructor-profile/components/InstructorHeader.tsx
  frontend/features/instructor-profile/components/ReviewsSection.tsx
  frontend/features/instructor-profile/components/ServiceCards.tsx
  frontend/features/instructor-profile/components/__tests__/AboutCard.test.tsx
  frontend/features/instructor-profile/components/__tests__/InstructorHeader.test.tsx
  frontend/features/instructor-profile/components/__tests__/ReviewsSection.test.tsx
  frontend/features/instructor-profile/hooks/useInstructorProfile.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(search): inline filter bar with dropdowns + sorting + infinite scroll
  frontend/app/(public)/search/page.tsx
  frontend/app/globals.css
  frontend/components/search/FilterBar.tsx
  frontend/components/search/__tests__/FilterBar.test.tsx
  frontend/components/search/filterTypes.ts
  frontend/components/search/filters/DateFilter.tsx
  frontend/components/search/filters/FilterButton.tsx
  frontend/components/search/filters/LocationFilter.tsx
  frontend/components/search/filters/MoreFiltersButton.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/components/search/filters/PriceFilter.tsx
  frontend/components/search/filters/TimeFilter.tsx
  frontend/hooks/queries/__tests__/useInstructorSearchInfinite.test.tsx
  frontend/hooks/queries/useInstructorSearch.ts
  frontend/hooks/queries/usePublicAvailability.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, frontend-no-console
