Repository msaedi/instructly: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console, gitleaks-system

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: scripts/precommit_frontend_eslint.sh
  language: script
  pass_filenames: true
  description: Run ESLint on staged frontend files only

frontend-public-env:
  name: Frontend public env verify
  entry: bash -lc "cd frontend && npm run verify:public-env --silent"
  language: system
  pass_filenames: false
  description: Verify public env usage when frontend files are staged

api-contracts:
  name: API Contract Check
  entry: backend/scripts/check_api_contracts_wrapper.sh
  language: script
  pass_filenames: false
  description: Check API endpoints follow contract standards
  always_run: false

check-timezone-usage:
  name: Check for date.today() usage in user code
  entry: backend/scripts/check_timezone_usage.py
  language: python
  description: Prevent timezone bugs by checking for date.today() in user-facing code

check-repository-pattern:
  name: Check Repository Pattern Compliance
  entry: python3 backend/scripts/check_repository_pattern.py
  language: system
  pass_filenames: false
  description: Ensures services only use repositories for database access

enforce-service-metrics:
  name: Enforce @BaseService.measure_operation on service methods
  entry: python3 backend/scripts/check_service_metrics.py
  language: system
  pass_filenames: true
  description: Ensure public methods in BaseService subclasses are decorated with metrics

frontend-no-console:
  name: Frontend no-console check (staged files)
  entry: frontend/scripts/precommit_no_console.sh
  language: script
  pass_filenames: true
  description: Fail commit if console.* is used in staged frontend TS/TSX files (tests/e2e excluded)

gitleaks-system:
  name: gitleaks (system)
  language: system
  entry: scripts/run-gitleaks.sh
  pass_filenames: false

fix: Add --clean --if-exists flags to pg_restore in verification workflow
  .github/workflows/backup-verification.yml
Due: none

fix: Use custom CI Postgres image with PostGIS/pgvector in backup verification
  .github/workflows/backup-verification.yml
Due: none

fix: Resolve Supabase linter warnings and improve backup verification
  .github/workflows/backup-verification.yml
  backend/alembic/versions/001_core_foundation.py
  backend/alembic/versions/003_availability_booking.py
  backend/alembic/versions/006_platform_features.py
Due: none

feat(notifications): add database foundation for notification system
  backend/alembic/versions/006_platform_features.py
  backend/app/models/__init__.py
  backend/app/models/notification.py
  backend/app/repositories/factory.py
  backend/app/repositories/notification_repository.py
  backend/tests/repositories/test_notification_repository.py
  metrics_history.json
Due: none

feat(notifications): add push notification backend infrastructure
  backend/.env.example
  backend/app/core/config.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/push.py
  backend/app/schemas/push.py
  backend/app/services/push_notification_service.py
  backend/requirements.txt
  backend/scripts/generate_vapid_keys.py
  backend/tests/routes/v1/test_push_routes.py
  backend/tests/unit/services/test_push_notification_service.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(notifications): add push notification frontend infrastructure
  backend/scripts/test_push_notification.py
  frontend/__tests__/api/pushNotifications.test.ts
  frontend/__tests__/hooks/usePushNotifications.test.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/features/shared/api/pushNotifications.ts
  frontend/features/shared/hooks/usePushNotifications.ts
  frontend/public/icons/badge-72x72.png
  frontend/public/icons/icon-192x192.png
  frontend/public/sw.js
Due: frontend-eslint, frontend-public-env, frontend-no-console

feat(notifications): add notification inbox with bell dropdown (Phase 3)
  backend/.artifacts/api.expected.d.ts
  backend/.repository-migration-tracking.json
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/notification_repository.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/notifications.py
  backend/app/schemas/notifications.py
  backend/app/services/messaging/sse_stream.py
  backend/app/services/notification_service.py
  backend/openapi/openapi.json
  backend/scripts/test_notification_inbox.py
  backend/tests/routes/v1/test_notification_routes.py
  backend/tests/test_routes_invariants.py
  backend/tests/unit/services/test_notification_service.py
  frontend/__tests__/components/NotificationBell.test.tsx
  frontend/__tests__/hooks/useNotifications.test.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/components/notifications/NotificationBell.tsx
  frontend/components/notifications/NotificationIcon.tsx
  frontend/components/notifications/NotificationItem.tsx
  frontend/features/shared/api/notifications.ts
  frontend/features/shared/hooks/useNotifications.ts
  frontend/hooks/useUserMessageStream.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/notifications-v1/notifications-v1.ts
  frontend/src/api/generated/push-v1/push-v1.ts
  frontend/types/generated/api.d.ts
  frontend/types/messaging.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(notifications): wire real events to notification system (Phase 4)
  backend/alembic/versions/006_platform_features.py
  backend/app/models/booking.py
  backend/app/routes/v1/reviews.py
  backend/app/services/booking_service.py
  backend/app/services/notification_service.py
  backend/app/services/notification_templates.py
  backend/app/services/review_service.py
  backend/app/tasks/all_tasks.py
  backend/app/tasks/beat_schedule.py
  backend/app/tasks/notification_tasks.py
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(notifications): add notification preferences API (Phase 5)
  backend/.artifacts/api.expected.d.ts
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/notification_preferences.py
  backend/app/schemas/notification_preferences.py
  backend/app/services/notification_preference_service.py
  backend/app/services/notification_service.py
  backend/openapi/openapi.json
  backend/scripts/export_openapi.py
  backend/tests/routes/v1/test_notification_preferences_routes.py
  backend/tests/unit/services/test_notification_preference_service.py
  frontend/__tests__/hooks/useNotificationPreferences.test.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/features/shared/api/notificationPreferences.ts
  frontend/features/shared/hooks/useNotificationPreferences.ts
  frontend/src/api/generated/availability/availability.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/notification-preferences-v1/notification-preferences-v1.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(notifications): add email preference checking (Phase 6)
  backend/app/services/booking_service.py
  backend/app/services/notification_service.py
  backend/app/services/notification_templates.py
  backend/app/tasks/notification_tasks.py
  backend/tests/integration/test_email_preference_flow.py
  backend/tests/unit/services/test_email_preferences.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(notifications): add SMS notifications with Twilio (Phase 7)
  backend/.artifacts/api.expected.d.ts
  backend/.env.example
  backend/alembic/versions/006_platform_features.py
  backend/app/api/dependencies/services.py
  backend/app/core/config.py
  backend/app/models/user.py
  backend/app/routes/v1/account.py
  backend/app/routes/v1/auth.py
  backend/app/schemas/auth_responses.py
  backend/app/schemas/phone.py
  backend/app/schemas/user.py
  backend/app/services/booking_service.py
  backend/app/services/notification_service.py
  backend/app/services/sms_service.py
  backend/app/services/sms_templates.py
  backend/app/tasks/notification_tasks.py
  backend/openapi/openapi.json
  backend/requirements.txt
  backend/tests/integration/test_sms_notifications.py
  backend/tests/unit/services/test_sms_service.py
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/features/shared/api/phone.ts
  frontend/features/shared/hooks/usePhoneVerification.ts
  frontend/src/api/generated/account-v1/account-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(notifications): bug fixes for SMS and booking notification flow
  backend/.env.example
  backend/app/core/config.py
  backend/app/services/booking_service.py
  backend/app/services/sms_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment_tasks.py
  frontend/__tests__/hooks/useMyLessons.test.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/hooks/useMyLessons.ts
Due: frontend-eslint, frontend-public-env, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(ui): polish instructor SMS preferences section
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

chore(assets): update favicon and notification icons with A-team branding
  frontend/app/android-chrome-192x192.png
  frontend/app/android-chrome-512x512.png
  frontend/app/apple-touch-icon.png
  frontend/app/favicon-16x16.png
  frontend/app/favicon-32x32.png
  frontend/app/favicon.ico
  frontend/public/icons/badge-72x72.png
Due: frontend-public-env

feat(notifications): wire student notification preferences to backend
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/006_platform_features.py
  backend/app/models/notification.py
  backend/app/repositories/notification_repository.py
  backend/app/schemas/notification_preferences.py
  backend/openapi/openapi.json
  backend/tests/repositories/test_notification_repository.py
  backend/tests/routes/v1/test_notification_preferences_routes.py
  backend/tests/unit/services/test_notification_preference_service.py
  frontend/__tests__/hooks/useNotificationPreferences.test.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/features/shared/api/notificationPreferences.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(notifications): wire email/SMS to message notifications
  backend/app/routes/v1/auth.py
  backend/app/services/conversation_service.py
  backend/app/services/notification_service.py
  backend/app/services/sms_templates.py
  metrics_history.json
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(notifications): add always-on security & financial notifications
  backend/app/routes/v1/auth.py
  backend/app/services/notification_service.py
  backend/app/services/sms_templates.py
  backend/app/services/stripe_service.py
  backend/app/services/template_registry.py
  backend/app/services/template_service.py
  backend/app/templates/email/base.html
  backend/app/templates/email/booking/new_message.html
  backend/app/templates/email/payout/payout_sent.html
  backend/app/templates/email/security/new_device_login.html
  backend/app/templates/email/security/password_changed.html
Due: api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(notifications): add reviews category and remaining notification types
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/006_platform_features.py
  backend/app/models/notification.py
  backend/app/repositories/notification_repository.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/schemas/notification_preferences.py
  backend/app/services/notification_service.py
  backend/app/services/notification_templates.py
  backend/app/services/review_service.py
  backend/app/services/sms_templates.py
  backend/app/services/template_registry.py
  backend/app/tasks/payment_tasks.py
  backend/app/templates/email/payment/payment_failed.html
  backend/app/templates/email/reviews/new_review.html
  backend/app/templates/email/reviews/review_response.html
  backend/app/templates/email/security/2fa_changed.html
  backend/openapi/openapi.json
  backend/tests/repositories/test_notification_repository.py
  backend/tests/routes/v1/test_notification_preferences_routes.py
  backend/tests/unit/services/test_notification_preference_service.py
  frontend/__tests__/hooks/useNotificationPreferences.test.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/components/notifications/NotificationIcon.tsx
  frontend/features/shared/api/notificationPreferences.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(student): add pagination to My Lessons with infinite query
  frontend/__tests__/hooks/useMyLessons.test.tsx
  frontend/__tests__/pages/lessons/MyLessonsPage.test.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/hooks/useMyLessons.ts
  frontend/src/api/queryKeys.ts
  frontend/src/api/services/bookings.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(ui): unify notification preferences with toggle switches
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
Due: frontend-eslint, frontend-public-env, frontend-no-console

fix(notifications): address critical and high audit findings
  backend/.repository-migration-tracking.json
  backend/app/api/dependencies/services.py
  backend/app/routes/v1/account.py
  backend/app/routes/v1/notification_preferences.py
  backend/app/services/booking_service.py
  backend/app/services/notification_preference_service.py
  backend/app/services/notification_service.py
  backend/app/services/sms_service.py
  backend/app/tasks/payment_tasks.py
  backend/requirements-dev.txt
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(notifications): address medium priority audit findings
  backend/app/routes/v1/account.py
  backend/app/services/sms_service.py
  backend/app/tasks/notification_tasks.py
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

fix(e2e): stabilize availability calendar tests with next-week context
  frontend/e2e/calendar.spec.ts
  frontend/e2e/tests/availability-conflict.spec.ts
Due: frontend-eslint, frontend-public-env, frontend-no-console

refactor(notifications): address low-priority audit suggestions
  backend/app/services/notification_service.py
  backend/app/services/push_notification_service.py
  backend/tests/integration/test_notification_flow.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

fix(security): address round 2 audit findings for notifications
  backend/alembic/versions/006_platform_features.py
  backend/app/models/notification.py
  backend/app/routes/v1/account.py
  backend/app/schemas/push.py
  backend/app/services/sms_service.py
  backend/openapi/openapi.json
  backend/tests/routes/v1/test_account_phone_verification.py
  frontend/components/notifications/NotificationBell.tsx
  frontend/components/notifications/NotificationItem.tsx
  frontend/features/shared/hooks/useNotifications.ts
  frontend/src/api/generated/instructly.schemas.ts
Due: frontend-eslint, frontend-public-env, api-contracts, check-timezone-usage, check-repository-pattern, enforce-service-metrics, frontend-no-console

feat(db): add index on notifications.type for analytics queries
  backend/alembic/versions/006_platform_features.py
  backend/app/models/notification.py
Due: none

fix(notifications): address final audit items + fix session concurrency
  backend/alembic/versions/006_platform_features.py
  backend/app/models/notification.py
  backend/app/repositories/notification_repository.py
  backend/app/services/notification_service.py
  backend/app/services/sms_service.py
  backend/tests/conftest.py
  backend/tests/repositories/test_notification_repository.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(tests): Tier 2 security/auth coverage improvement
  backend/tests/routes/v1/admin/test_auth_blocks_coverage.py
  backend/tests/unit/core/test_login_protection_coverage.py
  backend/tests/unit/dependencies/test_auth_coverage.py
  backend/tests/unit/dependencies/test_authz_coverage.py
  backend/tests/unit/middleware/test_rate_limiter_asgi_coverage.py
  backend/tests/unit/services/test_auth_service_coverage.py
  backend/tests/unit/test_auth_session_coverage.py
Due: none

feat(tests): Tier 1 payment/booking coverage complete
  backend/.repository-migration-tracking.json
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/integration/tasks/test_payment_tasks_integration.py
  backend/tests/services/test_booking_payment_service.py
  backend/tests/unit/services/test_booking_service_coverage.py
  backend/tests/unit/services/test_bulk_operation_service_coverage.py
  backend/tests/unit/services/test_referral_checkout_service_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_coverage.py
  docs/session-handoffs/session-handoff-v125.md
  metrics_history.json
Due: none

feat(tests): Tier 3 core business logic coverage complete
  backend/tests/integration/services/test_availability_service_coverage.py
  backend/tests/integration/services/test_review_service_int.py
  backend/tests/integration/tasks/test_notification_tasks_int.py
  backend/tests/integration/test_favorites.py
  backend/tests/test_service_catalog_enhancements.py
  backend/tests/unit/services/test_review_service_coverage.py
  backend/tests/unit/tasks/test_notification_tasks_coverage.py
Due: none

feat(tests): Tier 4 search/NL coverage complete
  backend/tests/integration/repositories/test_filter_repository_coverage.py
  backend/tests/integration/repositories/test_ranking_repository_coverage.py
  backend/tests/integration/repositories/test_retriever_repository_coverage.py
  backend/tests/integration/repositories/test_search_analytics_repository_coverage.py
  backend/tests/integration/services/nl_search/test_location_llm_service_coverage.py
  backend/tests/integration/services/nl_search/test_nl_search_service_integration.py
  backend/tests/routes/v1/admin/test_location_learning_admin_coverage.py
  backend/tests/unit/services/search/test_alias_learning_service.py
Due: none

feat(tests): Tier 5 infrastructure coverage complete
  backend/tests/integration/services/test_cache_service_coverage.py
  backend/tests/unit/core/test_config_coverage.py
  backend/tests/unit/services/test_email_service.py
  backend/tests/unit/services/test_email_service_coverage.py
  backend/tests/unit/services/test_sms_service_coverage.py
  backend/tests/unit/test_celery_app_coverage.py
Due: none

chore(deps): update dependencies
  backend/requirements-celery.txt
  backend/requirements-flower.txt
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: frontend-public-env

fix(api): document 503 response for VAPID endpoint
  backend/app/routes/v1/push.py
Due: api-contracts, check-timezone-usage

fix(rate-limiter): handle endpoints with 'request' body parameter
  backend/app/middleware/rate_limiter.py
  backend/tests/unit/middleware/test_rate_limiter_request_body_collision.py
Due: none

fix(instructor): use PermissionService for role assignment
  backend/app/services/instructor_service.py
  backend/tests/integration/services/test_instructor_service_coverage.py
Due: check-timezone-usage, check-repository-pattern, enforce-service-metrics

feat(tests): Tier 6 coverage complete - messaging, repos, services
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/integration/repositories/test_conversation_repository_coverage.py
  backend/tests/integration/repositories/test_conversation_state_repository_coverage.py
  backend/tests/integration/repositories/test_instructor_profile_repository_coverage.py
  backend/tests/integration/repositories/test_message_repository_coverage.py
  backend/tests/integration/repositories/test_review_repository_coverage.py
  backend/tests/integration/repositories/test_user_repository_coverage.py
  backend/tests/integration/services/test_address_service_coverage.py
  backend/tests/integration/services/test_conversation_service_coverage.py
  backend/tests/integration/services/test_instructor_service_coverage.py
  backend/tests/integration/services/test_message_service_coverage.py
  backend/tests/integration/services/test_notification_service_coverage.py
  backend/tests/integration/services/test_permission_service_coverage.py
  backend/tests/integration/tasks/test_payment_tasks_integration.py
  backend/tests/routes/test_account_routes_coverage.py
  backend/tests/routes/test_messages_routes_coverage.py
  metrics_history.json
Due: none

chore: add pytest-timeout and coverage threshold (80%)
  .github/workflows/backend-ci.yml
  backend/pyproject.toml
  backend/requirements-dev.txt
Due: none

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-public-env: any of: ^frontend/.*
  api-contracts: any of: ^backend/app/routes/.*\.py$
  check-timezone-usage: any of: ^backend/app/(routes|services|api)/.*\.py$, but not: ^backend/app/services/(cache_service|logging_service|metrics_service)\.py$
  check-repository-pattern: any of: ^backend/app/(services|core)/.*\.py$
  enforce-service-metrics: any of: ^backend/app/services/.*\.py$
  frontend-no-console: any of: ^frontend/.*\.(ts|tsx)$
  gitleaks-system: any of: ^(frontend|backend)/
, but not: (?x)
^frontend/\.next/|
^frontend/node_modules/|
^frontend/.artifacts/|
^frontend/dist/|
^frontend/coverage/|
^frontend/playwright-report/|
^backend/(?:\.?venv|\.mypy_cache|\.pytest_cache|\.ruff_cache)/|
^backend/alembic/|
\.(snap|map|lock|md|png|jpg|jpeg|gif|svg|ico|pdf|csv|geojson)$

