Repository msaedi/instructly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, mcp-server

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
      backend:
        target: 95%
        flags:
          - backend
      frontend:
        target: 93%
        flags:
          - frontend
      mcp-server:
        target: 90%
        flags:
          - mcp-server
    patch:
      default:
        target: 80%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true
  mcp-server:
    paths:
      - mcp-server/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

feat(calendar): Phase 2C polish — paint-mode toolbar + visual fixes
  frontend/__tests__/availability/paletteMapping.test.tsx
  frontend/app/(auth)/instructor/availability/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/components/Modal.tsx
  frontend/components/__tests__/Modal.test.tsx
  frontend/components/availability/CalendarSettingsAcknowledgementModal.tsx
  frontend/components/availability/CalendarSettingsSection.tsx
  frontend/components/availability/FormatTagPaintToolbar.tsx
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/availability/NoTravelIcon.tsx
  frontend/components/availability/__tests__/CalendarSettingsAcknowledgementModal.test.tsx
  frontend/components/availability/__tests__/CalendarSettingsSection.test.tsx
  frontend/components/availability/__tests__/FormatTagPaintToolbar.test.tsx
  frontend/components/availability/__tests__/InteractiveGrid.test.tsx
  frontend/components/availability/__tests__/NoTravelIcon.test.tsx
  frontend/components/availability/__tests__/calendarSettings.test.ts
  frontend/components/availability/calendarSettings.ts
  frontend/components/calendar/WeekView.tsx
  frontend/components/calendar/__tests__/WeekView.test.tsx
  metrics_history.json
Due: frontend

fix(calendar): audit fixes — copy tags, bidirectional buffers, capability parity
  backend/app/services/availability_service.py
  backend/app/services/booking_service.py
  backend/app/services/week_operation_service.py
  backend/tests/integration/availability/test_week_bitmap_routes.py
  backend/tests/integration/services/test_availability_service_coverage.py
  backend/tests/integration/services/test_week_operation_missing_coverage_db.py
  backend/tests/routes/test_public_availability.py
  backend/tests/unit/services/search/test_filter_service_r4.py
  backend/tests/unit/services/test_booking_service.py
Due: backend

fix(calendar): audit round 2 — reschedule preflight, service-area parity, midnight check
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/bookings.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/openapi/openapi.json
  backend/tests/routes/test_bookings.py
  backend/tests/schemas/test_booking_schema_additional_coverage.py
  backend/tests/unit/services/test_booking_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

fix(calendar): audit round 3 — stale tag invariant + ORM model drift
  backend/app/models/availability_day.py
  backend/app/repositories/availability_day_repository.py
  backend/app/services/availability_service.py
  backend/tests/integration/availability/test_week_bitmap_routes.py
  backend/tests/integration/services/test_availability_service_coverage.py
  backend/tests/models/test_model_validation.py
  backend/tests/repositories/test_availability_day_repository_coverage.py
Due: backend

fix(deps): upgrade pyjwt 2.11.0 → 2.12.0 (CVE-2026-32597)
  backend/requirements.txt
Due: backend

fix(e2e): align availability mocks with bitmap week API
  frontend/e2e/calendar.spec.ts
  frontend/e2e/tests/availability-conflict.spec.ts
  metrics_history.json
Due: frontend

fix(calendar): CI review fixes — N+1 config, falsy config, boolean coercion, PENDING conflicts
  backend/app/repositories/conflict_checker_repository.py
  backend/app/services/availability_service.py
  backend/app/services/config_service.py
  backend/app/services/conflict_checker.py
  backend/tests/repositories/test_conflict_checker_repository_coverage.py
  backend/tests/unit/services/test_availability_service_branch_coverage_extra.py
  backend/tests/unit/services/test_config_service_coverage.py
  backend/tests/unit/services/test_conflict_checker_coverage_r5.py
  backend/tests/unit/services/test_conflict_checker_logic.py
Due: backend

fix(calendar): final polish — DI consistency, advisory locks, warnings, validator msg
  backend/app/repositories/booking_repository.py
  backend/app/schemas/booking_rules_config.py
  backend/app/services/availability_service.py
  backend/app/services/booking_service.py
  backend/app/services/conflict_checker.py
  backend/tests/schemas/test_booking_rules_config.py
  backend/tests/unit/repositories/test_booking_repository_additional_coverage.py
  backend/tests/unit/services/test_availability_service_branch_coverage_extra.py
  backend/tests/unit/services/test_availability_service_logic.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_conflict_checker_logic.py
Due: backend

fix(calendar): pre-existing cleanup — DI, dedup, schema, timezone, observability
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/availability_day.py
  backend/app/repositories/filter_repository.py
  backend/app/routes/v1/availability_windows.py
  backend/app/routes/v1/search.py
  backend/app/services/availability_service.py
  backend/app/services/config_service.py
  backend/app/services/conflict_checker.py
  backend/app/services/search/filter_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/utils/bitset.py
  backend/tests/integration/db/test_edge_cases_circular_and_soft_delete.py
  backend/tests/integration/repositories/test_filter_repository_coverage.py
  backend/tests/models/test_model_validation.py
  backend/tests/unit/repositories/test_filter_repository_additional_coverage.py
  backend/tests/unit/services/search/test_filter_service.py
  backend/tests/unit/services/search/test_filter_service_r4.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/test_conflict_checker_logic.py
  backend/tests/unit/utils/test_bitset_tags.py
  frontend/lib/calendar/__tests__/bitset.test.ts
  frontend/lib/calendar/bitset.ts
Due: backend, frontend

fix(calendar): CI review — inject ConfigService in BookingService, TAG_RESERVED comment, schema example
  backend/app/schemas/public_availability.py
  backend/app/services/booking_service.py
  backend/app/utils/bitset.py
  backend/tests/unit/services/test_booking_service.py
  backend/tests/unit/services/test_booking_service_missed_coverage.py
Due: backend

fix: tech debt audit fixes — S2 completion, A2 cleanup, booking UI regression
  backend/.artifacts/api.expected.d.ts
  backend/app/models/availability_day.py
  backend/app/routes/v1/bookings.py
  backend/app/services/availability_service.py
  backend/app/services/week_operation_service.py
  backend/openapi/openapi.json
  backend/scripts/seed_data/seed_taxonomy.py
  backend/tests/integration/services/test_week_operation_missing_coverage_db.py
  backend/tests/routes/test_bookings.py
  backend/tests/unit/services/test_availability_service_edge_coverage.py
  backend/tests/unit/services/test_week_operation_edge_coverage.py
  frontend/app/(auth)/instructor/bookings/[id]/__tests__/page.test.tsx
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/features/bookings/components/BookingList.tsx
  frontend/features/bookings/components/__tests__/BookingList.test.tsx
  frontend/features/shared/api/client.ts
  frontend/features/shared/api/types.ts
  frontend/hooks/queries/useInstructorBookings.ts
  frontend/src/api/generated/bookings-v1/bookings-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/booking.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

ci(workflows): use strict-all typecheck only
  .github/workflows/ci.yml
  .github/workflows/frontend-lint-build.yml
Due: none

chore(skills): remove redundant typecheck steps from verify skill
  .claude/skills/instainstru-verify/SKILL.md
  .claude/skills/instainstru-verify/scripts/verify.sh
Due: none

fix(security): final privacy + DI + cache — preview leak, favorites leak, ConfigService injection, pricing cache
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/bookings.py
  backend/app/routes/v1/favorites.py
  backend/app/schemas/booking_responses.py
  backend/app/schemas/favorites.py
  backend/app/services/admin_booking_service.py
  backend/app/services/beta_service.py
  backend/app/services/config_service.py
  backend/app/services/instructor_lifecycle_service.py
  backend/app/services/instructor_service.py
  backend/app/services/review_service.py
  backend/openapi/openapi.json
  backend/tests/integration/test_favorites.py
  backend/tests/routes/test_bookings.py
  backend/tests/routes/test_bookings_privacy.py
  backend/tests/routes/test_favorites_routes_coverage.py
  backend/tests/unit/services/test_config_service_coverage.py
  backend/tests/unit/services/test_instructor_lifecycle_coverage.py
  backend/tests/unit/services/test_instructor_service_branch_coverage_extra.py
  backend/tests/unit/services/test_review_service_coverage.py
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/components/BookingQuickPreview.tsx
  frontend/components/__tests__/BookingQuickPreview.test.tsx
  frontend/components/user/UserAvatar.tsx
  frontend/lib/api.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/booking.ts
  frontend/types/generated/api.d.ts
  frontend/types/instructor.ts
Due: backend, frontend

fix(security): full privacy sweep — student PII + symmetric name rules
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/bookings.py
  backend/app/routes/v1/conversations.py
  backend/app/schemas/account_lifecycle.py
  backend/app/schemas/booking.py
  backend/app/services/messaging/publisher.py
  backend/app/services/notification_service.py
  backend/app/templates/email/booking/cancellation_confirmation_instructor.html
  backend/app/templates/email/booking/cancellation_instructor.html
  backend/app/templates/email/booking/completed_instructor.html
  backend/app/templates/email/booking/confirmation_instructor.html
  backend/app/templates/email/booking/reminder_instructor.html
  backend/app/utils/privacy.py
  backend/openapi/openapi.json
  backend/tests/integration/services/test_notification_service_templates.py
  backend/tests/integration/test_student_privacy_sweep.py
  backend/tests/routes/test_bookings.py
  backend/tests/routes/test_conversations_coverage.py
  backend/tests/schemas/test_booking_schema_additional_coverage.py
  backend/tests/unit/services/messaging/test_publisher_coverage.py
  frontend/components/UpcomingLessons.tsx
  frontend/components/__tests__/UpcomingLessons.test.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/booking.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

fix(bookings): tighten privacy responses and align instructor tests
  frontend/e2e/tests/instructor.bookings-list.spec.ts
Due: frontend

chore(types): audit production type-ignore usage
  .pre-commit-config.yaml
  backend/app/services/search/nl_search_service.py
  backend/app/services/template_service.py
  backend/docs/dev/production_type_ignores.md
  backend/scripts/audit_production_type_ignores.py
  backend/type_ignore_allowlist.json
Due: backend

fix(platform): auto-bio guard, dead code removal, corruption recovery test, shim cleanup
  backend/app/services/instructor_service.py
  backend/app/services/week_operation_service.py
  backend/tests/integration/services/test_week_operation_missing_coverage_db.py
  backend/tests/unit/services/test_week_operation_edge_coverage.py
Due: backend

fix(test): CI failures — hardcoded paths + FK constraint in repository tests
  backend/tests/integration/test_instructor_privacy_protection.py
  backend/tests/privacy/test_complete_endpoint_privacy.py
  backend/tests/repositories/test_availability_day_repository_coverage.py
  backend/tests/routes/test_instructor_privacy_protection.py
  backend/tests/test_privacy_protection.py
Due: backend

fix(test): e2e mock data — dotted initials matching API contract
  frontend/e2e/calendar.spec.ts
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/fixtures/video-lesson-mocks.ts
  frontend/e2e/instructor-referrals.spec.ts
  frontend/e2e/tests/booking-journey.spec.ts
  frontend/e2e/tests/instructor.bookings-list.spec.ts
  frontend/e2e/tests/instructor.dashboard-reviews.spec.ts
  frontend/e2e/tests/my-lessons.spec.ts
Due: frontend

fix(security): exclude onboarding fields from public schema, safe display name fallback
  backend/app/routes/v1/conversations.py
  backend/app/schemas/instructor.py
  backend/app/services/messaging/publisher.py
  backend/app/utils/privacy.py
  backend/tests/integration/test_instructor_privacy_protection.py
  backend/tests/unit/schemas/test_instructor_schemas.py
  backend/tests/unit/services/messaging/test_publisher_coverage.py
  backend/tests/unit/utils/test_privacy.py
  metrics_history.json
Due: backend

chore(ci): upgrade Claude model to 1M context variant in workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(platform): tech debt remediation — reschedule extraction, security hardening, query optimization
  backend/app/repositories/booking_repository.py
  backend/app/repositories/message_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/routes/v1/bookings.py
  backend/app/routes/v1/conversations.py
  backend/app/routes/v1/instructor_bookings.py
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/public.py
  backend/app/schemas/booking.py
  backend/app/schemas/instructor.py
  backend/app/services/beta_service.py
  backend/app/services/booking_service.py
  backend/app/services/conversation_service.py
  backend/app/services/dependencies.py
  backend/app/services/instructor_service.py
  backend/app/services/notification_provider.py
  backend/app/services/notification_service.py
  backend/app/services/privacy_service.py
  backend/app/services/search/embedding_provider.py
  backend/app/services/search/location_embedding_service.py
  backend/app/services/search/location_llm_service.py
  backend/app/services/two_factor_auth_service.py
  backend/docs/dev/production_type_ignores.md
  backend/tests/integration/services/test_notification_service_templates.py
  backend/tests/integration/test_booking_mutex_endpoints.py
  backend/tests/integration/test_student_privacy_sweep.py
  backend/tests/routes/test_bookings.py
  backend/tests/routes/test_instructor_bookings_routes_coverage.py
  backend/tests/routes/test_instructors_routes_coverage.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_public_availability.py
  backend/tests/routes/test_public_simple.py
  backend/tests/services/test_privacy_service.py
  backend/tests/unit/services/search/test_location_embedding_service_coverage.py
  backend/tests/unit/services/search/test_location_llm_service_coverage.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_notification_service.py
  backend/tests/unit/services/test_privacy_service_missed_coverage.py
  backend/tests/unit/test_caching_implementation.py
  backend/tests/unit/test_quick_coverage_wins.py
Due: backend

fix(platform): final audit fixes — reschedule logging, conversation typed errors, catalog validation
  backend/app/routes/v1/conversations.py
  backend/app/services/booking_service.py
  backend/tests/routes/test_conversations_coverage.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
Due: backend

fix(platform): audit fixes — conversation fallback sort removed, catalog validation fixed
  backend/app/routes/v1/conversations.py
  backend/app/services/instructor_service.py
  backend/tests/routes/test_conversations_coverage.py
  backend/tests/unit/services/test_instructor_service.py
  metrics_history.json
Due: backend

fix(platform): reschedule student-only guard, service hardening, referral test
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/bookings.py
  backend/app/services/booking_service.py
  backend/openapi/openapi.json
  backend/tests/integration/test_booking_mutex_endpoints.py
  backend/tests/routes/test_bookings.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  frontend/src/api/generated/bookings-v1/bookings-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/instructor-bookings-v1/instructor-bookings-v1.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

fix(platform): cached query bug, conversation cleanup, reschedule student guard
  backend/app/repositories/booking_repository.py
Due: backend

chore(deps): batch dependency updates March 2026
  .github/workflows/build-ci-database.yml
  backend/app/repositories/booking_repository.py
  backend/requirements-celery.txt
  backend/requirements-flower.txt
  backend/requirements.txt
  backend/tests/unit/services/search/test_location_embedding_service_coverage.py
  backend/tests/unit/services/search/test_location_llm_service_coverage.py
  backend/tests/unit/test_caching_implementation.py
  frontend/package-lock.json
  frontend/package.json
  scripts/investigate-github-repos.sh
Due: backend, frontend

docs: session handoffs v141 (Calendar Beast) and v142 (tech debt remediation)
  docs/session-handoffs/session-handoff-v141.md
  docs/session-handoffs/session-handoff-v142.md
Due: none

feat(payments): migrate CardElement → PaymentElement
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/payments.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/openapi/openapi.json
  backend/tests/services/test_booking_payment_service.py
  backend/tests/services/test_stripe_service.py
  backend/tests/unit/services/test_stripe_service_missed_coverage.py
  frontend/app/(auth)/student/review/[id]/page.tsx
  frontend/components/booking/CheckoutFlow.tsx
  frontend/components/booking/__tests__/CheckoutFlow.test.tsx
  frontend/components/student/PaymentMethods.tsx
  frontend/components/student/__tests__/PaymentMethods.test.tsx
  frontend/features/shared/payment/utils/__tests__/stripe.test.ts
  frontend/features/shared/payment/utils/stripe.ts
  frontend/features/student/payment/components/PaymentMethodSelection.tsx
  frontend/features/student/payment/components/__tests__/PaymentMethodSelection.test.tsx
  frontend/services/api/payments.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/payments-v1/payments-v1.ts
  frontend/types/generated/api.d.ts
  metrics_history.json
Due: backend, frontend

feat(payments): migrate CardElement → PaymentElement
  backend/app/routes/v1/payments.py
  backend/app/services/stripe_service.py
  backend/tests/unit/services/test_stripe_service_missed_coverage.py
  frontend/components/booking/CheckoutFlow.tsx
  frontend/components/booking/__tests__/CheckoutFlow.test.tsx
  frontend/components/student/PaymentMethods.tsx
  frontend/components/student/__tests__/PaymentMethods.test.tsx
  frontend/features/shared/payment/utils/__tests__/stripe.test.ts
  frontend/features/shared/payment/utils/stripe.ts
  frontend/features/student/payment/components/PaymentMethodSelection.tsx
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/PaymentMethodSelection.test.tsx
Due: backend, frontend

fix(payments): resolve CI review findings and patch Next.js security vulnerabilities
  .claude/settings.json
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/payments.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/stripe_service.py
  backend/tests/unit/services/test_stripe_service_missed_coverage.py
  frontend/app/(auth)/student/review/[id]/page.tsx
  frontend/components/booking/CheckoutFlow.tsx
  frontend/components/booking/__tests__/CheckoutFlow.test.tsx
  frontend/components/student/PaymentMethods.tsx
  frontend/features/student/payment/components/PaymentMethodSelection.tsx
  frontend/features/student/payment/components/__tests__/PaymentMethodSelection.test.tsx
  frontend/package-lock.json
  frontend/services/api/payments.ts
  metrics_history.json
Due: backend, frontend
