Repository msaedi/instructly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, mcp-server

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
      backend:
        target: 95%
        flags:
          - backend
      frontend:
        target: 93%
        flags:
          - frontend
      mcp-server:
        target: 90%
        flags:
          - mcp-server
    patch:
      default:
        target: 80%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true
  mcp-server:
    paths:
      - mcp-server/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

fix(video): 100ms post-audit remediation — 2 critical + 7 medium findings
  backend/app/main.py
  backend/app/ratelimit/config.py
  backend/app/ratelimit/mapping.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/tasks/video_tasks.py
  backend/tests/repositories/test_booking_repository_video_no_show_candidates.py
  backend/tests/routes/test_webhooks_hundredms.py
  backend/tests/unit/ratelimit/test_mapping_coverage.py
  backend/tests/unit/routes/test_webhooks_hundredms.py
  backend/tests/unit/tasks/test_video_tasks.py
  backend/tests/unit/test_startup_encryption_guard.py
  frontend/app/(auth)/lessons/[bookingId]/__tests__/page.test.tsx
  frontend/app/(auth)/lessons/[bookingId]/page.tsx
  frontend/components/lessons/video/ActiveLesson.tsx
  frontend/components/lessons/video/__tests__/ActiveLesson.test.tsx
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
Due: backend, frontend

fix(video): design consistency pass + recoverable error boundary
  frontend/app/(auth)/lessons/[bookingId]/__tests__/page.test.tsx
  frontend/app/(auth)/lessons/[bookingId]/page.tsx
  frontend/app/globals.css
  frontend/components/lessons/video/ActiveLesson.tsx
  frontend/components/lessons/video/JoinLessonButton.tsx
  frontend/components/lessons/video/LessonEnded.tsx
  frontend/components/lessons/video/NotJoinable.tsx
  frontend/components/lessons/video/PreLessonWaiting.tsx
  frontend/components/lessons/video/__tests__/ActiveLesson.test.tsx
  frontend/components/ui/button.utils.ts
Due: frontend

fix(bookings): remove stale conflict-check cache causing false scheduling conflicts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/conflict-check.spec.tsx
Due: frontend

fix(availability): invalidate React Query availability cache after booking cancellation
  frontend/hooks/__tests__/useMyLessons.test.ts
  frontend/hooks/useMyLessons.ts
  metrics_history.json
Due: frontend

fix(video): Round 3 audit remediation — 12 findings implemented
  backend/app/integrations/hundredms_client.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/webhook_event_repository.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/schemas/booking.py
  backend/app/services/booking_service.py
  backend/app/services/video_service.py
  backend/app/services/webhook_ledger_service.py
  backend/app/tasks/video_tasks.py
  backend/tests/repositories/test_webhook_event_repository.py
  backend/tests/routes/test_webhooks_hundredms.py
  backend/tests/schemas/test_booking_schema_additional_coverage.py
  backend/tests/services/test_privacy_service.py
  backend/tests/services/test_webhook_ledger_service.py
  backend/tests/unit/integrations/test_hundredms_client.py
  backend/tests/unit/services/test_video_service.py
  backend/tests/unit/tasks/test_video_tasks.py
  frontend/components/lessons/LessonCard.tsx
  frontend/components/lessons/video/PreLessonWaiting.tsx
  frontend/components/lessons/video/__tests__/PreLessonWaiting.test.tsx
  frontend/hooks/__tests__/useCountdown.test.ts
  frontend/hooks/useCountdown.ts
  frontend/hooks/useSharedTicker.ts
  frontend/next.config.ts
Due: backend, frontend

fix(video): widen CSP for 100ms resources + hide settings gear crash trigger
  frontend/app/globals.css
  frontend/components/lessons/video/JoinLessonButton.tsx
  frontend/components/lessons/video/__tests__/JoinLessonButton.test.tsx
  frontend/next.config.ts
Due: frontend

fix(video): backend webhook user_id extraction + lesson completion screen
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/lessons.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/services/video_service.py
  backend/openapi/openapi.json
  backend/tests/unit/routes/test_webhooks_hundredms.py
  frontend/app/(auth)/lessons/[bookingId]/page.tsx
  frontend/components/lessons/video/ActiveLesson.tsx
  frontend/components/lessons/video/LessonEnded.tsx
  frontend/components/lessons/video/__tests__/LessonEnded.test.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/student/payment/hooks/__tests__/usePricingPreview.test.tsx
  frontend/hooks/queries/useLessonRoom.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/lessons-v1/lessons-v1.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

fix(video): compute lesson duration before phase transition to avoid React batching gap
  frontend/app/(auth)/lessons/[bookingId]/page.tsx
  frontend/components/lessons/video/LessonEnded.tsx
  frontend/components/lessons/video/__tests__/LessonEnded.test.tsx
Due: frontend

test(frontend): close function coverage gap to 100% (2940/2954 → 2953/2953)
  frontend/components/__tests__/AvailabilityCalendar.test.tsx
  frontend/components/booking/CheckoutFlow.tsx
  frontend/components/instructor/__tests__/BGCStep.test.tsx
  frontend/components/instructor/__tests__/WhereTheyTeach.test.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/components/ui/__tests__/GlobalBackground.test.tsx
  frontend/components/user/__tests__/ProfilePictureUpload.test.tsx
  frontend/features/instructor-profile/components/__tests__/InstructorHeader.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/hooks/availability/__tests__/useAvailability.test.ts
  frontend/jest.config.js
Due: frontend

fix(video): expand 100ms settings button hide rule to cover all crash triggers
  frontend/app/globals.css
  metrics_history.json
Due: frontend

perf(video): stub unused 100ms virtual-background and noise-cancellation SDKs
  frontend/next.config.ts
  frontend/package.json
  frontend/stubs/hms-noise-cancellation.js
  frontend/stubs/hms-virtual-background.js
Due: frontend

perf(video): stub unused 100ms virtual-background and noise-cancellation SDKs
  frontend/scripts/verify-runtime-validation-bundle.mjs
Due: frontend

fix(video): production-ready video integration — timing reverts, webhook backfill, Radix fix
  backend/app/domain/video_utils.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/schemas/booking.py
  backend/tests/integration/routes/test_lessons_integration.py
  backend/tests/unit/domain/test_video_utils.py
  backend/tests/unit/routes/test_webhooks_hundredms.py
  backend/tests/unit/schemas/test_booking_video_fields.py
  backend/tests/unit/services/test_video_service.py
  backend/tests/unit/tasks/test_video_tasks.py
  frontend/app/(auth)/lessons/video-test/page.tsx
  frontend/app/globals.css
  frontend/components/lessons/video/ActiveLesson.tsx
  frontend/components/lessons/video/VideoErrorBoundary.tsx
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
Due: backend, frontend

feat(video): show session stats on detail pages, make booking cards clickable
  frontend/app/(auth)/instructor/bookings/[id]/page.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/student/lessons/[id]/page.tsx
  frontend/components/lessons/video/LessonEnded.tsx
  frontend/features/bookings/components/BookingList.tsx
  frontend/features/bookings/components/__tests__/BookingList.test.tsx
  frontend/lib/time/videoSession.ts
  metrics_history.json
Due: frontend

fix(video): disable 100ms rooms on cancellation + webhook idempotency constraint
  backend/alembic/versions/006_platform_features.py
  backend/app/models/webhook_event.py
  backend/app/repositories/webhook_event_repository.py
  backend/app/services/booking_service.py
  backend/app/services/webhook_ledger_service.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/services/test_webhook_ledger_service.py
Due: backend

test(video): add Playwright E2E tests for video lesson flows
  frontend/e2e/fixtures/ulids.ts
  frontend/e2e/fixtures/video-lesson-mocks.ts
  frontend/e2e/pages/VideoLessonPage.ts
  frontend/e2e/tests/video-lessons.spec.ts
Due: frontend

fix(video): harden 100ms webhook pipeline and sanitize lessons config failures
  .github/workflows/ci.yml
  backend/app/routes/v1/lessons.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/tests/routes/test_lessons.py
  backend/tests/routes/test_webhooks_hundredms.py
  backend/tests/unit/routes/test_webhooks_hundredms.py
  backend/tests/unit/services/test_booking_service_cancellation.py
  metrics_history.json
Due: backend

fix(backend): resolve Bandit findings in 100ms error parsing and secret guards
  backend/app/integrations/hundredms_client.py
  backend/app/routes/v1/lessons.py
  backend/app/services/booking_service.py
  backend/tests/routes/test_lessons.py
  backend/tests/unit/services/test_booking_service_cancellation.py
Due: backend

test(e2e): stabilize smoke assertions across auth shell variants
  frontend/e2e/tests/smoke.spec.ts
Due: frontend

fix(100ms): harden video/webhook flows and expand failure-path coverage
  backend/alembic/versions/006_platform_features.py
  backend/app/integrations/hundredms_client.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/schemas/booking.py
  backend/app/services/video_service.py
  backend/app/tasks/video_tasks.py
  backend/tests/unit/integrations/test_hundredms_client.py
  backend/tests/unit/routes/test_webhooks_hundredms.py
  backend/tests/unit/services/test_video_service.py
Due: backend

fix(100ms): PR review round 2 — savepoint locks, shared constants, transactions, token cache
  backend/app/domain/video_utils.py
  backend/app/integrations/hundredms_client.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/lessons.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/schemas/booking.py
  backend/app/services/video_service.py
  backend/tests/unit/integrations/test_hundredms_client.py
  backend/tests/unit/repositories/test_booking_repository_video_session_coverage.py
Due: backend

fix(100ms): peer identity fallback observability + API error log sanitization
  backend/app/integrations/hundredms_client.py
  backend/app/routes/v1/webhooks_hundredms.py
  backend/tests/unit/integrations/test_hundredms_client.py
  backend/tests/unit/routes/test_webhooks_hundredms.py
Due: backend

fix(webhooks): return 200 for signed 100ms dashboard test payloads
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/webhooks_hundredms.py
  backend/app/schemas/webhook_responses.py
  backend/openapi/openapi.json
  backend/tests/routes/test_webhooks_hundredms.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

fix(csp): allow *.100ms.live wildcards for dynamic regional endpoints
  frontend/__tests__/security/next-config-headers.test.ts
  frontend/next.config.ts
  metrics_history.json
Due: frontend

fix: document 503 on video lesson endpoints + fix Checkr webhook test assertions
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/lessons.py
  backend/openapi/openapi.json
  backend/tests/unit/test_checkr_webhook.py
  backend/tests/unit/test_webhooks_checkr_signature.py
  frontend/src/api/generated/lessons-v1/lessons-v1.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

chore(deps): bump 10 safe dependencies across backend and frontend
  backend/requirements.txt
  docs/session-handoffs/session-handoff-v137.md
  frontend/components/ui/__tests__/select.test.tsx
  frontend/components/ui/select.tsx
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: backend, frontend

fix(deps): regenerate package-lock.json for npm ci compatibility
  frontend/package-lock.json
Due: frontend

fix(deps): sync werkzeug pin in requirements-dev.txt with requirements.txt
  backend/requirements-dev.txt
Due: backend

fix(ci): bump LHCI TBT threshold 200→250ms and sync werkzeug dev pin
  frontend/lhci.config.js
Due: frontend

fix(ci): skip 503 for video lesson endpoints in schemathesis tests
  backend/tests/integration/test_schemathesis_api_v1.py
Due: backend

chore(cleanup): address PR review feedback — remove stale schemas, aliases, and dead code
  backend/app/routes/v1/addresses.py
  backend/app/routes/v1/notification_preferences.py
  backend/app/routes/v1/payments.py
  backend/app/routes/v1/services.py
  backend/app/routes/v1/users.py
  backend/app/schemas/__init__.py
  backend/app/schemas/address_responses.py
  backend/app/schemas/admin_booking_detail.py
  backend/app/schemas/availability_window.py
  backend/app/schemas/base_responses.py
  backend/app/schemas/booking.py
  backend/app/schemas/notification_preferences.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/booking_detail_service.py
  backend/scripts/validator_fixes_summary.py
  backend/tests/routes/test_api_format_simple.py
  backend/tests/schemas/test_admin_booking_detail_schema.py
  backend/tests/test_api_contracts.py
  backend/tests/unit/schemas/test_availability_window_additional_coverage.py
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/tests/basic-search.spec.ts
  frontend/e2e/tests/my-lessons.spec.ts
  frontend/features/shared/types/__tests__/paymentStatus.test.ts
  frontend/features/shared/types/paymentStatus.ts
  frontend/hooks/queries/__tests__/useUser.test.ts
  frontend/hooks/queries/useUser.ts
  frontend/lib/api.ts
  frontend/package.json
  frontend/scripts/precommit_no_console.sh
Due: backend, frontend

chore(cleanup): address PR #289 review feedback and residual sweep
  backend/alembic/versions/006_platform_features.py
  backend/tests/unit/models/test_payment_model_coverage.py
  backend/tests/unit/services/test_credit_service.py
  frontend/hooks/availability/usePublicAvailability.ts
  frontend/scripts/precommit_no_console.sh
Due: backend, frontend

chore(backend): remove stale tombstone comments and dead SlotManager test
  backend/app/repositories/bulk_operation_repository.py
  backend/app/schemas/__init__.py
  backend/app/schemas/address_responses.py
  backend/app/schemas/common.py
  backend/app/services/week_operation_service.py
  backend/app/tasks/celery_app.py
  backend/tests/integration/repository_patterns/test_booking_query_patterns.py
  backend/tests/unit/services/test_slot_manager_logic.py
Due: backend

chore(backend): harden UTC helpers, delete dead slot stubs, remove stale aliases
  CLAUDE.md
  backend/app/core/auth_cache.py
  backend/app/routes/v1/instructor_bookings.py
  backend/app/schemas/availability_window.py
  backend/app/services/booking_service.py
  backend/app/services/bulk_operation_service.py
  backend/app/services/notification_service.py
  backend/app/services/review_service.py
  backend/app/tasks/payment_tasks.py
  backend/scripts/logging_utils.py
  backend/tests/integration/services/test_review_service_int.py
  backend/tests/unit/core/test_auth_cache_coverage.py
  backend/tests/unit/services/test_bulk_operation_edge_coverage.py
  backend/tests/unit/services/test_bulk_operation_logic.py
  backend/tests/unit/services/test_bulk_operation_service_coverage.py
Due: backend
