Repository msaedi/instructly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, mcp-server

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
      backend:
        target: 95%
        flags:
          - backend
      frontend:
        target: 93%
        flags:
          - frontend
      mcp-server:
        target: 90%
        flags:
          - mcp-server
    patch:
      default:
        target: 80%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true
  mcp-server:
    paths:
      - mcp-server/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

feat(mcp): add platform analytics and health tools (P0.7)
  backend/.artifacts/api.expected.d.ts
  backend/app/api/dependencies/services.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/__init__.py
  backend/app/repositories/analytics_repository.py
  backend/app/repositories/factory.py
  backend/app/routes/v1/admin/mcp/__init__.py
  backend/app/routes/v1/admin/mcp/analytics.py
  backend/app/schemas/admin_analytics.py
  backend/app/services/platform_analytics_service.py
  backend/openapi/openapi.json
  backend/tests/routes/test_admin_mcp_analytics_routes.py
  backend/tests/services/test_platform_analytics_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-analytics/mcp-admin-analytics.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/analytics.py
  mcp-server/tests/test_analytics.py
  mcp-server/tests/test_client.py
Due: backend, frontend, mcp-server

fix: handle Checkr webhook retries gracefully (API-27/28/29)
  backend/alembic/versions/006_platform_features.py
  backend/app/models/webhook_event.py
  backend/app/repositories/webhook_event_repository.py
  backend/app/routes/v1/webhooks_checkr.py
  backend/app/services/webhook_ledger_service.py
  backend/tests/conftest.py
  backend/tests/repositories/test_webhook_event_repository.py
  backend/tests/services/test_webhook_ledger_service.py
Due: backend

feat(mcp): add communication and notification tools (P0.8)
  backend/.artifacts/api.expected.d.ts
  backend/app/api/dependencies/services.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/__init__.py
  backend/app/repositories/communication_repository.py
  backend/app/repositories/factory.py
  backend/app/routes/v1/admin/mcp/__init__.py
  backend/app/routes/v1/admin/mcp/communications.py
  backend/app/schemas/admin_communications.py
  backend/app/services/communication_admin_service.py
  backend/openapi/openapi.json
  backend/tests/repositories/test_communication_repository.py
  backend/tests/routes/test_admin_mcp_communications_routes.py
  backend/tests/services/test_communication_admin_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-communications/mcp-admin-communications.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/communications.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_communications.py
Due: backend, frontend, mcp-server

fix: stop retry loop for Checkr webhooks with unknown candidates (API-26)
  backend/app/core/exceptions.py
  backend/app/main.py
  backend/app/repositories/background_job_repository.py
  backend/app/routes/v1/admin/mcp/webhooks.py
  backend/app/routes/v1/webhooks_checkr.py
  backend/app/services/background_check_workflow_service.py
  backend/app/services/webhook_ledger_service.py
  backend/tests/routes/v1/admin/mcp/test_webhooks.py
  backend/tests/unit/services/test_background_check_workflow_coverage.py
  backend/tests/unit/test_checkr_webhook.py
Due: backend

feat(database): implement multi-pool architecture for workload isolation
  backend/app/core/config.py
  backend/app/database/__init__.py
  backend/app/database/__init__.pyi
  backend/app/database/engines.py
  backend/app/database/sessions.py
  backend/app/main.py
  backend/app/monitoring/production_monitor.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/repositories/background_job_repository.py
  backend/app/repositories/webhook_event_repository.py
  backend/app/tasks/beat.py
  backend/app/tasks/worker.py
  backend/tests/unit/database/test_database_helpers_coverage.py
  backend/tests/unit/monitoring/test_production_monitor_coverage.py
  metrics_history.json
Due: backend

feat(mcp): add funnel_snapshot tool for conversion analysis (P0.9)
  backend/app/api/dependencies/services.py
  backend/app/repositories/analytics_repository.py
  backend/app/routes/v1/admin/mcp/analytics.py
  backend/app/schemas/admin_analytics.py
  backend/app/services/funnel_analytics_service.py
  backend/tests/routes/v1/admin/mcp/test_funnel_snapshot.py
  backend/tests/services/test_funnel_analytics_service.py
  docs/session-handoffs/session-handoff-v132.md
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/tools/analytics.py
  mcp-server/tests/test_analytics.py
  mcp-server/tests/test_client.py
Due: backend, mcp-server

debug(database): add pool configuration logging at engine creation
  backend/app/database/engines.py
  metrics_history.json
Due: backend

fix(monitoring): correct pool utilization formula + role-aware reporting
  backend/app/core/config.py
  backend/app/database/__init__.py
  backend/app/database/__init__.pyi
  backend/app/database/engines.py
  backend/app/monitoring/production_monitor.py
  backend/app/monitoring/prometheus_metrics.py
  backend/app/routes/v1/database_monitor.py
  backend/app/schemas/database_monitor_responses.py
  backend/app/schemas/monitoring_responses.py
  backend/tests/routes/test_database_monitor_routes_coverage.py
  backend/tests/routes/test_metrics_routes_coverage.py
  backend/tests/routes/test_monitoring_routes_coverage.py
  backend/tests/unit/database/test_database_helpers_coverage.py
  backend/tests/unit/monitoring/test_production_monitor_coverage.py
  metrics_history.json
Due: backend

fix(sentry): use explicit monitors for fast-completing Celery tasks
  backend/app/monitoring/sentry_crons.py
  backend/app/tasks/embedding_migration.py
  backend/app/tasks/payment_tasks.py
  backend/app/tasks/privacy_tasks.py
  backend/app/tasks/referral_tasks.py
  backend/tests/unit/monitoring/test_sentry_crons.py
  metrics_history.json
Due: backend

fix(monitoring): add explicit cron monitors for remaining tasks + MCP OTEL auth fallback
  backend/.artifacts/api.expected.d.ts
  backend/app/monitoring/sentry_crons.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/codebase_metrics.py
  backend/app/tasks/retention_tasks.py
  backend/openapi/openapi.json
  backend/tests/unit/monitoring/test_sentry_crons.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-analytics/mcp-admin-analytics.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/otel.py
  mcp-server/tests/test_otel.py
  metrics_history.json
Due: backend, frontend, mcp-server

git commit -m "feat: 3-level taxonomy schema + seed data (Phase 1-2)
  backend/alembic/versions/002_instructor_system.py
  backend/alembic/versions/006_platform_features.py
  backend/app/models/__init__.py
  backend/app/models/filter.py
  backend/app/models/service_catalog.py
  backend/app/models/subcategory.py
  backend/app/repositories/analytics_repository.py
  backend/app/repositories/badge_repository.py
  backend/app/repositories/communication_repository.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/repositories/mcp_instructor_repository.py
  backend/app/repositories/search_analytics_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/services/instructor_service.py
  backend/scripts/generate_openai_embeddings.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_data.py
  backend/scripts/seed_data/seed_taxonomy.py
Due: backend

feat(taxonomy): Phase 3 — repositories + Pydantic schemas for 3-level taxonomy
  backend/app/repositories/factory.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/schemas/instructor.py
  backend/app/schemas/mcp.py
  backend/app/schemas/service_catalog.py
  backend/app/schemas/service_catalog_responses.py
  backend/app/schemas/subcategory.py
  backend/app/schemas/taxonomy_filter.py
  backend/app/services/instructor_service.py
Due: backend

feat(taxonomy): Phase 4 — services + routes for 3-level taxonomy
  backend/app/routes/v1/services.py
  backend/app/schemas/service_catalog_responses.py
  backend/app/services/instructor_service.py
  backend/app/services/mcp_service_catalog_service.py
Due: backend

test(taxonomy): comprehensive test suite for Phases 1-4 (131 tests)
  backend/app/routes/v1/services.py
  backend/tests/_utils/service_seed.py
  backend/tests/conftest.py
  backend/tests/fixtures/taxonomy_fixtures.py
  backend/tests/integration/api/test_instructors.py
  backend/tests/integration/api/test_taxonomy_routes.py
  backend/tests/models/test_taxonomy_models.py
  backend/tests/repositories/test_factory_taxonomy.py
  backend/tests/repositories/test_service_catalog_repository_taxonomy.py
  backend/tests/repositories/test_taxonomy_filter_repository.py
  backend/tests/unit/schemas/test_taxonomy_schemas.py
  backend/tests/unit/services/test_instructor_service.py
  backend/tests/unit/services/test_instructor_service_taxonomy.py
Due: backend

feat(taxonomy): Phase 5 — search system for 3-level taxonomy
  backend/app/repositories/retriever_repository.py
  backend/app/services/search/embedding_service.py
  backend/app/services/search/llm_parser.py
  backend/app/services/search/llm_schema.py
  backend/app/services/search/patterns.py
  backend/app/services/search/query_parser.py
  backend/tests/unit/services/search/test_embedding_service.py
Due: backend

feat(taxonomy): Phase 6 — frontend types, API client, and hooks for 3-level taxonomy
  backend/.artifacts/api.expected.d.ts
  backend/openapi/openapi.json
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/e2e/fixtures/api-mocks.ts
  frontend/features/shared/api/__tests__/client.fetch.test.ts
  frontend/features/shared/api/client.ts
  frontend/features/shared/api/types.ts
  frontend/hooks/queries/__tests__/useServices.test.tsx
  frontend/hooks/queries/useServices.ts
  frontend/hooks/queries/useTaxonomy.ts
  frontend/lib/react-query/queryClient.ts
  frontend/lib/services/assetService.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/services-v1/services-v1.ts
  frontend/src/api/queryKeys.ts
  frontend/types/api.ts
  frontend/types/generated/api.d.ts
  frontend/types/instructor.ts
Due: backend, frontend

feat(taxonomy): Phase 7 — frontend UI components for 3-level taxonomy
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  frontend/__tests__/lessons/modals/CancelWarningModal.test.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(public)/instructor/apply/page.tsx
  frontend/app/(public)/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/search/filters/__tests__/PriceFilter.test.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/features/student/badges/__tests__/StudentBadgesSection.spec.tsx
  frontend/hooks/queries/__tests__/useTaxonomy.test.tsx
  metrics_history.json
Due: frontend

feat(db): add taxonomy v2 schema — 3-level hierarchy + filter system
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/filter.py
  backend/app/models/instructor.py
  backend/app/models/service_catalog.py
  backend/app/models/subcategory.py
  backend/app/schemas/mcp.py
  backend/app/schemas/service_catalog.py
  backend/app/schemas/service_catalog_responses.py
  backend/scripts/seed_catalog_only.py
  backend/tests/integration/test_taxonomy_v2_migration.py
  metrics_history.json
Due: backend

feat(seed): populate taxonomy v2 — 7 categories, 77 subcategories, 224 services
  backend/scripts/seed_data/seed_taxonomy.py
  backend/tests/conftest.py
  backend/tests/integration/test_taxonomy_v2_seed.py
Due: backend

feat(app): taxonomy v2 models, repositories, and schemas
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/__init__.py
  backend/app/repositories/category_repository.py
  backend/app/repositories/factory.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/repositories/subcategory_repository.py
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/schemas/service_catalog.py
  backend/app/schemas/subcategory.py
  backend/app/schemas/taxonomy_filter.py
  backend/openapi/openapi.json
  backend/tests/integration/test_taxonomy_v2_repositories.py
  backend/tests/unit/test_taxonomy_v2_models.py
  backend/tests/unit/test_taxonomy_v2_schemas.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

feat(api): taxonomy v2 browse routes + instructor filter endpoints
  backend/.artifacts/api.expected.d.ts
  backend/app/api/dependencies/services.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/routes/v1/__init__.py
  backend/app/routes/v1/catalog.py
  backend/app/routes/v1/services.py
  backend/app/schemas/service_catalog.py
  backend/app/services/catalog_browse_service.py
  backend/app/services/instructor_service.py
  backend/openapi/openapi.json
  backend/tests/integration/test_catalog_routes.py
  backend/tests/integration/test_instructor_filter_routes.py
  backend/tests/integration/test_instructor_service_all_services.py
  backend/tests/unit/test_catalog_browse_service.py
  backend/tests/unit/test_instructor_filter_service.py
  frontend/app/(public)/instructor/apply/page.tsx
  frontend/hooks/queries/useKidsAvailableServices.ts
  frontend/lib/services/assetService.ts
  frontend/src/api/generated/catalog-v1/catalog-v1.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/services-v1/services-v1.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

feat(search): align NL search with taxonomy v2 hierarchy
  backend/app/services/search/llm_parser.py
  backend/app/services/search/llm_schema.py
  backend/app/services/search/patterns.py
  backend/tests/integration/test_search_taxonomy_v2.py
  backend/tests/unit/test_search_taxonomy_v2.py
Due: backend

feat(frontend): taxonomy v2 types, API client, and React Query hooks
  frontend/features/shared/api/client.ts
  frontend/features/shared/api/types.ts
  frontend/hooks/queries/__tests__/useCatalogBrowse.test.tsx
  frontend/hooks/queries/useCatalogBrowse.ts
  frontend/lib/react-query/queryClient.ts
Due: frontend

fix(seed): correct age groups, update tests, deterministic IDs
  backend/scripts/seed_data/seed_taxonomy.py
  backend/tests/integration/test_taxonomy_v2_seed.py
  metrics_history.json
Due: backend

refactor(instructor_services): drop legacy columns, migrate to taxonomy filters
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/service_catalog.py
  backend/app/repositories/ranking_repository.py
  backend/app/repositories/retriever_repository.py
  backend/app/schemas/instructor.py
  backend/app/schemas/service_catalog.py
  backend/app/services/instructor_service.py
  backend/openapi/openapi.json
  backend/scripts/reset_and_seed_yaml.py
  backend/tests/integration/repositories/test_ranking_repository_coverage.py
  backend/tests/integration/routes/test_instructor_bookings_api.py
  backend/tests/test_service_catalog_enhancements.py
  backend/tests/unit/schemas/test_instructor_schemas.py
  backend/tests/unit/services/test_instructor_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

fix(seed): align seed pipeline with taxonomy-only schema
  backend/scripts/calculate_service_analytics.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_data/instructors.yaml
  backend/scripts/seed_data/service_catalog_mapping.yaml
  backend/tests/scripts/test_reset_and_seed_yaml_service_resolution.py
  metrics_history.json
Due: backend

feat(homepage): cascading category→subcategory→service navigation
  frontend/app/(public)/page.tsx
  frontend/app/(public)/search/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/catalog/CatalogServicePicker.tsx
  frontend/components/catalog/FilterSelectionForm.tsx
  frontend/components/catalog/HomeCatalogCascade.tsx
  frontend/components/catalog/__tests__/CatalogServicePicker.test.tsx
  frontend/components/catalog/__tests__/FilterSelectionForm.test.tsx
  frontend/components/catalog/__tests__/HomeCatalogCascade.test.tsx
  frontend/components/catalog/index.ts
  frontend/hooks/__tests__/useAnalyticsData.test.tsx
  frontend/lib/audience.ts
Due: frontend

fix(frontend): remove lint suppressions and enforce pre-commit guardrails
  .pre-commit-config.yaml
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(admin)/admin/payments/page.tsx
  frontend/app/(admin)/admin/referrals/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/(auth)/student/booking/confirm/page.tsx
  frontend/app/lhci/instructor/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
  frontend/components/messaging/formatters.ts
  frontend/components/modals/ImageCropModal.tsx
  frontend/components/security/TfaModal.tsx
  frontend/components/ui/GlobalBackground.tsx
  frontend/components/user/ProfilePictureUpload.tsx
  frontend/eslint.config.mjs
  frontend/features/shared/hooks/useSWRCustom.ts
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/payment/hooks/usePricingPreview.tsx
  frontend/features/student/payment/types/index.ts
  frontend/lhci.config.js
  frontend/lib/__tests__/deviceContext.test.ts
  frontend/lib/react-query/example-usage.tsx
  frontend/scripts/precommit_no_lint_suppressions.sh
Due: frontend

feat(onboarding): taxonomy-driven skill selection with subcategory grouping, age grid, and dynamic filters
  frontend/app/(auth)/instructor/onboarding/__tests__/skill-selection.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/components/catalog/CatalogServicePicker.tsx
  frontend/components/catalog/__tests__/CatalogServicePicker.test.tsx
  frontend/components/catalog/index.ts
  frontend/components/ui/__tests__/GlobalBackground.test.tsx
  frontend/hooks/queries/useServices.ts
Due: frontend

fix(backend): use explicit cron monitors and category repository
  backend/app/monitoring/sentry_crons.py
  backend/app/services/instructor_service.py
  backend/app/tasks/analytics.py
  backend/app/tasks/privacy_tasks.py
  backend/app/tasks/search_analytics.py
  backend/tests/unit/monitoring/test_sentry_crons.py
  backend/tests/unit/services/test_instructor_service.py
  backend/tests/unit/services/test_instructor_service_taxonomy.py
Due: backend

feat(search): taxonomy-driven skill_level filter + remove manual audience
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(public)/search/__tests__/filterContext.test.ts
  frontend/app/(public)/search/__tests__/map-pins.test.tsx
  frontend/app/(public)/search/filterContext.ts
  frontend/app/(public)/search/page.tsx
  frontend/components/search/FilterBar.tsx
  frontend/components/search/__tests__/FilterBar.test.tsx
  frontend/components/search/filterTypes.ts
  frontend/components/search/filters/MoreFiltersButton.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/components/ui/__tests__/GlobalBackground.test.tsx
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/api/client.ts
  frontend/hooks/queries/__tests__/useInstructorSearch.test.tsx
  frontend/hooks/queries/__tests__/useInstructorSearchInfinite.test.tsx
  frontend/hooks/queries/useInstructorSearch.ts
  frontend/types/api.ts
Due: frontend

feat(backend): wire taxonomy content filters into search + instructors routes
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/search.py
  backend/app/services/instructor_service.py
  backend/app/services/search/nl_search_service.py
  backend/openapi/openapi.json
  backend/tests/repositories/test_taxonomy_filter_repository.py
  backend/tests/routes/test_instructors_filtering.py
  backend/tests/routes/test_instructors_routes_coverage.py
  backend/tests/routes/test_search_routes_additional_coverage.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_search_cache.py
  backend/tests/unit/services/test_instructor_service_filtering.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

feat(backend): generic content_filters param replaces hardcoded goal/format/style
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/search.py
  backend/app/routes/v1/taxonomy_filter_query.py
  backend/openapi/openapi.json
  backend/tests/routes/test_instructors_filtering.py
  backend/tests/routes/test_instructors_routes_coverage.py
  backend/tests/routes/test_search_routes_additional_coverage.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

feat(search): dynamic taxonomy content filters via generic content_filters param
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(public)/search/__tests__/filterContext.test.ts
  frontend/app/(public)/search/filterContext.ts
  frontend/app/(public)/search/page.tsx
  frontend/components/search/FilterBar.tsx
  frontend/components/search/__tests__/FilterBar.test.tsx
  frontend/components/search/filterTypes.ts
  frontend/components/search/filters/MoreFiltersButton.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/api/client.ts
  frontend/hooks/queries/__tests__/useInstructorSearch.test.tsx
  frontend/hooks/queries/__tests__/useInstructorSearchInfinite.test.tsx
  frontend/hooks/queries/useInstructorSearch.ts
  frontend/lib/taxonomy/formatFilterLabel.ts
Due: frontend

fix(search): dynamic taxonomy filters now render in More Filters modal
  frontend/app/(public)/search/__tests__/filterContext.test.ts
  frontend/app/(public)/search/filterContext.ts
  frontend/app/(public)/search/page.tsx
  frontend/app/(public)/services/page.tsx
  frontend/components/catalog/HomeCatalogCascade.tsx
  frontend/components/catalog/__tests__/HomeCatalogCascade.test.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
Due: frontend

fix(seed): Language → Languages category name + regenerate embeddings
  backend/scripts/seed_data/catalog/categories.yaml
  backend/tests/conftest.py
Due: backend

feat(search): NL taxonomy filter inference from queries (Phase 7.2)
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/retriever_repository.py
  backend/app/repositories/search_batch_repository.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/retriever.py
  backend/app/services/search/taxonomy_filter_extractor.py
  backend/openapi/openapi.json
  backend/tests/repositories/test_service_catalog_repository_taxonomy.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_retriever.py
  backend/tests/unit/services/search/test_taxonomy_filter_extractor.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

feat(search): surface taxonomy filter definitions in NL search response (Phase 7.3)
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/schemas/nl_search.py
  backend/app/services/search/nl_search_service.py
  backend/openapi/openapi.json
  backend/tests/unit/services/search/test_nl_search_service.py
  frontend/app/(public)/search/__tests__/filterContext.test.ts
  frontend/app/(public)/search/filterContext.ts
  frontend/app/(public)/search/page.tsx
  frontend/components/search/FilterBar.tsx
  frontend/components/search/__tests__/FilterBar.test.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

feat(admin): taxonomy filter diagnostics + Phase 8 test hardening
  frontend/app/(admin)/admin/nl-search/components/TaxonomyDiagnostics.tsx
  frontend/app/(admin)/admin/nl-search/components/__tests__/TaxonomyDiagnostics.test.tsx
  frontend/app/(admin)/admin/nl-search/page.tsx
  frontend/hooks/queries/__tests__/useFavoriteStatus.test.ts
  frontend/hooks/queries/useFavoriteStatus.ts
  metrics_history.json
Due: frontend
