Repository msaedi/instructly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, mcp-server

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "90...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
      backend:
        target: 95%
        flags:
          - backend
      frontend:
        target: 93%
        flags:
          - frontend
      mcp-server:
        target: 90%
        flags:
          - mcp-server
    patch:
      default:
        target: 80%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true
  mcp-server:
    paths:
      - mcp-server/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

fix(ci): replace assert with if/raise, remove orphaned schemas and stale mocks
  backend/app/routes/v1/instructor_bookings.py
  backend/app/schemas/__init__.py
  backend/app/schemas/availability_window.py
  backend/app/services/booking_service.py
  backend/app/services/notification_service.py
  backend/app/tasks/payment_tasks.py
  backend/tests/integration/services/test_bulk_operation_bitmap_patterns.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_booking_service_missed_coverage.py
  docs/README.md
  docs/api/typescript-interfaces/index.d.ts
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/tests/booking-journey.spec.ts
  frontend/lib/availability/constants.ts
Due: backend, frontend

fix(tests): auto-recover from stale pg_advisory_lock in conftest
  backend/tests/conftest.py
Due: backend

fix(infra): add gunicorn config with timeout bump and worker-abort diagnostics
  backend/gunicorn_conf.py
Due: backend

fix(deps): bump minimatch override 10.2.1→10.2.4 (ReDoS CVE-2026-26996)
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix(ci): align bandit pre-commit with CI by removing -ll severity filter
  .pre-commit-config.yaml
Due: none

fix(mcp-server): resolve bandit findings — nosec for subprocess, debug log for bare except
  mcp-server/src/instainstru_mcp/server.py
Due: mcp-server

chore: remove deprecated husky.sh sourcing from pre-commit hook
  .husky/pre-commit
Due: none

fix(ci): upgrade Node 22→24 and pin Kombu 5.6.2
  .github/workflows/ci.yml
  .github/workflows/contract-audit.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/env-contract.yml
  .github/workflows/frontend-lint-build.yml
  .github/workflows/lhci.yml
  .github/workflows/privacy-audit.yml
  backend/requirements.txt
  frontend/.nvmrc
  frontend/package-lock.json
Due: backend, frontend

test: boost frontend coverage 98.75→99.16% with bug-hunting tests and remove dead code
  frontend/components/__tests__/NotificationBar.test.tsx
  frontend/components/__tests__/UpcomingLessons.test.tsx
  frontend/components/booking/__tests__/CheckoutFlow.test.tsx
  frontend/components/catalog/__tests__/FilterSelectionForm.test.tsx
  frontend/components/catalog/__tests__/index.test.ts
  frontend/components/consent/__tests__/BackgroundCheckDisclosureModal.test.tsx
  frontend/components/instructor/__tests__/BGCStep.test.tsx
  frontend/components/instructor/__tests__/MessageInstructorButton.test.tsx
  frontend/components/instructor/messages/components/__tests__/ChatHeader.test.tsx
  frontend/components/lessons/modals/__tests__/RescheduleTimeSelectionModal.test.tsx
  frontend/components/lessons/video/__tests__/ActiveLesson.test.tsx
  frontend/components/lessons/video/__tests__/PreLessonWaiting.test.tsx
  frontend/components/lessons/video/__tests__/VideoErrorBoundary.test.tsx
  frontend/components/messaging/__tests__/useReactions.test.ts
  frontend/components/modals/__tests__/DeleteProfileModal.test.tsx
  frontend/components/modals/__tests__/ValidationPreviewModal.test.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/components/ServiceCards.tsx
  frontend/features/shared/api/schemas/__tests__/index.test.ts
  frontend/features/shared/hooks/__tests__/useAuth.debug.test.tsx
  frontend/features/shared/referrals/__tests__/share.ssr.test.ts
  frontend/features/student/booking/components/__tests__/BookingModal.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/booking/hooks/__tests__/useAuth.test.ts
  frontend/features/student/booking/hooks/__tests__/useCreateBooking.test.ts
  frontend/features/student/payment/components/PaymentSection.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentMethodSelection.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/features/student/payment/components/__tests__/payment-section.spec.tsx
  frontend/features/student/payment/hooks/__tests__/usePaymentFlow.test.ts
  frontend/features/student/payment/hooks/__tests__/usePricingPreview.test.tsx
  frontend/features/student/payment/types/__tests__/index.test.ts
  frontend/hooks/__tests__/useMyLessons.test.ts
  frontend/hooks/__tests__/usePlatformConfig.test.ts
  frontend/hooks/__tests__/useProfilePictureUrls.test.tsx
  frontend/hooks/__tests__/useUserMessageStream.test.ts
  frontend/hooks/__tests__/useWeekSchedule.test.ts
  frontend/hooks/queries/__tests__/useAuth.test.ts
  frontend/jest.config.js
Due: frontend

test(frontend): boost branch coverage 92.2% → 92.55% with 133 bug-hunting tests
  frontend/__tests__/hooks/usePushNotifications.test.tsx
  frontend/components/__tests__/NotificationBar.test.tsx
  frontend/components/instructor/messages/hooks/__tests__/useConversations.test.tsx
  frontend/components/instructor/messages/hooks/__tests__/useMessageDrafts.test.ts
  frontend/components/instructor/messages/hooks/__tests__/useMessageThread.test.ts
  frontend/components/instructor/messages/utils/__tests__/templates.test.ts
  frontend/components/lessons/modals/__tests__/CancellationConfirmationModal.test.tsx
  frontend/components/lessons/modals/__tests__/CancellationReasonModal.test.tsx
  frontend/components/modals/__tests__/DeleteProfileModal.test.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/components/modals/__tests__/ImageCropModal.test.tsx
  frontend/components/referrals/__tests__/share-modal.spec.tsx
  frontend/components/search/__tests__/FilterBar.test.tsx
  frontend/components/student/__tests__/PaymentMethods.test.tsx
  frontend/features/instructor-profile/components/__tests__/ReviewsSection.test.tsx
  frontend/features/shared/hooks/__tests__/useNotifications.test.ts
  frontend/features/shared/hooks/__tests__/useSWRCustom.test.tsx
  frontend/features/student/booking/components/__tests__/BookingModal.test.tsx
  frontend/features/student/booking/components/__tests__/BookingModalWithPayment.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentMethodSelection.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSuccess.test.tsx
  frontend/hooks/__tests__/useCreateConversation.test.tsx
  frontend/hooks/__tests__/useDatabaseData.test.tsx
  frontend/hooks/__tests__/useProfilePictureUrls.test.tsx
  frontend/hooks/__tests__/useUserMessageStream.test.ts
  frontend/hooks/availability/__tests__/useBookedSlots.test.ts
Due: frontend

feat(a11y): global + auth + instructor dashboard accessibility (batch 1)
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(admin)/admin/analytics/search/page.tsx
  frontend/app/(admin)/admin/badges/pending/page.tsx
  frontend/app/(admin)/admin/beta/invites/page.tsx
  frontend/app/(admin)/admin/beta/metrics/page.tsx
  frontend/app/(admin)/admin/beta/settings/page.tsx
  frontend/app/(admin)/admin/beta/ui-preview/page.tsx
  frontend/app/(admin)/admin/bgc-review/page.tsx
  frontend/app/(admin)/admin/bgc-webhooks/page.tsx
  frontend/app/(admin)/admin/engineering/codebase/page.tsx
  frontend/app/(admin)/admin/location-learning/page.tsx
  frontend/app/(admin)/admin/nl-search/page.tsx
  frontend/app/(admin)/admin/ops/auth-blocks/page.tsx
  frontend/app/(admin)/admin/ops/database/page.tsx
  frontend/app/(admin)/admin/ops/redis/page.tsx
  frontend/app/(admin)/admin/payments/PaymentsAdminClient.tsx
  frontend/app/(admin)/admin/referrals/ReferralsAdminClient.tsx
  frontend/app/(admin)/admin/settings/pricing/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PersonalInfoCard.tsx
  frontend/app/(auth)/lessons/[bookingId]/page.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/(legal)/referrals-terms/page.tsx
  frontend/app/(public)/invite/claim/page.tsx
  frontend/app/(shared)/login/LoginClient.tsx
  frontend/app/(shared)/reset-password/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/app/checkout/page.tsx
  frontend/app/dashboard/instructor/page.tsx
  frontend/app/layout.tsx
  frontend/app/legal/page.tsx
  frontend/app/lhci/instructor/page.tsx
  frontend/app/referral/page.tsx
  frontend/app/sentry-example-page/page.tsx
  frontend/components/security/DeleteAccountModal.tsx
  metrics_history.json
Due: frontend

feat(a11y): instructor availability keyboard navigation (batch 2)
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/availability/__tests__/InteractiveGrid.test.tsx
Due: frontend

feat(a11y): instructor messaging accessibility (batch 3)
  frontend/components/chat/ChatModal.tsx
  frontend/components/chat/__tests__/ChatModal.test.tsx
  frontend/components/instructor/messages/components/ChatHeader.tsx
  frontend/components/instructor/messages/components/MessageInput.tsx
  frontend/components/instructor/messages/components/__tests__/ChatHeader.test.tsx
  frontend/components/instructor/messages/components/__tests__/MessageInput.test.tsx
Due: frontend

feat(a11y): BookingModal dialog semantics + inline validation (student batch 1)
  frontend/features/student/booking/components/BookingModal.tsx
  frontend/features/student/booking/components/__tests__/BookingModal.test.tsx
Due: frontend

feat(a11y): search page accessibility (student batch 2)
  frontend/app/(public)/search/__tests__/map-pins.test.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/InstructorCard.tsx
  frontend/components/search/filters/DateFilter.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/components/search/filters/PriceFilter.tsx
  frontend/components/search/filters/__tests__/DateFilter.test.tsx
  frontend/components/search/filters/__tests__/MoreFiltersModal.test.tsx
  frontend/components/search/filters/__tests__/PriceFilter.test.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
Due: frontend

feat(a11y): landing page + profile nav semantics (student batch 3)
  frontend/app/(public)/instructors/[id]/reviews/page.tsx
  frontend/app/(public)/page.tsx
  frontend/components/InstructorProfileNav.tsx
  frontend/components/__tests__/InstructorProfileNav.test.tsx
  frontend/components/ui/__tests__/breadcrumb.test.tsx
  frontend/components/ui/breadcrumb.tsx
Due: frontend

feat(a11y): booking subcomponent keyboard nav + ARIA (student batch 4)
  frontend/components/forms/PlacesAutocompleteInput.tsx
  frontend/components/forms/__tests__/PlacesAutocompleteInput.test.tsx
  frontend/features/shared/booking/ui/Calendar.tsx
  frontend/features/shared/booking/ui/SummarySection.tsx
  frontend/features/shared/booking/ui/TimeDropdown.tsx
  frontend/features/shared/booking/ui/__tests__/Calendar.test.tsx
  frontend/features/shared/booking/ui/__tests__/TimeDropdown.test.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/booking/components/__tests__/time-selection-modal-preselected-open.spec.tsx
Due: frontend

feat(a11y): authenticated pages — dashboard, checkout, settings (student batch 5)
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/components/chat/__tests__/ChatModal.test.tsx
  frontend/components/layout/__tests__/StudentHeader.test.tsx
  frontend/components/lessons/__tests__/LessonCard.test.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/components/notifications/NotificationBell.tsx
  frontend/components/notifications/__tests__/NotificationBell.test.tsx
  frontend/components/search/filters/__tests__/MoreFiltersModal.test.tsx
  frontend/components/security/ChangePasswordModal.tsx
  frontend/components/security/__tests__/ChangePasswordModal.test.tsx
  frontend/components/student/PaymentMethods.tsx
  frontend/components/student/__tests__/PaymentMethods.test.tsx
Due: frontend

chore: remove dead local/TimeDropdown variant
  frontend/components/chat/__tests__/ChatModal.test.tsx
  frontend/components/search/filters/__tests__/MoreFiltersModal.test.tsx
  frontend/features/shared/booking/ui/index.ts
  frontend/features/shared/booking/ui/local/TimeDropdown.tsx
  frontend/features/shared/booking/ui/local/__tests__/TimeDropdown.test.tsx
Due: frontend

fix(a11y): resolve 25 E2E failures + backend JWT log noise from a11y changes
  backend/app/auth.py
  backend/app/routes/v1/public.py
  frontend/app/(public)/page.tsx
  frontend/e2e/pages/SearchResultsPage.ts
  frontend/e2e/referrals.ui.spec.ts
  frontend/e2e/tests/login-2fa.spec.ts
  frontend/e2e/utils/auth.ts
  frontend/features/referrals/RewardsPanel.tsx
Due: backend, frontend

fix(backend): origin-aware cookie domain for beta-local cross-subdomain auth
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/public.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/utils/cookies.py
  backend/tests/unit/utils/test_effective_cookie_domain.py
Due: backend

feat(ui): unify instructor onboarding + dashboard panels with shared globals theme
  frontend/__tests__/availability/paletteMapping.test.tsx
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/BioCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PersonalInfoCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PreferredLocationsCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/ServiceAreasCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/payment-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/onboarding/welcome/page.tsx
  frontend/app/(auth)/instructor/referrals/page.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(public)/instructor/join/page.tsx
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/app/(shared)/login/LoginClient.tsx
  frontend/app/(shared)/login/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/app/globals.css
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/availability/WeekNavigator.tsx
  frontend/components/dashboard/SectionHeroCard.tsx
  frontend/components/instructor/messages/components/ConversationItem.tsx
  frontend/components/instructor/messages/components/ConversationList.tsx
  frontend/components/instructor/messages/components/TemplateEditor.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
Due: frontend

chore(security): pin serialize-javascript to 7.0.3 via overrides
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat(a11y): remediate 19 findings with shared modal architecture
  frontend/app/(admin)/admin/analytics/candidates/page.tsx
  frontend/app/(admin)/admin/engineering/codebase/page.tsx
  frontend/app/(admin)/admin/ops/auth-blocks/page.tsx
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/(public)/search/__tests__/map-pins.test.tsx
  frontend/app/(public)/search/page.tsx
  frontend/app/globals.css
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/chat/ChatModal.tsx
  frontend/components/chat/__tests__/ChatModal.test.tsx
  frontend/components/forms/PlacesAutocompleteInput.tsx
  frontend/components/forms/__tests__/PlacesAutocompleteInput.test.tsx
  frontend/components/notifications/__tests__/NotificationBell.test.tsx
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/components/search/filters/__tests__/MoreFiltersModal.test.tsx
  frontend/components/security/ChangePasswordModal.tsx
  frontend/components/security/DeleteAccountModal.tsx
  frontend/components/security/__tests__/ChangePasswordModal.test.tsx
  frontend/components/security/__tests__/DeleteAccountModal.test.tsx
  frontend/features/shared/booking/ui/Calendar.tsx
  frontend/features/shared/booking/ui/TimeDropdown.tsx
  frontend/features/shared/booking/ui/__tests__/Calendar.test.tsx
  frontend/features/shared/booking/ui/__tests__/TimeDropdown.test.tsx
  frontend/features/student/booking/components/BookingModal.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/hooks/__tests__/useFocusTrap.test.tsx
  frontend/hooks/__tests__/useScrollLock.test.tsx
  frontend/hooks/useFocusTrap.ts
  frontend/hooks/useScrollLock.ts
Due: frontend

fix(a11y): remediate PR review findings — roving tabindex, alerts, cookie domain
  backend/app/routes/v1/account.py
  backend/app/routes/v1/public.py
  backend/app/utils/cookies.py
  backend/tests/routes/test_account_routes_coverage.py
  backend/tests/unit/utils/test_effective_cookie_domain.py
  frontend/components/Modal.tsx
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/availability/__tests__/InteractiveGrid.test.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/components/security/ChangePasswordModal.tsx
  frontend/components/security/DeleteAccountModal.tsx
  frontend/components/security/__tests__/ChangePasswordModal.test.tsx
  frontend/components/security/__tests__/DeleteAccountModal.test.tsx
  frontend/features/shared/booking/ui/TimeDropdown.tsx
  frontend/features/shared/booking/ui/__tests__/TimeDropdown.test.tsx
  metrics_history.json
Due: backend, frontend

feat(ui): align forgot-password page with login visual system
  frontend/app/(shared)/forgot-password/page.tsx
Due: frontend

refactor(ui): unify instructor dashboard accordion spacing via globals
  frontend/app/(auth)/instructor/onboarding/account-setup/components/BioCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PersonalInfoCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PreferredLocationsCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/ServiceAreasCard.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/globals.css
  frontend/features/instructor-profile/InstructorProfileForm.tsx
Due: frontend

feat(ui): unify instructor onboarding/dashboard surfaces and referral flow styling
  backend/app/routes/v1/instructor_referrals.py
  backend/tests/routes/v1/test_instructor_referrals_routes.py
  frontend/app/(auth)/instructor/availability/page.tsx
  frontend/app/(auth)/instructor/bookings/page.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/BioCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PersonalInfoCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PreferredLocationsCard.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/ServiceAreasCard.tsx
  frontend/app/(auth)/instructor/onboarding/payment-setup/page.tsx
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(auth)/instructor/onboarding/welcome/page.tsx
  frontend/app/(auth)/instructor/referrals/page.tsx
  frontend/app/(auth)/instructor/reviews/page.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/app/(public)/instructor/join/page.tsx
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/Modal.tsx
  frontend/components/__tests__/Modal.test.tsx
  frontend/components/availability/WeekNavigator.tsx
  frontend/components/dashboard/SectionHeroCard.tsx
  frontend/components/instructor/InstructorReferralPopup.tsx
  frontend/components/instructor/messages/components/ChatHeader.tsx
  frontend/components/instructor/messages/components/ConversationItem.tsx
  frontend/components/instructor/messages/components/ConversationList.tsx
  frontend/components/instructor/messages/components/MessageInput.tsx
  frontend/components/instructor/messages/components/TemplateEditor.tsx
  frontend/features/bookings/components/BookingList.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/referrals/RewardsPanel.tsx
Due: backend, frontend

fix(a11y): round 3 — dialog consistency, cookie domain, test coverage
  backend/app/routes/v1/instructor_referrals.py
  backend/app/routes/v1/two_factor_auth.py
  backend/app/utils/cookies.py
  backend/tests/routes/test_public_additional_coverage.py
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  backend/tests/routes/v1/test_instructor_referrals_routes.py
  backend/tests/unit/utils/test_cookies_additional_coverage.py
  frontend/__tests__/components/SkipToMain.test.tsx
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/ServiceAreasCard.tsx
  frontend/app/(auth)/instructor/onboarding/welcome/page.tsx
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/app/(public)/search/__tests__/search-live-region.test.tsx
  frontend/app/(public)/search/page.tsx
  frontend/app/(shared)/signup/page.tsx
  frontend/app/layout.tsx
  frontend/components/SkipToMainLink.tsx
  frontend/components/availability/ConflictModal.tsx
  frontend/components/availability/__tests__/ConflictModal.test.tsx
  frontend/components/consent/__tests__/BackgroundCheckDisclosureModal.test.tsx
  frontend/components/instructor/InstructorReferralPopup.tsx
  frontend/components/modals/__tests__/ClearWeekConfirmModal.test.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/student/badges/StudentBadgesSection.tsx
  frontend/features/student/booking/components/BookingModal.tsx
  frontend/features/student/booking/components/TimeSelectionModal.tsx
  frontend/features/student/booking/components/__tests__/BookingModal.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/hooks/__tests__/useFocusTrap.test.tsx
Due: backend, frontend

fix(a11y): round 4 — heading bug, focus cues, test quality
  backend/app/utils/cookies.py
  backend/tests/routes/v1/test_instructor_referrals_routes.py
  backend/tests/unit/utils/test_effective_cookie_domain.py
  frontend/app/(auth)/instructor/dashboard/__tests__/heading-hierarchy.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/app/(public)/search/__tests__/map-pins.test.tsx
  frontend/app/(public)/search/__tests__/search-live-region.test.tsx
  frontend/app/(public)/search/page.tsx
  frontend/app/globals.css
  frontend/components/Modal.tsx
  frontend/components/__tests__/Modal.test.tsx
  frontend/components/chat/__tests__/ChatModal.test.tsx
  frontend/components/instructor/messages/components/__tests__/MessageInput.test.tsx
  metrics_history.json
Due: backend, frontend

fix(a11y): round 5 — skip-link visibility, past-slot guards, cookie dedup
  backend/app/routes/v1/two_factor_auth.py
  backend/tests/routes/test_two_factor_auth_routes_coverage.py
  frontend/__tests__/components/SkipToMain.test.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/ServiceAreasCard.tsx
  frontend/app/globals.css
  frontend/components/SkipToMainLink.tsx
  frontend/components/availability/InteractiveGrid.tsx
  frontend/components/availability/__tests__/InteractiveGrid.test.tsx
Due: backend, frontend

fix(a11y): round 6 — search h1, referrals heading skip, dead dark classes
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/earnings/page.tsx
  frontend/app/(auth)/instructor/referrals/page.tsx
  frontend/app/(public)/search/page.tsx
Due: frontend

`style(ui): unify notifications/messages dropdown surfaces with global translucent class`
  frontend/app/(auth)/instructor/dashboard/page.tsx
  frontend/app/(auth)/instructor/messages/page.tsx
  frontend/app/globals.css
  frontend/components/notifications/NotificationBell.tsx
Due: frontend

fix(a11y): round 7 — describedby ID, listbox label, main focus ring
  frontend/app/globals.css
  frontend/components/availability/ConflictModal.tsx
  frontend/components/availability/__tests__/ConflictModal.test.tsx
  frontend/components/forms/PlacesAutocompleteInput.tsx
  frontend/components/forms/__tests__/PlacesAutocompleteInput.test.tsx
Due: frontend

fix(student-badges): stabilize theme handling and clean up dead badge styles
  docs/session-handoffs/session-handoff-v138.md
  frontend/app/(auth)/student/dashboard/page.tsx
  frontend/app/globals.css
  frontend/features/student/badges/StudentBadgesSection.tsx
  frontend/features/student/badges/__tests__/StudentBadgesSection.spec.tsx
  metrics_history.json
Due: frontend

fix(student-billing): align credit balance card styling with badge tiles
  frontend/app/globals.css
  frontend/components/student/BillingTab.tsx
Due: frontend
