Repository msaedi/instructly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, mcp-server

fix: audit round 6 — 22 items from fourth independent review
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/filter.py
  backend/app/models/instructor.py
  backend/app/models/subcategory.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/routes/v1/catalog.py
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/services.py
  backend/app/schemas/nl_search.py
  backend/app/schemas/service_catalog.py
  backend/tests/integration/api/test_taxonomy_routes.py
  backend/tests/integration/test_catalog_routes.py
  backend/tests/unit/repositories/test_taxonomy_filter_normalization.py
  backend/tests/unit/routes/test_taxonomy_filter_query.py
  frontend/e2e/tests/booking-journey.spec.ts
  frontend/features/shared/api/client.ts
  frontend/hooks/queries/useServices.ts
Due: backend, frontend

fix: align tests with audit round 6 behavioral changes
  backend/tests/integration/test_catalog_routes.py
  backend/tests/repositories/test_service_catalog_repository_coverage.py
  backend/tests/routes/test_services_routes_additional_coverage.py
Due: backend

fix: audit round 7 — 18 items from three independent reviews
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/service_catalog_repository.py
  backend/app/routes/v1/instructors.py
  backend/app/routes/v1/search.py
  backend/app/routes/v1/services.py
  backend/app/routes/v1/taxonomy_filter_query.py
  backend/app/services/booking_service.py
  backend/app/services/catalog_browse_service.py
  backend/app/services/search/nl_search_service.py
  backend/openapi/openapi.json
  backend/tests/models/test_taxonomy_models.py
  backend/tests/repositories/test_taxonomy_filter_repository.py
  backend/tests/routes/test_instructors_routes_coverage.py
  frontend/components/catalog/FilterSelectionForm.tsx
  frontend/components/catalog/HomeCatalogCascade.tsx
  frontend/components/catalog/__tests__/HomeCatalogCascade.test.tsx
  frontend/components/search/filterTypes.ts
  frontend/features/shared/api/client.ts
  frontend/lib/taxonomy/__tests__/formatFilterLabel.test.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

test: fix taxonomy integration assertions and seed count brittleness
  backend/tests/conftest.py
  backend/tests/integration/api/test_taxonomy_routes.py
  backend/tests/integration/seeding/test_review_seeding_bitmap.py
  backend/tests/integration/test_booking_completion_milestones.py
  backend/tests/integration/test_taxonomy_v2_seed.py
  backend/tests/public/test_instructors_visibility.py
  backend/tests/repositories/test_instructor_profile_repository_bgc_branch_coverage.py
  backend/tests/services/test_wallet_milestones.py
  backend/tests/test_service_catalog_enhancements.py
  backend/tests/unit/monitoring/test_otel_branch_coverage.py
  backend/tests/unit/repositories/test_analytics_repository_branch_coverage.py
  backend/tests/unit/services/search/test_nl_search_service_cache_branch_coverage.py
  backend/tests/unit/services/test_availability_service_branch_coverage_extra.py
  backend/tests/unit/services/test_booking_detail_service_branch_coverage.py
  backend/tests/unit/services/test_booking_service_branch_coverage_extra.py
  backend/tests/unit/services/test_instructor_service_branch_coverage_extra.py
  backend/tests/unit/services/test_stripe_service_webhook_branch_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_retry_branch_coverage.py
  docs/session-handoffs/session-handoff-v133.md
  metrics_history.json
Due: backend

fix(e2e): normalize catalog IDs and align homepage mocks
  frontend/components/catalog/HomeCatalogCascade.tsx
  frontend/e2e/fixtures/api-mocks.ts
  frontend/e2e/tests/basic-search.spec.ts
  frontend/e2e/tests/booking-journey.spec.ts
  frontend/e2e/tests/my-lessons.spec.ts
Due: frontend

test(backend): push high-risk branch coverage to 96% and harden flaky suites
  backend/app/tasks/payment_tasks.py
  backend/pyproject.toml
  backend/tests/integration/test_catalog_routes.py
  backend/tests/integration/test_ready_probe.py
  backend/tests/repositories/test_background_job_repository_coverage.py
  backend/tests/routes/test_account_routes_coverage.py
  backend/tests/routes/test_admin_background_checks_routes_coverage.py
  backend/tests/routes/test_profile_picture_routes.py
  backend/tests/routes/test_prometheus_routes_additional_coverage.py
  backend/tests/routes/test_search_history_additional_coverage.py
  backend/tests/routes/test_search_routes_additional_coverage.py
  backend/tests/routes/v1/admin/test_auth_blocks_coverage.py
  backend/tests/routes/v1/test_push_routes.py
  backend/tests/unit/database/test_sessions_module_coverage.py
  backend/tests/unit/dependencies/test_auth_coverage.py
  backend/tests/unit/monitoring/test_otel_branch_coverage.py
  backend/tests/unit/repositories/test_instructor_profile_repository_error_branches.py
  backend/tests/unit/schemas/test_availability_window_additional_coverage.py
  backend/tests/unit/schemas/test_pricing_config_coverage.py
  backend/tests/unit/schemas/test_search_context_coverage.py
  backend/tests/unit/services/search/test_nl_search_service_additional_coverage.py
  backend/tests/unit/services/test_availability_service_branch_coverage_extra.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_booking_service_branch_coverage_extra.py
  backend/tests/unit/services/test_refund_policy_engine_additional_coverage.py
  backend/tests/unit/services/test_refund_service_branch_coverage.py
  backend/tests/unit/services/test_search_history_service_additional_coverage.py
  backend/tests/unit/tasks/test_payment_tasks_additional_coverage.py
  backend/tests/unit/tasks/test_referral_tasks.py
  backend/tests/unit/test_celery_app_coverage.py
Due: backend

ci(security): eliminate JWT InsecureKeyLength warnings by using 32+ byte test secrets
  .github/workflows/backend-ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/nightly-schemathesis.yml
Due: none

fix(monitoring): add explicit cron monitors for all remaining beat tasks
  backend/app/monitoring/sentry_crons.py
  backend/app/tasks/analytics.py
  backend/app/tasks/badge_tasks.py
  backend/app/tasks/notification_tasks.py
  backend/app/tasks/payment_tasks.py
  backend/app/tasks/referral_tasks.py
  backend/app/tasks/referrals.py
  backend/tests/unit/monitoring/test_sentry_crons.py
Due: backend

chore(deps): fix CI dependency conflicts and security audit
  .github/workflows/schemathesis.yml
  backend/requirements-dev.txt
  backend/requirements.txt
Due: backend

fix(email): send welcome email on signup and fix brand name across templates
  backend/app/routes/v1/auth.py
  backend/app/services/email_subjects.py
  backend/app/services/notification_service.py
  backend/app/templates/email/payout/payout_sent.html
  backend/app/templates/email/reviews/new_review.html
  backend/app/templates/email/reviews/review_response.html
  backend/app/templates/email/security/2fa_changed.html
  backend/app/templates/email/security/new_device_login.html
  backend/app/templates/email/security/password_changed.html
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/unit/services/test_notification_service_additional_coverage.py
Due: backend

fix: founding instructor journey testing fixes (Issues #2-#20)
  backend/.artifacts/api.expected.d.ts
  backend/app/services/stripe_service.py
  backend/app/templates/email/auth/welcome.html
  backend/openapi/openapi.json
  backend/scripts/seed_data/catalog/categories.yaml
  backend/scripts/seed_data/seed_taxonomy.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/unit/services/test_stripe_service_webhook_branch_coverage.py
  frontend/__tests__/components/BGCStep.test.tsx
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PreferredLocationsCard.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/welcome/page.tsx
  frontend/app/(public)/instructor/welcome/page.tsx
  frontend/components/catalog/HomeCatalogCascade.tsx
  frontend/components/consent/BackgroundCheckDisclosureModal.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/components/instructor/__tests__/BGCStep.test.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-onboarding/__tests__/useOnboardingStepStatus.test.tsx
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/notification-preferences-v1/notification-preferences-v1.ts
  frontend/src/api/generated/users/users.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

feat(skills): wire skill request submissions to n8n webhook (#12)
  frontend/app/(auth)/instructor/onboarding/skill-selection/page.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/lib/api/skillRequest.ts
Due: frontend

fix: register badge, review, beta models in __init__.py
  backend/app/models/__init__.py
  metrics_history.json
Due: backend

fix: drop legacy embedding Vector(384) from service_catalog
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/service_catalog.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/services/instructor_service.py
  backend/tests/repositories/test_service_catalog_repository_coverage.py
  backend/tests/test_service_catalog_enhancements.py
Due: backend

fix: coordinate Numeric, keyword generation, psycopg2 removal, strict schemas
  backend/alembic/versions/005_search.py
  backend/app/models/instructor.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/schemas/admin_analytics.py
  backend/app/schemas/analytics_responses.py
  backend/app/schemas/nl_search.py
  backend/app/schemas/search_history.py
  backend/app/schemas/service_catalog_responses.py
  backend/app/services/search/keyword_generator.py
  backend/app/services/search/llm_schema.py
  backend/app/services/search/patterns.py
  backend/app/services/search/query_parser.py
  backend/openapi/openapi.json
  metrics_history.json
Due: backend

fix: audit round 7 cleanup — error handling, validation, tests
  backend/app/repositories/taxonomy_filter_repository.py
  backend/app/routes/v1/taxonomy_filter_query.py
  backend/app/schemas/subcategory.py
  backend/app/services/booking_service.py
  backend/app/services/catalog_browse_service.py
  backend/app/services/search/nl_search_service.py
  backend/app/services/search/query_parser.py
  backend/tests/repositories/test_service_catalog_repository_coverage.py
  backend/tests/repositories/test_taxonomy_filter_repository.py
  backend/tests/unit/models/test_filter_model.py
  backend/tests/unit/repositories/test_taxonomy_filter_normalization.py
  backend/tests/unit/routes/test_taxonomy_filter_query.py
  backend/tests/unit/services/search/test_query_parser.py
  backend/tests/unit/test_catalog_browse_service.py
  frontend/app/(public)/search/__tests__/filterContext.test.ts
  frontend/app/(public)/search/filterContext.ts
  frontend/components/search/__tests__/FilterBar.test.tsx
  frontend/components/search/filterTypes.ts
  frontend/components/search/filters/MoreFiltersModal.tsx
  frontend/components/search/filters/__tests__/MoreFiltersModal.test.tsx
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/api/client.ts
Due: backend, frontend

fix: code review findings — duplicate indexes, lazy load, dead code
  backend/alembic/versions/003_availability_booking.py
  backend/alembic/versions/004_messaging.py
  backend/alembic/versions/006_platform_features.py
  backend/app/models/conversation_user_state.py
  backend/app/models/referrals.py
  backend/app/services/search/patterns.py
  backend/app/services/search_history_service.py
  backend/scripts/calculate_service_analytics.py
  backend/tests/integration/test_search_tracking_edge_cases_e2e.py
Due: backend

fix: final review — overlapping index, dead params, cache refactor
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/002_instructor_system.py
  backend/alembic/versions/006_platform_features.py
  backend/app/models/availability_day.py
  backend/app/models/booking.py
  backend/app/models/payment.py
  backend/app/models/referrals.py
  backend/app/models/user.py
  backend/app/repositories/search_analytics_repository.py
  backend/app/routes/v1/taxonomy_filter_query.py
  backend/app/services/search/keyword_generator.py
  backend/openapi/openapi.json
  backend/scripts/generate_openai_embeddings.py
  backend/scripts/populate_region_embeddings.py
  backend/scripts/prep_db.py
  backend/tests/integration/repositories/test_search_analytics_repository_coverage.py
  backend/tests/routes/test_search_routes_additional_coverage.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

fix: final sweep — stale refs in scripts, psycopg2 removal, docs
  backend/app/models/service_catalog.py
  backend/app/repositories/service_catalog_repository.py
  backend/app/tasks/search_analytics.py
  backend/scripts/demo_enhanced_catalog.py
  backend/scripts/monitor_test_database.py
  backend/scripts/project_overview.py
  backend/scripts/reset_and_seed_yaml.py
  backend/scripts/seed_catalog_only.py
  backend/tests/tasks/test_search_analytics.py
  backend/tests/unit/test_search_analytics_tasks.py
Due: backend

fix(booking): booking_span generated column handles general midnight crossing
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/booking.py
  backend/tests/utils/booking_timezone.py
Due: backend

fix(scripts): final sweep — stale refs in scripts, psycopg2 removal, docs
  backend/scripts/demo_enhanced_catalog.py
  backend/scripts/generate_service_embeddings.py
  backend/scripts/seed_data/catalog/services.yaml
Due: backend

fix(api,e2e): align cleanFetch error type, resolve e2e navigation timeout
  frontend/e2e/tests/booking-journey-mocked.spec.ts
  frontend/features/shared/api/__tests__/client.fetch.test.ts
Due: frontend

fix(deps): bump pillow 12.1.0 → 12.1.1 (CVE-2026-25990)
  backend/requirements.txt
Due: backend

fix(search): prevent keyword overwrites and stabilize vector search test
  backend/app/services/search/keyword_generator.py
  backend/tests/integration/services/nl_search/test_nl_search_service_integration.py
Due: backend

fix(search): resolve ambiguous keyword conflicts in taxonomy dicts
  backend/app/services/search/keyword_generator.py
Due: backend

refactor: extract booking_disputes + booking_transfers satellites (Phase 1)
  backend/alembic/versions/003_availability_booking.py
  backend/app/database/engines.py
  backend/app/models/__init__.py
  backend/app/models/booking.py
  backend/app/models/booking_dispute.py
  backend/app/models/booking_transfer.py
  backend/app/repositories/booking_repository.py
  backend/app/services/admin_ops_service.py
  backend/app/services/booking_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/payment_tasks.py
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/integration/test_capture_failure_escalation.py
  backend/tests/integration/test_locked_cancellation_credit_only.py
  backend/tests/integration/test_stripe_id_persistence.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_booking_service_cancellation.py
  backend/tests/unit/services/test_stripe_service_r4.py
Due: backend

refactor: extract booking_no_shows + booking_locks satellites (Phase 2)
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/__init__.py
  backend/app/models/booking.py
  backend/app/models/booking_lock.py
  backend/app/models/booking_no_show.py
  backend/app/repositories/booking_repository.py
  backend/app/schemas/booking.py
  backend/app/services/booking_detail_service.py
  backend/app/services/booking_service.py
  backend/tests/factories/booking_builders.py
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/integration/test_credit_reservation.py
  backend/tests/integration/test_lock_mechanism.py
  backend/tests/integration/test_lock_resolution_concurrency.py
  backend/tests/integration/test_lock_scheduled_booking.py
  backend/tests/integration/test_no_show_handling.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_booking_service_cancellation.py
  backend/tests/unit/services/test_booking_service_coverage.py
  backend/tests/unit/services/test_booking_service_r4.py
Due: backend

refactor(bookings): extract booking_payments satellite (Phase 3)
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/__init__.py
  backend/app/models/booking.py
  backend/app/models/booking_payment.py
  backend/app/repositories/booking_repository.py
  backend/app/schemas/booking.py
  backend/app/services/booking_detail_service.py
  backend/tests/models/test_booking_satellite_models.py
Due: backend

perf(tests): skip module-level app boot for nightly-only test files
  backend/tests/integration/test_schemathesis_api_v1.py
  backend/tests/integration/test_sse_endpoints.py
Due: backend

refactor(bookings): extract booking_reschedules satellite (Phase 4 — final)
  backend/alembic/versions/003_availability_booking.py
  backend/app/models/__init__.py
  backend/app/models/booking.py
  backend/app/models/booking_reschedule.py
  backend/app/repositories/booking_repository.py
  backend/app/schemas/booking.py
  backend/app/services/booking_detail_service.py
  backend/app/services/booking_service.py
  backend/tests/factories/booking_builders.py
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/integration/test_lock_mechanism.py
  backend/tests/integration/test_lock_scheduled_booking.py
  backend/tests/integration/test_reschedule_enforcement.py
  backend/tests/models/test_booking_satellite_models.py
  backend/tests/services/test_booking_cancellation_policy.py
  backend/tests/unit/services/test_booking_service.py
  backend/tests/unit/services/test_booking_service_additional_coverage.py
  backend/tests/unit/services/test_booking_service_branch_coverage_extra.py
Due: backend

perf(tests): optimize test suite — module-scoped fixtures + process-level caching
  backend/tests/conftest.py
  backend/tests/integration/routes/test_addresses_strict.py
  backend/tests/integration/routes/test_beta_strict.py
  backend/tests/integration/routes/test_booking_date_validation.py
  backend/tests/integration/routes/test_bookings_strict.py
  backend/tests/integration/routes/test_error_contracts.py
  backend/tests/integration/routes/test_gated_strict.py
  backend/tests/integration/routes/test_messages_strict.py
  backend/tests/integration/routes/test_payments_requests_strict.py
  backend/tests/integration/routes/test_reviews_strict.py
  backend/tests/integration/routes/test_services_strict.py
  backend/tests/integration/search_history/test_strict_schemas.py
  backend/tests/integration/test_error_envelope.py
  backend/tests/openapi/test_components_titles.py
  backend/tests/unit/test_openapi_app_coverage.py
Due: backend

perf(tests): fix keyword cache + module-scope strict/OpenAPI fixtures
  backend/app/services/search/keyword_generator.py
  backend/tests/integration/routes/conftest.py
  backend/tests/integration/routes/test_instructors_strict.py
  backend/tests/integration/routes/test_payments_strict.py
  backend/tests/integration/routes/test_search_history_strict.py
  backend/tests/integration/routes/test_uploads_strict.py
  backend/tests/openapi/test_operation_ids_unique.py
  metrics_history.json
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
  mcp-server: any of: mcp-server/
