Repository msaedi/instructly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, mcp-server

`refactor(ui): align student lessons with shared insta styles and fix dark-mode regressions`
  frontend/__tests__/lessons/LessonStatus.test.tsx
  frontend/app/(auth)/student/booking/confirm/page.tsx
  frontend/app/(auth)/student/lessons/page.tsx
  frontend/app/globals.css
  frontend/components/lessons/LessonCard.tsx
  frontend/components/ui/status-badge.tsx
  frontend/features/student/booking/components/BookingModalWithPayment.tsx
  metrics_history.json
Due: frontend

`fix(referrals): derive local referral links from request origin`
  backend/app/routes/v1/instructor_referrals.py
  backend/tests/routes/v1/test_instructor_referrals_routes.py
  frontend/app/(auth)/instructor/referrals/page.tsx
Due: backend, frontend

`fix(settings): separate About accordion state from account details
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
Due: frontend

chore(deps): apply safe dependabot updates across backend, frontend, and CI
  .github/workflows/ci.yml
  .github/workflows/contract-audit.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/env-contract.yml
  .github/workflows/frontend-lint-build.yml
  .github/workflows/lhci.yml
  .github/workflows/load-test.yml
  .github/workflows/nightly-schemathesis.yml
  .github/workflows/owasp-zap.yml
  .github/workflows/privacy-audit.yml
  .github/workflows/schemathesis.yml
  .github/workflows/test-analytics.yml
  .github/workflows/typing-strict-experimental.yml
  backend/requirements.txt
  frontend/package.json
Due: backend, frontend

fix(frontend): add n8n and R2 domains to CSP connect-src
  frontend/next.config.ts
Due: frontend

fix(frontend,backend): CSP allow R2 images + replace selectinload with COUNT for /categories/browse
  backend/app/repositories/service_catalog_repository.py
  backend/app/services/instructor_service.py
  backend/tests/repositories/test_service_catalog_repository_taxonomy.py
  backend/tests/unit/services/test_instructor_service_missed_coverage.py
  backend/tests/unit/services/test_instructor_service_taxonomy.py
  frontend/next.config.ts
Due: backend, frontend

fix(frontend): add FCRA consent modal to onboarding status page
  frontend/app/(auth)/instructor/onboarding/__tests__/status.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
Due: frontend

fix(backend): unwrap SecretStr for Mapbox geocoding token + regression test
  backend/app/services/background_check_service.py
  backend/tests/unit/test_background_check_invite.py
Due: backend

fix(backend): handle SecretStr and plain str for Mapbox token + fix CI tests
  backend/app/services/background_check_service.py
  backend/tests/services/test_background_check_service_coverage.py
  metrics_history.json
Due: backend

fix: comprehensive auth cache invalidation for all user-mutating flows
  backend/app/core/auth_cache.py
  backend/app/routes/v1/account.py
  backend/app/routes/v1/auth.py
  backend/app/services/permission_service.py
  backend/app/services/personal_asset_service.py
  backend/app/services/privacy_service.py
  backend/tests/integration/services/test_permission_service_coverage.py
  backend/tests/routes/test_account_routes_coverage.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/routes/test_profile_picture_routes.py
  backend/tests/services/test_personal_asset_service.py
  backend/tests/services/test_privacy_service.py
  backend/tests/unit/core/test_auth_cache_coverage.py
Due: backend

fix: Stripe Identity return URL + verification polling
  backend/app/routes/v1/payments.py
  backend/tests/routes/test_payments_identity.py
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  metrics_history.json
Due: backend, frontend

fix: harden fire-and-forget cache invalidation (3 Sentry issues)
  backend/app/core/auth_cache.py
  backend/app/core/cache_redis.py
  backend/tests/unit/core/test_auth_cache_coverage.py
Due: backend

fix: identity refresh checks Stripe VerificationSession instead of Connect status
  backend/app/services/background_check_service.py
  backend/app/services/stripe_service.py
  backend/pyproject.toml
  backend/tests/services/test_stripe_service.py
  backend/tests/unit/services/test_stripe_service_missed_coverage.py
  metrics_history.json
Due: backend

feat: identity verification status display, session reuse, error handling
  backend/.artifacts/api.expected.d.ts
  backend/app/schemas/payment_schemas.py
  backend/app/services/stripe_service.py
  backend/openapi/openapi.json
  backend/tests/routes/test_payments.py
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/unit/services/test_stripe_service_webhook_branch_coverage.py
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

fix: restore 6 defensive guards removed during coverage push
  frontend/components/InstructorCard.tsx
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/components/instructor/StripeOnboarding.tsx
  frontend/components/instructor/__tests__/StripeOnboarding.test.tsx
  frontend/features/instructor-profile/SkillsPricingInline.tsx
  frontend/features/instructor-profile/__tests__/SkillsPricingInline.test.tsx
  frontend/features/instructor-profile/components/AvailabilityGrid.tsx
  frontend/features/shared/booking/ui/TimeDropdown.helpers.ts
  frontend/features/shared/booking/ui/TimeDropdown.tsx
  frontend/features/shared/booking/ui/__tests__/TimeDropdown.helpers.test.ts
  frontend/features/shared/hooks/__tests__/useSWRCustom.test.tsx
  frontend/features/shared/hooks/useSWRCustom.ts
  frontend/features/student/payment/components/PaymentConfirmation.helpers.ts
  frontend/features/student/payment/components/PaymentConfirmation.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.helpers.test.ts
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/jest.config.js
Due: frontend

test: frontend branch coverage 94.03% → 94.93% (+53 branches)
  frontend/components/__tests__/RecentSearches.test.tsx
  frontend/components/__tests__/UpcomingLessons.test.tsx
  frontend/components/instructor/messages/hooks/__tests__/useMessageThread.test.ts
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/components/__tests__/AvailabilityGrid.test.tsx
  frontend/features/shared/api/__tests__/client.test.ts
  frontend/features/shared/booking/ui/__tests__/Calendar.test.tsx
  frontend/features/shared/booking/ui/__tests__/TimeDropdown.test.tsx
  frontend/features/shared/hooks/__tests__/useAuth.test.tsx
  frontend/features/shared/hooks/__tests__/useSWRCustom.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/hooks/__tests__/useProfilePictureUrls.test.tsx
  frontend/hooks/availability/__tests__/useAvailability.test.ts
  frontend/hooks/availability/__tests__/usePublicAvailability.test.ts
  frontend/hooks/queries/__tests__/useHomepage.test.ts
  metrics_history.json
Due: frontend

feat: identity cross-checking between Stripe Identity, Checkr BGC, and signup
  .github/workflows/backend-ci.yml
  backend/alembic/versions/002_instructor_system.py
  backend/app/integrations/checkr_client.py
  backend/app/models/instructor.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/v1/instructor_bgc.py
  backend/app/routes/v1/webhooks_checkr.py
  backend/app/services/background_check_service.py
  backend/app/services/stripe_service.py
  backend/tests/conftest.py
  backend/tests/integration/services/test_background_check_consent.py
  backend/tests/routes/test_instructor_bgc_routes_coverage.py
  backend/tests/routes/test_webhooks_checkr_coverage.py
  backend/tests/services/test_background_check_service_coverage.py
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/unit/test_background_check_invite.py
  backend/tests/unit/test_bgc_endpoints.py
  backend/tests/unit/test_checkr_client.py
  backend/tests/unit/test_checkr_webhook.py
  frontend/app/(auth)/instructor/onboarding/__tests__/status.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/components/instructor/__tests__/BGCStep.test.tsx
Due: backend, frontend

fix: identity cross-checking audit fixes (4 items)
  backend/app/services/stripe_service.py
  backend/tests/services/test_stripe_service.py
  frontend/__tests__/components/BGCStep.test.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/components/instructor/__tests__/BGCStep.test.tsx
Due: backend, frontend

fix: address PR review findings on identity cross-checking
  .github/workflows/backend-ci.yml
  backend/app/routes/v1/webhooks_checkr.py
  backend/app/services/stripe_service.py
  backend/app/utils/identity.py
  backend/pyproject.toml
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/unit/test_checkr_webhook.py
  backend/tests/unit/utils/test_identity.py
  frontend/components/instructor/__tests__/BGCStep.test.tsx
Due: backend, frontend

fix: PR review polish — performance, type safety, observability
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/v1/admin/background_checks.py
  backend/app/routes/v1/admin/instructors.py
  backend/app/routes/v1/instructor_bgc.py
  backend/app/routes/v1/webhooks_checkr.py
  backend/app/services/background_check_service.py
  backend/app/services/background_check_workflow_service.py
  backend/app/services/instructor_admin_service.py
  backend/app/services/instructor_service.py
  backend/app/services/mcp_instructor_service.py
  backend/app/services/stripe_service.py
  backend/tests/routes/test_instructor_bgc_routes_coverage.py
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/unit/test_bgc_emails.py
Due: backend

feat: identity cross-checking between Stripe Identity, Checkr BGC, and signup (#305)
  .github/workflows/backend-ci.yml
  backend/alembic/versions/002_instructor_system.py
  backend/app/integrations/checkr_client.py
  backend/app/models/instructor.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/v1/admin/background_checks.py
  backend/app/routes/v1/admin/instructors.py
  backend/app/routes/v1/instructor_bgc.py
  backend/app/routes/v1/webhooks_checkr.py
  backend/app/services/background_check_service.py
  backend/app/services/background_check_workflow_service.py
  backend/app/services/instructor_admin_service.py
  backend/app/services/instructor_service.py
  backend/app/services/mcp_instructor_service.py
  backend/app/services/stripe_service.py
  backend/app/utils/identity.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/integration/services/test_background_check_consent.py
  backend/tests/routes/test_instructor_bgc_routes_coverage.py
  backend/tests/routes/test_webhooks_checkr_coverage.py
  backend/tests/services/test_background_check_service_coverage.py
  backend/tests/services/test_stripe_service.py
  backend/tests/services/test_stripe_webhooks.py
  backend/tests/unit/test_background_check_invite.py
  backend/tests/unit/test_bgc_emails.py
  backend/tests/unit/test_bgc_endpoints.py
  backend/tests/unit/test_checkr_client.py
  backend/tests/unit/test_checkr_webhook.py
  backend/tests/unit/utils/test_identity.py
  frontend/__tests__/components/BGCStep.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/status.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/components/instructor/BGCStep.tsx
  frontend/components/instructor/__tests__/BGCStep.test.tsx
Due: backend, frontend

feat: null PII fields after BGC cross-check completes
  backend/app/routes/v1/webhooks_checkr.py
  backend/tests/unit/services/test_background_check_workflow_service.py
  backend/tests/unit/services/test_instructor_service.py
  backend/tests/unit/test_checkr_webhook.py
Due: backend

test: frontend branch coverage 94.93% → 95.29% (+57 branches)
  frontend/components/__tests__/InstructorCard.test.tsx
  frontend/components/instructor/messages/hooks/__tests__/useMessageThread.test.ts
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/features/instructor-profile/components/__tests__/AvailabilityGrid.test.tsx
  frontend/features/student/booking/components/__tests__/BookingModal.test.tsx
  frontend/features/student/booking/components/__tests__/TimeSelectionModal.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentConfirmation.test.tsx
  frontend/features/student/payment/components/__tests__/PaymentSection.test.tsx
  frontend/jest.config.js
  metrics_history.json
Due: frontend

fix: eliminate dual-server in Lighthouse CI — test against warmed server
  .github/workflows/lhci.yml
  frontend/lhci.config.js
Due: frontend

feat: use restricted API key for Stripe Identity DOB access
  backend/app/core/config.py
  backend/app/services/stripe_service.py
  backend/tests/services/test_stripe_service.py
Due: backend

feat: identity name mismatch — banner, auto-clear, go-live block
  backend/.artifacts/api.expected.d.ts
  backend/app/core/cache_redis.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/instructors.py
  backend/app/schemas/instructor.py
  backend/app/schemas/payment_schemas.py
  backend/app/services/instructor_service.py
  backend/app/services/stripe_service.py
  backend/openapi/openapi.json
  backend/tests/public/test_instructors_visibility.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/services/test_stripe_service.py
  backend/tests/unit/core/test_cache_redis_coverage.py
  backend/tests/unit/core/test_cache_redis_coverage_r5.py
  backend/tests/unit/services/test_instructor_service_additional_coverage.py
  backend/tests/unit/services/test_instructor_service_branch_coverage_extra.py
  backend/tests/unit/test_instructor_go_live.py
  frontend/app/(auth)/instructor/onboarding/__tests__/status.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/__tests__/verification.page.test.tsx
  frontend/app/(auth)/instructor/onboarding/status/page.tsx
  frontend/app/(auth)/instructor/onboarding/verification/page.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-onboarding/__tests__/useOnboardingStepStatus.test.tsx
  frontend/features/instructor-onboarding/useOnboardingStepStatus.ts
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

feat(identity): last name lock, DOB pre-fill, PII cleanup scope fix
  backend/app/routes/v1/auth.py
  backend/app/routes/v1/webhooks_checkr.py
  backend/app/services/background_check_service.py
  backend/tests/conftest.py
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/routes/test_auth_routes_coverage.py
  backend/tests/unit/test_background_check_invite.py
  backend/tests/unit/test_checkr_webhook.py
  frontend/app/(auth)/instructor/onboarding/account-setup/components/PersonalInfoCard.tsx
  frontend/app/(auth)/instructor/settings/SettingsImpl.tsx
  frontend/components/UserProfileDropdown.tsx
  frontend/components/__tests__/UserProfileDropdown.test.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/components/modals/__tests__/EditProfileModal.test.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/__tests__/InstructorProfileForm.test.tsx
  frontend/lib/apiErrors.ts
Due: backend, frontend

feat(identity): DOB cross-check between Stripe Identity and Checkr BGC
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/002_instructor_system.py
  backend/app/models/instructor.py
  backend/app/repositories/instructor_profile_repository.py
  backend/app/routes/v1/admin/instructors.py
  backend/app/routes/v1/webhooks_checkr.py
  backend/app/schemas/admin_instructor_responses.py
  backend/app/services/background_check_service.py
  backend/app/services/instructor_service.py
  backend/openapi/openapi.json
  backend/tests/admin/test_bgc_review_queue.py
  backend/tests/unit/services/test_instructor_service_additional_coverage.py
  backend/tests/unit/services/test_instructor_service_branch_coverage_extra.py
  backend/tests/unit/test_background_check_invite.py
  backend/tests/unit/test_checkr_webhook.py
  backend/tests/unit/test_instructor_go_live.py
  frontend/app/(admin)/admin/bgc-review/__tests__/page.test.tsx
  frontend/app/(admin)/admin/bgc-review/hooks.ts
  frontend/app/(admin)/admin/bgc-review/page.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

feat(admin): identity comparison grid on BGC review panel
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/admin/instructors.py
  backend/app/schemas/admin_instructor_responses.py
  backend/openapi/openapi.json
  frontend/app/(admin)/admin/bgc-review/__tests__/page.test.tsx
  frontend/app/(admin)/admin/bgc-review/hooks.ts
  frontend/app/(admin)/admin/bgc-review/page.tsx
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

fix(onboarding): minimum years of experience 0 → 1
  backend/alembic/versions/002_instructor_system.py
  backend/app/schemas/instructor.py
  backend/app/services/auth_service.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_instructors.py
  backend/tests/repositories/test_instructor_profile_repository.py
  frontend/app/(auth)/instructor/onboarding/account-setup/components/BioCard.tsx
  frontend/app/(public)/instructor/apply/page.tsx
  frontend/components/modals/EditProfileModal.tsx
  frontend/features/instructor-profile/InstructorProfileForm.tsx
  frontend/features/instructor-profile/hooks/useInstructorProfile.ts
  frontend/src/api/generated/instructly.schemas.ts
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
  mcp-server: any of: mcp-server/
