Repository msaedi/instructly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, mcp-server

feat(observability): add request_id to error responses and display support codes
  backend/app/errors.py
  backend/app/monitoring/sentry_crons.py
  backend/app/tasks/celery_app.py
  backend/tests/unit/api/test_errors_request_id.py
  frontend/app/__tests__/global-error.test.tsx
  frontend/app/global-error.tsx
  frontend/components/errors/QueryErrorBoundary.tsx
  frontend/components/errors/__tests__/QueryErrorBoundary.test.tsx
  frontend/lib/api/fetch.ts
  frontend/lib/errors/supportCode.ts
  frontend/lib/http.ts
  metrics_history.json
Due: backend, frontend

feat(observability): add request_id logging injection and Celery propagation
  backend/app/core/production_startup.py
  backend/app/core/request_context.py
  backend/app/main.py
  backend/app/middleware/performance.py
  backend/app/monitoring/production_monitor.py
  backend/app/routes/v1/monitoring.py
  backend/app/services/referral_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/monitoring_tasks.py
  backend/app/tasks/notification_tasks.py
  backend/app/tasks/payment_tasks.py
  backend/app/tasks/referral_tasks.py
  backend/tests/integration/tasks/test_monitoring_tasks_coverage.py
  backend/tests/integration/test_instructor_referral_flow.py
  backend/tests/routes/test_monitoring_routes_coverage.py
  backend/tests/unit/core/test_request_context.py
  backend/tests/unit/middleware/test_performance_request_id.py
  backend/tests/unit/monitoring/test_production_monitor_coverage.py
  backend/tests/unit/services/test_referral_service_r4.py
  backend/tests/unit/tasks/test_referral_tasks.py
  backend/tests/unit/tasks/test_request_id_context.py
Due: backend

feat(observability): implement OpenTelemetry Phase 1 - FastAPI integration
  backend/app/core/production_startup.py
  backend/app/core/request_context.py
  backend/app/errors.py
  backend/app/main.py
  backend/app/middleware/performance.py
  backend/app/monitoring/otel.py
  backend/app/monitoring/sentry.py
  backend/app/schemas/base_responses.py
  backend/app/tasks/celery_app.py
  backend/requirements.txt
  backend/tests/unit/api/test_errors_request_id.py
  backend/tests/unit/core/test_request_context.py
  backend/tests/unit/middleware/test_performance_request_id.py
  backend/tests/unit/monitoring/test_otel.py
  backend/tests/unit/monitoring/test_sentry.py
  docs/infrastructure/10_external_integrations.md
  frontend/lib/__tests__/problem.test.ts
  frontend/lib/__tests__/supportCode.test.ts
  frontend/lib/api/fetch.ts
  frontend/lib/errors/problem.ts
  frontend/lib/errors/supportCode.ts
Due: backend, frontend

feat(observability): implement OpenTelemetry Phase 2 - Celery integration
  backend/app/commands/analytics.py
  backend/app/monitoring/otel.py
  backend/app/monitoring/production_monitor.py
  backend/app/routes/v1/monitoring.py
  backend/app/services/referral_service.py
  backend/app/services/stripe_service.py
  backend/app/tasks/__init__.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/enqueue.py
  backend/app/tasks/monitoring_tasks.py
  backend/app/tasks/notification_tasks.py
  backend/app/tasks/payment_tasks.py
  backend/app/tasks/referral_tasks.py
  backend/requirements.txt
  backend/tests/integration/tasks/test_monitoring_tasks_coverage.py
  backend/tests/integration/tasks/test_notification_tasks_int.py
  backend/tests/integration/test_instructor_referral_flow.py
  backend/tests/routes/test_monitoring_routes_coverage.py
  backend/tests/unit/commands/test_analytics_additional_coverage.py
  backend/tests/unit/monitoring/test_production_monitor_coverage.py
  backend/tests/unit/services/test_referral_service_r4.py
  backend/tests/unit/tasks/test_celery_otel.py
  backend/tests/unit/tasks/test_enqueue.py
  backend/tests/unit/tasks/test_notification_tasks_coverage.py
  backend/tests/unit/tasks/test_referral_tasks.py
Due: backend

fix(observability): apply researcher corrections + SSE request_id handling
  backend/app/database/__init__.py
  backend/app/monitoring/otel.py
  backend/app/routes/v1/messages.py
  backend/requirements.txt
  backend/tests/routes/test_messages_routes_coverage.py
  backend/tests/unit/monitoring/test_otel.py
Due: backend

feat(observability): add Next.js server-side OpenTelemetry integration
  frontend/__tests__/instrumentation.test.ts
  frontend/instrumentation.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/sentry.client.config.ts
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
Due: frontend

feat(observability): add next-axiom for structured frontend logging
  frontend/__tests__/logger.test.ts
  frontend/app/layout.tsx
  frontend/lib/logger.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix(observability): address CI failure and reviewer suggestions
  backend/app/errors.py
  backend/app/monitoring/otel.py
  backend/app/routes/v1/messages.py
  backend/app/tasks/enqueue.py
  frontend/lib/errors/supportCode.ts
  frontend/lib/logger.ts
Due: backend, frontend

fix(observability): address PR review findings
  backend/app/errors.py
  backend/app/routes/v1/messages.py
  backend/app/tasks/celery_app.py
  frontend/__tests__/http-trace-propagation.test.ts
  frontend/lib/api/fetch.ts
  frontend/lib/http.ts
  frontend/lib/logger.ts
Due: backend, frontend

fix(observability): final review fixes and hardening
  backend/app/monitoring/otel.py
  backend/app/routes/v1/messages.py
  backend/app/tasks/celery_app.py
  backend/app/tasks/enqueue.py
  backend/tests/conftest.py
  backend/tests/routes/test_messages_routes_coverage.py
  frontend/__tests__/integration/trace-propagation.test.ts
  frontend/components/maps/__tests__/InstructorCoverageMap.test.tsx
  frontend/jest.setup.js
Due: backend, frontend

fix(observability): defensive parsing and edge case fixes
  backend/app/monitoring/otel.py
  frontend/instrumentation.ts
  frontend/lib/logger.ts
Due: backend, frontend

fix(otel): make ENABLE_OTEL evaluation dynamic instead of cached
  backend/app/monitoring/otel.py
Due: backend

fix(otel): preserve trace context in middleware and rebuild stack after instrumentation
  CLAUDE.md
  backend/app/middleware/performance.py
  backend/app/monitoring/otel.py
  metrics_history.json
Due: backend

feat(otel): add OpenTelemetry to Celery Beat and MCP server
  backend/app/tasks/celery_app.py
  mcp-server/pyproject.toml
  mcp-server/src/instainstru_mcp/config.py
  mcp-server/src/instainstru_mcp/otel.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/tests/test_otel.py
  metrics_history.json
Due: backend, mcp-server

fix(otel): handle empty trace IDs and add payment health query resilience
  backend/app/core/request_context.py
  backend/app/services/celery_admin_service.py
  docs/operations/axiom-monitors.md
  docs/operations/daily-ops-checklist.md
  docs/session-handoffs/session-handoff-v130.md
Due: backend

docs - run black on docs
  docs/operations/axiom-monitors.md
  docs/session-handoffs/session-handoff-v130.md
Due: none

feat(mcp): add command_center_snapshot tool for unified health view
  backend/tests/load/config/conversations.json
  backend/tests/load/setup_conversations.py
  docs/operations/command-center-snapshot.md
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/command_center.py
  mcp-server/tests/test_command_center.py
Due: backend, mcp-server

fix(mcp): handle double-Bearer prefix in Axiom auth header
  mcp-server/src/instainstru_mcp/tools/command_center.py
  mcp-server/tests/test_command_center.py
Due: mcp-server

fix(mcp): use project="all" for Sentry calls in command center snapshot
  mcp-server/src/instainstru_mcp/tools/command_center.py
Due: mcp-server

feat(mcp): add deploy_overview tool for service version tracking
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/deploy.py
  mcp-server/tests/test_deploy.py
Due: mcp-server

feat(mcp): add support_lookup tool for customer support investigations
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/support.py
  mcp-server/tests/test_support.py
Due: mcp-server

feat(mcp): add growth_snapshot tool for business health metrics
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/growth.py
  mcp-server/src/instainstru_mcp/tools/support.py
  mcp-server/tests/test_growth.py
Due: mcp-server

feat: add webhook ledger with replay capability
  .claude/settings.json
  backend/.artifacts/api.expected.d.ts
  backend/.repository-migration-tracking.json
  backend/alembic/versions/006_platform_features.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/webhook_event.py
  backend/app/openapi_app.py
  backend/app/repositories/message_repository.py
  backend/app/repositories/webhook_event_repository.py
  backend/app/routes/v1/admin/mcp/webhooks.py
  backend/app/routes/v1/payments.py
  backend/app/routes/v1/webhooks_checkr.py
  backend/app/schemas/mcp_webhooks.py
  backend/app/services/webhook_ledger_service.py
  backend/openapi/openapi.json
  backend/tests/conftest.py
  backend/tests/repositories/test_webhook_event_repository.py
  backend/tests/routes/v1/admin/mcp/test_webhooks.py
  backend/tests/services/test_webhook_ledger_service.py
  backend/tests/test_routes_invariants.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-webhooks/mcp-admin-webhooks.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/webhooks.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_webhooks.py
  metrics_history.json
Due: backend, frontend, mcp-server

fix: resolve Celery task registration and N+1 query issues
  backend/app/repositories/admin_ops_repository.py
  backend/app/tasks/celery_app.py
  backend/tests/repositories/test_admin_ops_repository_n_plus_one.py
Due: backend

fix(mcp): normalize limit param to prevent celery_failed_tasks 422
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/tests/test_client.py
Due: mcp-server

fix: growth snapshot comparison returning identical periods
  backend/.artifacts/api.expected.d.ts
  backend/app/routes/v1/admin/mcp/operations.py
  backend/app/services/admin_ops_service.py
  backend/openapi/openapi.json
  backend/tests/routes/v1/admin/mcp/test_operations.py
  backend/tests/unit/services/test_admin_ops_service.py
  docs/session-handoffs/session-handoff-v131.md
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/tools/growth.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_growth.py
Due: backend, frontend, mcp-server

fix(mcp): payment timeline includes all states + accepts email lookup
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/admin_ops_repository.py
  backend/app/routes/v1/admin/mcp/payments.py
  backend/app/schemas/admin_payments.py
  backend/app/services/admin_ops_service.py
  backend/openapi/openapi.json
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/routes/test_health_routes.py
  backend/tests/routes/v1/admin/mcp/test_payments.py
  backend/tests/services/test_admin_ops_payment_timeline.py
  backend/tests/services/test_admin_ops_service_helpers.py
  backend/tests/unit/repositories/test_admin_ops_repository_errors.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/tools/payments.py
  mcp-server/tests/test_payments.py
Due: backend, frontend, mcp-server

feat(mcp): add scheduling timestamps to payment timeline
  backend/app/schemas/admin_payments.py
  backend/app/services/admin_ops_service.py
  backend/tests/services/test_admin_ops_payment_timeline.py
  backend/tests/services/test_admin_ops_service_helpers.py
  metrics_history.json
Due: backend

feat(mcp): add booking_detail tool for support investigations (P0.1)
  backend/.artifacts/api.expected.d.ts
  backend/app/api/dependencies/services.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/message_repository.py
  backend/app/repositories/webhook_event_repository.py
  backend/app/routes/v1/admin/mcp/__init__.py
  backend/app/routes/v1/admin/mcp/booking_detail.py
  backend/app/schemas/admin_booking_detail.py
  backend/app/services/booking_detail_service.py
  backend/openapi/openapi.json
  backend/pyproject.toml
  backend/tests/services/test_admin_ops_payment_timeline.py
  backend/tests/services/test_admin_ops_service_helpers.py
  backend/tests/services/test_booking_detail_service.py
  backend/tests/services/test_image_processing_service.py
  backend/tests/unit/monitoring/test_otel.py
  backend/tests/unit/monitoring/test_sentry.py
  backend/tests/unit/test_crypto.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-booking-detail/mcp-admin-booking-detail.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/booking_detail.py
  mcp-server/tests/test_booking_detail.py
  mcp-server/tests/test_client.py
  pytest.ini
Due: backend, frontend, mcp-server

feat(mcp): add refund preview/execute tools with policy engine (P0.3)
  backend/.artifacts/api.expected.d.ts
  backend/app/api/dependencies/services.py
  backend/app/main.py
  backend/app/openapi_app.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/admin/mcp/__init__.py
  backend/app/routes/v1/admin/mcp/refunds.py
  backend/app/schemas/admin_refund.py
  backend/app/services/mcp_confirm_token_service.py
  backend/app/services/refund_policy_engine.py
  backend/app/services/refund_service.py
  backend/openapi/openapi.json
  backend/tests/services/test_refund_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/src/api/generated/mcp-admin-refunds/mcp-admin-refunds.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/refunds.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_refunds.py
Due: backend, frontend, mcp-server

fix: resolve 3 Sentry issues (MCP-6, API-C, API-1V)
  backend/alembic/versions/006_platform_features.py
  backend/app/tasks/celery_app.py
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/tools/payments.py
Due: backend, mcp-server

chore(deps): batch update dependencies
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: backend, frontend

feat(mcp): add booking admin actions with preview/execute pattern (P0.4)
  backend/.artifacts/api.expected.d.ts
  backend/alembic/versions/006_platform_features.py
  backend/app/api/dependencies/services.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/booking.py
  backend/app/models/booking_note.py
  backend/app/repositories/__init__.py
  backend/app/repositories/booking_note_repository.py
  backend/app/repositories/factory.py
  backend/app/routes/v1/admin/mcp/__init__.py
  backend/app/routes/v1/admin/mcp/booking_actions.py
  backend/app/schemas/admin_booking_actions.py
  backend/app/schemas/admin_booking_detail.py
  backend/app/services/booking_admin_service.py
  backend/app/services/booking_detail_service.py
  backend/app/services/notification_service.py
  backend/app/services/template_registry.py
  backend/app/templates/email/booking/completed_instructor.html
  backend/app/templates/email/booking/completed_student.html
  backend/openapi/openapi.json
  backend/tests/integration/services/test_booking_service_coverage_int.py
  backend/tests/repositories/test_booking_note_repository.py
  backend/tests/routes/test_admin_mcp_booking_actions_routes.py
  backend/tests/schemas/test_admin_booking_detail_schema.py
  backend/tests/services/test_booking_admin_service.py
  backend/tests/services/test_booking_detail_service.py
  backend/tests/services/test_notification_service_booking_completed.py
  backend/tests/services/test_template_registry.py
  backend/tests/unit/services/test_notification_service.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/booking_actions.py
  mcp-server/tests/test_booking_actions.py
  mcp-server/tests/test_client.py
Due: backend, frontend, mcp-server

test(frontend): avoid global-error DOM nesting; silence logger output
  frontend/__tests__/logger.test.ts
  frontend/app/__tests__/global-error.test.tsx
Due: frontend

fix: use 32+ byte JWT secrets to silence PyJWT 2.11.0 warnings
  backend/.env.example
  backend/scripts/dev/test_coverage_locally.py
  backend/tests/unit/test_auth_core_coverage.py
Due: backend

feat(mcp): add instructor admin actions with preview/execute pattern (P0.5)
  backend/alembic/versions/006_platform_features.py
  backend/app/api/dependencies/services.py
  backend/app/main.py
  backend/app/models/instructor.py
  backend/app/repositories/booking_note_repository.py
  backend/app/repositories/booking_repository.py
  backend/app/routes/v1/admin/mcp/__init__.py
  backend/app/routes/v1/admin/mcp/instructor_actions.py
  backend/app/schemas/admin_instructor_actions.py
  backend/app/services/instructor_admin_service.py
  backend/tests/conftest.py
  backend/tests/integration/repositories/test_booking_repository_coverage.py
  backend/tests/routes/test_admin_mcp_instructor_actions_routes.py
  backend/tests/services/test_instructor_admin_service.py
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/instructor_actions.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_instructor_actions.py
Due: backend, mcp-server

feat(mcp): add student admin actions with preview/execute pattern (P0.6)
  backend/app/api/dependencies/services.py
  backend/app/main.py
  backend/app/repositories/booking_repository.py
  backend/app/repositories/credit_repository.py
  backend/app/routes/v1/admin/mcp/__init__.py
  backend/app/routes/v1/admin/mcp/student_actions.py
  backend/app/schemas/admin_student_actions.py
  backend/app/services/student_admin_service.py
  backend/tests/routes/test_admin_mcp_student_actions_routes.py
  backend/tests/services/test_student_admin_service.py
  mcp-server/src/instainstru_mcp/client.py
  mcp-server/src/instainstru_mcp/server.py
  mcp-server/src/instainstru_mcp/tools/__init__.py
  mcp-server/src/instainstru_mcp/tools/student_actions.py
  mcp-server/tests/test_client.py
  mcp-server/tests/test_student_actions.py
  metrics_history.json
Due: backend, mcp-server

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
  mcp-server: any of: mcp-server/
