Repository msaedi/instructly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, mcp-server

fix(verify): improve pre-commit failure reporting in verify skill
  .claude/skills/instainstru-verify/scripts/verify.sh
Due: none

fix(conductor): activate husky hooks in workspace setup
  scripts/conductor-setup.sh
Due: none

docs(verify): add no-redundant-rerun rule for stale tests
  .claude/skills/instainstru-verify/SKILL.md
Due: none

refactor: search_history cleanup + 5-mixin decomposition
  backend/.size-budget-baseline.txt
  backend/app/api/dependencies/auth.py
  backend/app/auth.py
  backend/app/auth_sse.py
  backend/app/core/auth_cache.py
  backend/app/repositories/search_analytics/search_history_analytics_mixin.py
  backend/app/repositories/search_analytics_repository.py
  backend/app/repositories/search_history/__init__.py
  backend/app/repositories/search_history/cleanup_mixin.py
  backend/app/repositories/search_history/core_history_mixin.py
  backend/app/repositories/search_history/guest_conversion_mixin.py
  backend/app/repositories/search_history/lifecycle_mixin.py
  backend/app/repositories/search_history/mixin_base.py
  backend/app/repositories/search_history/privacy_mixin.py
  backend/app/repositories/search_history_repository.py
  backend/app/services/background_check_workflow_service.py
  backend/tests/conftest.py
  backend/tests/integration/availability/conftest.py
  backend/tests/integration/repositories/test_search_analytics_repository_coverage.py
  backend/tests/integration/test_search_history_analytics.py
  backend/tests/repositories/test_search_history_repository.py
  backend/tests/repositories/test_search_history_repository_coverage.py
  metrics_history.json
  pre-existing-issues-tracker.md
Due: backend

fix(conductor): npm ci instead of symlinking node_modules
  scripts/conductor-setup.sh
Due: none

refactor: decompose ReferralRewardRepository into 5 mixins
  backend/.size-budget-baseline.txt
  backend/app/repositories/referral_repository.py
  backend/app/repositories/referral_reward/__init__.py
  backend/app/repositories/referral_reward/instructor_payout_mixin.py
  backend/app/repositories/referral_reward/mixin_base.py
  backend/app/repositories/referral_reward/referrer_reporting_mixin.py
  backend/app/repositories/referral_reward/reward_analytics_mixin.py
  backend/app/repositories/referral_reward/reward_issuance_mixin.py
  backend/app/repositories/referral_reward/reward_lifecycle_mixin.py
  backend/tests/repositories/test_referral_repository.py
  metrics_history.json
Due: backend

Decompose retriever repository (#417)
  backend/.size-budget-baseline.txt
  backend/app/repositories/retriever/__init__.py
  backend/app/repositories/retriever/_sql_helpers.py
  backend/app/repositories/retriever/candidate_search_mixin.py
  backend/app/repositories/retriever/grouped_search_mixin.py
  backend/app/repositories/retriever/instructor_hydration_mixin.py
  backend/app/repositories/retriever/mixin_base.py
  backend/app/repositories/retriever_repository.py
Due: backend

feat(conductor): teardown script for workspace archival
  scripts/conductor-archive.sh
Due: none

refactor(repositories): search_history cleanup + 5-mixin decomposition
  backend/.size-budget-baseline.txt
  backend/app/api/dependencies/auth.py
  backend/app/auth.py
  backend/app/auth_sse.py
  backend/app/core/auth_cache.py
  backend/app/repositories/search_analytics/search_history_analytics_mixin.py
  backend/app/repositories/search_analytics_repository.py
  backend/app/repositories/search_history/__init__.py
  backend/app/repositories/search_history/cleanup_mixin.py
  backend/app/repositories/search_history/core_history_mixin.py
  backend/app/repositories/search_history/guest_conversion_mixin.py
  backend/app/repositories/search_history/lifecycle_mixin.py
  backend/app/repositories/search_history/mixin_base.py
  backend/app/repositories/search_history/privacy_mixin.py
  backend/app/repositories/search_history_repository.py
  backend/app/services/background_check_workflow_service.py
  backend/tests/conftest.py
  backend/tests/integration/availability/conftest.py
  backend/tests/integration/repositories/test_search_analytics_repository_coverage.py
  backend/tests/integration/test_search_history_analytics.py
  backend/tests/repositories/test_search_history_repository.py
  backend/tests/repositories/test_search_history_repository_coverage.py
  metrics_history.json
  pre-existing-issues-tracker.md
Due: backend

refactor(repositories): decompose ReferralRewardRepository into 5 mixins
  backend/.size-budget-baseline.txt
  backend/app/repositories/referral_repository.py
  backend/app/repositories/referral_reward/__init__.py
  backend/app/repositories/referral_reward/instructor_payout_mixin.py
  backend/app/repositories/referral_reward/mixin_base.py
  backend/app/repositories/referral_reward/referrer_reporting_mixin.py
  backend/app/repositories/referral_reward/reward_analytics_mixin.py
  backend/app/repositories/referral_reward/reward_issuance_mixin.py
  backend/app/repositories/referral_reward/reward_lifecycle_mixin.py
  backend/tests/repositories/test_referral_repository.py
  metrics_history.json
Due: backend

refactor: decompose admin_ops_repository into 4 query mixins
  backend/.size-budget-baseline.txt
  backend/app/repositories/admin_ops/__init__.py
  backend/app/repositories/admin_ops/booking_queries_mixin.py
  backend/app/repositories/admin_ops/mixin_base.py
  backend/app/repositories/admin_ops/payment_queries_mixin.py
  backend/app/repositories/admin_ops/payout_queries_mixin.py
  backend/app/repositories/admin_ops/user_queries_mixin.py
  backend/app/repositories/admin_ops_repository.py
  backend/tests/integration/services/test_admin_ops_integration.py
Due: backend

refactor(repositories): decompose admin_ops_repository into 4 query mixins
  backend/.size-budget-baseline.txt
  backend/app/repositories/admin_ops/__init__.py
  backend/app/repositories/admin_ops/booking_queries_mixin.py
  backend/app/repositories/admin_ops/mixin_base.py
  backend/app/repositories/admin_ops/payment_queries_mixin.py
  backend/app/repositories/admin_ops/payout_queries_mixin.py
  backend/app/repositories/admin_ops/user_queries_mixin.py
  backend/app/repositories/admin_ops_repository.py
  backend/tests/integration/services/test_admin_ops_integration.py
Due: backend

refactor: filter_repository method splits + dead code removal
  backend/.size-budget-baseline.txt
  backend/app/repositories/filter_repository.py
  backend/tests/integration/repositories/test_filter_repository_coverage.py
  metrics_history.json
Due: backend

refactor(repositories): filter_repository method splits + 4 dead method removals
  backend/.size-budget-baseline.txt
  backend/app/repositories/filter_repository.py
  backend/tests/integration/repositories/test_filter_repository_coverage.py
  metrics_history.json
Due: backend

chore(v148-cleanup): auth caching, session isolation, polish
  backend/app/core/auth_cache.py
  backend/app/repositories/admin_ops/mixin_base.py
  backend/app/repositories/retriever/mixin_base.py
  backend/app/repositories/search_history/mixin_base.py
  backend/app/services/background_check_workflow_service.py
  backend/tests/conftest.py
  backend/tests/integration/services/test_admin_ops_integration.py
  backend/tests/services/test_platform_analytics_service.py
  backend/tests/unit/auth/test_auth_module_coverage.py
  backend/tests/unit/core/test_auth_cache_coverage.py
  backend/tests/unit/dependencies/test_auth_coverage.py
  backend/tests/unit/services/test_background_check_workflow_service.py
  backend/tests/unit/test_auth_core_coverage.py
  backend/tests/unit/test_auth_sse_coverage.py
  docs/session-handoffs/session-handoff-v148.md
  metrics_history.json
  pre-existing-issues-tracker.md
  scripts/post-checkout.sh
  scripts/post-commit.sh
Due: backend

feat(search): photo pin map with clustering, hover sync, and catalog parity
  backend/.artifacts/api.expected.d.ts
  backend/app/repositories/retriever/_sql_helpers.py
  backend/app/schemas/instructor/responses.py
  backend/app/services/instructor/profile_reads_mixin.py
  backend/app/services/personal_asset_service.py
  backend/app/services/search/nl_pipeline/hydration_helpers.py
  backend/app/utils/profile_picture_urls.py
  backend/openapi/openapi.json
  backend/tests/integration/api/test_instructors.py
  backend/tests/services/test_personal_asset_service.py
  backend/tests/unit/repositories/test_retriever_sql_helpers_profile_picture.py
  backend/tests/unit/services/search/test_nl_search_service.py
  backend/tests/unit/services/search/test_typo_correction_coverage.py
  backend/tests/unit/utils/test_profile_picture_urls.py
  frontend/app/(public)/instructors/[id]/__tests__/page.test.tsx
  frontend/app/(public)/instructors/[id]/page.tsx
  frontend/app/(public)/search/__tests__/map-pins.test.tsx
  frontend/app/(public)/search/__tests__/page.test.tsx
  frontend/app/(public)/search/page.tsx
  frontend/components/instructor/WhereTheyTeach.tsx
  frontend/components/maps/InstructorCoverageMap.tsx
  frontend/components/maps/__tests__/InstructorCoverageMap.test.tsx
  frontend/components/maps/__tests__/photoPin.test.ts
  frontend/components/maps/photoPin.ts
  frontend/features/instructor-profile/hooks/useInstructorProfile.ts
  frontend/features/shared/api/schemas/searchList.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/api.ts
  frontend/types/generated/api.d.ts
  frontend/types/instructor.ts
  metrics_history.json
Due: backend, frontend

test(conflict_checker): bug-hunt tests for DST, boundaries, races
  backend/tests/integration/services/test_conflict_checker_service_db.py
  backend/tests/unit/services/test_conflict_checker_coverage_r5.py
  backend/tests/unit/services/test_conflict_checker_logic.py
  metrics_history.json
Due: backend

test(auth_service): bug-hunt tests for invite-registration rollback paths
  backend/tests/integration/services/test_auth_service_account_status.py
  backend/tests/unit/services/test_auth_service_coverage.py
  metrics_history.json
Due: backend

test(task_execution_repository): bug-hunt tests for stats aggregation and percentile
  backend/app/repositories/admin_ops/payout_queries_mixin.py
  backend/tests/integration/services/test_admin_ops_integration.py
  backend/tests/unit/repositories/test_task_execution_repository_stats_aggregation.py
  metrics_history.json
Due: backend

test(pricing_service): bug-hunt tests for fee clamping, rounding, and tier resolution
  backend/tests/services/test_pricing_service.py
  backend/tests/unit/services/test_pricing_service_unit.py
  metrics_history.json
Due: backend

test(public_availability): bug-hunt tests for alignment, DST, and cutoffs
  backend/tests/routes/test_public_availability_alignment.py
  backend/tests/services/test_public_availability_alignment.py
  metrics_history.json
Due: backend

test(nl_pipeline.location): bug-hunt tests for tier dispatch, unicode, and OTel resilience
  backend/tests/integration/services/nl_search/test_location_pipeline_bug_hunt.py
  backend/tests/unit/services/search/nl_pipeline/test_location.py
Due: backend

test(internal_metrics): bug-hunt tests for Prometheus counter correctness
  backend/tests/unit/core/test_internal_metrics.py
Due: backend

test(auth_service): bug-hunt tests for invite-registration rollback paths
  backend/tests/integration/services/test_auth_service_account_status.py
  backend/tests/unit/services/test_auth_service_coverage.py
Due: backend

test(task_execution_repository): bug-hunt tests for stats aggregation and percentile
  backend/app/repositories/admin_ops/payout_queries_mixin.py
  backend/tests/integration/services/test_admin_ops_integration.py
  backend/tests/unit/repositories/test_task_execution_repository_stats_aggregation.py
Due: backend

test(pricing_service): bug-hunt tests for fee clamping, rounding, and tier resolution
  backend/tests/services/test_pricing_service.py
  backend/tests/unit/services/test_pricing_service_unit.py
Due: backend

test(public_availability): bug-hunt tests for alignment, DST, and cutoffs
  backend/tests/routes/test_public_availability_alignment.py
  backend/tests/services/test_public_availability_alignment.py
Due: backend

fix(auth): prevent user row leak on invite rejection
  backend/app/services/auth_service.py
  backend/tests/integration/services/test_auth_service_account_status.py
Due: backend

fix(availability): enforce 15-minute booking-start alignment
  backend/app/routes/v1/public.py
  backend/app/services/availability/public_availability.py
  backend/openapi/openapi.json
  backend/tests/routes/test_public_availability_alignment.py
  backend/tests/services/test_public_availability_alignment.py
  frontend/src/api/generated/instructly.schemas.ts
  frontend/types/generated/api.d.ts
Due: backend, frontend

fix(messages): standardize aggregate methods on visible messages only
  backend/app/repositories/message/__init__.py
  backend/app/repositories/message/aggregate_queries_mixin.py
  backend/app/repositories/message/conversation_queries_mixin.py
  backend/app/repositories/message/mixin_base.py
  backend/app/repositories/message/mutation_mixin.py
  backend/app/repositories/message/read_state_mixin.py
  backend/app/repositories/message/types.py
  backend/app/repositories/message_repository.py
  backend/tests/integration/repositories/test_message_repository_coverage.py
Due: backend

refactor(messages): route all visible-message filtering through shared helper
  backend/app/repositories/message/aggregate_queries_mixin.py
  backend/app/repositories/message/read_state_mixin.py
Due: backend

fix(datetime): enforce explicit DST handling in advance-notice and test helpers
  backend/app/services/conflict_checker.py
  backend/tests/factories/booking_builders.py
  backend/tests/integration/services/test_conflict_checker_service_db.py
  backend/tests/unit/services/test_conflict_checker_coverage_r5.py
  backend/tests/utils/booking_timezone.py
Due: backend

fix(pricing,metrics): coerce tier bounds and validate allowlist entries
  backend/app/core/internal_metrics.py
  backend/app/routes/v1/config.py
  backend/app/services/instructor_admin_service.py
  backend/app/services/pricing_helpers.py
  backend/app/services/pricing_service.py
  backend/app/services/stripe/earnings.py
  backend/app/services/stripe/earnings_export.py
  backend/tests/unit/core/test_internal_metrics.py
  backend/tests/unit/services/test_pricing_service_unit.py
Due: backend

chore(deps): security updates and unblock CI
  .github/workflows/ci.yml
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/check-npm-audit-exceptions.mjs
  metrics_history.json
Due: backend, frontend

cd ~/instructly git add frontend/package.json frontend/package-lock.json git commit -m "chore(deps): bump @tanstack/react-query and devtools to 5.99.0
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
Due: frontend

chore(deps): bump actions/github-script from 8 to 9
  .github/workflows/privacy-audit.yml
Due: none

chore(deps): bump knip 5.87.0 → 6.4.1 and ignore jsdom peer dep
  frontend/knip.json
  frontend/package-lock.json
  frontend/package.json
  metrics_history.json
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
  mcp-server: any of: mcp-server/
